[2020-09-17 16:36] dwaynepryce commented on #468
That's a good note - let's move this conversation into #455 since that's where I'm going to be thinking about this (soon - like today soon)

[2020-09-17 16:36] bdpedigo commented on #424
i was more worried about the "silent bugs" where something in 3.8/3.9 doesn't work quite right but that behavior isn't obvious. Since I've had a few user just blindly pip install without looking at Readme which states what is explicitly supported, but I guess that's on them.

Im okay with closing this and just aggressively testing 3.8+ going forward

[2020-09-17 16:49] dwaynepryce commented on #455
in #468 @bdpedigo brought up the benefits of running the various steps (black, pytest, codecoverage, etc) separately so it's easy to see what failed.

This is a super valuable thing, but I think even in a single build pipeline we get each step printing in github's PR view.  I'm going to attach a screenshot of what it's doing for graspologic-native (still private until I figure out how to sign buil

[2020-09-17 16:53] bdpedigo commented on #455
sounds perfect to me

[2020-09-17 17:14] dwaynepryce commented on #334
I'd urge you guys to not use star imports at all.  They can be fine if you have an explicit `__all__` but if you guys do a `dir(module.path.name.thing.here)` on some things you can often see a lot of private functions and whatnot being pulled in.

I believe iPython and thus Jupyter (if you have code completion) turned on makes heavy use of dir() - and I'm not sure whether vscode or intellij/pychar

[2020-09-17 17:17] loftusa commented on #334
this came up pretty heavily yesterday: https://github.com/microsoft/graspologic/pull/431#discussion_r489872615

[2020-09-17 17:27] dwaynepryce commented on #423
An example of how we did this in topologic: https://github.com/microsoft/topologic/blob/dev/setup.py#L42-L59 and https://github.com/microsoft/topologic/blob/dev/requirements.txt

Basically, the required dependencies are in setup.py, and any extras you might need for, say, developing (or even if we wanted a full blown optional dependency chain for some reason)

This way you aren't as apt to make no

[2020-09-17 17:29] bdpedigo commented on #334
We agree, that was the goal of this issue and #461

[2020-09-17 17:33] bdpedigo commented on #444
https://arxiv.org/pdf/2005.02511.pdf
https://jmlr.org/papers/volume18/17-448/17-448.pdf
https://arxiv.org/abs/1906.10026

[2020-09-17 19:31] zeou1 commented on #387
@bdpedigo I an reading through the code from maggot_models. What do you suggest are some parts I should focus on? Thanks!

[2020-09-17 19:34] bdpedigo commented on #387
the file that was linked in this issue.

here is a short demo i made. https://nbviewer.jupyter.org/github/neurodata/maggot_models/blob/dev/docs/matrix_plot_demp.ipynb
I cant give you the data for that so you wont be able to run it, but you could make a fake adjacency matrix (numpy array) and pandas dataframe of metadata

[2020-09-17 21:39] kareef928 commented on #375
Dod: latent_position_test, latent_distribution_test functions will be made. Documentation, tests, and tutorials for the latent position test and latent distribution test will be modified to address them being changed from a class to a function. To demonstrate the effectiveness of the implementation of the latent_position test_function, I will run the latent_position_test function in conjunction wi

[2020-09-17 22:28] kareef928 commented on #177
Dod: Modifications to the latent distribution test tutorial will be made so that the following will be included:

- An explanation of when to use the latent distribution test over the latent position test

- Examples of the latent distribution test being used on two unmatched graphs (m /= n) in the cases we expect the null hypothesis to be true and false - generate labeled figures of null distribu

[2020-09-17 22:30] loftusa commented on #161
use cases
- an original graph is too big, so we want to make a signal subgraph and embed it, then find the latent positions for the rest of the nodes with oos
- we have a graph and embed it normally. Later, we get a new (maybe way bigger) graph that we're pretty sure was generated from the same underlying distribution, and we use oos embedding because it's easier computationally
- (maybe specific

[2020-09-17 23:07] bdpedigo commented on #161
The third one I mentioned is probably not worth fretting about right now, though I do want it someday probably. But requires OOS Omni which I think is out of scope for this issue

[2020-09-18 17:13] bdpedigo commented on #414
new PR https://github.com/microsoft/graspologic/pull/419

[2020-09-18 19:35] #291 closed

[2020-09-18 20:43] #466 closed

[2020-09-19 13:45] dfrancisco1998 commented on #382
@bdpedigo in the comment above you say that code to plot ellipses on 2d data for pairplots somewhere. Could I have that link?

[2020-09-20 18:37] pauladkisson commented on #244
Deliverables for MASE tutorial:

1. Problem Statement — why MASE
2. How does MASE work in general
3. How is MASE implemented specifically in GraSpy
4. At least 1 example using MASE with generative models
5. At least 1 example using MASE with a  real-world network
6. At least 1 example of specifying each MASE parameter (Note, this should be included in (4) and (5) ).

[2020-09-20 20:13] spencer-loggia commented on #160
DoD for this issue:

**Minimum Features**

- A new vertex nomination class, with a spectral VN subclass that can take an adj. matrix and a list of seed vectors and associated labels, and can return Nomination Lists of Vertices for each class of interest ordered by probability.
- Should have options for different embedding methods, and use existing implementations.
- should have options for differe

[2020-09-20 20:18] dfrancisco1998 commented on #382
DoD: produce a visualization of scatter plot and pairplot from graspy with the ellipsis (from GMM model) overlaid.
I did not find any papers that have produced a pairplot with a GMM ellipse on it, so I will have to use the tutorial as my basis
I will do the same and base success off of being able to plot ellipse on a graph from the graspy tutorials

[2020-09-20 22:21] PerifanosPrometheus commented on #444
Definition of Done(DoD) for the issue:

1. Introduce differences between MASE and OMNI
2. Explain when and why MASE would perform better than OMNI in certain tasks and vice versa. List each scenario and preferred embedding method for the listed scenarios. (If possible, find some objective metric to quantify each of these statements)
3. Bring one example where MASE would be more suited for a certai

[2020-09-21 03:53] zeou1 commented on #387
I've been trying to run the code from the Jupiter notebook, but it seems that the current code won't allow me to run it without "class_order" parameter. If I add a "class_order" parameter to the first plot code, I would encounter an error with pandas in the sort_meta function with the line "class_size = meta.groupby(sc).size()". However, the error should have nothing to do with my change tho.

[2020-09-21 13:03] bdpedigo commented on #387
make sure you are using the code from the dev branch, that is the must current

i can't really help you debug with the information provided.

regardless, i think the main point is for you to start getting a sense of the kinds of features that we want (I'd start a list of DODs for this issue, basically). Then we can talk about implementation (note: i pointed you to the code because it is a current

[2020-09-21 13:09] bdpedigo commented on #387
i'd also recommend getting familiar with [heatmap](https://seaborn.pydata.org/generated/seaborn.heatmap.html) and [clustermap](https://seaborn.pydata.org/generated/seaborn.clustermap.html)

much of what I wrote was wrapping those functions (heatmap) and some of the internal code is inspired by/stolen from clustermap

[2020-09-21 13:33] bdpedigo commented on #160
maybe also an embedding

You may have already read up on VN more than me, which is great - I get the "class nomination" idea but I believe there should also be a completely unsupervised notion (see @hhelm10's example implementation, which has no notion of class)

Would be awesome, but first goal is to just get something that works. also "very quickly" is vague

For something like GMM and maybe eve

[2020-09-21 13:39] bdpedigo commented on #382
https://github.com/neurodata/maggot_models/blob/a6ffe01110dd319b7763d4ba2e8c5fe3039357e7/notebooks/179.0-BDP-mb-clustering.py#L63

[2020-09-21 13:40] bdpedigo commented on #382
`make_ellipses` is stolen/adapted from sklearn docs, you can look for that online

[2020-09-21 13:43] bdpedigo commented on #375
@kareef928 the above sounds great but would you mind making the above bullet points so it is easier to parse?

[2020-09-21 13:44] bdpedigo commented on #244
This is less important in a tutorial. It is great to have, but may want it to be part of a separate "advanced tutorial" or an appendix to the main tutorial

[2020-09-21 14:42] pauladkisson commented on #244
Hmm, well I wasn't planning on going into too much detail.  Just like a 1-2 sentence summary.

[2020-09-21 14:43] pauladkisson commented on #244
Also, is there any reason why the class called MultipleASE in Graspologic rather than MASE (as it is in the literature)?

[2020-09-21 15:07] zeou1 commented on #387
DoD: Integrate the sorting categories, sorting items within a category, and sorting matrix rows/columns features into the current visualization methods. Create a new function to color the border of the plot according to the metadata. Create a new function to implement the Seaborn clustermap feature. Write documentations and tutorial notebooks.

[2020-09-21 15:11] dtborders commented on #309
Workflow plan
1. Implement Soft seeded graph matching (a simpler version of VN match)
2. Implement VNmatch

Dod:
Reproduce experiments demonstrated in Figure 2 and 3 to ensure that the algorithm can work on simulated data.
Reproduce figures 4 and 5 from the paper to ensure the vertex matching Alg is working correctly.
Test Algorithm on some form of real data neural data (unsure what data would be

[2020-09-21 16:04] caseypw commented on #333
# Clustering Tutorial
### [Gclust](https://arxiv.org/abs/1909.02688)
- Explain Gaussian Mixture Model
   - Math from Section 2.1 in [paper](https://arxiv.org/abs/1909.02688) included in introduction and mathematics paragraph in markdown in notebook, explains all parameters
- Before each tutorial, explanatory paragraph in markdown describing why parameters are chosen and why they have specific defa

[2020-09-21 22:02] bdpedigo opened #473 "Allow fast DCorr for LatentDistributionTest"
Looks like we turned off the ability to use fast chi-squared approximation for DCorr LatentDistributionTest via the `auto` kwarg in [this line](https://github.com/microsoft/graspologic/blob/5d0aa9a77de6691cc3995eadf0f632601e2a4ff8/graspy/inference/latent_distribution_test.py#L377).

Any reason we want to omit this behavior?

[2020-09-21 22:03] bdpedigo commented on #473
question for @alyakin314 though you don't necessarily need to fix if we end up wanting to support this

[2020-09-22 11:23] alyakin314 commented on #473
@bdpedigo, in short: we (as in you and I) had no idea of whether it leads to a valid / consistent test in the graph setting, and whether is it more or less conservative than the permutation test.

the proof of the convergence of the distribution to chi-squared obviously assumes that the samples are independent, but we know that in the graph setting they aren't. this is actually one of the assumpti

[2020-09-22 11:25] bdpedigo commented on #473
Ya I remember discussing now, thanks for the explanation!

[2020-09-22 12:00] bdpedigo opened #474 "rename master to main"
like it says

[2020-09-22 20:13] dwaynepryce opened #478 "Documentation Questions: release.rst"
I'm updating all the naming stuff now (at least in a first pass), and I'm taking note of some of the places where the graspy approach differs from the topologic approach.  I am registering issues at each of these places so we can have a conversation about what our actual approach should be going forward and how best to execute a merger.

In this specific placeholder issue, I'm wanting to talk abou

[2020-09-22 20:14] daxpryce opened #479 "Documentation Questions: install.rst"
I'm updating all the naming stuff now (at least in a first pass), and I'm taking note of some of the places where the graspy approach differs from the topologic approach. I am registering issues at each of these places so we can have a conversation about what our actual approach should be going forward and how best to execute a merger.

In this specific placeholder issue, I'm wanting to talk about

[2020-09-22 20:28] daxpryce opened #480 "Documentation Questions: contributing.rst"
I'm updating all the naming stuff now (at least in a first pass), and I'm taking note of some of the places where the graspy approach differs from the topologic approach. I am registering issues at each of these places so we can have a conversation about what our actual approach should be going forward and how best to execute a merger.

In this specific placeholder issue, I'm wanting to talk about

[2020-09-22 20:31] dwaynepryce commented on #480
Note: I made an immediate executive decision to err on the side of linking to the Github one for now mostly because I don't want to try to spruce up the RST to match what the MD currently says.  I'll do it later if we decide to, but renaming is already a PITA and I don't want this PR to be the size of a small space station.

[2020-09-22 20:39] j1c commented on #479
If you mean having documentation point to the readme.md file in github, I would prefer not to do this. So i would advocate for readme pointing to the documentation. If we switch to rst for readme, we can just include the install.rst into the readme. Im not sure if there is a way to do this if readme is markdown.

I think in general, I wouldn't want my documentation link to things outside of the we

[2020-09-22 21:00] dwaynepryce commented on #479
It does.  The good news is you can use markdown in your sphinx documentation generation - I refuse to write any RST if I can at all get away with it, so we actually do most of our non-autodoc stuff in markdown in topologic.

We can probably just include those markdowns from outside the docs folder somehow so we don't have to replicate them - that way at build we can keep a snapshot of where that c

[2020-09-22 21:01] dwaynepryce commented on #479
https://github.com/microsoft/topologic/tree/dev/docs is where our docs are if you wanted to poke around and see what I'm talking about.  Rendered output is on RTD

[2020-09-22 22:31] dwaynepryce commented on #474
This is complete

[2020-09-22 22:31] #474 closed

[2020-09-23 02:47] loftusa commented on #161
@bdpedigo @hhelm10  can I get a better sense on here of what the problems you guys ran into re: clunkiness with the last iteration of the API in #162?

[2020-09-23 11:54] bdpedigo commented on #480
I'm learning towards Github one linking to whatever we host on RTD

Only reason being I just looked and that's what sklearn, pandas, scipy all do, seems like a fine convention. Also in case we ever make that file more extensive (like the ones for those packages) it'd be nice to have it generated with all the same tools as the docs, as there are often code examples, etc.

[2020-09-23 12:01] bdpedigo commented on #479
Agree w @j1c on this

This would be for having something in the readme that just pulls from another file? If so, that would be cool, but I also don't see any issue with just having 2-3 really quick install instructions on the readme that are hard-coded and will likely almost never change (pip install/conda install) and then more extensive instructions (and tips for people who are new to python, fo

[2020-09-23 15:47] hhelm10 commented on #161
i think the clunkiness came from over-fitting the implementation to a specific application. if you are designing it and dont run into clunkiness concerns then i wouldnt be alarmed.

[2020-09-23 16:13] bdpedigo commented on #387
- add tests for all functionality

[2020-09-23 16:29] saadhaxxan commented on #276
Hello, @bdpedigo I can add a checklist to the PR template can you tell me where is the PR template located in the repo or I create completely from start?

[2020-09-24 17:57] #334 closed

[2020-09-24 18:11] #389 closed

[2020-09-24 18:53] #397 closed

[2020-09-24 20:02] #317 closed

[2020-09-24 20:19] bdpedigo opened #485 "Refactor LCC check and n_features_ attribute setting to BaseEmbed"
ASE/LSE fit have some redundant code that could be in base

see #462

[2020-09-25 16:13] jovo opened #489 "compare drosophila connetome to some of these https://keras.io/api/applications/"
@bdpedigo

[2020-09-25 16:36] daxpryce opened #490 "Black should alphabetize imports"
I assert `black` should alphabetize imports, especially like:

[code]

Should be ordered as:

[code]

If it can't I'll get flake8 pulled in as well and have it balk at these too, even if it can't do the reordering for us like black can.

[2020-09-25 16:59] loftusa commented on #490
https://pycqa.github.io/isort/docs/major_releases/introducing_isort_5/
maybe a solution too, has a `black` compatible mode

[2020-09-25 16:59] alyakin314 commented on #490
are we talking about imports within the same line or multiline imports as well? e.g. should
[code]
become

[code]
because personally i am more of a fan of imports that look like christmas tree and go from general (numpy as np, pandas as pd, etc.) to specific (from graspologic.embed import AdjacencySpectralEmbed, LaplacianSpectralEmbed). but that's just my 2 cents.

[2020-09-25 17:03] loftusa commented on #490
+1 on this, i'd like to see something that respects empty newlines when sorting imports
e.g.,
[code]
becomes
[code]
but
[code]
would treat the numpy import and graspologic imports as separate groups and only sort within-group.

[2020-09-25 17:04] alyakin314 commented on #490
@loftusa yes, that me likes too.

[2020-09-25 18:16] dwaynepryce commented on #490
I agree, but if I pick either all alphabetization or no alphabetization I'm going to pick the former.  Still I'd rather figure out if we can make your suggestion the way we go.  I know IntelliJ will organize in that way - it'll put all your external dependencies from libraries at the top, organized alphabetically, and then your own package structure will come next - organized alphabetically.

[2020-09-25 18:38] bdpedigo commented on #490
VS code also does this with the `sort imports` command and I love it. I believe it uses this under the hood https://pycqa.github.io/isort/

[2020-09-25 18:39] bdpedigo commented on #490
oh i see that is same link as @loftusa

[2020-09-27 14:09] dfrancisco1998 commented on #382
Replacement DoD: inputs will be X (an array of data where each col corresponds to a feature), feature labels, a list of desired feature focus(so as to all high dimensional data still be graphed but not overwhelm the user), then create a pair plot and over graphs with scatter aspects plot ellipse. Output graph object.

[2020-09-27 18:55] zeou1 commented on #485
This might be a dumb question, but wouldn't the fit method in ASE/LSE overridden the fit method in base, and how would we implement an abstract method in base?

[2020-09-27 22:01] bdpedigo commented on #485
it is possible to have a fit in base and call it using `super().method()`. idea would be to use that to take care of some of the redundant parts

[2020-09-27 22:03] #352 closed

[2020-09-27 22:04] bdpedigo commented on #382
need more detail. this also has to take in a GMM object, for example? will we be able to specify colors for the points/ellipses? stuff like that

[2020-09-27 22:21] bdpedigo commented on #276
hi @saadhaxxan, that's great! the PR template is [here](https://github.com/microsoft/graspologic/blob/dev/.github/PULL_REQUEST_TEMPLATE.md)

[2020-09-27 22:50] #461 closed

[2020-09-28 15:51] Jingyan230 commented on #414
Aims for the tutorial:

1. Sign flips.
- Explain the function of the module.
- Write an example of using the module to move two datasets to the same orthant.

2. Orthogonal Procrustes
- Explain the function.
- Write an example of  using Orthogonal Procrustes for matching two datasets.

3. Seedless Procrustes
- Explain the function.
- Write an example of using Seedless Procrustes for embedding two

[2020-09-28 17:05] bdpedigo commented on #382
note: would be cool if pairplot reduces to scatterplot where # dimensions = 2

[2020-09-28 17:14] #454 closed

[2020-09-28 17:29] bdpedigo opened #496 "fix Zenodo DOI"
zenodo DOI badge is outdated, points to graspy stuff

[2020-09-28 17:33] bdpedigo opened #497 "How to cite graspologic?"
We currently recommend citing the graspy paper, which now has a different name from the package itself, which could end up being confusing.

Thoughts on what people should cite going forward?

[2020-09-28 17:33] bdpedigo commented on #497
@jovo @j1c

[2020-09-28 17:34] j1c commented on #497
publish graspologic in mloss? :)

[2020-09-28 19:02] dwaynepryce opened #499 "Create proper graspologic team for issue reporting purposes"
We unfortunately can't create a team for our JHU partners because they're not in the Microsoft org, but we can at least create one for us.

[2020-09-29 14:33] dwaynepryce commented on #499
@microsoft/graspologic should work for everyone now

[2020-09-29 14:33] #499 closed

[2020-09-29 14:44] alyakin314 commented on #499
404

[2020-09-29 16:50] j1c opened #502 "Move mug2vec to embed module"
- [ ] Move this file [`/graspologic/pipeline/mug2vec.py`](https://github.com/microsoft/graspologic/blob/dev/graspologic/pipeline/mug2vec.py) to [`/graspologic/embed/`](https://github.com/microsoft/graspologic/tree/dev/graspologic/embed)
- [ ] Change this from `..embed` to `.embed` once file is moved.
https://github.com/microsoft/graspologic/blob/13577bf3009a6367a385408c252728fab66320fb/graspologic

[2020-09-29 20:38] daxpryce opened #503 "Update contribution guide"
The contribution guide has a ton of good information in it, but we want to take it one step further and really focus on a few more things we want to get from a good PR.

One of the challenges in writing mathematic/scientific libraries is that it's often written as if the consuming user is a mathematician themselves.  One thing we aim to do with this project is bridge the gap between the math and t

[2020-09-29 20:40] dwaynepryce commented on #503
I should note that we should be doing both _how_ and _why_, not why over how.

A lot of software engineers need to understand your motivation, which we often glean from function or parameter names, commentary, etc.  But if you can construct a narrative around why you're doing the steps of your algorithm and how that achieves your goals, you can often make these seemingly opaque topics far more app

[2020-09-29 21:08] daxpryce opened #504 "Add type hints"
Add type hinting to everything and ensure mypy passes all tests.

[2020-09-30 11:11] saadhaxxan commented on #276
@bdpedigo I have added and Checklist and created a pull request for that 👍👍

[2020-10-01 15:19] bdpedigo commented on #503
Separate thought: would be good to have a 1-sentence explanation of each of the build checks. I think this will help people who are new to the repo or CI in general to debug their own work with less intervention from maintainers

[2020-10-01 15:20] bdpedigo commented on #276
thanks for the PR @saadhaxxan. It may be a little bit until we get to reviewing that PR (we are redoing lots of things about contributor guidelines right now) but we will definitely have a look

[2020-10-01 15:34] bdpedigo opened #506 "Leave deprecation of GraSPy warning and push to PyPI one last time"
Want to leave some breadcrumbs about the name change for old users

[2020-10-01 15:43] alyakin314 commented on #506
[😢  ](https://www.shitpostbot.com/img/templates/one-last-ride-57c3330ae4226.jpeg) (clickable)

[2020-10-01 16:08] alyakin314 opened #507 "matching test is unstable because of directory path"
running `pytest` when in tests directory breaks because this path

https://github.com/microsoft/graspologic/blob/b9547d80c056de342db85b0d3238e43b110f07be/tests/match/test_match.py#L64

isn't true.

[2020-10-02 13:09] loftusa commented on #506
my heart

[2020-10-02 13:46] bdpedigo opened #508 "Finish setup for Read the docs"
I believe we decided readthedocs is what we are going to go with? Cause they had some kind of PR previewing functionality?

Regardless, need to update the website that is hosting stuff

[2020-10-02 13:51] bdpedigo commented on #497
yeah, or JOSS. Not super opposed, we have added a decent amount of new stuff and major contributors 😄

I wonder if we can get away with it though? but tbh having the package and paper have different names right now actually does feel like a problem.

in the meantime i wonder if it is better to point folks to the old paper or some Zenodo DOI...

[2020-10-02 13:56] bdpedigo commented on #447
appreciate the list, just a note though, I have been thinking a lot about separating tutorial-like stuff into a few different categories, namely

- one category aimed at casual/intro user, just showing inputs/outputs/high level intuition for what is going on
- one category aimed at deeper understanding by showing math and simulations. this would take some of what we have in tutorials already but I

[2020-10-02 13:59] bdpedigo commented on #424
closing as I think this is unnecessary now? @dwaynepryce or anyone else feel free to open again if I am wrong but I think we're testing on 3.8 and things are fine...

[2020-10-02 13:59] #424 closed

[2020-10-02 14:01] bdpedigo commented on #422
closing since I think #471 took care of

[2020-10-02 14:01] #422 closed

[2020-10-02 14:04] bdpedigo commented on #359
@alyakin314 I think I still disagree here (see above) and am closing since there hasn't been any activity here. Can revisit if someone wants to commit to doing and there is a clear case for why.

[2020-10-02 14:04] #359 closed

[2020-10-02 14:07] bdpedigo commented on #277
see #455

[2020-10-02 14:07] #277 closed

[2020-10-02 14:07] #257 closed

[2020-10-02 14:08] bdpedigo commented on #228
@rflperry have you had a usecase for this?

[2020-10-02 14:10] #102 closed

[2020-10-02 14:10] bdpedigo commented on #92
replaced by #460

[2020-10-02 14:10] #92 closed

[2020-10-02 14:11] #76 closed

[2020-10-02 14:11] #75 closed

[2020-10-02 14:11] #69 closed

[2020-10-02 14:11] #52 closed

[2020-10-02 14:15] bdpedigo commented on #154
@alyakin314 I think this is different from medflips into first orthant. just looking for any orthogonal transformation s.t. as many nodes as possible live in the first orthant. I have found this useful for plotting and tutorials. wonder if there are any hacky heuristics, like procrustes to a matrix that consists of points along `y = x` in the first orthant or some other "dummy matrix" in the first

[2020-10-02 14:15] #157 closed

[2020-10-02 14:16] bdpedigo commented on #286
duplicate of #134

[2020-10-02 14:16] #286 closed

[2020-10-02 14:18] bdpedigo commented on #305
should have closed in #322

[2020-10-02 14:18] #305 closed

[2020-10-02 14:19] #318 closed

[2020-10-02 14:19] #227 closed

[2020-10-02 18:33] sampan501 opened #511 "simplify readme to look like scipy"
readme's, in my opinion, should be simple (like [scipy](https://github.com/scipy/scipy)) and route traffic to docs

[2020-10-02 18:37] rflperry commented on #228
I think this came up when I was running meditation data through MASE? Cortical vertex resolution fmri data meant 228 correlations matrices of 18715x18715 which is prohibitive to compute (~600 GB by my 8byte float estimate). I implemented a [`partial_fit`](https://github.com/mvlearn/mvlearn/blob/master/mvlearn/embed/gcca.py#L209) function in GCCA although GCCA didn't need it for the data as it neve

[2020-10-02 18:37] sampan501 opened #512 "add issue templates for enhancements etc."
## Expected Behavior
Templates for enhancement, question etc. Similar to [this](https://github.com/neurodata/hyppo/issues/new/choose)

## Actual Behavior
Default PR template assumes bug fix (as shown here)

## Template Code
[code]

## Full Traceback
[code]

## Your Environment
* Python version:
* graspologic version:

[2020-10-03 05:20] jovo commented on #497
i think citing the paper is fine.
we should have a zenodo doi too, which we can link.
names change, it is no big deal, we should document on website that this
used to be graspy.

when we add a bunch more new stuff, we can consider writing another paper

On Fri, Oct 2, 2020 at 9:52 AM Benjamin Pedigo <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@

[2020-10-03 17:58] loftusa commented on #447
this site is relevant here I think, particularly with respect to the above @bdpedigo comment: https://documentation.divio.com/tutorials/

[2020-10-03 18:02] loftusa commented on #228
allow a generator to be passed in?

[2020-10-03 19:47] j1c commented on #228
This is a bit tricky since we have to ensure that all of input graphs have same # of vertices and ordered correctly.

@rflperry If you can think of a neat solution, im all for it. But in the meantime, I say get a bigger computer.

[2020-10-03 22:58] dtborders commented on #342
@bdpedigo should we close this?

[2020-10-04 19:20] dfrancisco1998 commented on #382
def pairplot_with_gmm_ellipse(
    X,
    gmm,
    gmm_labels = True,
    specific_features = None,
    labels=None,
    col_names=None,
    title=None,
    legend_name=None,
    height=2.5,
    context="talk",
    font_scale=1,
    palette="Set1",
    alpha=0.7
):

- Creates a grid of scatterplots and histograms such that the on diagonal plots are histograms and the off-diagonal plots are scatter

[2020-10-04 22:26] bdpedigo opened #513 "Update GraphMatch docs to reflect fact that negative values are OK"

[2020-10-04 22:30] bdpedigo commented on #228
Trying to close out issues that I think we don't have a strong desire to do/use case/person who is passionate about doing it

I motion to close this issue for now, and if someone runs into this issue again, can cross that bridge when we come to it?

Lmk if anyone disagrees (which is fine)

[2020-10-04 23:30] rflperry commented on #228
Yeah fine with closing.

[2020-10-04 23:36] #228 closed

[2020-10-05 13:45] bdpedigo commented on #342
yes i'll close, thank you

FYI if you do `Fixes #342 ` as opposed to `Fixes issue #342` in the PR description, it will close automatically when PR is merged next time

[2020-10-05 13:45] #342 closed

[2020-10-05 17:04] jovo commented on #160
I think this is the oldest/simplest paper/alg: https://arxiv.org/pdf/1201.4118.pdf

[2020-10-05 18:37] daxpryce opened #514 "Enable Doctest in unit and doctest phase of build pipeline"
Doctests were failing when running pytest before, across all Python versions and OSes.  They should not!  We should fix those, and make a failing doctest invalidate a mergable PR

[2020-10-05 19:28] dwaynepryce commented on #453
This is completed in PR #467.  I would also submit that there could be enhancements.

[2020-10-05 19:28] #453 closed

[2020-10-05 19:29] dwaynepryce commented on #455
Closed by PR #471

[2020-10-05 19:29] #455 closed

[2020-10-05 19:34] dwaynepryce commented on #507
`os.path.join` would fix this rather neatly

[2020-10-05 19:37] dwaynepryce commented on #436
This was basically superceded by #470 - closing (feel free to reopen if I'm wrong)

[2020-10-05 20:06] bdpedigo commented on #436
would like to have something super explicit on how to install w/ develop mode and pip somewhere [here](https://github.com/microsoft/graspologic/blob/dev/CONTRIBUTING.md)

[2020-10-05 20:22] bdpedigo opened #515 "Draft PR peer review guidelines"
### Style
- [ ] Follows Python variable naming conventions, one description is
  [here](https://visualgit.readthedocs.io/en/latest/pages/naming_convention.html). Most variables should be `snake_case` and classes shoud be defined as `UpperCamelCase`, for example.
- [ ] Uses descriptive variable names
- [ ] Has no commented out "junk code"
- [ ] Line lengths are short (recommended <88 chars). This i

[2020-10-05 20:42] bdpedigo commented on #515
The above is my draft of what I'd like every peer reviewer in NDD to check for. These are all things I've had to remind people of in the past so I am asking peer reviewers to check for them. As we discussed in a meeting today, much of this may be worth putting in a PR checklist as well.

[2020-10-05 20:46] bdpedigo commented on #515
https://github.com/stilliard/github-task-list-completed could be useful for looking at this at a glance, maybe as an optional check?

[2020-10-05 20:55] bdpedigo commented on #515
@dwaynepryce @j1c @asaadeldin11 @alyakin314 any thoughts on the above? I'd like to finalize this (at least for the purposes of NDD) by the end of the week so LMK.

[2020-10-05 20:58] alyakin314 commented on #515
i've meant to ask this for a while: is there a reason why aren't we using 79 chars, which seems to be the standard in PEP8 and many editors.

[2020-10-05 20:58] asaadeldin11 commented on #515
For the PR itself portion, maybe mention that new features should include proof of effectiveness, like a jupyter notebook that replicates a figure from a paper

[2020-10-05 21:00] alyakin314 commented on #515
already here: https://github.com/microsoft/graspologic/blob/dev/CONTRIBUTING.md (and should eventually be in pr template; see: https://github.com/microsoft/graspologic/pull/493 )

[2020-10-05 21:02] alyakin314 commented on #515
rest seems good.

[2020-10-05 21:02] bdpedigo commented on #515
https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length

[2020-10-05 21:03] bdpedigo commented on #515
I can specify that the proof should be linked in the PR description, cause this kind of thing is often separate from the tests and tutorial notebook

[2020-10-05 21:07] bdpedigo commented on #515
"If implementing a major new feature or algorithm, a notebook demonstrating the proof of effectiveness is linked in the PR description. Depending on the feature, this kind of validation may take too long to run as a test or in a tutorial notebook."

Addressed above, ok?

[2020-10-05 21:08] bdpedigo commented on #515
Also added this

"Any major new features (like a new algorithm) are accompanied by a succinct tutorial notebook. Or, if it is agreed upon with the maintainers that this is out of scope for the current PR, a new issue has been created specifying that we need a tutorial notebook for this functionality."

[2020-10-05 21:09] dwaynepryce commented on #515
When do we want to introduce type hinting into the mix?  After we've done the big "type hint all the things" PR and have a ton of examples to point to?

I only ask because we're just adding more work for us later if we don't do it now, but I also don't want to just say "type hint stuff lol good luck" either

[2020-10-05 21:10] bdpedigo commented on #515
This seems the most fair thing to me, personally.

[2020-10-05 21:12] bdpedigo commented on #515
Off the top of my head, I think NDD PRs (for this semester) will add a total of
- 1 new module consisting of 2 classes/functions
- 2 new functions for plotting

If we want to make sure those are all type-hinted, that is also okay with me.

[2020-10-05 21:15] alyakin314 commented on #515
i can certainly believe that it

but personally over the time i have been contributing to graspy/graspologic it felt much more like a nuisance more than an upside because the defaults on everything else from all editors i've used since editors to mac terminal windows are 79/80. furthermore, being a standard in almost every other codebase else, it also forces to toggle between settings when switchi

[2020-10-05 21:29] bdpedigo commented on #515
VS Code (and I assume any reasonable code editor) lets you apply settings per folder or per project, so I don't feel too bad about this one. Also not sure what issue you are even talking about, just Flake8 warnings or something?

IMO the advantage of everyone being able to do `pip install black` and not make any setting changes and instantly be on the same page is a greater benefit. I think this i

[2020-10-05 21:49] #367 closed

[2020-10-05 21:49] #429 closed

[2020-10-05 21:52] #497 closed

[2020-10-05 22:00] dwaynepryce commented on #515
FWIW, I hate 80 so much we went with 120 on `topologic` https://github.com/microsoft/topologic/blob/dev/setup.cfg#L2

[2020-10-06 00:24] jovo commented on #515
can you please make this a blog post so that we can reference it?  or a paper for gigascience or something?

[2020-10-06 00:36] bdpedigo commented on #515
Sounds fun tbh

[2020-10-06 00:37] bdpedigo commented on #515
sure, for now i can draft something for the blog at least

[2020-10-06 11:03] alyakin314 commented on #414
@Jingyan230
align now exists (#419), feel free to hit me up if you have any questions regarding it.

[2020-10-07 12:41] alyakin314 commented on #154
interesting problem. my gut feeling also was to somehow exploit the `x=y` line. this is only a proxy, of course, but since procrustes minimizes Frobenius norm, this is vaguely similar to least squares, so the solutions should favor that bring more points to this line, rather than some points really closely and ignore others (i.e. it should _not_ favor sparse solutions, which is good). but this nee

[2020-10-07 12:43] alyakin314 commented on #378
this is now in progress. ETA by end of the month. (for #442 purposes).

[2020-10-07 12:49] alyakin314 opened #519 "Parallelize Seedless Procrustes 2^d restarts"
## Expected Behavior
To the best of my knowledge, nothing in the Seedless Procrustes is parallelized, even under the POT hood (this might need to be double-checked.) This loop:
https://github.com/microsoft/graspologic/blob/bbbc68a24ca9e2097575e7f92f809916ea3eeb46/graspologic/align/seedless_procrustes.py#L331-L337
offers a very clear opportunity to sneak in parallelization, which will make it even

[2020-10-07 12:51] bdpedigo commented on #378
Are you doing #442 ? just curious

Also didn't you already pull the CLT stuff out in last PR?

[2020-10-07 13:03] alyakin314 opened #520 "Consider parallelizing sampling inside of the LatentDistributionTest"
## Expected Behavior
LDT that uses size correction is a little slower than uncorrected one. This is expected since it has an extra step, but it may be made faster. In particular, it may be that sampling from multivariate gaussians (which is probably done via rejection sampling or some kind of transformation and is likely not very fast) can be sped up by parallelizing here: https://github.com/micro

[2020-10-07 13:19] alyakin314 commented on #511
not a strong opinion on this, but i disagree. i kind of like when readme has a tl;dr of how to use/install. although readmes have mutated from something that just comes with software on a disk to being presented on the main page of the software repositories, i always thought of readme files as something that contains the minimal information i need to have to run the thing, rather than a menu. i.e.

[2020-10-07 13:20] alyakin314 commented on #511
but again, not a very strong opinion, since clicking one link isn't that major of a task to ask either.

[2020-10-07 13:24] bdpedigo commented on #511
I do like in scipy how the top is simple and links to several important places. Right now we already try to do that but some of the info is not in the docs which we were discussing on https://github.com/microsoft/graspologic/issues/479

I don't really see an issue with having more information later down in the readme like in https://github.com/scikit-learn/scikit-learn though.

[2020-10-07 13:29] alyakin314 commented on #378
not planning on doing #442 atm. i thought that's ndd issue, but was not sure if claimed.

i did move it out of LDT to utils, but it still has a function that returns a function api, which is cute but not really user-friendly. i thought we want to have it .fit_predict?

[2020-10-07 13:39] bdpedigo commented on #378
was not claimed but someone may be interested in the future.

you may be right, not sure.

[2020-10-07 13:45] alyakin314 commented on #378
Let's discuss this though, because is important:

my plan is:
put dis into fit, store whatever variables necessary (not user facing, obviously):
https://github.com/microsoft/graspologic/blob/bbbc68a24ca9e2097575e7f92f809916ea3eeb46/graspologic/utils/utils.py#L667-L672
put dis into predict:
https://github.com/microsoft/graspologic/blob/bbbc68a24ca9e2097575e7f92f809916ea3eeb46/graspologic/utils/util

[2020-10-07 13:51] alyakin314 commented on #378
in which case:

fit takes the embeddings to compute the moments over (generally this would be a graph).

predict takes the points to evaluate the variance at. this can be all points in the same graph, a list of them, only one, or even some random points that you for some reason want to know variances at, if there existed a vertex with a latent position there.

[2020-10-07 14:57] jovo opened #521 "need a docs button in readme"
@bdpedigo can somebody in NDD do this asap?

[2020-10-08 20:39] loftusa opened #524 "can import sbm from two different places"
`from graspologic.models import sbm`
`from graspologic.simulations import sbm`

Both of these work. when we get sbm from simulations, it's (correctly) the function, but when we get it from models, it's the sbm module. This is confusing to a new user I think

[2020-10-08 20:43] alyakin314 commented on #524
#368

[2020-10-08 20:52] bdpedigo commented on #524
the former is a file, just fyi.

[2020-10-08 21:36] dwaynepryce commented on #511
Something we need to keep in mind is some of our readme is required by Microsoft's OSS office.  They also strongly push us toward conveying a lot of information via the README, though as far as I can tell that last bit is more guidance than Microsoft law

[2020-10-08 22:13] bdpedigo commented on #511
![image](https://user-images.githubusercontent.com/25714207/95518819-df86e680-0991-11eb-8da7-dd54544d01bf.png)

[2020-10-11 17:35] bdpedigo opened #526 "Add label matching function"
Want a function to take in a true and predicted labeling, and reorder the labels of the predicted to match those of the true as well as possible.

I have very simple code for this.

Will be useful for clustering tutorials at a bare minimum, but I also use this a lot when clustering in general.

[2020-10-12 14:45] PerifanosPrometheus commented on #440
@bdpedigo I will take this one!

DoD:

- Add mixed membership stochastic block model(MMsbm) function to simulations.py:
    - Must accept as input the number of vertices of the network, the block connectivity matrix B and the parameter alpha for
       sampling of mixed membership vectors from Dirichlet distribution
    - Must output resulting adjacency matrix
- Written documentation, listing all

[2020-10-12 16:55] jovo opened #528 "email these people: https://jmlr.org/papers/v21/20-412.html"
let's discuss possible synergies and merging opportunities so that we can work together to build a better open source community.

maybe @bdpedigo can draft an email here, and cc all the relevant stake-holders?

[2020-10-12 18:21] bdpedigo commented on #524
are you proposing changing the name of the file?

[2020-10-13 16:22] #316 closed

[2020-10-13 17:03] jovo opened #531 "diversity and inclusion in developing graspologic"
what are the practices that we can & should adopt to ensure that we create a developer community that is diverse and inclusive?  i imagine there are certain things we can write in the contribution guidelines, but also other things we may want to do with respect to community building.  if there are good examples of FOSS that exhibit the characteristics that we are striving for, if would be good to

[2020-10-13 18:43] bdpedigo commented on #531
https://twitter.com/kne42/status/1307513850133053443

[2020-10-13 18:44] bdpedigo commented on #531
at some point i did see a thread on twitter in response to the numpy stuff that had a lot of ideas but i can't find it now

[2020-10-13 22:43] j1c opened #533 "Test coverage stat is incorrect"
In the latest commit in dev, the coverage check says 21% ([link](https://github.com/microsoft/graspologic/runs/1249381066#step:4:638)). Obviously, this isn't correct.

@dwaynepryce I forget, but what was the reasoning for not using codecov for coverage check? The current check as is isn't really useful, and I would like to get a check to see if coverage decreases with a PR.

[2020-10-14 14:12] asaadeldin11 commented on #507
With regard to this issue, I think there is some pretty inefficient stuff in the match tests at the moment. Right now, the whole qap library is being stored in `qapdata` (~20 .dat files) , but I've recently changed the tests to only use one of these matrix pairs. I propose deleting this `qapdata` folder which is storing a lot unused things, and just making the single example I am using in my test

[2020-10-14 14:13] bdpedigo commented on #531
https://numpy.org/diversity_sep2020/

[2020-10-14 14:14] bdpedigo commented on #507
im fer it

[2020-10-14 14:16] bdpedigo commented on #531
mozilla checklist https://github.com/mozilla/inclusion/blob/master/evaluation_tools/governance-basic.md
(from https://twitter.com/kne42/status/1316212780387590146)

[2020-10-14 14:17] asaadeldin11 commented on #507
this leaves only one file in the `tests/match` folder, so I'm going to get rid of that and just have `test_match.py` directly in the tests folder.

[2020-10-14 14:18] bdpedigo commented on #531
other recommendations from the above:
- Rails Girls Summer of Code (call for projecs in 2020 was 06 Jan - 10 Feb 2020)
- GSoC (google summer of code)

[2020-10-14 14:18] bdpedigo commented on #531
this whole repo seems super useful https://github.com/mozilla/inclusion

[2020-10-14 15:19] jovo opened #536 "compare CASC to GraphSAGE on the experiments they performed in their papers"
https://arxiv.org/pdf/1706.02216.pdf

[2020-10-14 15:51] bdpedigo commented on #378
at a glance, seems like the right approach to me!

[2020-10-14 15:53] bdpedigo commented on #536
@jovo ndd appropriate?

[2020-10-14 16:30] alyakin314 opened #537 "LatentDistributionTests & SeedlessProcrustes directed interaction."
## Expected Behavior
When using SeedlessProcrustes to align two directed embeddings, rather than stacking the two embeddings together and then using seedless, one should first use seedless on them independently, and then stack them. the motivation here is that otherwise the information from one part of directedness ("from") will spill into the other part ("to") and we do not want that.

This will

[2020-10-14 16:31] alyakin314 commented on #537
Not sure if bug or enhancement.

[2020-10-14 17:46] jovo commented on #536
Seems like it to me?
JL has graphsage working I understand.

On Wed, Oct 14, 2020 at 11:54 AM Benjamin Pedigo <notifications@github.com>
wrote:

--
Typed with thumbs

[2020-10-14 19:09] jovo opened #538 "update contributing guidelines to match sklearn's"
https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md

[2020-10-14 23:03] bdpedigo commented on #531
also another great compilation of resources it looks like https://opensourcediversity.org/

[2020-10-14 23:13] bdpedigo commented on #531
Action items (based on the above) (to be broken out into issues later)
- [ ] Explicitly add a code of conduct
   - I think we technically have this via Microsoft but should make it more explicit/apparent
   - Mozilla recommends having in root of the repository or main project page.
   - Clearly states how to report behaviors that violate COC, who they go to, clear expectations of what to expect af

[2020-10-14 23:39] bdpedigo commented on #528
HI {developer names},

We saw your paper in JMLR-MLOSS on scikit-network, and we think it's great! By way of introduction, we are developers of [graspologic](https://github.com/microsoft/graspologic), which is a Python package with some similar goals (network data science, basically). Our package started as two packages: Graspy (developed at Johns Hopkins University/NeuroData lab) and topologic (d

[2020-10-15 01:15] jovo commented on #528
If you are interested, we'd love to set up a time to talk and see how we
can be more efficient and productive together.  For example, it seems that
you have already implemented some interesting sparse matrix factorization
algorithms that might be of interest to us, and we have implemented Leiden
which seems to be of interest to you.  It would be awesome...

On Wed, Oct 14, 2020 at 7:39 PM Benjamin

[2020-10-15 16:57] bdpedigo commented on #531
Jovo: good for people to know who they can ask questions to (re: leadership clarification)

[2020-10-15 16:59] bdpedigo commented on #531
maybe we clarify that "issues" can be random questions

[2020-10-15 20:52] bdpedigo commented on #528
updated the above

[2020-10-16 15:04] jovo opened #540 "make FIRM"
https://bitsandbrains.io/2018/10/21/numerical-packages.html

@bdpedigo has an updated document about FIRM, we are missing some badges.

[2020-10-16 18:18] bdpedigo commented on #383
@tliu68 lmk if you do/don't plan on doing this still, either is fine with me! Just want someone in NDD to do it if you don't want to is all.

[2020-10-16 18:20] bdpedigo commented on #378
Tasks:
- update the API as @alyakin314 suggests above
- write tutorial
- make sure docs, tests are all in good shape

[2020-10-16 18:21] bdpedigo commented on #377
@jovo task for NDD? do we care?

[2020-10-16 18:22] #361 closed

[2020-10-16 18:22] bdpedigo commented on #360
considering this again as an NDD task...

[2020-10-16 18:23] bdpedigo commented on #347
bump @asaadeldin11

[2020-10-16 18:26] #329 closed

[2020-10-16 18:26] #294 closed

[2020-10-16 18:32] bdpedigo commented on #161
@loftusa if you don't plan on doing all of these, can you open issues for
- Out of sample LSE
- Out of sample Omni (and maybe MASE? not sure)

[2020-10-16 18:33] #53 closed

[2020-10-16 18:44] asaadeldin11 commented on #347
This is next on my to do list after #542 is merged

[2020-10-16 20:47] loftusa opened #544 "Add out-of-sample LSE"
see #161

[2020-10-16 20:47] loftusa opened #545 "Add out-of-sample Omni"
see #161

[2020-10-16 20:48] loftusa commented on #161
#544 #545

[2020-10-16 22:24] alyakin314 commented on #537
After further conversation with @jagterberg , it seems that what should happen is something different:

First, SeedlessProcrustes needs to feature another parameter, let's call it `q` for now. The optimal transport is performed in an unmodified way. However, the procrustes part of it should take the first `q` components and perform procrustes on them, then take the last `d-q` components and perfor

[2020-10-18 03:42] jovo commented on #360
totally for it!

On Fri, Oct 16, 2020 at 2:23 PM Benjamin Pedigo <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
How can I do better? <https://forms.gle/iEad8byD89eTPdYx6>

[2020-10-18 03:43] jovo commented on #377
only if cep wants it.

[2020-10-18 16:15] #513 closed

[2020-10-18 16:21] bdpedigo commented on #531
## Action items (as I see it, feel free to add opinons)
Items in bold I think can be coordinated for any neurodata repo
-  Explicitly add a code of conduct (repo-specific)
- Clarify leadership/"roles of influence" (repo-specific)
- Clarify that issues can be random questions
   - **someone could write an issue template and use for all repos**
- Accessibility testing
   - **someone could spearhead/

[2020-10-18 23:07] loftusa commented on #524
maybe that'll cause more trouble than it's worth? I'm guessing this will just be fixed with #368

[2020-10-19 06:20] pauladkisson opened #548 "singular_values_ attribute needed for MultipleASE class"
## Expected Behavior
MultipleASE should have an attribute that stores singular values for ease of generating scree plots, consistent with the other embedding classes.  Specifically, it should output the singular values of the concatenated adjacency spectral embeddings, consistent with Figure 10 of the [paper](https://arxiv.org/pdf/1906.10026.pdf) where it is introduced.

## Actual Behavior
Multipl

[2020-10-19 07:21] AnshuTrivedi commented on #502
@j1c  Please help me to understand more what have to do in this issue?
I want to work on it.

[2020-10-19 15:18] tathey1 commented on #531
Might match [agreements](https://neurodata.io/about/agreements/) best if I am the last bullet.

I would also be interested in discussing how the first bullet may vary across repos.

[2020-10-19 15:56] j1c commented on #502
Hey @AnshuTrivedi! I updated the original post the include all the steps. I realized that this is a bit more involved in that it requires touching multiple files, but each step is very simple (moving files or adding/deleting 1 line from a file). I would suggest you make a commit for each bullet point.

Let me know if you have any other questions.

[2020-10-19 19:23] bdpedigo commented on #548
@pauladkisson welcome to work on this if you run out of stuff to do this week before I get back to you, just FYI

[2020-10-19 19:49] alyakin314 commented on #537
I should've added that it basically should add the R implementation here: https://github.com/jagterberg/nonparGraphTesting/blob/68154f1d5891b1ac914241e99c626f274b17ac4f/R/optimal_transport.R#L56-L73

[2020-10-19 23:53] carolyncb commented on #531
Here's the example Mozilla uses of an inclusive leadership page: https://github.com/firefox-devtools/debugger/blob/aa827095d86475f816017ff35d6f9c2e83cf7b9b/docs/community-team.md. It strikes me as very welcoming and lets new people know exactly who to reach out to for a number of questions.

[2020-10-19 23:56] bdpedigo commented on #531
@carolyncb that is a great example, thank you!!

[2020-10-20 01:33] bdpedigo commented on #531
Sounds good, i'll tag you for that one @tathey1

[2020-10-20 01:37] bdpedigo commented on #531
@sampan501 would you have any interest in looking into sites for "good first issue" like the ones I linked above and seeing how we can add ourselves?

@rflperry would you have any interest in looking into the accessibility testing stuff?

I can make a template for "Random question issue" and draft a "roles of influence" template based on what @carolyncb linked.

Happy to hear it if anyone has othe

[2020-10-20 01:46] rflperry commented on #531
@bdpedigo Yeah can totally look into that! Thanks for delegating

[2020-10-20 11:13] AnshuTrivedi commented on #502
@j1c It is failing test throwing error as below.
Please  help me.

    from .mug2vec import mug2vec
  File "/home/runner/work/graspologic/graspologic/graspologic/embed/mug2vec.py", line 7, in <module>
    from .embed import ClassicalMDS, OmnibusEmbed
ModuleNotFoundError: No module named 'graspologic.embed.embed'

[2020-10-20 12:03] bdpedigo opened #550 "Add LSE-OMNI"
Should be able to run OMNI where each individual matrix that is input is the Laplacian of each.

Theory/papers on it have not been published (to my knowledge) but has definitely been used successfully in the wild.

Maybe we want to include R-LSE as an option?

[2020-10-20 12:03] bdpedigo commented on #550
@nyecarr fair to say this is desired, right?

[2020-10-20 12:07] bdpedigo opened #551 "Default regularizations for spectral embedding"
Right now, we just have diagonal augmentation by default.

Other regularizations we were discussing including:
- pass to ranks

Other regularizations that are recommended but we talk about less:
- adding a constant to the entire matrix ("plus c") prior to embedding
- removing high (usually for ASE) or low (usually for LSE) degree nodes

Question is, which should we just highly recommend, explain i

[2020-10-20 12:08] bdpedigo commented on #460
Note: yesterday, we discussed refactoring/renaming the current `BaseEmbed` -> `BaseSpectralEmbed` (or something along those lines).

Maybe it even inherits from a new `BaseEmbed` that does really simple things or is just abstract. But not really sure how much can be shared between spectral and n2v

[2020-10-20 12:57] sampan501 commented on #531
Sounds great, I'll look into that

[2020-10-20 23:22] carolyncb commented on #531
@rflperry Microsoft has an internal accessibility checklist that I'm not sure I can share, but I found this list that looks very similar: https://www.hhs.gov/sites/default/files/hhs-508-webapps-checklist.xlsx (from https://www.hhs.gov/web/section-508/accessibility-checklists/index.html). It's pretty exhaustive, and not all the points will apply, but it helps to give an understanding of areas of fo

[2020-10-21 02:16] jovo commented on #502
@AnshuTrivedi Thanks so much for engaging, we really appreciate the effort you have put in to this, and hope you can continue to be a part of our community!

[2020-10-21 02:36] #84 closed

[2020-10-21 02:37] #91 closed

[2020-10-21 13:30] sampan501 commented on #531
@bdpedigo This link you gave gives really good links to websites that conglomerate issues with the good-first-issue label: https://www.firsttimersonly.com/. Another good app is this, which tweets out anytime you use the good-first-issue label: https://github.com/apps/goodfirstissue. I think the minimum we have to do is to update our contribution guides with what the label means and how much work i

[2020-10-21 17:19] #502 closed

[2020-10-21 20:40] bdpedigo opened #553 "Add leadership/roles of influence page somewhere"
spin off from #531

Should have some kind of page specifying who active dev team is and who to go to with certain questions, should make it as welcoming as possible

[2020-10-21 20:41] bdpedigo commented on #553
@carolyncb had this great example
https://github.com/firefox-devtools/debugger/blob/aa827095d86475f816017ff35d6f9c2e83cf7b9b/docs/community-team.md

[2020-10-21 20:53] bdpedigo commented on #528
done

[2020-10-21 20:53] #528 closed

[2020-10-21 21:32] bdpedigo opened #554 "Fix versioning file being committed with changes"
Many people are committing the modified `version.txt`

Would be nice to have this not happen

[2020-10-22 16:59] dwaynepryce commented on #554
We shouldn't even have a version.txt file added to source, and should have a smarter version.py that knows how to deal with a non-existant file (it means the same as an empty file, so the logic to update isn't particularly hard)

[2020-10-22 17:01] dwaynepryce commented on #554
https://setuptools.readthedocs.io/en/latest/pkg_resources.html#basic-resource-access

`resource_exists` should be checked first

[2020-10-23 18:29] dwaynepryce opened #556 "Embed enhancements"
There is some value in updating the (soon to be current) Node2Vec implementation to hew more closely to the convention we do end up choosing for all of our embed functionality.

We originally started from a networkx graph and we kept it this time solely to get something higher value (an autolayout capability) introduced.  We should consider providing graphs in all of our embed functions as being `

[2020-10-23 18:32] dwaynepryce opened #557 "Node2Vec Unit Test Enhancements"
Our current n2v tests are basically some smoke tests.  @bdpedigo brought up how our only real test is "are you the shape we expect" without testing values at all.  So we need to fix that!

[2020-10-23 18:33] dwaynepryce commented on #557
@Nyecarr

[2020-10-23 18:37] #512 closed

[2020-10-23 18:43] dwaynepryce opened #558 "Create an assertions or preconditions utility module"
## Describe the solution you'd like
We do a lot of the same checks on our arguments; are you an int, are you a float, are you within a given range, etc.

It makes sense to write a function that will check this once and call it rather than write
[code]

## Describe alternatives you've considered
Continue writing all of the same code we always have.

[2020-10-23 18:45] dwaynepryce commented on #558
Also, if I've missed this in the code base feel free to toss a trout at me.  Part of this ticket was also to test the new issues templates :)

[2020-10-25 20:00] rflperry commented on #531
## Accessibility

As far as I know, all of our webdocs are rendered using sphinx which makes some things difficult but also makes things easier. An important part of accessibility is that the webpage is appropriately structured, in a hierarchical manner with correct headers etc. Sphinx makes sure this is the case.

Raw html code can be entered into this [html code sniffer website](http://squizlabs

[2020-10-25 23:09] bdpedigo commented on #558
i agree 💯 percent with this.

Only other comment is sklearn has some array checking utils also that we can try to steal as much as possible too.

[2020-10-26 13:05] Jingyan230 commented on #414
Here are some simple examples for tutorial.
Simple rotation examples (Y was built from rotating X initially.)
https://nbviewer.jupyter.org/github/Jingyan230/notebook/blob/my-feature/Aligning_tutorial_sample_F1.ipynb
https://nbviewer.jupyter.org/github/Jingyan230/notebook/blob/my-feature/Aligning_tutorial_sample_F1_90.ipynb
Same shape example (n_X =n_Y =10)
https://nbviewer.jupyter.org/github/Jingy

[2020-10-26 14:52] #460 closed

[2020-10-26 15:54] alyakin314 commented on #414
@Jingyan230 are you saying that these are just examples you want to use, or these are versions of tutorial notebooks? i.e. should i give feedback only on the models you generate the data from, or everything?

[2020-10-26 16:12] alyakin314 commented on #414
assuming you were just providing this as examples of the data:
1. sign flips is improper to use in a setting other than literally when dimensions are flipped (i.e. some reflections around coordinate axis), i.e. one shouldn't use them for reflections. it just so happens that 180 degrees rotation overlaps with the reflections around both x-axis and y-axis.
2. what's up with this rotation code? why d

[2020-10-26 16:13] alyakin314 commented on #414
*by module i meant by class

[2020-10-26 16:39] alyakin314 opened #563 "POT & hyppo Dependencies Discussion"
@jovo suggested that we make the two of our required dependencies that aren't a part of the general data science stack, namely **hyppo** and **POT**, optional. the idea here is that **hyppo** is only used in a single class (latent distribution test), whereas **POT** is only employed in seedless procrustes, and the only other class that imports it (funny enough, also latent distribution test). an o

[2020-10-26 16:40] alyakin314 commented on #563
personal opinion: optional dependencies always frustrated me in other packages, because after i installed and imported the package - i don't want to be going back to terminal, and install more things. so, i'd prefer to avoid them, especially, since there aren't any other issues with those, like memory or compatibility concerns. happy to discuss the route to avoid them at all.

[2020-10-26 17:05] tliu68 opened #564 "DivisiveCluster tutorial"
There should be a tutorial for the DivisiveCluster algorithm which is related to issue #333.

[2020-10-26 18:55] Jingyan230 commented on #414
@alyakin314  Thanks for the advice!

[2020-10-26 19:05] alyakin314 commented on #563
Current consensus, as i understood it: do not do optional dependencies, but do consider ditching them:
* hyppo -> scipy
* POT SK algo -> scipy
* or use our own function instead of POT

[2020-10-26 19:46] bdpedigo commented on #563
note that more dependencies will be added soon

[2020-10-27 11:33] #299 closed

[2020-10-27 16:57] bdpedigo commented on #563
note: we now also rely on
- gensim
- anytree
probably more stuff on the way from MSR? I would think at least
- umap-learn

[2020-10-27 19:54] bdpedigo opened #565 "Create "graspologic at a glance" page"
Would like to have a page (in documentation and/or readme, but leaning towards just documentation) that basically explains each module at an extremely high level and why it might be useful. Could have very simple infographics too.

Would probably reorganize the below to match module structure better, make full sentences, etc.

### Specialized graph algorithms
- Single graph embedding
    - Learn a

[2020-10-27 20:03] dwaynepryce opened #566 "Node2Vec Enhancements"
## Is your feature request related to a problem? Please describe.
n2v currently behaves very differently from the rest of the embed module

## Describe the solution you'd like
While it is true that discrete `fit` and `transform` methods don't really make much sense for node2vec, it can at least implement `fit_transform` and warn or throw an error if `fit` or `transform` are called separately.

It

[2020-10-27 20:14] dwaynepryce opened #567 "Consistency of embed module"
## Is your feature request related to a problem? Please describe.
The following is an issue to wrap up a bunch of specific items that will be tracked independently later, but we agreed in principle that the embed module should, in general, have two main means of usage:

- A consistent sklearn fit, transform, fit_transform adherence in the embedding classes, with appropriate warnings if it does not

[2020-10-27 20:16] dwaynepryce commented on #567
Another note:

I assert that there are only two flavors of `sklearn` style BaseEstimator that we should use:
- `fit_transform` (no separate fit or transform methods)
- `fit`, `fit_transform`, `transform` (all three)

[2020-10-27 20:29] dwaynepryce opened #568 "`import_graph` questions"
The current `utils.import_graph` function is super useful, but there are some questions we should try to answer:
- What do we do with multigraphs?  Currently we support them, and by default (the only way we do it) networkx uses them by summing the edge weights between two nodes (which is a perfectly valid choice, but not the only one). It looks like networkx has the ability to use other functions

[2020-10-27 21:54] dwaynepryce commented on #563
surprisingly I think just umap-learn, for now - graspologic-native, but that's just our rust native module so it won't have any transitive deps of its own (which is good)

[2020-10-28 12:13] #507 closed

[2020-10-28 22:07] dwaynepryce commented on #550
Yeah, this is desired - we do use it semi-frequently.

[2020-10-29 21:06] Nyecarr commented on #550
Yes, we use both LSE/ASE omni in several of our projects. After digging in and comparing topologic vs graspy, we reached out to Carey and it was confirmed that he agrees with our experience that it _is_ useful but it hasn't been published yet.

It brings up some questions of LSE normalization and how to effectively do it as well as how to perform graph augmentations (ptr/cvec) in a reasonable way.

[2020-10-30 16:03] bdpedigo opened #570 "Add tests from statistical connectomics / bilateral symmetry"
- homotypic tests
- different SBM block probability testing

[2020-10-30 16:11] spencer-loggia commented on #536
Possibly interested in this issue for sprint 2

[2020-10-30 16:17] zeou1 commented on #550
I am interested in working on this issue for sprint 2

[2020-10-30 16:24] caseypw commented on #570
I think this issue is interesting, I would like to work on this

[2020-10-30 16:24] dfrancisco1998 commented on #208
I am interested!

[2020-10-30 16:24] dfrancisco1998 commented on #570
I am also interested!

[2020-10-30 16:24] dfrancisco1998 commented on #360
I am interested!

[2020-10-30 21:44] dwaynepryce opened #571 "Type and bounds checking in graph_cuts"
## Is your feature request related to a problem? Please describe.
@bryantower needs an early cut of `graph_cuts` for his layouts work - the PR created for it earlier today defines the API well enough and includes tests, but needs bounds checking of arguments and type validation as well.

I wanted to get the main API in place so he could proceed, then come back and enhance it later to ensure I wasn

[2020-10-31 20:03] kareef928 commented on #520
I'd be interested in this issue

[2020-10-31 20:03] kareef928 commented on #485
I'd be interested in this issue

[2020-11-01 17:14] bdpedigo commented on #425
1. decide whether we want to support a function API
2. I think init keyword "rand" should be "random"
3. I think the docs for `.fit` specifically need to clarify which matrix is being permuted. I always have to look elsewhere for this info and I think putting in fit is worth doing.
4. related to the above, we should try to standardize which matrix is "source" and which is "target" as much as possi

[2020-11-02 14:42] loftusa commented on #536
also interested in this for sprint 2

[2020-11-02 14:43] loftusa commented on #134
possibly interested in this for sprint 2

[2020-11-02 17:52] dtborders commented on #134
also possibly interested for sprint 2

[2020-11-02 19:09] bdpedigo commented on #112
@kareef928 may also be of interest (semi related to #485)

[2020-11-02 19:16] bdpedigo opened #575 "(decide if we want to) implement 2 graph spectral VN"
## Is your feature request related to a problem? Please describe.
Abstract from the paper below:
[code]

## Describe the solution you'd like
Could implement as part of new vertex nomination module

## Provide references (if applicable)
https://arxiv.org/pdf/2010.14622.pdf

## Additional context
Totally unclear whether we want this. need to talk to @jovo and Carey and co.

[2020-11-02 20:03] kareef928 commented on #112
Sure, I think I need a bit of guidance to understand what I am actually doing

[2020-11-02 20:06] bdpedigo commented on #112
for sure! we would have to talk about it. long story short this function gets called for all of our embeddings and right now the way that we do it is super slow.

[2020-11-03 17:27] dwaynepryce commented on #558
#571 will be able to make use of this as well

[2020-11-04 17:55] pauladkisson commented on #360
I am also interested in this one.

[2020-11-05 16:30] rflperry commented on #360
Check out the code in this package https://github.com/idc9/ya_pca/tree/master/ya_pca/rank_selection. We've worked with the developer on mvlearn, but it's PCA and lots of different rank selection methods including Minka. They're compared in this [notebook](https://github.com/idc9/ya_pca/blob/master/docs/example_notebooks/PCA%20rank%20selection%20methods.ipynb) but it's a bit rough.

[2020-11-06 03:43] jovo commented on #360
it occurs to me that scipy should have one of these, which ever is 'best'
i'd guess ZG(2), but Minka is possible (or one of the others, i guess)

On Thu, Nov 5, 2020 at 11:30 AM Ronan Perry <notifications@github.com>
wrote:

[2020-11-06 13:19] bdpedigo commented on #360
notebook looks pretty helpful tho?

[2020-11-06 14:22] rflperry commented on #360
Iain and I had talked about the benefit of a `rank_selection` module or something that made it easy to use any of them (or the 'best' few) in any function that had a rank selections step.

[2020-11-06 15:55] bdpedigo commented on #360
Sounds like a great idea, seems like mvlearn + graspologic could both use. And whatever's best, as jovo says, would want to push into scipy/sklearn as appropriate.

Is https://github.com/arvkevi/kneed in the notebook?

[2020-11-06 15:58] bdpedigo commented on #360
also just a note - looks like the ZG code was based on graspy but is not using the Carey trick (basically only check the first log2 singular values) so I would expect results different from ours on real data

[2020-11-06 16:06] asaadeldin11 opened #579 "Graspologic vs Sk-Network Embedding"
Benchmark and compare our embedding functionality with that of [sk-network](https://scikit-network.readthedocs.io/en/latest/tutorials/embedding/index.html).

See if one is better than the other in terms of performance/runtime.

Specifically their Spectral/SVD with our LSE/ASE (respectively)

[2020-11-06 17:20] dfrancisco1998 commented on #579
interested!

[2020-11-06 23:40] #441 closed

[2020-11-09 06:29] jovo commented on #360
right, only we will have those tricks.

ronan - seems like mvlearn will care too, maybe you/them might do the
experiment good to get something in scipy, which seems is where it should
go?

On Fri, Nov 6, 2020 at 10:58 AM Benjamin Pedigo <notifications@github.com>
wrote:

[2020-11-09 21:48] jonmclean opened #580 "[Question] LatentDistributionTest n_components incorrect?"
This is our forum for asking whatever network question you'd like!  No need to feel shy - we're happy to talk about graphs!

I have been trying to run LatentDistributionTest using several graphs.  On some pairs of graphs I get the following error:  "n_components must be <= min(X.shape)".  This comes from svd.py line 241.  Originally I left n_components as None to let Graspologic choose the correct

[2020-11-09 22:19] alyakin314 commented on #580
hey @jonmclean! the number of components is the number of dimensions that you want to embed into. typically this is a small number compared to the graph size. sometimes one can have a  priori knowledge of the number of components. for example, if you have a hypothesis that your graph comes from a stochasitc blockmodel with three blocks, it makes sense to embed it into three dimensions. in general,

[2020-11-09 22:44] jonmclean commented on #580
When I set n_components to None so it would use the Zhu and Ghodsie selection procedure I got this error:

"n_components must be <= min(X.shape)". This comes from svd.py line 241.

[2020-11-09 22:52] alyakin314 commented on #580
Could you try to pass your two graphs into the AdjacencySpectralEmbedding individually? you’d have to use .fir_transform there.

[2020-11-09 23:19] hhelm10 opened #581 "Adding different model selection criteria for GMM"
## Is your feature request related to a problem? Please describe.
Currently, GMM returns the model that maximizes BIC. Sometimes it is desirable to have more expensive (i.e. more parameters) models. In these cases, less harsh parameter penalties should be used (i.e. AIC where the penalty is not a function of the number of parameters in the model).

## Describe the solution you'd like
Adding an key

[2020-11-09 23:53] dwaynepryce commented on #580
@jonmclean can you share the graph sizes for us?

[2020-11-10 02:58] bdpedigo commented on #581
https://graspy.neurodata.io/reference/cluster.html#graspologic.cluster.AutoGMMCluster `AutoGMM` has AIC (see `selection_criteria`. Is that enough or looking for something else? Or are you talking about `GaussianCluster`? If so, `GaussianCluster` will eventually be absorbed by `AutoGMM` (may change the names but that's the idea).

[2020-11-10 03:00] bdpedigo commented on #580
graph sizes would help - but this did help me realize a very weird edge case where if the ZG2 elbow for one graph is bigger than the size of the other graph I think this error would get thrown. I believe we take the max ZG2 elbow between the two graphs.

[2020-11-10 03:09] hhelm10 commented on #581
oh, thanks for pointing that out. not looking for anything else, just had forgotten about `AutoGMM`!

[2020-11-10 03:09] #581 closed

[2020-11-10 03:12] bdpedigo commented on #581
yeah is somewhat confusing with the two classes as is. ideally someone will address in #306

[2020-11-10 17:05] jonmclean commented on #580
I am calculating the latent distribution test for the cross-product of the following graphs:

GraphA has 1695391 edges
GraphB has 463153 edges
GraphC has 2101995 edges
GraphD has 161548 edges
GraphE has 50 edge
GraphF has 5 edge
GraphG has 1 edge
GraphH has 62948 edge

So I am calculating the latent distribution test for (GraphA, GraphB), (GraphA, GraphC), etc etc.

As @alyakin314 suggested, I cha

[2020-11-10 17:27] jonmclean commented on #580
This is the code I am running.  "graphs" is a dictionary of id to NetworkX graph object.

[code]

[2020-11-10 17:45] alyakin314 commented on #580
sorry, to clarify: by size i mean number of vertices.

[2020-11-10 17:48] dwaynepryce commented on #580
@jonmclean is currently running the job and "when it fails, I'll get the number of vertices"

[2020-11-10 22:00] jonmclean opened #582 "[BUG] Bug in joblib transitive dependency causes exception when multi-threading"
## Expected Behavior
Multi-threading LatentDistributionTest using a "workers" value != 1 should return without error on all platforms.

## Actual Behavior
When using any "workers" value > 1 or equal to -1 on a Windows computer, the code throws an exception.

## Example Code

[code]

## Full Traceback
[code]

## Your Environment
* Python version: 3.7.6 (Anaconda)
* graspologic version: 0.1.0.dev331

[2020-11-10 23:02] jonmclean commented on #580
@alyakin314 here are the vertex counts for each graph:

GraphA contains 1695391 edges and 13106 nodes.
GraphB contains 463153 edges and 7640 nodes.
GraphC contains 2101995 edges and 12094 nodes.
GraphD contains 161548 edges and 5325 nodes.
GraphE contains 50 edges and 13 nodes.
GraphF contains 5 edges and 5 nodes.
GraphG contains 1 edges and 2 nodes.
GraphH contains 62948 edges and 1944 nodes.

[2020-11-10 23:22] bdpedigo commented on #580
Based on the number of vertices I think this is what's happening

[2020-11-11 00:02] Nyecarr commented on #580
@bdpedigo Would this case happen if you are explicitly supplying n_components?

[2020-11-11 02:58] PerifanosPrometheus commented on #544
I may be interested in this one

[2020-11-11 13:29] bdpedigo commented on #580
I don't believe so, as long as the number of components is always smaller than the size of the smallest graph. If you supply `n_components` that is bigger than the size of the smallest graph (or maybe size of smallest graph - 1 for reasons I can explain) then you'd get a similar error.

[2020-11-11 13:38] bdpedigo commented on #580
Practically speaking, for @jonmclean's problem, is it possibly to just throw out graph E, F, and G? In general I don't think this method would even make much sense for graphs that small.

Regarding what to do in the code, one hacky solution when `n_components` is not passed is

[code]

When `n_components` is specified but doesn't work with the size of the graphs, do we want some other kind of erro

[2020-11-11 13:39] bdpedigo commented on #580
Also just a note on usage - I have found dimensionality that you select to matter a lot in terms of the results that you get with this method, so may be worth exploring if trying to use on real data.

[2020-11-11 16:56] dtborders commented on #544
I am interested in this one as well

[2020-11-11 17:21] jonmclean commented on #580
I have ignored the smaller graphs.  I think this is mostly a documentation & error message concern.  I propose the following documentation changes:

* Make the relationship between n_components and the size of the graph clear.
* Make a note in the method documentation about issues that may occur with auto-calculated n_components when there is a large disparity in the size of the two graphs.

I am

[2020-11-11 17:25] loftusa commented on #544
@PerifanosPrometheus @dtborders let me know if either of you decide to do this, I have a pretty good idea of how it should happen at this point I think, just wanted to move on from oos stuff

[2020-11-11 17:41] dwaynepryce commented on #580
Just a sidebar comment, but this is a perfect example of keeping in mind what sorts of users are going to be using graspologic - it isn't just [graph benders](https://avatar.fandom.com/wiki/Category:Specialized_bending_techniques), but any developer who has a graph and is trying to figure out the tools for the first time.

[2020-11-11 18:34] kareef928 commented on #520
DoD:

- Write LDT using Joblib parallel

- Run simulation to compare speeds of original LDT and parallelized LDT across several settings(different n_verts, single vs multiple iterations of LDT)

- If LDT parallelized is consistently faster than original LDT, then push the parallelized version of LDT

[2020-11-11 18:40] kareef928 commented on #485
DoD:

- Put code that exists in ASE and LSE in Base

- Ensure correct functionality by running a simulation comparing the original ASE/LSE to the revised ASE/LSE and ensure that similar pairplots are generated

[2020-11-11 19:11] bdpedigo commented on #485
great start kareef. over the week or two, need to specify what code there is that is redundant in this way.

[2020-11-11 19:15] kareef928 commented on #112
DoD:

- Implement the other graph searching methods provided above for LCC check

- Run simulation to determine which graph search is the fastest using different settings of graphs

- Push the fastest graph search method

[2020-11-11 19:23] bdpedigo commented on #112
IMO this one is top priority for making things faster cause this affects LDT also.

[2020-11-11 19:35] kareef928 commented on #112
Ok, I still need to iron out some details with this issue so we can talk about that on Friday

[2020-11-11 20:38] kareef928 commented on #112
I would also be fine giving this issue to someone else if they need an issue to work on

[2020-11-12 14:15] bdpedigo commented on #508
@dwaynepryce I know you got RTD set up, is there anything holding us back from making this the official thing? Maybe the netlify PR preview type thingy?

[2020-11-12 16:01] dfrancisco1998 commented on #579
DoD draft:

Performing something similar to that in the ASE embedding tutorial  "clustering in the embedding space".

For comparing ASE and SVD efficacy:
make an adj matrix using SBM
then using the same num components test SVD and ASE fit
Follow same error analysis at varying number of components on the same adj matrix  and then also with varying insularity
This could be accomplished by recreating

[2020-11-12 17:26] bdpedigo commented on #579
main thing is just runtime.

then, may want to look at svd approximation error. doubt the clustering stuff will be necessary unless we see big differences.

also just want to make sure we understand which of their tools match which of ours

[2020-11-12 18:09] #582 closed

[2020-11-12 18:16] bdpedigo opened #584 "Automate PRs being added to project board, maybe some of the other functions"
## Is your feature request related to a problem? Please describe.
No automation for PR organization system we have going now

## Describe the solution you'd like
Automation

## Provide references (if applicable)
Let's try this? https://github.com/philschatz/project-bot
At a bare minimum, can have PRs added to the project (and the needs triage column) as soon as they are opened
Can also define acti

[2020-11-13 17:46] bdpedigo commented on #306
https://arxiv.org/abs/1909.02688

[2020-11-13 17:57] #343 closed

[2020-11-13 17:57] #348 closed

[2020-11-13 17:57] #465 closed

[2020-11-13 18:53] asaadeldin11 commented on #360
@dfrancisco1998 would you be interested in doing this instead of #579 ?

This is more overdue, so I think we'd like to get it done first.

[2020-11-13 19:11] rflperry commented on #360
I was intrigued by this but had some other things to wrap up first, certainly can help out until I have more time.

[2020-11-13 21:33] loftusa opened #585 "Common functions in top-level namespace?"
It occurs to me that we might want to select some functions that we use all the time in analysis to move to the top-level namespace, similar the top-level objects in `numpy` and `pandas`.

This popped up when I wanted to make a Laplacian, and I felt like it would have been more convenient to write something like `graspologic.to_laplacian(A)` rather than importing from `utils`.

Many of the other f

[2020-11-13 21:35] bdpedigo commented on #585
last part sounds like a second issue IMO

[2020-11-13 21:37] loftusa commented on #585
good point, I'll refactor

[2020-11-13 21:44] loftusa opened #586 "Cleaner function names"
There are some common functions that I think could have better names. I'm not a huge fan of shortening commonly-used names when slightly longer names would bring a lot more clarity. Pandas does stuff like `pd.read_clipboard`, for instance, rather than `read_clip`.

Here is a short, non-comprehensive list of functions that I think could be improved with name changes (though I can go through and exp

[2020-11-15 18:46] #548 closed

[2020-11-15 23:35] PerifanosPrometheus commented on #306
@bdpedigo I will take this one, sounds fun! : )

DoD:

- Implementation:
   - Add option in AutoGMM class to run k-means multiple times:
     - Must be simple and intuitive to call for the user
     - Must be able to specify min_components and max_components to use
            - If max_components is None then it must utilize min_components as maximum number(analogously to gclust)
     - Must be in

[2020-11-15 23:37] PerifanosPrometheus commented on #544
@dtborders It is all yours, have fun!

[2020-11-16 01:24] zeou1 commented on #550
Definition of Done:

1. Implement OMNI with Laplacian matrices as the input
2. Run experiments to visualize the difference between ASE and LSE OMNI?
3. Add LSE-OMNI to the current OMNI tutorial

[2020-11-16 10:58] CaseyWeiner commented on #570
# Sprint 2 D.o.D. (Definition of Done)
## Casey Weiner
DoDs are included below in **bold**.

### Preliminaries:
 - Read and take notes on [Statistical Connectomics Paper](https://osf.io/ek4n3/)
 - Fork [Connectocross](https://github.com/neurodata/connectocross)
 - **Commit notes to personal Connectocross fork**
 - Work with Spencer, Paul, and TAs to figure out procedure for working on Connectocros

[2020-11-16 16:05] loftusa commented on #134
Taking this.

DoD:
- recreate figure 1 in [casc](https://academic.oup.com/biomet/article/104/2/361/3074977)
- tests (open to suggestions/changes)
- implementation plan + implementation
- tutorial notebook PRd into documentation

[2020-11-16 16:10] bdpedigo commented on #558
some notes (in progress) on input checking that may be useful for us in sklearn. all of these are in the public API:
- [check_array](https://scikit-learn.org/stable/modules/generated/sklearn.utils.check_array.html#sklearn.utils.check_array)
- [check_scalar](https://scikit-learn.org/stable/modules/generated/sklearn.utils.check_scalar.html#sklearn.utils.check_scalar)
   - I see absolutely no downsid

[2020-11-16 17:52] PerifanosPrometheus commented on #306
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoLarsIC.html

[2020-11-16 17:54] bdpedigo commented on #306
see `criterion_` for example
`criterion_: array-like of shape (n_alphas,)
The value of the information criteria (‘aic’, ‘bic’) across all alphas. The alpha which has the smallest information criterion is chosen. This value is larger by a factor of n_samples compared to Eqns. 2.15 and 2.16 in (Zou et al, 2007).`

[2020-11-16 19:47] bdpedigo commented on #558
Dwayne: we should look into libraries with decorators that do this based on `typing`

[2020-11-16 22:12] #521 closed

[2020-11-16 22:50] #526 closed

[2020-11-17 00:05] rflperry commented on #360
Note, sklearn's [PCA](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) uses minka as an automatic selection.

[2020-11-17 21:50] bdpedigo commented on #306
@PerifanosPrometheus: @tliu68 is working on some changes to the internals of AutoGMM (see #371). I think this will just affect the initialization. You two might want to coordinate a bit so that the merge is easy at the end!

[2020-11-17 21:51] bdpedigo commented on #306
@tliu68 this PR from @PerifanosPrometheus prometheus will more or less add 1 or more runs of kmeans as an initialization in AutoGMM, and maybe will rename the class itself.

[2020-11-18 06:07] tliu68 commented on #306
Cool! @PerifanosPrometheus I'll let you know what specific changes I'm going to make soon. Thanks!

[2020-11-18 20:04] PerifanosPrometheus commented on #306
@tliu68 Currently, I am also on the planning stage so I haven't finalized any changes yet. Please let me know if there is anything that I should particularly be careful dealing with

[2020-11-18 22:43] #540 closed

[2020-11-19 14:14] tliu68 commented on #306
@PerifanosPrometheus I've opened a draft PR #589. Please see my description on all major changes I made. My plan for next step is to try to clean up/reorganize the for loops and see if I can incorporate parallel processing. But I believe the major updates we wanted to make have been addressed. Please let me know if you have any question and all suggestion/advice welcome!

[2020-11-20 02:42] v715 opened #590 "Add MCC methods to graspologic"
We've developed a few methods for analyzing multi-subject connectomics data at multiple scales (edges, vertices, and communities).

All methods are implemented using functions in graspologic (eg omni).

jovo suggested adding jupyter notebooks showing these methods working on real data into graspoloic.

**Proposed changes**
- Add a small multi-subject connectomics dataset to the `datasets` submodul

[2020-11-23 13:46] #244 closed

[2020-11-23 14:15] #161 closed

[2020-11-23 18:16] loftusa opened #592 "New legend for `pairplot` in undirected case"
Right now, when we use `pairplot` in the undirected case, the legend shows up as a gradient. It would be better if it showed up as two distinct colors, since our matrix is binary.

<img width="781" alt="Screen Shot 2020-11-23 at 1 15 50 PM" src="https://user-images.githubusercontent.com/12386450/99999386-ed8f9b80-2d74-11eb-976c-534365754cbd.png">

[2020-11-23 18:41] bdpedigo commented on #592
did you mean heatmap instead of pairplot and unweighted instead of undirected? if so, I usually just omit the colorbar entirely when plotting binary. it is a bit of an overreach to tell the user their data is binary and force a new colormap on them - for instance there are some cases where edges can be in {0, 1} but the didn't have to be if that makes sense. that being said, im not super opposed s

[2020-11-23 18:43] bdpedigo commented on #592
also the only way I see to robustly check this is `all_the_same_thing(A[A != 0])` and not sure how expensive that is?

[2020-11-23 18:51] loftusa commented on #592
yes, changed

good point

there's an `is_unweighted` function in `utils` that returns `((A == 0) | (A == 1)).all()`, not sure how computationally expensive that is either

[2020-11-23 18:58] loftusa opened #594 "[BUG] seaborn `distplot` soon-to-be-depracated"
we use `sns.distplot` [internally](https://github.com/microsoft/graspologic/blob/dev/graspologic/plot/plot.py#L674) in our plotting functions

distplot is [depracated](https://seaborn.pydata.org/generated/seaborn.distplot.html) in the newest version of seaborn

[2020-11-27 07:45] v715 opened #595 "Add real-world multisubject connectomics dataset"
## Is your feature request related to a problem? Please describe.
Many algorithms in this package enable joint analysis of multiple graphs. There is no real-world dataset of connectomes from multiple subjects included in this package.

## Describe the solution you'd like
Add a small and well-studied dataset to the `dataset` module. NeuroData members have extensively analyzed this dataset previousl

[2020-11-30 16:45] dtborders commented on #544
@bdpedigo Could I be assigned to this one?

[2020-11-30 21:51] bdpedigo commented on #594
@j1c @loftusa @alyakin314 @dwaynepryce @asaadeldin11 is anyone opposed to specifying `seaborn >= 0.11`? Because the function `distplot` was basically renamed to `histplot` we either have to pick one (i assume we'd pick the more recent version) or have some code that checks `sns.__version__` and picks the right function name based on that. I'm in favor of just migrating to most recent seaborn.

[2020-12-02 02:40] loftusa commented on #594
@bdpedigo I'm in favor, opens up access to the new functionality in that version and I think staying on top of most-updated dependencies is probably good practice in general

[2020-12-02 16:54] dwaynepryce commented on #594
Let's just update

[2020-12-02 22:00] alyakin314 commented on #594
agreed with ^

[2020-12-03 16:08] bdpedigo opened #598 "Expand Reference table of contents one more level"
## Is your feature request related to a problem? Please describe.
Currently in reference tab in docs, it looks like

Reference
|
|_____ Module 1
|         |____ Topic 1
|         |____ Topic 2
|
|_____ Module 2
|         |____ Topic 1
|         |____ Topic 2
...

So none of the actual classes/functions can be seen in the TOC.

I dislike this. I know many people miss certain functions because they

[2020-12-05 16:36] #333 closed

[2020-12-05 18:22] alyakin314 commented on #598
Both seem options appropriate to me; removing the intermediate categorizations seem more user-friendly than nesting them, but both have pros and cons obviously.

[2020-12-05 18:24] alyakin314 commented on #598
i'd also wanted to add in that it might be time for us to re-arrange references to some sort of logical order

[2020-12-08 02:21] #330 closed

[2020-12-08 16:27] #382 closed

[2020-12-08 16:40] tliu68 opened #601 "merge AutoGMM into Sklearn"
merge AutoGMM (renaming to GaussianMixtureIC) into Sklearn by 2021 June

[2020-12-08 17:17] bdpedigo commented on #594
Closed by #541

[2020-12-08 17:17] #594 closed

[2020-12-08 17:17] bdpedigo commented on #601
Let's call it `GaussianMixtureIC`!

[2020-12-08 17:20] bdpedigo commented on #601
[`LassoLarsIC`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoLarsIC.html) is to [`LassoLars`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoLars.html) as `GaussianMixtureIC` is to `GaussianMixture`

[2020-12-08 17:22] bdpedigo commented on #601
Note: I think `LassoLarsIC` is the only `{model}IC` model selection estimator I see in Sklearn. Most use cross-validation instead.

[2020-12-08 17:42] jovo commented on #531
what is the status of this? can we complete everything and close this issue this week?
@bdpedigo @rflperry @tathey1 @sampan501

[2020-12-08 19:08] bdpedigo opened #602 "Look into spherical clustering more for DCSBM estimation"
See for example https://arxiv.org/pdf/2011.04558.pdf
Another approach is spherical k-means https://github.com/jasonlaska/spherecluster which I have played with a bit.

I think these make more sense than what we currently do.

[2020-12-09 15:02] #414 closed

[2020-12-10 06:16] PerifanosPrometheus opened #603 "Add option to utilize numpy.random.Generator object in sample_edges"
## Issue:
 Sample_edges utilizes numpy.random.RandomState, would be nice to be able to utilize a numpy.random.Generator object as well.

## Solution:
Add option input to sample_edges that accepts a numpy.random.Generator object. If this input is provided then sample_edges should use the numpy.random.Generator object to sample from bernoulli.

## References
[numpy.random.Generator](https://numpy.or

[2020-12-10 06:20] PerifanosPrometheus commented on #603
@bdpedigo I opened the new issue to add this feature.

Please let me know if it is still something desirable.

[2020-12-10 13:03] #177 closed

[2020-12-10 13:03] #375 closed

[2020-12-10 13:07] bdpedigo commented on #603
issue looks good, are you planning on adding this to `sample_edges` somehow?

[2020-12-10 19:16] tathey1 commented on #531
In brainlit we addressed several items [here](https://github.com/neurodata/brainlit/pull/173). We still need to do accessibility testing, and there could be better "good first issues" added.

However we are thinking we might want a lab code of conduct that we can all refer to - see this [PR](https://github.com/neurodata/neurodata.io/pull/418).

[2020-12-10 22:53] loftusa opened #604 "`graspy.neurodata.io` >> `graspologic.neurodata.io`"
or at least grab the `graspologic.neurodata.io` domain name and direct it to our docs.

[2020-12-11 00:13] bdpedigo commented on #604
Is https://graspologic.readthedocs.io/en/latest/ now, thought the netlify is still running for the old thing. Just havent turned it off because we dont have the PR previews set up for RTD.

[2020-12-11 00:13] #604 closed

[2020-12-11 03:05] PerifanosPrometheus commented on #603
Yes, my plan is to add as input the random.number.Generator to the sample_edges. If this input isn't given  that function work as it is , if the input is given than use the provided object.

[2020-12-14 02:53] alyakin314 commented on #447
i'll update the list some time very soon.

[2020-12-14 20:20] bdpedigo commented on #531
specifically for closing this issue with regard to graspologic, by mid-next week (12/23) I will:
- [ ] make the dedicated roles/responsibilities page more visible, either in wiki or preferably on the docs or higher up in github
- [ ] make sure we have a healthy dose of good first issues and add us to at least one of those references Sambit linked
- [ ] at least make a specific issue for graspologi

[2020-12-16 14:50] bdpedigo commented on #371
high level pseudocode
- run agglomerative with all options for the smallest `n_components`
   - from this we can also extract labels for the non-smallest `n_components` because of the hierarchical nature of `Agglomerative` (@tliu68 called this `_hierarchical_labels()` in her code)
- make a list of params combining GM and Agg - so gm params cross agglomerative params/models
- dispatch (possibly in

[2020-12-17 14:04] bdpedigo opened #608 "Add unscaled option for embeddings (at least ASE/LSE)"
## Is your feature request related to a problem? Please describe.
Working on something now where I often want the unscaled version of the ASE/LSE embedding, that is, just the left or right singular vectors without scaling each by sqrt(singular value).

## Describe the solution you'd like
Would like a `scaled=False` keyword argument, default kept as it is.

## Describe alternatives you've considere

[2020-12-17 14:33] bdpedigo opened #609 "[BUG] Deprecation warning in AutoGMM"
## Expected Behavior
No warning

## Actual Behavior
Deprecation warning in `AutoGMM`

## Example Code
[code]

## Full Traceback
[code]

## Solution
Caused by https://github.com/microsoft/graspologic/blob/8d7d29f0e569de4b1969d3b1aed8d47168aa6a96/graspologic/cluster/autogmm.py#L14

Just need to replace that decorator with a simple
[code]
(I think)

[2020-12-18 21:00] #309 closed

[2020-12-21 20:10] dwaynepryce opened #612 "Add more configuration options to automatic layouts"
The automatic layout functions in #611 have limited configurability. Only a few of the parameters for either down projection are available, and none of them are available on the node2vec portion. We should consider exposing these, either by exhaustively listing all of the parameters available on node2vec, umap, and tsne, or by accepting a dictionary of named parameters for each call so someone who

[2020-12-21 20:10] dwaynepryce opened #613 "Tutorial / Examples for automatic layouts"
A jupyter notebook tutorial for automatic layouts would be super useful, along with the graphs rendered.

[2020-12-21 20:14] dwaynepryce opened #615 "Seed automatic layout generation"
So many parts of the layout generation process use random number generators behind the scenes. We should update our current algorithm to use a user provided seed so we can get deterministic output.

[2020-12-22 19:42] bdpedigo commented on #504
Added the good first issue label - if any newcomers are reading this, adding type hints to any functions/classes (doesn't have to be all of them!) would be much appreciated.

[2020-12-22 19:42] bdpedigo commented on #464
we should not be filtering these warnings by default just from importing the package

[2020-12-22 19:43] bdpedigo commented on #524
one temporary measure could just be renaming the file in `.models` to something like "sbm_estimators.py" (adding good first issue label)

[2020-12-22 19:55] bdpedigo commented on #531
made a PR for graspologic to be added to up-for-grabs https://github.com/up-for-grabs/up-for-grabs.net/pull/2524

[2020-12-22 19:59] bdpedigo commented on #531
also made a PR to https://github.com/deepsourcelabs/good-first-issue/pull/188

[2020-12-22 21:19] bdpedigo opened #617 "Audit docs for accessibility"
Related to #531

We've been discussing making the package more accessible, including the documentation.

@rflperry took some notes on this process with regard to sphinx docs: https://github.com/microsoft/graspologic/issues/531#issuecomment-716203236

some possible concerns I thought we should look into (in reference to Ronan's points in the above):
- we may have issues with colors and lack of colo

[2020-12-22 21:31] bdpedigo commented on #531
Closing for now but happy to revisit as we get feedback or if anyone has concerns.

For now, to document all the concrete steps that we took:
   - #616 simple PR is opened for adding an explicit "Roles" page, which will be more visible than having it in the wiki
   - Added graspologic to open source "good first issue" lists
      - https://github.com/up-for-grabs/up-for-grabs.net/pull/2524 merged

[2020-12-22 21:31] #531 closed

[2020-12-23 15:21] rflperry commented on #617
Yeah I struggled to find settings for sphinx but I'd love to be proven otherwise. I know that we use a non-default scheme so that may not help.

[2020-12-23 16:39] bdpedigo commented on #617
dont you use sphinx_rtd_theme? or you've made modifications to it?

[2020-12-23 19:02] dwaynepryce opened #618 "[BUG] Sklearn update breaks our unit tests"
## Expected Behavior
`make tests` should complete successfully with latest sklearn (0.24.0+)

## Actual Behavior
[code]

## Your Environment
* Python version: 3.6, 3.7, 3.8
* graspologic version: latest

While working on #611 the unit tests started failing.  I limited us to an sklearn version under 0.24.0 for that PR but we should address this and fix the upward bound in setup.py

[2020-12-23 19:58] #618 closed

[2020-12-23 20:08] rflperry commented on #617
Yeah I use sphinx_rtd_theme but wasn't able to find settings options. The closest was an installable [https://github.com/AaltoSciComp/sphinx_rtd_theme_ext_color_contrast](https://github.com/AaltoSciComp/sphinx_rtd_theme_ext_color_contrast) which makes some changes to the base sphinx which is a valid option.

[2020-12-24 22:37] darkyed commented on #609
Hi @bdpedigo ! I'm new to open source and I would like to work on this issue.

[2020-12-29 17:25] bdpedigo commented on #609
🎉 Hi @darkyed, that is great to hear! Does the issue make sense? Is there anything you need from us to get started? We are happy to help you get going on this however we can.

The goal is basically to use Python's `warnings` package to suppress `ConvergenceWarnings` in the method `fit` of the class `AutoGMM`. Currently this was done by using some code from sklearn that was private and is no longer

[2020-12-29 17:27] bdpedigo commented on #609
@darkyed I am also curious how you found our project - we have recently been trying to encourage more open source contributions by adding ourselves to a few lists of "good first issues," just curious if you found the package that way or some other way. Thanks!

[2020-12-29 22:29] jovo commented on #609
welcome @darkyed, happy to be working together!

[2020-12-30 10:59] darkyed commented on #609
Yes, I just wanted to ask a couple of things -

1. I did not find any context manager that goes like `with warnings.simplefilter():`. Instead, I used
[code]

https://github.com/microsoft/graspologic/blob/8d7d29f0e569de4b1969d3b1aed8d47168aa6a96/graspologic/cluster/autogmm.py#L380-L381

2. I removed the above decorator as you said, and I have wrapped the code inside the method `_fit_cluster` with t

[2020-12-30 11:01] darkyed commented on #609
Yes, I found it while looking for good-first issues.

[2020-12-30 18:00] bdpedigo commented on #609
1. I think you are probably right!
2. Looks right at first glance

To verify that your fix works (at least for the deprecation warning part), you can just try importing the class and verify that the deprecation warning does not occur. If you don't mind, it would be good to test with both sklearn 0.24 and 0.23.

For testing the convergence warning suppression this is a bit trickier. I will have to

[2020-12-31 21:45] darkyed commented on #609
I verified by importing, there are no deprecation warnings raised during:
[code]
I checked this for both sklearn `0.24` and `0.23`.

Should I create a pull request now?

[2021-01-01 23:39] vmdhhh commented on #615
I would like to contribute if it's ok.
Will you please direct me towards something @dwaynepryce ?

[2021-01-02 00:28] bdpedigo commented on #609
That would be great!

[2021-01-02 00:29] bdpedigo commented on #609
Let me know if you have any questions about the build checks and everything once you make the pull request

[2021-01-03 08:22] darkyed commented on #609
I have created a PR at #620. Apparently, one test is failing. How should I proceed with this?

[2021-01-04 17:13] #609 closed

[2021-01-04 17:55] bdpedigo commented on #485
kareef can you remind me, is this an issue that should be assigned to you?

[2021-01-04 17:58] bdpedigo commented on #553
closed by #616

[2021-01-04 17:58] #553 closed

[2021-01-04 18:03] bdpedigo commented on #615
@vmdhhh thanks for your interest! I can't speak to this particular issue, and the requisite code is not yet merged for this (see #611). I'll let @dwaynepryce weigh in if there are tasks for that that can be done already.

In the meantime, we do have a label for [good first issue](https://github.com/microsoft/graspologic/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) if you just want

[2021-01-04 19:19] kareef928 commented on #485
@bdpedigo yup, I plan on working on this issue after finishing #112

[2021-01-04 19:22] vmdhhh commented on #615
@bdpedigo Thanks for letting me know.
I will look into good first issues :)

[2021-01-04 19:59] asaadeldin11 opened #621 "OMNI with sparse inputs"
Allow OmnibusEmbed() to take sparse inputs, and operate internally with sparse matrices. Building off of issue #79 and PR #523

[2021-01-04 20:08] bdpedigo opened #622 "Add pronouns (if desired) in ROLES.md"
@dwaynepryce suggested that anyone who wants to should add their pronouns to the ROLES.md file. I can open a PR that we can all contribute to and merge all at once.

[2021-01-04 20:12] vmdhhh commented on #504
@bdpedigo I will start with this if it's fine.

[2021-01-04 20:14] dwaynepryce commented on #504
We have a TON of type hinting we need to do. There's a branch and open draft PR for it currently in #543. Before you start on this @vmdhhh, let me put a bow on that one as-is and then we'll actually create an issue per module, that way we don't have to worry about an all-or-nothing PR.  I'll try to get that done later today and send you a message when the new issues are up and ready for your revie

[2021-01-04 20:18] bdpedigo commented on #504
Would definitely appreciate any help with this one, thanks for your interest @vmdhhh! Agree with @dwaynepryce 's message above, but once that is taken care of I think this is a great place to start making contributions.

[2021-01-04 20:22] vmdhhh commented on #504
Ok great :)

[2021-01-05 14:47] bdpedigo opened #625 "Remove requirements from README.md"
I propose we at least remove the dependencies listed on the readme since they are very likely to get out of date as we add/remove dependencies (they currently are incorrect).

I personally don't feel like we need to replace them with anything. If we really want this somewhere, the only thing I can think of is somehow to make the docs load this up to date info from setup.py, but that feels like ove

[2021-01-05 14:48] bdpedigo commented on #625
Any thoughts @dwaynepryce @Nyecarr @asaadeldin11 @alyakin314 @j1c @loftusa

[2021-01-05 15:27] dwaynepryce commented on #625
I only like non-requirement dependencies/preconditions/whatever to be listed - things like OS or any system level packages we might need (for instance, tkinter to display renderings of a graph layout natively). Things that you would `apt install` or `brew install` or whatever - those things make sense. I'm always looking in setup.py or requirements.txt for my stuff on *any* project anyway presumin

[2021-01-05 15:32] dwaynepryce commented on #615
@vmdhhh we merged #611 in - if you want to pull latest from `dev` and take a look at where we'd need to pipe the seed down through the process, you can at any time! @bryantower and I are here if you have any questions for us about it, so let us know!

[2021-01-05 15:33] dwaynepryce commented on #504
@vmdhhh I didn't get to this yesterday; I once again hope to do it today but I'll just let you know when I have. If it isn't done by Thursday, feel free to @ me and remind me I'm forgetting something :)

[2021-01-05 16:01] vmdhhh commented on #504
@dwaynepryce Just a suggestion
Rather than creating issues per module, we can also modify the description of this issue and add checkmarks for each module.
And whoever picks a module can comment with the name to avoid rework, and we will have multiple PRs rather than a single big PR and then we can check out the modules from the description list which are merged.

[2021-01-05 17:26] #160 closed

[2021-01-06 03:27] j1c commented on #625
Fine with me. You can see it as it updates here as well (https://github.com/microsoft/graspologic/network/dependencies)

[2021-01-06 04:22] #590 closed

[2021-01-06 04:22] #595 closed

[2021-01-06 17:26] dwaynepryce opened #627 "Configure read the docs to build PR previews"
## Expected Behavior
RTD should have our latest documentation.

## Actual Behavior
It does not

I have to login and check out what is going on. A few weeks ago it was a memory issue and I'm sure that hasn't changed, but I forgot about it until today and I don't want to forget again - thus, a bug report.

[2021-01-06 18:06] bryantower commented on #615
As a place to start, random is used in a few places within the layout, I would start with the code in
graspologic/layouts/auto.py
specifically looking at layout_umap (line 97 currently) and layout_tsne (line 28 currently).  Then follow all of the methods through there to see where we may have used a random number and how we can seed the rng once before we start.

[2021-01-06 19:36] vmdhhh commented on #615
@bryantower @dwaynepryce Thanks a lot for the input.
I will start looking into this :)

[2021-01-07 17:23] dwaynepryce commented on #627
@bdpedigo @j1c

So what we're finding out now is that our docs build process takes too long. ReadTheDocs has limitations of:
- 15 mins cumulative
- 3gb of ram used
- 2 concurrent builds

What happens for sure is that we run out of memory.

[code]

One of the options we have is to split our document generation into two phases; separate tutorials out into a subproject vs. a single doc generation tas

[2021-01-07 20:02] bdpedigo commented on #627
i have no probs with that!

[2021-01-07 21:20] dwaynepryce commented on #627
I'm going to fix that stupid version file nonsense while I'm at it.

https://tenor.com/view/ingeniero-fixing-gif-7986123

[2021-01-07 23:09] vmdhhh commented on #615
Just to see If I am on the right track
I found that
- `layout_tsne`  uses `TSNE` for dimensionality reduction where we can give `random_state`
- `layout_umap` uses UMAP, where there are two possibilities, one is `random_state` and another is `transform_seed`
Am I correct going down this path? @bryantower @dwaynepryce

[2021-01-08 00:17] dwaynepryce commented on #615
I can't speak for TSNE/UMAP - @bryantower, I'm going to defer to you.
 But in addition to those, we also have:

- node2vec at https://github.com/microsoft/graspologic/blob/dev/graspologic/layouts/auto.py#L209
- leiden at https://github.com/microsoft/graspologic/blob/dev/graspologic/layouts/auto.py#L226, where we can pass in a random state https://github.com/microsoft/graspologic/blob/dev/graspolog

[2021-01-08 00:50] bryantower commented on #615
@vmdhhh, yes TSNE has the random_state, UMAP has two random seeds, the random_state, and the transform_seed.  There are also the the places that @dwaynepryce mentioned. To be complete all of those should be settable.

[2021-01-08 03:06] j1c commented on #627
Separating sounds good!

[2021-01-08 15:46] vmdhhh commented on #615
@dwaynepryce @bryantower @bdpedigo
Will you please have a look if the implementation is fine?

[2021-01-08 17:15] #464 closed

[2021-01-08 17:15] #554 closed

[2021-01-08 19:52] dwaynepryce commented on #617
Adding further complications is that we need to look at how any color changes may impact read the docs building.  I am confident we can solve this and make it accessible, but from what I've read RTD has a few nuances to it that we'll have to overcome.

I'm doing a bunch of documentation overhauling now, and I'm the primary RTD account person I'll probably be the best to work through the RTD issues

[2021-01-08 20:51] dwaynepryce commented on #627
Well, I have some information for us, but it isn't that great.

ReadTheDocs will run precisely one documentation build per repository. I'm sure I could set up another project in RTD, but the problem is I can't actually tell it (in RTD) which config file to use.  So it will just build the same documentation again.

**IF** we were to pull our tutorials into an entirely separate github repository, we

[2021-01-08 21:06] dwaynepryce commented on #627
Another alternative is to leave everything as it is and everyone does `del memory_intensive_handle_here` for every output that uses up all our available memory :)

[2021-01-08 21:12] dwaynepryce commented on #627
Watching `top` while I run this now and connectomics/mcc shot up over 3gb of usage

[2021-01-08 22:44] bdpedigo commented on #627
that does not surprise me. that tutorial is much larger/extensive than most.

regarding your proposal:

**cons:**
   - people adding functionality to the repo will have to make a separate PR for the tutorial, meaning reviews and issues will also be separate
   - (question) does updating graspologic (main repo) also trigger a rebuild for the tutorial docs also?

**pros:**
   - docs would build
   -

[2021-01-08 22:45] bdpedigo commented on #627
i've come back to this model a few times as something to at least aspire to https://documentation.divio.com/introduction/

[2021-01-10 03:56] j1c commented on #627
My only concern is if RTD cant build the current docs due to limitations of the build environment, then i dont think separating into different repos will change the fact that RTD will still run out of memory when building the notebooks. FYI, I dont mind separate repos.

Thinking about the doc generation process a bit more, I realized we are building the docs 3 different times: 1) github actions, 2

[2021-01-10 14:01] loftusa opened #631 "[BUG] giant series of runtime warnings in MCC tutorial"
https://graspy.neurodata.io/tutorials/connectomics/mcc.html
see [11]

[2021-01-11 17:38] dwaynepryce commented on #627
I had typed up a big comment, but after typing it all out I think I'm just making this too difficult. It's probably better to just publish a redirect to our `gh-pages` and handle our own documentation needs that way.

To capture my thoughts:
1: We should still split the documentation into reference generation and tutorial generation. This can lead to faster API development because we can get far f

[2021-01-11 17:39] dwaynepryce commented on #627
https://github.com/sphinx-contrib/sphinxcontrib-versioning

[2021-01-11 17:51] dwaynepryce commented on #627
https://holzhaus.github.io/sphinx-multiversion/master/index.html

[2021-01-11 19:23] #622 closed

[2021-01-11 21:19] vmdhhh commented on #504
@dwaynepryce Reminder :p

[2021-01-12 19:01] dwaynepryce commented on #504
I'm currently working on #627 and my worktree is in a ... well, a chaotic state.  As _soon_ as I wrap it up and push the branch I'll swap to the old one and get it updated with dev (there are doubtless going to be like a jillion conflicts and I don't want to push that off onto anyone else 😆 )

[2021-01-12 23:45] dwaynepryce commented on #504
@vmdhhh the really good news is I only had ONE (!!) conflict, so this should be pushed up VERY shortly!

[2021-01-12 23:54] dwaynepryce commented on #504
Okay, we're up to date!

[2021-01-13 20:27] #79 closed

[2021-01-14 18:02] v715 commented on #631
`pd.options.mode.chained_assignment = None` was supposed to suppress those warnings!

I'll add the blanket "suppress all warnings" method at the beginning

[2021-01-14 18:05] v715 commented on #631
Nevermind, these are `hyppo` warnings, but same strategy applies

[2021-01-14 22:38] #615 closed

[2021-01-17 02:04] loribeiro commented on #504
Hello, I'd be very glad if I could help with this one! How is it being organized?

[2021-01-17 22:05] #371 closed

[2021-01-19 20:47] dwaynepryce commented on #504
@loribeiro - thanks for your interest in helping out!  helping us out with chores like these helps a lot and we're deeply appreciative of your interest!

I think what we're going to do is the following:
- Post in PR #543 what module(s) you're working on (keep them small, one module per PR)
- Create a branch off of the `type-hint` branch
- Create a PR back to the `type-hint` branch and I will check

[2021-01-19 20:56] jonmclean opened #635 "[BUG] Incompatible scikit-learn version"
## Expected Behavior
When installing Graspologic into a virtual environment the code should work with dependencies specified in project.

## Actual Behavior
scikit-learn version specified by Graspologic is not compatible.  Specifically, graspologic.cluster.autogmm.py relies on sklearn.mixture._gaussian_mixture.  In older versions of sklearn the leading underscore was not there.  See this commit on

[2021-01-20 13:50] bdpedigo commented on #563
closing cause this doesnt seem a debate at this point, happy to repopen if someone disagrees

[2021-01-20 13:50] #563 closed

[2021-01-20 13:53] bdpedigo commented on #504
Awesome, welcome @loribeiro. Let us know if there's anything that is unclear or if we can help in any way, we appreciate your interest! Note also that @vmdhhh expressed some interest, so you two might want to coordinate (probably easiest to split up the modules).

[2021-01-20 19:22] bdpedigo opened #636 "Add functionality for hierarchy/flow/ranking"
Algorithms have been proposed for finding a latent ordering/hierarchy/flow through a network, which I have used in my research. A few that I don't think have implementations in standard python libraries which i have found useful:
- Signal flow algorithm, here is my blog post with [notes, code, and references](https://bdpedigo.github.io/posts/2019/12/signal-flow/)
   - would be good for someone to

[2021-01-21 01:32] loribeiro commented on #504
Thank you! I will be look into it as soon as I can

[2021-01-25 14:51] rajpratyush commented on #625
Hi all, I like to contribute to this issue if  this issue still open ??

[2021-01-25 15:11] rajpratyush commented on #586
Hi All, I would like to work on this issue if this is still open.

[2021-01-25 15:11] rajpratyush commented on #613
Can i work on this?

[2021-01-25 17:55] bdpedigo commented on #625
Hi @rajpratyush - thanks for your interest! You are welcome to work on this one, do you need any info from us?

[2021-01-25 17:56] bdpedigo commented on #586
@rajpratyush still open, yes that would be great! Do you need any more info from us?

[2021-01-25 18:00] bdpedigo commented on #613
Hi @rajpratyush - in general, I think yes (correct me if wrong @dwaynepryce) but I saw you were also interested in #586 and #625. I would recommend working on those other two before this one, because this will be a lot more work, and would require 1. you learning the automatic layout tools in the library and 2. us deciding what dataset(s) we would want to showcase for the automatic layouts tutoria

[2021-01-25 18:00] bdpedigo commented on #613
Happy to discuss more if you are interested and want to get familiar with these tools!

[2021-01-25 21:10] dwaynepryce commented on #613
Calling these functions is super easy - the big question is what graph shows us a good, reasonable layout.

An example used in other [layout algorithms](https://github.com/SciTechStrategies/OpenOrd/tree/master/examples) is an edge list based on a Yeast genome dataset (the link in the openord README is no longer valid, but they did commit the yeast edge list to https://raw.githubusercontent.com/Sci

[2021-01-26 03:06] rajpratyush commented on #613
sure @bdpedigo i will work on other so two so that i get familiar with the codebase before moving ahead with higher prder problems

[2021-01-26 03:10] rajpratyush commented on #586
yes @bdpedigo I would like to know what files needs to be changed as I don't have much experience regarding opensource, but I am willing to learn and move ahead in this journey. I would really appreciate some guidance from you as well.
Many thanks,

[2021-01-26 08:52] rajpratyush commented on #625
Yes, can you guide me lil bit as I was highly impressed by your idea of automatic updating of dependencies in case they are depreciated or updated. I am highly interested in working on this idea.

[2021-01-26 15:56] bdpedigo commented on #586
Sounds good @rajpratyush - what is your familiarity with open source thus far (e.g. git, github, making a PR, etc)?

[2021-01-26 16:01] bdpedigo commented on #586
With regard to the actual changes that need to be made, all of the functions that @loftusa mentioned are in this file: https://github.com/microsoft/graspologic/blob/dev/graspologic/utils/utils.py. @loftusa any other functions that you think should be changed?

You will need to change:
- the name of the function in the function signature
- the name of the function wherever else it appears in the li

[2021-01-26 16:03] rajpratyush commented on #586
I know all the basic git commands know how to use github creating an issue and making a PR , FORK, pushing to remote repository. The experience i lack i am deficient of is of working on large codebases @bdpedigo

[2021-01-26 16:05] bdpedigo commented on #625
Appreciate the enthusiasm, but I think for now we just want to remove the dependencies section from the README file here https://github.com/microsoft/graspologic/blob/dev/README.md#python-dependencies

[2021-01-26 16:07] rajpratyush commented on #586
Sure sir i will start my work on it tommorrow itself @bdpedigo  will keep you posted regarding the progress i have made.

[2021-01-26 16:08] rajpratyush commented on #625
Sure sir, I will do it and submit a PR tommorrow itself

[2021-01-26 18:52] jovo commented on #306
@tliu68 @PerifanosPrometheus please coordinate

[2021-01-26 19:15] dwaynepryce opened #637 "[BUG] Graspologic Layouts can fail __init__.py if `umap` is installed"
Apparently there are multiple libraries that use `umap` as their namespace. If the user has `umap` installed instead of our required `umap-learn`, environments can have unexpected results.

The actual fix for this is to `pip uninstall umap umap-learn && pip install umap-learn` to purge umap from your environment.

An argument can be made that since this is an easy trap to fall into, we should do s

[2021-01-26 19:35] bdpedigo commented on #637
This unfortunately is a common problem in Python - for instance, pip install sklearn doesn't work, which I always try to do and remember right after that it's `scikit-learn`. So I agree that there is no code fix we should do, but more than happy to have a FAQ page (especially for install issues) if someone wants to make one.

[2021-01-26 20:25] dwaynepryce commented on #637
Agreed, some problems aren't super easy to fix and I would assert shouldn't be fixed via code.

For instance, one of the users in our office tried to install everything with a brand new Python 3.9 on windows. In theory most of our stuff should work, but `llvmlite` that `numba` uses doesn't have a 3.9 wheel.  Then it jumped to trying to use sdist (which is fine!), but wouldn't build, because buildi

[2021-01-26 21:14] #635 closed

[2021-01-26 21:17] dwaynepryce opened #640 "Add all-contributors integration"
Also add a contributors.md file.  I want to make sure we keep a historical record of all the contributors to graspologic - both developers/committers as well as the people directly supporting this effort without any coding contributions.

For instance, @carolyncb and @bryantower have done a lot, and I know JHU has people too.  I don't want to rely on what is in the commit history because we have b

[2021-01-27 03:31] rajpratyush commented on #625
Please check if the changes made are correct @bdpedigo

[2021-01-27 17:54] #625 closed

[2021-01-28 18:47] PerifanosPrometheus commented on #306
@tliu68 I would like to continue working on this issue, however I noticed that PR #589 has been merged. I would like to touch back with you to have an update on changes merged.

Mainly, I believe that fixing this issue will involve modifying the param_grid dict in the previous implementation, has that been changed?

Lastly, I heard that you were planning on merging the function with sklearn(not en

[2021-01-30 14:14] loftusa opened #645 "[BUG] Seedless Procrustes reference 1 is just a TODO in the docs"
see here: https://github.com/microsoft/graspologic/blob/dev/graspologic/align/seedless_procrustes.py#L108

[2021-01-30 19:41] bdpedigo commented on #645
@loftusa would be helpful if you could provide a link to this in the code for any newcomers

[2021-01-30 22:36] loftusa commented on #645
edited original post!

[2021-01-30 22:37] loftusa opened #646 "[BUG] neurodata.io doesn't link to graspy docs properly"
not sure if this belongs as a graspy issue or a neurodata.io issue
but go [here](https://neurodata.io/graspy/) and try to click "docs"

[2021-01-31 17:03] dfrancisco1998 commented on #360
Some old work experiment from last sem https://github.com/dfrancisco1998/ndd_stuff/tree/master/sprint2 .
I am rereading the above papers and developing an experiment design, not complete yet.

[2021-02-01 03:38] rajpratyush commented on #640
@dwaynepryce Can I work on this??

[2021-02-01 03:40] rajpratyush commented on #636
@bdpedigo I would like to work on this issue. Can you me through this a bit more?

[2021-02-01 17:26] dwaynepryce commented on #640
I think it's something you will need project admin over to do, so I think it'll have to be me.  Thanks though!

[2021-02-02 04:45] rajpratyush opened #650 "Installation From Conda"
## Is your feature request related to a problem? Please describe.

While I was browsing through the docs I found out that there isn't any instructions regarding how to install the graspologic library in conda environment. As sometimes installing via pip in conda environment causes an environment error( as it is in the case of streamlit) so a separate set of instructions for installing graspologic

[2021-02-02 04:52] rajpratyush commented on #645
@bdpedigo I could not understand the issue properly. Can you explain ?

[2021-02-02 05:00] rajpratyush commented on #608
@bdpedigo I want to work on this

[2021-02-02 08:58] tliu68 commented on #601
(feature request issue to sklearn)

title: Gaussian Mixture with BIC/AIC

#### Describe the workflow you want to enable
Clustering with Gaussian mixture modeling frequently entails choosing the best model parameter such as the number of components and covariance constraint. This [demonstration](https://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_selection.html#sphx-glr-auto-examples-mix

[2021-02-02 13:38] bdpedigo commented on #650
I think adding graspologic to conda forge is a good idea if someone wants to do it.

One additional issue is that we'd want to set up a way for new releases to also be pushed to conda-forge just like they are automatically for PyPI

[2021-02-02 13:39] bdpedigo commented on #645
@loftusa can explain?

[2021-02-02 13:40] bdpedigo commented on #608
sounds good @rajpratyush ! note that some knowledge of linear algebra would be helpful here, I'm not sure what your background is?

[2021-02-02 13:42] bdpedigo commented on #636
I'm going to say lets hold off on this one for now, I was planning on having someone I work with in research work on this as it will take a lot of back and forth and we aren't quite sure what we want yet

[2021-02-02 13:47] rajpratyush commented on #650
yesss @bdpedigo as most of devs prefer to work in conda so it would be good if we add graspologic to conda-forge

should i look more into this matter??

[2021-02-02 13:51] rajpratyush commented on #608
yes @bdpedigo I love mathematics and as I am a penultimate year Engineering student highly interested in machine learning so linear algebra and statistics is in my core knowledge set so I will be able to understand if you guide me

[2021-02-02 13:51] rajpratyush commented on #636
sure @bdpedigo

[2021-02-02 13:53] bdpedigo commented on #601
looks awesome! Linking their current demonstration is a good idea. I'd also
- add how many citations some of the main MCLUST papers have
- Maybe mention something about how initialization affects the GM results quite a bit but the MCLUST approach seems relatively efficient and helpful? not sure if we need to go into these details on this initial post.

[2021-02-02 13:57] bdpedigo commented on #650
absolutely, you're welcome to. agree that having conda-forge feedstock would be nice but like I said I would mostly want to do this if we can figure out some kind of continuous integration for updating the feedstock.

[2021-02-02 14:01] bdpedigo commented on #608
https://github.com/microsoft/graspologic/blob/7213df8d26e1a5724cb136bfa3ec05d09122e818/graspologic/embed/base.py#L100 on this line in the base class, a matrix (`U`) is having its columns scaled. All we want is an option (in the base class as well as the classes that inherit from it) to not perform this scaling. So there would be a kwarg in the `__init__()` for say `AdjacencySpectralEmbed` where on

[2021-02-02 14:02] bdpedigo commented on #608
after that is done, see the link in the original comment about `MultipleASE`

[2021-02-02 14:47] rajpratyush commented on #650
lemme have a look at this @bdpedigo

[2021-02-02 15:43] loftusa commented on #645
@rajpratyush[ line 108 in the documentation for seedless procrustes](https://github.com/microsoft/graspologic/blob/dev/graspologic/align/seedless_procrustes.py#L108) has a #TODO instead of an actual reference. That should be fixed, since we shouldn't have  #TODO in the main documentation.

[2021-02-02 15:44] #586 closed

[2021-02-02 15:45] bdpedigo commented on #645
but do you know the reference @loftusa ? Agterberg's latest paper I think?

[2021-02-02 15:57] rajpratyush commented on #645
lemme go though it overnight and will push a PR in a day or two. @bdpedigo this time I wont forget to run the black code formatting tool before pushing

[2021-02-02 17:51] dwaynepryce commented on #650
I'm certainly not against this, but please keep in mind that we're going to have to make sure our downstream dependencies are there too.  Most are probably there, but the ones that JHU has written and graspologic-native may not be (def. not in the latter case, because I didn't do that).  If it's as simple as twine uploading to a different location that's fine - maybe instead of treating this as a

[2021-02-03 03:04] rajpratyush commented on #650
@dwaynepryce I understand the situation, if you can list out the current dependencies of the graspologic I can cross check if they are avilable on conda-forge or not or are they available through a new channel. meanwhile i shall also test if installing by creating a virtual environment though pip in conda works or not.

[2021-02-03 08:28] tliu68 commented on #601
if it looks good, I'll post it

[2021-02-03 13:40] bdpedigo commented on #601
looks good to me

[2021-02-04 05:50] rajpratyush commented on #650
@bdpedigo @dwaynepryce I have found how to setup a CI pipeline for continuous integration to update the feedstock there are actually 2 repositories which with which we can setup this
1) First we need to stage our package through this repo
https://github.com/conda-forge/staged-recipes

2) we need to stage the CI  pipeline for our feedstock but since I don't have much that deep idea into devops  i c

[2021-02-04 14:22] rajpratyush commented on #645
@loftusa @bdpedigo First of all, sorry for the delay I wanted to know what is the reference to be added here?

[2021-02-04 15:35] rajpratyush commented on #608
@bdpedigo will adding scaled=False in init function in the base.py will for work or not.

[2021-02-04 17:52] bdpedigo commented on #608
hi @rajpratyush, it would help me if you clarified what you dont understand about the explanation above

[2021-02-04 17:56] dwaynepryce commented on #650
I'll take a look into this today!

[2021-02-04 19:31] #646 closed

[2021-02-04 22:43] loftusa opened #653 "[BUG] Possible issue with direct import"
[code]
returns

[code]

and is missing lots of modules (align, cluster, datasets, embed, inference, match, nominate, pipeline, utils).
Is this intentional?

[2021-02-04 23:17] bdpedigo commented on #653
not intentional AFAIK

[2021-02-05 03:20] rajpratyush commented on #608
I haven't worked with kwargs and i understand the issue just i m cnfused if I just add scaled=false in __init__() function in base.py will it solve the problem? @bdedigo

[2021-02-05 15:09] bdpedigo commented on #608
you will have to add scale=False in the init, but you'll also have to modify the code on the line that I mention above that does the actual scaling.

[2021-02-05 15:30] rajpratyush commented on #608
@bdpedigo Thanks for this explanation and being so patient. I have understood it well and will push a PR by Tuesday.

btw I also wanted to know if Graspologic will participate in GSoC

[2021-02-05 16:36] dwaynepryce commented on #650
Hrm.  It sounds like it's not as self-serve as pypi (in that we'll have to push the recipe to that repo and create a PR and a human will validate and merge it eventually).  That can certainly be done, but I wouldn't want to do it for all our dev, non-release builds, and it also sounds like sometimes PRs fall through the cracks and we have to manually ask them to look at it to put it back on their

[2021-02-05 16:38] rajpratyush commented on #650
yess that's true even i was reading and asking Devs among my community but we can surely add instructions to install it in conda environment by means of virtual environment as that one works

[2021-02-05 16:42] dwaynepryce commented on #650
we can absolutely add instructions for that - we need to add wiki pages for a number of things, actually, and this sounds like a perfect example of one!

Here's our current dep list:

[code]

[2021-02-05 16:45] dwaynepryce commented on #650
@rajpratyush are a set of instructions for creating a virtualenv in conda and installing it something you can put together?  I don't ever use conda, so I'm not the best person to put something like this in place if we want it to be accurate ;)

[2021-02-05 17:00] rajpratyush commented on #650
@dwaynepryce sure I can do it. Can you assign me this issue ?

[2021-02-06 04:12] rajpratyush commented on #653
Lemme try and check if I am able to reproduce the same error

[2021-02-06 13:45] tliu68 commented on #601
### modifications to `AutoGMM`

#### top priority
- [ ] clean up input checking
- [ ] add a function for input checking and call it after fit
- [ ] modify the inheritance
- [ ] lean up L381-398
- [ ] change `results_` to be a dict
- [ ] clean up input testing
- [ ] ..

#### lower priority (under discussion)
- [ ] clean up param_grid
- [ ] rethink which step of the EM algorithm to start on
- [ ] #3

[2021-02-07 05:49] rajpratyush commented on #653
@loftusa When I tried your code into google Colaboratory I didn't faced any such error here is the screen shot attached for reference.
![Screenshot (660)](https://user-images.githubusercontent.com/53184883/107137812-1d8f1980-6936-11eb-9d82-7fd8a5fcb835.png)

but when I try the same thing in jupyter notebook I am getting an error in installing the graspologic but when I installed it via command pro

[2021-02-07 05:50] rajpratyush commented on #653
I don't know if it just in my system or not @bdpedigo @loftusa

[2021-02-07 15:05] loftusa commented on #653
hmm @rajpratyush I just pip uninstalled and then reinstalled, and now I'm getting the same list you are.
I do notice that `nominate` is still missing in both of our installations.

Not sure why my `dir` was messed up before -- @bdpedigo could you try?

[2021-02-07 15:24] bdpedigo commented on #653
does look like nominate was never added here https://github.com/microsoft/graspologic/blob/dev/graspologic/__init__.py

[2021-02-07 15:24] rajpratyush commented on #653
well I installed with pip install graspologic lemme see again if I get nominate this time or not. but why is I am not able to install graspologic in jupyter notebook

[2021-02-07 15:58] loftusa commented on #653
Looks like some `llvmlite` conflict? Try `pip uninstall llvmlite`
I also recommend installing graspologic by going to its root directory (so that `setup.py` is in your working directory) and using `pip install -e .`. That'll install the current working version, and auto-implement any changes you make to it, so that you can test stuff you change without reinstalling the package.

[2021-02-07 16:02] rajpratyush commented on #653
Sureee lemme just test again

[2021-02-07 16:03] loftusa commented on #640
I nominate @rajpratyush to be on the file, he's been contributing a lot recently! :)

[2021-02-07 17:50] loftusa commented on #653
Reopening

[2021-02-07 17:50] #653 closed

[2021-02-07 18:03] bdpedigo commented on #653
I vote close unless we have a simple reproducible example of the bug

[2021-02-07 18:11] bdpedigo opened #655 "[BUG] Layouts fail for directed graphs"
## Expected Behavior
Layouts should work with directed graphs (IMO)
Perhaps not a bug in the sense that I'm not sure we promise this works for directed, but still. If we decided to only support undirected maybe a clearer error is warranted.

## Actual Behavior
``NetworkXNotImplemented: not implemented for directed type``

## Example Code
[code]

## Full Traceback
[code]

## Your Environment
* Pyth

[2021-02-07 18:12] bdpedigo commented on #655
should discuss to what extent this should support directed graphs

[2021-02-08 02:10] rajpratyush commented on #653
Well lemme try it today if it happens againor not

[2021-02-08 09:20] rajpratyush commented on #653
got the nominate this time in google colab and in jupyter notebook as well. Hence I propose this issue can be closed.

![Screenshot (663)](https://user-images.githubusercontent.com/53184883/107198842-a2079800-6a1b-11eb-908b-dfdee85c23ad.png)
![Screenshot (664)](https://user-images.githubusercontent.com/53184883/107198850-a59b1f00-6a1b-11eb-8a4b-00772060fd4e.png)

Moreover I successfully installed

[2021-02-08 09:34] rajpratyush commented on #645
@loftusa please address to my query

[2021-02-08 09:35] rajpratyush commented on #650
@dwaynepryce I have tested that installing graspologic though virtual environment in conda via pip works well without any issue. please tell me where to put these instructions now

[2021-02-08 09:43] alyakin314 commented on #645
https://arxiv.org/abs/2012.09828

[2021-02-08 12:45] loftusa commented on #653
Great!

[2021-02-08 14:45] rajpratyush commented on #631
@loftusa is this still open??

[2021-02-08 14:46] rajpratyush commented on #612
@dwaynepryce is this issue still open for work?

[2021-02-08 14:47] rajpratyush commented on #613
@bdpedigo Can you guide on how to start with this issue now??

[2021-02-08 14:48] loftusa commented on #631
[this](https://github.com/microsoft/graspologic/pull/633) pr will close it, just needs to get merged

[2021-02-08 15:09] bdpedigo commented on #631
@v715 do you plan on wrapping this up or should @rajpratyush modify your PR? I just had one small bit of feedback on #633

[2021-02-08 15:10] bdpedigo commented on #613
I'm going to defer to @dwaynepryce on whether we know what we want for this tutorial to the extent that you could run with it?

[2021-02-08 15:11] bdpedigo commented on #608
still not sure

[2021-02-08 15:47] dwaynepryce commented on #640
Oh that goes without saying!

[2021-02-08 16:17] loftusa commented on #608
@rajpratyush

Pedigo did send out a mass communication to see if there was interest, so we will see!

[2021-02-08 16:19] rajpratyush commented on #608
well Me and my friends have shown huge interest towards graspologic and they are all willing to contribute to it in GSoC'21 @loftusa

[2021-02-08 16:27] rajpratyush commented on #613
sure @bdpedigo

[2021-02-08 16:29] rajpratyush commented on #617
@bdpedigo actually me and one of my friend are willing to join hands together and would resolve the issue if you want and tell us what kind of changes are you looking for

[2021-02-08 16:41] dwaynepryce commented on #650
https://github.com/microsoft/graspologic/wiki/FAQ can you edit that wiki?  If not, post it in markdown in this issue and I'll put it in that wiki page :)

[2021-02-08 16:59] bdpedigo commented on #617
hi @rajpratyush, that's great - as far as "tell us what kind of changes are you looking for", it would help me in general going forward if you could clarify what it is that you don't understand about these issues after reading all of the descriptions/comments/links associated with each issue. That would help me guide you in the right direction better.

In this case there are a few specific things

[2021-02-08 17:00] dwaynepryce commented on #608
I haven't responded because I have literally no idea what it entails.  I keep meaning to look into it but if there's a song and dance routine involved, I am required by law to tell you that I am forbidden from either singing or dancing in 49 of 50 states and that's only due to a technicality it isn't universal.

These hips absolutely lie.

(Joking aside, I'll figure out what's involved and whether

[2021-02-08 17:00] rajpratyush commented on #650
@dwaynepryce I can do them both just tell me the files associated with it

[2021-02-08 17:05] loftusa commented on #608
Don't worry, you can opt out of the song-and-dance routine if you opt into the olympic gladiator and cage-fighting minigame, or if you find and post a minimum of 10 embarrassing videos of yourself from early-mid high school.

[2021-02-08 17:07] rajpratyush commented on #608
@dwaynepryce lets the community decide the fate of graspologic

[2021-02-08 17:11] rajpratyush commented on #617
Yess sure @bdpedigo btw can one of my friend work on this as well

[2021-02-08 17:18] bdpedigo commented on #617
sure

[2021-02-08 17:26] rajpratyush commented on #617
Like jointly me and my friend together  as i feel improving the visualization will be done in a better way when more than one brains work over it @bdpedigo

[2021-02-08 17:29] #645 closed

[2021-02-08 18:12] v715 commented on #631
sorry this fell by my radar

@rajpratyush if you want to fix up the small thing @bdpedigo requested, i'd be grateful for your help!

[2021-02-08 18:54] dwaynepryce commented on #650
It's actually just the edit button in the page - upper right hand corner.

Can you see the edit button like in this screenshot? ![Screen Shot 2021-02-08 at 10 54 24 AM](https://user-images.githubusercontent.com/899411/107267627-03b80a00-69fc-11eb-943a-a03bd982c81f.png)

[2021-02-08 18:57] dwaynepryce commented on #608
@rajpratyush I'm not sure if it's that easy - let me check with the folks in charge of Microsoft's Open Source initiatives and make sure it's something we can participate in or not and I'll get back to everyone on it. There are just some decisions I'm not allowed to make on my own and this one might be one of them :)

[2021-02-08 20:57] dwaynepryce commented on #612
I would maybe instead say it's "open for thinking".

There are so many parameters to each phase of the process, all of them very reasonably a parameter we want to provide configurable access to.  But we're also quickly getting to the point where ... if you want that much configuration, you can just make your own CLI and call it with that.

Otherwise we'll have some crazy number of arguments in thi

[2021-02-08 21:02] dwaynepryce commented on #655
@bryantower - we should talk about this.  I would imagine we should be able to make layouts work for a directed graph, but maybe I'm missing something.  I know we had concerns over node2vec with directed but I'm still not convinced we actually have a problem.

Of the phases of auto layouts, we have:
- create node2vec embedding of LCC
- down project into 2d using umap or tsne
- no overlap
- leiden

[2021-02-08 21:24] bryantower commented on #655
I think the only place where undirected is really required is the Leiden portion. We should definitely be able to support a layout for directed graphs. We use the Leiden partitioning to generate the colors.

In the path specified in this bug, we should find the weakly connected component if the graph is directed and then do the appropriate transformation to make Leiden work.

[2021-02-08 21:24] bdpedigo commented on #655
if leiden is used for auto-layouts coloring I do see how that could be an issue, but dont know that it should be a breaking one - i could imagine a world where embeddings happen on the directed graph but leiden on the undirected version of that graph, cause modularity makes sense in undirected land

[2021-02-08 21:25] bdpedigo commented on #655
Seems like we're on the same page!

[2021-02-08 21:26] dwaynepryce commented on #655
Exactly, we just need to be able to call the right LCC function based on type.  As long as we're confident the rest makes sense we should be able to make this happen easily enough.

[2021-02-08 21:27] bryantower commented on #655
@dwaynepryce I agree.

[2021-02-08 21:36] bdpedigo commented on #655
https://github.com/microsoft/graspologic/blob/e6b72994f9b71ba2cfaaa2dcf0da33ebd2483ff9/graspologic/utils/utils.py#L417

https://github.com/microsoft/graspologic/blob/e6b72994f9b71ba2cfaaa2dcf0da33ebd2483ff9/graspologic/utils/utils.py#L463

these both are probably relevant - but i was also in the middle of having someone work on #112 - the idea being that scipy's LCC check is much faster than netwo

[2021-02-08 21:38] dwaynepryce commented on #655
Would be interesting to see if the time-to-convert an nx graph into a csr matrix and run that lcc check is faster than doing it all in networkx.  I'll keep you guys posted after I crunch some numbers :)

[2021-02-08 21:38] bdpedigo commented on #655
thought about that also - i bet for a big graph it might be worth it

[2021-02-08 21:44] bdpedigo commented on #655
FYI @kareef928 has been working on the conversion stuff so we'll keep him in the loop too!

[2021-02-08 22:47] emasquil opened #659 "[BUG] New hyppo version breaks graspologic import"
The new [version](https://pypi.org/project/hyppo/) of hyppo (0.2.0) causes an error when importing graspologic.

```import graspologic as gp```

The exception raises [here](https://github.com/microsoft/graspologic/blob/e6b72994f9b71ba2cfaaa2dcf0da33ebd2483ff9/graspologic/inference/latent_distribution_test.py#L19)
[code]

[2021-02-08 22:57] bdpedigo commented on #659
@alyakin314 know anything about this?

[2021-02-09 03:34] rajpratyush commented on #612
I m not an expert in this  but I do think adding too many parameter will not be a justice to it as one will have to implement it as and if some parameters are missed or misplaced, it can create whole another world of errors. I would go for building your own CLI and i suggest we could add instructions on how to build your own CLI.

another solution is also there in my mind as well but since I don't

[2021-02-09 03:35] rajpratyush commented on #608
@dwaynepryce surely

[2021-02-09 03:42] rajpratyush commented on #650
@dwaynepryce No its not visible here in my forked repo

[2021-02-09 04:27] rajpratyush commented on #631
@bdpedigo @loftusa  solved your issue and will create a new PR for this

[2021-02-09 14:18] dtborders commented on #544
Dod:

- Recreate Figure 1 from [this paper](https://arxiv.org/pdf/1802.06307.pdf) for this [code](https://github.com/neurodata/primitives-interfaces/tree/master/jhu_primitives/ooslse)
- Recreate the same figure with graspy with the OOS LSE I will add. If the figures have the same distributions, then the models are identical so we are good to go.
- Modify Alex's relevant tests for OOS ASE to also t

[2021-02-09 17:04] dwaynepryce commented on #650
Ah yes, it won't show on forked repos - it would be in this repo / project specifically.

let's just do this: put the instructions in a response to this ticket in a code block and I'll copy/paste them in for you, then we should be good!

[2021-02-09 17:06] dwaynepryce commented on #659
This is always going to be a risk for every library, but especially so if we're using private modules/functions from other libraries

[2021-02-09 17:06] rajpratyush commented on #650
Surely I will add do it tommorrow in morning itself @dwaynepryce

[2021-02-09 17:13] alyakin314 commented on #659
i do not.

@sampan501 how we avoid?

[2021-02-09 17:14] alyakin314 commented on #659
i take it that we must be using this now:

https://github.com/neurodata/hyppo/blob/409022ccf3f41bb7355115db18f97b02dedf08bd/hyppo/tools/common.py#L119-L181

[2021-02-09 17:36] dwaynepryce commented on #637
FAQ page created, entry added.

[2021-02-09 17:36] #637 closed

[2021-02-09 18:39] dwaynepryce commented on #659
augh that was a mistake - thanks @bdpedigo!  The closing keyword in #660 was too helpful.

[2021-02-09 19:03] loftusa opened #664 "[BUG] graspy.neurodata.io no longer exists"
graspologic.neurodata.io doesn't work either

[2021-02-09 19:05] loftusa opened #665 "documentation organization"
[why are the tutorials flat now in the sidebar?](https://microsoft.github.io/graspologic/tutorials/index.html)
(feels less organized)

also, there's no way at first glance to get back to the documentation home page when you're in the tutorials section.

It also redirects to an entirely different site from homepage>tutorials (readthedocs.io > microsoft.github.io/).

[2021-02-09 22:49] dwaynepryce commented on #665
Tutorials and reference docs are different beasts now.  One gets published to readthedocs, the other gets published to github.

There's no real good way to get GH pages to do versioning of reference docs and tutorials all in one fell swoop like RTD does, and tutorial generation fails on read the docs because it has resource limits we're really close to running afoul of (memory constraints of 3gb,

[2021-02-10 04:26] rajpratyush commented on #650
**Step 1: Check if conda is installed in your path.**

 `conda -V`

**Step 2: Update the conda environment**

`conda update conda`

**Step 3: Set up the virtual environment**

- Type conda search “^python$”  to see the list of available python versions.
- Now replace the envname with the name you want to give to your virtual environment and replace x.x with the python version you want to use.

`co

[2021-02-10 04:27] rajpratyush commented on #650
@dwaynepryce here you go

[2021-02-10 05:56] rajpratyush commented on #584
@bdpedigo can I work on this??

[2021-02-10 12:58] tliu68 commented on #601
Indeed, `GridSearchCV` would be helpful for sweeping over the parameters. However, taking into account the number of parameters one can define and the process of computing initial parameters, we believe that the model selection for GMM may merit a new class. Here is one possible implementation:

- **initialization**: in addition to random inits and kmeans, we would like to incorporate hierarchical

[2021-02-10 13:57] bdpedigo commented on #584
im not sure, may need some admin access to be able to set this stuff up.

[2021-02-10 14:23] bdpedigo commented on #601
Just to briefly clarify the mclust algorithm (what we are proposing to implement here):

1. run agglomerative clustering (with different options for linkage, affinity, etc.) to generate a set of initial labelings. The same run of agglomerative clustering can be used for various levels of `n_components`.
2. fit `GaussianMixtures` using the various different parameters. roughly this amounts to sweep

[2021-02-10 14:30] rajpratyush commented on #650
@dwaynepryce regarding wiki we should also add this in the wiki.
error in installing graspologic due to llvmlite

[2021-02-10 14:47] rajpratyush commented on #565
@bdpedigo can I assist you with this?

[2021-02-10 14:48] rajpratyush commented on #524
@bdpedigo can i work on this??

[2021-02-10 15:05] #631 closed

[2021-02-10 15:06] bdpedigo commented on #524
can ask @loftusa if he has a solution in mind

[2021-02-10 15:06] bdpedigo commented on #565
not at the moment @rajpratyush, but thanks

[2021-02-10 15:13] rajpratyush commented on #565
I think how about a detailed summary of the docs website of graspologic @bdpedigo
like going through each page and making important notes from them and then compiling them together

[2021-02-10 15:14] rajpratyush commented on #524
@loftusa tell me your views on this

[2021-02-10 15:19] rajpratyush commented on #584
I think @dwaynepryce can clarify on this

[2021-02-10 16:34] dwaynepryce commented on #650
Agreed, I just didn't want to do it until I had instructions for 3.9 for windows, mac, and linux.  Blergh.

Regardless, instructions for installation from conda are now included on the wiki!  Thank you @rajpratyush!

[2021-02-10 16:34] #650 closed

[2021-02-10 16:35] dwaynepryce opened #667 "[BUG] Add nyecarr to contributors list"
We should add nyecarr to the contributors list.

[2021-02-10 16:36] dwaynepryce commented on #667
@all-contributors please add @Nyecarr for code!

[2021-02-10 16:36] dwaynepryce commented on #667
yes I know that allcontributors, I wanted you to make it >:[

[2021-02-10 16:38] dwaynepryce commented on #667
@all-contributors please add @Nyecarr for code!

[2021-02-10 16:38] rajpratyush commented on #650
@dwaynepryce I can test that and work on it if you want to check installation issues due to llvmlite on python 3.9 furthur I think we might get errors in running graspologic is the hyppo version is > 0.13 specifically at version 0.20.0

[2021-02-10 16:38] dwaynepryce commented on #667
![image](https://user-images.githubusercontent.com/899411/107540840-5bc94a80-6b7b-11eb-90ac-f1fa64c8e4a2.png)

[2021-02-10 16:39] dwaynepryce commented on #667
@all-contributors please add @Nyecarr for code!

[2021-02-10 16:41] dwaynepryce commented on #667
![image](https://user-images.githubusercontent.com/899411/107541173-b498e300-6b7b-11eb-8450-76a260d8f013.png)

[2021-02-10 16:45] dwaynepryce commented on #667
maybe I need to delete all the contributors from the list first?

[2021-02-10 16:46] dwaynepryce commented on #667
@all-contributors please add @Nyecarr for code!

[2021-02-10 16:47] dwaynepryce commented on #667
@all-contributors please add @Nyecarr for code!

[2021-02-10 17:45] dwaynepryce commented on #667
@all-contributors please add @Nyecarr for code!

[2021-02-10 17:47] dwaynepryce commented on #667
I'm having a great time let me tell you

@all-contributors add @Nyecarr for code

[2021-02-10 17:55] dwaynepryce commented on #612
I think we can probably add some more configuration options, like adding random seed to the cli and a few other odds.  I'm just going to leave this open to stew and collect specific ideas and at a certain point we can enact them and close it out

[2021-02-10 18:13] dwaynepryce commented on #667
@all-contributors add @Nyecarr for code

[2021-02-10 18:21] dwaynepryce commented on #667
I'm so over this

@all-contributors add @Nyecarr for code

[2021-02-10 18:23] dwaynepryce commented on #667
@all-contributors add @Nyecarr for code

[2021-02-10 18:29] dwaynepryce commented on #667
oh thank god I finally have a table to look at.

I was trying to add something that let us make these changes without triggering a CI build but the branch protection rules are expecting those CI build steps and is balking at letting me merge.  I really think that's fine but I'd love to actually not have those trigger either.  I mean, I'm good enough at ignoring things when it suits me, but it'd be

[2021-02-10 18:33] dwaynepryce commented on #667
I'm going to try to add multiple users at once and see how it goes.

@all-contributors add @Nyecarr @dwaynepryce for code

[2021-02-10 18:34] dwaynepryce commented on #667
I have had better days

[2021-02-10 18:35] #667 closed

[2021-02-10 18:36] dwaynepryce opened #674 "Add Contributors to List"
This will be the one issue where I include all of the contributors that have contributed up to this date

[2021-02-10 18:38] dwaynepryce commented on #674
@all-contributors add @asaadeldin11 for code

[2021-02-10 18:39] dwaynepryce commented on #674
@all-contributors add @alyakin314 for code

[2021-02-10 18:39] dwaynepryce commented on #674
@all-contributors add @AnshuTrivedi for code

[2021-02-10 18:39] dwaynepryce commented on #674
@all-contributors add @bdpedigo for code

[2021-02-10 18:39] dwaynepryce commented on #674
@all-contributors add @bryantower for code

[2021-02-10 18:40] dwaynepryce commented on #674
@all-contributors add @bvarjavand for code

[2021-02-10 18:40] dwaynepryce commented on #674
@all-contributors add @carolyncb for projectmanagement

[2021-02-10 18:41] dwaynepryce commented on #674
@all-contributors add @CaseyWeiner for code

[2021-02-10 18:41] dwaynepryce commented on #674
@all-contributors add @darkyed for code

[2021-02-10 18:41] dwaynepryce commented on #674
@all-contributors add @dfrancisco1998 for code

[2021-02-10 18:41] dwaynepryce commented on #674
@all-contributors add @dtborders for code

[2021-02-10 18:42] dwaynepryce commented on #674
@all-contributors add @dwaynepryce for code

[2021-02-10 18:42] dwaynepryce commented on #674
@all-contributors add @ebridge2 for code

[2021-02-10 18:42] dwaynepryce commented on #674
@all-contributors add @emasquil for code

[2021-02-10 18:42] dwaynepryce commented on #674
@all-contributors add @falkben for code

[2021-02-10 18:42] dwaynepryce commented on #674
I wonder if I can add multiple requests in a single post.  let's test.

[2021-02-10 18:43] dwaynepryce commented on #674
@all-contributors add @gkang7 for code
@all-contributors add @hhelm10 for code

[2021-02-10 18:43] dwaynepryce commented on #674
@all-contributors add @gkang7 for code

[2021-02-10 18:43] dwaynepryce commented on #674
@all-contributors add @hhelm10 for code

[2021-02-10 18:43] dwaynepryce commented on #674
@all-contributors add @idc9 for code

[2021-02-10 18:44] dwaynepryce commented on #674
@all-contributors add @j1c for code

[2021-02-10 18:44] dwaynepryce commented on #674
@all-contributors add @jdey4 for code

[2021-02-10 18:44] dwaynepryce commented on #674
@all-contributors add @jheiko1 for code

[2021-02-10 18:44] dwaynepryce commented on #674
@all-contributors add @jonmclean for code

[2021-02-10 18:44] dwaynepryce commented on #674
@all-contributors add @Jingyan230 for code

[2021-02-10 18:44] dwaynepryce commented on #674
@all-contributors add @kareef928 for code

[2021-02-10 18:45] dwaynepryce commented on #674
@all-contributors add @kikiwink for code

[2021-02-10 18:45] dwaynepryce commented on #674
@all-contributors add @loftusa for code

[2021-02-10 18:45] dwaynepryce commented on #674
@all-contributors add @pauladkisson for code

[2021-02-10 18:46] dwaynepryce commented on #674
@all-contributors add @PerifanosPrometheus for code

[2021-02-10 18:46] dwaynepryce commented on #674
@all-contributors add @PSSF23 for code

[2021-02-10 18:46] dwaynepryce commented on #674
@all-contributors add @rajpratyush for code

[2021-02-10 18:46] dwaynepryce commented on #674
@all-contributors add @rflperry for code

[2021-02-10 18:47] dwaynepryce commented on #674
... I just realized I need to merge each one before I go to the next because we asked it to alphabetize.

[2021-02-10 19:10] dwaynepryce commented on #674
So this entire issue was useless and I figured out how to use the CLI to add everyone instead of using this.

the all-contributors bot will work well enough going forward but it was going to be an absolute nightmare to use it to get everyone added initially.

[2021-02-10 19:10] #674 closed

[2021-02-10 19:10] dwaynepryce commented on #640
This is done

[2021-02-10 19:10] #640 closed

[2021-02-10 20:37] dwaynepryce commented on #627
This actually is working now, and more importantly, the callback is working.  I need to enable RTD to show PR builds to us as well so that we can view those documents ahead of time.

I don't know what the right call is for building the tutorial documentation. We could probably zip it up in the tutorial task and register it as an artifact and that might allow us to download it, then we could finall

[2021-02-10 21:38] loftusa commented on #524
@rajpratyush I agree with @bdpedigo 's idea about renaming the file in `.models`. Will have to be careful about making sure that everything else gets refactored properly, since I'm assuming a lot of files import it.

[2021-02-11 02:55] rajpratyush commented on #524
@bdpedigo @loftusa  shall I work on it?

[2021-02-12 20:13] loftusa commented on #524
sure!

[2021-02-13 05:00] rajpratyush commented on #524
I want to files that requires modification

[2021-02-13 22:57] loftusa opened #707 "[BUG] Two conf.py files"
why is there a conf.py file both

[here](https://github.com/microsoft/graspologic/blob/dev/docs/reference/conf.py)
and
[here](https://github.com/microsoft/graspologic/blob/dev/docs/tutorials/conf.py)

cause I think it's causing issues with my pytest?
<img width="1238" alt="Screen Shot 2021-02-13 at 5 56 46 PM" src="https://user-images.githubusercontent.com/12386450/107863767-e84a6600-6e24-11eb-867

[2021-02-13 23:01] loftusa commented on #665
I think the biggest issue atm is that if you're [here](https://microsoft.github.io/graspologic/tutorials/index.html), I don't think there's a way to get back to the homepage?

[2021-02-14 04:26] rajpratyush commented on #707
@loftusa now As you have mentioned of When I was about to merge my first commit Ben suggested me to use black at that time I had also ran this pytest and  it had gave me a lot of errors which had been in my my since. so what kind of fix do you suggest for this? will renaming and then finding what other files use the conf.py of tutorial section and modifying it as well work?

[2021-02-14 04:28] rajpratyush commented on #665
even though we have a home icon but I think it should be enlarged and then added a hyperlink to the icon

[2021-02-16 02:22] sampan501 commented on #659
My bad, I refactored heavily, all those functions should be in tools. See: https://hyppo.neurodata.io/api/generated/hyppo.tools.compute_kern.html#hyppo.tools.compute_kern

[2021-02-16 05:13] PerifanosPrometheus commented on #602
@bdpedigo  I may be interested in working on this one. Alternatively, I am also interested in #372. I would totally understand that given the limited time of the course and the nature of these experimental issues you would prefer if I worked on different issues. In which case I could take on #456

[2021-02-17 20:25] loftusa commented on #707
I'm not sure. In my local branch I just deleted one of the `conf.py` files (since there are two) and it fixed my pytest. I'm not sure if deleting one of them would cause issues in the main branch. Maybe @dwaynepryce or @bdpedigo knows?

[2021-02-17 20:28] dwaynepryce commented on #707
I would simply suggest not calling `pytest` from the root.  If you want to call exactly what the github actions call, take a look at the commands in `Makefile` in the root: https://github.com/microsoft/graspologic/blob/dev/Makefile#L14

[2021-02-19 13:53] bdpedigo commented on #608
Hi @rajpratyush - unfortunately doesn't look like we'll be participating in GSoC this year, we didn't have anyone on our end that had the bandwidth to take on any mentees.

[2021-02-19 13:55] rajpratyush commented on #608
@bdpedigo i dont care if graspologic comes in gsoc or not i will be actively contributing to it just i hoped with gsoc i will be able to showcase my work to my resume

[2021-02-19 16:20] dwaynepryce commented on #608
@rajpratyush if there's any other ways we can help you highlight your contributions for your resume, let us know.  We really appreciate your contributions and work on this project with us - you've cleaned up so many of our "we want to get to this but don't know when we'll have the time" tasks that we'd be way worse off without all the help you've given.

So if there's some other way we can assist,

[2021-02-19 16:27] rajpratyush commented on #608
@dwaynepryce just keep me guiding and mentoring so that one day I could be a collaborator to this project. That will be enough.
I would really be grateful if you help me out gaining an internship. Most companies filter out tier 3 college guys in india

[2021-02-25 02:54] bdpedigo commented on #665
I agree w/ @loftusa about the old organization, @dwaynepryce are you saying you know exactly how to revert that organization to what it was?

[2021-02-25 03:11] bdpedigo opened #711 "Speed up tests"
## Is your feature request related to a problem? Please describe.
Tests take >30 mins to build

## Describe the solution you'd like
Tests to take <15 or <10 mins?

## Additional context
Not sure if this is a difference caused by switching over to use github to build everything, or if we have just added so many new features that we have way more tests, but I feel like we could cut back on some of t

[2021-02-25 03:28] bdpedigo opened #712 "Make netlify build status report not required to merge"
## Is your feature request related to a problem? Please describe.
Would like to keep the netlify build from blocking a merge cause it can take a while for status to be reported and we are already building the docs via github anyway

## Additional context
Don't think I am able to modify these settings (i did see anything as part of our workflows so i figured this was just a github setting). Maybe s

[2021-02-25 05:22] rajpratyush commented on #712
@bdpedigo  I think this article might help
 https://docs.netlify.com/site-deploys/overview/#branch-deploy-controls

[2021-02-25 14:13] rajpratyush commented on #712
@bdpedigo Correct me if wrong but I guess we have some like
`deploy/netlify   Expected -- waiting for the status to be reported message`

and this is already a required for building the docs and since it takes time we are not able to merge the PR by then.

I have found a similar issues  answered on netlify support page do check them if it helps out

https://answers.netlify.com/t/netlify-deployment

[2021-02-25 18:24] bdpedigo commented on #712
closing as fixed by @dwaynepryce

[2021-02-25 18:24] #712 closed

[2021-02-25 19:12] #387 closed

[2021-02-25 21:33] loftusa opened #713 "Improve scaling on `simulations.sbm`"
It's currently taking me ~20 seconds to make an SBM with 1500 nodes with
[code]
where B is a block probability matrix.
This scales poorly, especially for experiments in which we need to generate lots of large SBMs.
Speeding up this simulation to scale better would be super nice

[2021-02-25 21:56] bdpedigo commented on #713
a few thoughts:
- networkx has an SBM sampler, have never tried to compare them
- if the SBM is sparse, we aren't leveraging that at all here. I have never looked into it much but i know of at least one paper all about it https://www.jmlr.org/papers/volume19/17-128/17-128.pdf

[2021-02-25 22:58] #707 closed

[2021-02-28 17:59] loftusa commented on #711
incorporate more `joblib`

[2021-02-28 18:02] loftusa opened #717 "Require python >=3.8?"
I want to be able to use [assignment expressions](https://www.python.org/dev/peps/pep-0572/)  and [positional-only parameters](https://www.python.org/dev/peps/pep-0570/) in my code
I don't think I can safely if we still support python<3.8? Or is that wrong?

[2021-03-01 00:10] bdpedigo commented on #711
sure to fixtures or any other computationally smart stuff

what i meant was lets literally make them less computationally burdensome (fewer samples, smaller data, etc.)

[2021-03-01 00:12] bdpedigo commented on #717
personally I'm against this, 3.7 seems pretty widely used still and these seem like relatively small reasons to switch

[2021-03-01 10:23] rajpratyush commented on #717
@loftusa there is no way we can use assignment expressions and positional only arguments in python 3.7 because there is no `__future__` import for assignment expressions in Python 3.7 – and adding one in a micro (or "bugfix") release is prohibited by **PEP 6**:

Since assignment expressions constitute a change to the syntax of Python, there's no way they can be added to a future 3.7.x release of P

[2021-03-01 13:42] bdpedigo commented on #711
just as an example https://github.com/microsoft/graspologic/blob/bfcfde4bbb9b4ac251596eb9ebcb3b9496f3446e/tests/test_sims.py#L906

[2021-03-01 16:36] dwaynepryce commented on #717
To add to more frustration, I'm loathe to say we should admit support for 3.9 since the numba->llvmlite chain only has binary wheels built for up to 3.8.  There are sdists that should work for 3.9, but that opens a can of "this is how you build for python 3.9 on windows / mac / linux" instructions and I swear they change every single time.

Put another way, if we said >= 3.8, we'd also have to be

[2021-03-01 16:43] bdpedigo commented on #717
I motion to close this for now, any objections?

[2021-03-01 16:49] bdpedigo commented on #717
happy to reopen if someone has good reason to 😄

[2021-03-01 16:49] #717 closed

[2021-03-01 20:17] daxpryce opened #720 "Combined, Versioned Documentation Site"
# Problem Description
We want to get to a place where our reference documentation and tutorial documentation is *versioned*, *tightly linked*, and *easily displayable*.

## Secondary Issues
ReadTheDocs does not have the resources available at the free tier to consistently build both our tutorial documentation and our reference documentation (15mins and 3gb of memory, respectively).

We (or rather,

[2021-03-01 20:21] daxpryce opened #721 "Release Notes"
# Problem

We need to capture release notes in our process.  We're not doing that right now.  What's should we do?  Are there any tools that can help us?  We have a bespoke CICD process - what will we need to change to incorporate new tooling?

## More Details

Taking the PR titles doesn't seem to be a useful thing.  I don't really want to rely on those as our change notes.  Some other teams I kno

[2021-03-02 08:01] rajpratyush commented on #721
@dwynepryce

Generally this sort of thing is done by issue tracking software. You track every new feature, every bugfix and every enhancement, assign them to a release and then generate release notes from the descriptions.

If you are using maven, there is a the maven changes plugin(http://maven.apache.org/plugins/maven-changes-plugin/index.html) for this purpose and producing this report could th

[2021-03-02 08:06] rajpratyush commented on #721
@dwaynepryce One good article to refer to for auto generation of the release notes.

https://willys-cave.ghost.io/auto-generating-release-notes-in-azure-devops-pipelines/

[2021-03-02 08:34] rajpratyush commented on #720
@dwyneprce I think we should explore the idea of having a graspologic repository as with time we will be adding new features to the repository and then documenting all that reference will again turn out to be a slow process.

Yes, that is actually possible. Here is the link  to a article I was reading on Medium.

https://marekpukaj.medium.com/build-with-github-actions-host-on-netlify-ebf5fa505616

[2021-03-03 00:38] loftusa commented on #720
I like this issue! I appreciate your multi-paragraph issue descriptions, Dwayne 🙂

I think (although am not sure) that we have the paid version of netlify, which might be nice given how much of a struggle building the documentation has become. I haven't really dove deeply into the details of how things are currently set up on a technical level since we started doing splitting up the tutorials and

[2021-03-03 14:52] rajpratyush commented on #720
@loftusa I cannot understand this. can you explain a bit more if you have some free time.

not sure on this. but there is a tool named lighthouse by google though which we can assess any web page's page experience and access valuable tips to improve its performance.

[2021-03-03 15:37] loftusa commented on #720
yeah, see #665.
I mean that the sidebar [here](https://microsoft.github.io/graspologic/tutorials/index.html) doesn't have subsections (the tutorials aren't grouped into "Model", "Simulations", etc)

and also that if you go [here](https://graspologic.readthedocs.io/en/latest/), then click "tutorials", there's no way to get back to the main page

[2021-03-03 16:08] bdpedigo opened #724 "Improve new matrix plotting code"
## Is your feature request related to a problem? Please describe.
We recently added some code for plotting matrices with metadata (see matrixplot and adjplot). There are some issues I already know about, including:
- [ ] the brackets that are drawn to indicate "grouping" don't look great, and are missing the last tick for example.
- [ ] there is no option to move or turn off the large labels corre

[2021-03-03 16:46] rajpratyush commented on #720
@loftusa I propose to add a second level to the left sidebar which is an easy sphinx fix. I guess I had proposed it earlier too in some issue  I don't remeber exactly which one though.
Just we need to first organise the reference and and tutorials into subsections before implementing this fix.

Please let me know if you interested in this approach

[2021-03-03 21:06] loftusa commented on #720
Yeah, sounds good to me, just need to add a link back to the main page as well and then we're golden

[2021-03-04 05:37] rajpratyush commented on #720
@loftusa When shall we begin working on this?

[2021-03-04 19:44] kareef928 commented on #579
I'd be interested in this issue

[2021-03-05 05:08] rajpratyush commented on #524
@loftusa need your guidance ?

[2021-03-05 15:05] loftusa commented on #524
Sorry, I'm a little confused on what you mean by "I want to files that requires modification" - could you clarify?

[2021-03-05 15:10] rajpratyush commented on #524
@loftusa no actually I forgot actually you told me some to clear off the branch after it gets merged due to my exams can you tell me that again?  I want to clear off the branch after pushing a PR.

[2021-03-09 02:21] loftusa opened #725 "Binary SBM colorbar?"
I have code that makes heatmaps look like this.
<img width="557" alt="Screen Shot 2021-03-08 at 9 20 16 PM" src="https://user-images.githubusercontent.com/12386450/110408815-32a1ba00-8054-11eb-9f46-7724de93125d.png">
Pretty straightforward, but the colorbar might be convenient. Do we want it in graspologic? it'd be something like a `binary_cbar` parameter on `heatmap`.

[2021-03-09 02:50] bdpedigo commented on #725
is this the same as https://github.com/microsoft/graspologic/issues/592?

in any case im fine with it, lets just close this issue or the other. still not sure about whether it should be automatic, tho

[2021-03-09 02:54] bdpedigo opened #726 "Make matplotlib version spec more specific"
## Is your feature request related to a problem? Please describe.
- A while ago we specified specific matplotlib versions (see https://github.com/microsoft/graspologic/pull/402)
- this was due to an error with a specific matplotlib version and I think something with seaborn
- this has since been fixed in subsequent versions of matplotlib

## Describe the solution you'd like
- we should figure out

[2021-03-09 03:05] loftusa commented on #725
oh yeah, woops, forgot I made that, I'll just post that in there

[2021-03-09 03:05] #725 closed

[2021-03-09 03:07] loftusa commented on #592
I have code that looks like this

<img width="557" alt="Screen Shot 2021-03-08 at 9 20 16 PM" src="https://user-images.githubusercontent.com/12386450/110408815-32a1ba00-8054-11eb-9f46-7724de93125d.png">

could add something like a `binary_cbar` parameter on `heatmap` if we wanted for it

[2021-03-09 03:29] bdpedigo commented on #592
happy to have if you find useful, maybe would recommend it being smaller, and possibly something like "edge/no edge".

for now I'd just say let's keep it as an option and not check for this automatically?

[2021-03-09 08:21] dtborders opened #727 "Add Laplacian Spectral Embedding Tutorial"
# Is your feature request related to a problem? Please describe.
1) There is currently not a tutorial for laplacian spectral embedding.

# Describe the solution you'd like
1) A tutorial that has the same depth as ASE should be added. Tutorial should give some common examples of LSE usage.

[2021-03-09 08:21] dtborders commented on #727
@bdpedigo could I please be assigned to this?

[2021-03-09 08:25] dtborders commented on #727
@loftusa also had an interesting idea, we could combine the two tutorials into one: [comment](https://github.com/microsoft/graspologic/pull/722#discussion_r588615415)

[2021-03-09 12:29] bdpedigo commented on #726
just make sure it passes all of our tests with that version of matplotlib installed. i think the answer will be that 3.3.1 is the only bad one.

also, im not sure, but you might have to look at whether seaborn version matters too. you can look at the original issue in seaborn that i linked in that PR.

[2021-03-09 16:05] loftusa commented on #592
what do you mean by this?

[2021-03-09 17:11] bdpedigo commented on #592
instead of 0 / 1

[2021-03-09 17:13] bdpedigo commented on #592
yes

[2021-03-11 03:29] loftusa opened #730 "text showing source/target nodes in heat map"
@jovo wants the default setting in plot.heatmap to explicitly say which nodes represent source nodes and which represent target nodes in directed graphs

[2021-03-13 18:04] kareef928 commented on #520
@bdpedigo this is the motivation for the second simulation I plan to run

@alyakin314 can you confirm that the second simulation I plan to run corresponds with what we want?

[2021-03-14 21:55] aaitbr commented on #558
hey @bdpedigo I am new, i want to contribute to this project, can i work on this ? With your guiding if it's possible ?

[2021-03-15 04:36] rajpratyush opened #731 "[Question] Is graspologic incompatible with matplotlib==3.3.4?"
This is our forum for asking whatever network question you'd like!  No need to feel shy - we're happy to talk about graphs!
![Screenshot (703)](https://user-images.githubusercontent.com/53184883/111104189-159a4900-8576-11eb-975c-89f4233d9a5c.png)

[2021-03-15 12:39] bdpedigo commented on #731
as far as I know that is only because of #726. the point of that issue is to remove the version spec that is causing that issue, since i am guessing everything with that version of matplotlib works fine.

[2021-03-15 13:16] bdpedigo commented on #558
hi @aaitbr, welcome! could you give us some info regarding your experience with open source (e.g. github) and python? Then we can help you get started on this.

Do you mind if I ask whether you found our project on one of the sites with "good-first-issues" or somewhere else?

[2021-03-15 13:44] rajpratyush opened #732 "Adding a copy button to code snippets"
## Is your feature request related to a problem? Please describe.
well i was browsing through the tutorial section of the documentation website. I felt that a copy button was necessary in every code snippet.

## Describe the solution you'd like
adding sphinx copy button extension to the documentation website.

## Describe alternatives you've considered
A clear and concise description of any altern

[2021-03-15 13:54] rajpratyush commented on #726
@bdpedigo do I have to run all the tests locally ?

 how to run these tests?

[2021-03-15 14:27] bdpedigo commented on #726
https://github.com/microsoft/graspologic/blob/dev/CONTRIBUTING.md#pull-request-checklist

please see contributing guidelines about running tests.

https://docs.pytest.org/en/stable/

[2021-03-16 05:52] rajpratyush commented on #713
@loftusa does this issue needs work?

[2021-03-16 10:06] aaitbr commented on #558
@bdpedigo yes sure ! so in python i'm familiar with libraries numpy, pandas & scikit-learn .. i know a little Spark, and i'm motivated and open to any learn in python to improve myself. Yes I found this project by using "good-first-issues" key, I read the documentation i liked it then i installed it.

[2021-03-16 12:21] bdpedigo commented on #731
closing as this is the issue in #726

[2021-03-16 12:21] #731 closed

[2021-03-16 13:21] tliu68 commented on #601
To clarify what we think is going on with the failing checks. One test  [`check_clustering(readonly_memmap=True)`](https://github.com/scikit-learn/scikit-learn/blob/302106bcac4476ecdd76b8c03fddb454edbcad96/sklearn/utils/estimator_checks.py#L1747) in the estimator checks triggered the following error at the [line](https://github.com/tliu68/scikit-learn/blob/ecaaf30a91a476ad4c0a7044bee1521081f8862a/

[2021-03-16 13:36] bdpedigo commented on #558
sounds good @aaitbr -

as far as this issue goes, the goal is just to reduce the amount of input checking code we have across the library by refactoring that code to a utils or assertions module.

I'm linking a few places you can see tons of input checking code:
https://github.com/microsoft/graspologic/blob/e465fa39ceb65156e3dea1d256fb566eb14aa215/graspologic/embed/base.py#L221

https://github.com

[2021-03-16 16:52] bdpedigo commented on #601
To clarify what we think is going on with the failing checks: one test in the estimator checks [`check_clustering(readonly_memmap=True)`](https://github.com/scikit-learn/scikit-learn/blob/302106bcac4476ecdd76b8c03fddb454edbcad96/sklearn/utils/estimator_checks.py#L1747) triggered the following error at the [line](https://github.com/tliu68/scikit-learn/blob/ecaaf30a91a476ad4c0a7044bee1521081f8862a/s

[2021-03-16 16:53] bdpedigo commented on #601
@jovo @tliu68 i think just a slightly simplified version above that im happy with, thoughts?

[2021-03-16 17:07] tliu68 commented on #601
I like it! I was worried about my updated one was too lengthy/wordy.

[2021-03-16 17:48] bdpedigo commented on #388
note: i dont think we have any context/ideas for what to do with this one

[2021-03-16 19:37] loftusa opened #734 "Make SVD code faster"
I've found that [scipy's implementation of the lanczos algorithm](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html) is extremely fast for finding eigenvalues and eigenvectors of a big, sparse real symmetric square matrix (I'm pretty sure more so than sklearn's `randomized_svd` or scipy's `sparse.linalg.svds`, although this all needs to be tested empirically).

in

[2021-03-16 20:05] bdpedigo opened #735 "Permute initial position when given and shuffle_input is True for graph matching"
## Is your feature request related to a problem? Please describe.
https://github.com/microsoft/graspologic/blob/e465fa39ceb65156e3dea1d256fb566eb14aa215/graspologic/match/qap.py#L428
When using a user-definited initial position, we dont account for `shuffle_input`

I think we should since otherwise the initial position is meaningless

## Describe the solution you'd like
Permute `P0` when it is giv

[2021-03-16 21:46] loftusa commented on #665
Closed due to overlap with #720

[2021-03-16 21:46] #665 closed

[2021-03-17 14:00] jovo commented on #601
remove 'also'.  otherwise, great!

[2021-03-17 14:13] loftusa commented on #713
@rajpratyush Maybe - I think the issue was primarily just with my machine at the time, but I'm sure we could still find a way to speed simulation generation up. I'll leave it to @bdpedigo to decide if it's worth pursuing. #734 might be a fun project for you too, but again, not sure at the moment whether or not it's a priority -- @bdpedigo thoughts?

[2021-03-17 15:28] rajpratyush commented on #713
@loftusa I was going through the file that you mentioned few days back and my first impression was it is evidently will be slow in execution because of too many for loops

[2021-03-17 16:17] rajpratyush commented on #734
@loftusa lanczos algorithm here refers to  the danielson lanczos lemma or lanczos method for gamma functions or is it a different thing if so please provide me some reference materials to go through

[2021-03-17 16:21] rajpratyush commented on #735
does this permutation should occur before the `atleast_2d` function? @bdpedigo

[2021-03-17 20:42] loftusa commented on #734
@rajpratyush Implicitly Restarted Lanczos Method: https://link.springer.com/article/10.1007/s11075-006-9057-z

Also see the references in scipy.sparse.linalg.eigsh: https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html#id1

[2021-03-17 21:37] bdpedigo commented on #713
If someone can generate convincing evidence that another sampling method is faster and the results are still accurate, then I'm happy to have it, though I can't commit to reviewing anything right now.

[2021-03-17 21:48] bdpedigo commented on #734
#579 is related, they have lots of this stuff i think. also i think there are some tricks for laplacians that can make them faster to decompose using linear operators (will have to look at their code for more details)

[2021-03-17 21:49] bdpedigo commented on #735
hi @rajpratyush, i think myself or @asaadeldin11 will take care of this one shortly

[2021-03-17 22:39] kareef928 commented on #520
@alyakin314 could you clarify what you mean by this?

[2021-03-19 18:52] bdpedigo opened #736 "Layouts meta-issue"
This issue is to organize some thoughts on changes I'd like to see for our layout code. Happy to have feedback.

## Is your feature request related to a problem? Please describe.
- [x] Layouts should run on directed networks (see #655). If the user wants to color by automatically detected community, then I'd suggest that we just symmetrize the graph internally (only for the community detection ste

[2021-03-19 18:55] dfrancisco1998 commented on #613
I am interested and have started looking at codebase and notes

[2021-03-19 18:56] dfrancisco1998 commented on #736
sorry. Commented on wrong one... but also interested in this one

[2021-03-19 18:58] dwaynepryce commented on #736
https://media.giphy.com/media/Fwn1auHR2LUGI/giphy.gif

[2021-03-21 18:38] dfrancisco1998 opened #738 "[BUG] Using layout_umap and getting key error"
## Expected Behavior
a graph layout using UMAP for dim reduction to 2d

## Actual Behavior
coming from layouts\auto.py
 KeyError: '2'

## Example Code
Please see [How to create a Minimal, Reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for some guidance on creating the best possible example of the problem
[code]

## Full Traceback
[code]

## Your Environment
* Py

[2021-03-22 18:20] kareef928 commented on #579
Sim setting:

Sim 1: SVD vs ASE

1. n_verts = [10, 100, 1000, 10000]
2. Generate an ER graph with n_vert vertices
3. Perform ASE and SVD on the graph (with same n_components) and save the runtimes for each
4. Repeat step 3 for 30 trials
5. Repeat steps 3-4 per n_vert in n_vertices
6. Plot stripplots for times vs n_verts for ASE and SVD

Sim 2: Spectral vs LSE
Exact same process as sim 1 except use

[2021-03-22 18:25] dwaynepryce commented on #738
The core problem going on here is a bit complicated but also very simple at the same time - the TLDR is that we need to ensure we are always treating our keys as str(key) when we do these lookups because `leiden` is 100% of the time going to give you the string representation of your node back as the ID - which is what gets put into the partitions dictionary.  I had no interest trying to get Pytho

[2021-03-22 18:32] dwaynepryce commented on #736
@bryantower what do you think about adding ASE/LSE instead of n2v?

@bdpedigo I think we should clarify what an "automatic layout" should have at the conceptual level. Automatic layout, to me, should be something that just takes a graph and spits out a reasonable and useful expression of it in 2d space with some colors that mean something, sizes that mean something, relative locations that mean so

[2021-03-22 18:33] dwaynepryce commented on #732
@rajpratyush do you know if there's anything in the sphinx ecosystem that will do this by default?  It does seem useful, and it would be useful next to every \`\`\` block, I'd think?  I don't want to do it if we have to do it manually, but if it exists as part of documentation creation it seems like an easy enough thing to add

[2021-03-22 18:43] bdpedigo commented on #579
for this i wouldnt worry about multiple runs of each embedding on the same graph. yes, there will be some variance in how long it takes to run even on the same data, but i dont think it'll be huge, and i would rather use that compute time on running 30x more graphs for example.

how are you timing everything (what commands from what libraries)?

also, note that runtime will vary depending on input

[2021-03-22 18:47] bdpedigo commented on #738
Big +1 for this, since I definitely think we should allow int or other datatypes as node keys, and this seems like the cleanest/simplest way to allow this.

[2021-03-22 18:48] dwaynepryce commented on #738
It would also fix up our modularity bug calculation too, because the types would be what you'd have expected coming back.  So that's probably the right approach

[2021-03-22 18:59] bryantower commented on #736
I like the idea of the embedding type being specified with a parameter. I am sure we could come up with a reasonable way to encode the parameters required for each of the embedding types.
I also think that having no-overlap as an option is reasonable.
I think that having reasonable defaults for all of this stuff so you can just get a decent layout is important.

[2021-03-22 19:02] bdpedigo commented on #736
Definitely down to discuss further, especially because @dfrancisco1998 is interested in working on some of this in the near futurre.

Yes, good point. I think in the above I mostly just meant "layout" so I will clarify my language above. For my use cases, I usually have node or edge metadata that I also want to understand, as well as a bunch of other considerations. So I think what I am more or le

[2021-03-22 19:09] dwaynepryce commented on #736
That's interesting that umap without overlaps doesn't have a lot of overlaps for you - in our experience it's quite the opposite!  But that is good to know - if it isn't rife with overlaps for you, then it would absolutely make sense to disable it.

[2021-03-23 02:23] bdpedigo opened #739 "Allow permutation indices as an input initialization for graph matching"
## Is your feature request related to a problem? Please describe.
I often do things where I initialize graph matching from a permutation matrix

## Describe the solution you'd like
If the user passes a 1d array to `init` treat it as a set of permutation indices, and internally construct the corresponding permutation matrix for the initial position for FAQ

cc: @asaadeldin11

This is just an idea b

[2021-03-23 03:59] rajpratyush commented on #732
Sphinx copy button allows us to do it

[2021-03-23 17:23] dwaynepryce commented on #736
so I think this is something we def. could/should do - do you want to take a stab at doing it and add @bryantower and me to the PR specifically?  it'll probably get done faster that way

[2021-03-23 17:43] dwaynepryce commented on #613
@dfrancisco1998 - make sure you message @bryantower with all of your questions.  His implementation was the original one (when I merged, I squashed everything and all of his commits were lost, but trust me when I say he is the progenitor of this approach and most questions should go directly to him.)  If there are questions about the color scheme generation or partition generation process, hit me

[2021-03-23 17:49] bryantower commented on #736
One option is to not provide defaults for ASE / LSE. The user would have to provide the proper configs for those embedding algorithms.

[2021-03-23 17:54] dwaynepryce commented on #736
Maybe a better route overall would be to offer a semi-automatic method; you bring the embedding, after that we'll take over and do the umap/tsne/nooverlap (optional)/coloring/sizing/rendering?

[2021-03-23 17:55] dwaynepryce commented on #736
At the least this would be something we could just extract out real fast and then you can bring your own embeddings that you probably have or will be generating anyway later in whatever workflow you have.  Then we can take the next step and rope ASE/LSE into the automatic portion?

[2021-03-23 18:05] dwaynepryce commented on #613
@bryantower actually, if you have any publicly available data that shows off the auto layout process from beginning to end, that may be a good place to start

[2021-03-23 21:13] dwaynepryce commented on #738
@bdpedigo blech - we generate the edge list that leiden requires in `utils.py` where we generate a `List[Tuple[str, str, float]]`.  That's reasonable as a utility, but I think a `Tuple[Dict[str, Any], List[Tuple[str, str, float]]]` is not really something the common person is going to want - but it is what I need to do to fix this.

So the question is whether I can just axe this from utils or not.

[2021-03-23 21:17] bdpedigo commented on #738
hmmm i guess i dont see why the conversion to edgelist needs to be exposed to the user? am i missing something?

Is this you suggesting we don't need the user to see/care about what leiden is really eating under the hood? If so I agree with that.

[2021-03-23 21:20] dwaynepryce commented on #738
We only exposed it before because having a quick way to write out an edge list regardless of what your current graph is was useful for us - sure it only saves like 2 lines of code, but a penny saved is a penny earned or something.  I don't know.

Regardless, it's currently in utils, and changing it to the new way is going to make it less obviously useful, so I'd rather remove it from utils entirel

[2021-03-23 21:32] bdpedigo commented on #738
totally fine with removing it from utils, personally!

[2021-03-23 22:48] bdpedigo commented on #103
GEDA
- Table of simple statistics
   - report if weighted or unweighted
   - report if directed or undirected
   - report if has loops or does not have loops
   - number of nodes (possibly in the LCC, to avoid nodes that are not "really" there, which is a common pitfall)
   - number of edges
   - density (simple function of the above to, but still nice to have a number in mind IMO)
   - maximum de

[2021-03-24 01:32] bdpedigo commented on #726
@rajpratyush just checking if you still plan on doing this one or not, if not no worries but I'd just like to know so we can get it taken care of. Thanks!

[2021-03-24 01:35] bdpedigo commented on #585
i havent seen any backing for this idea recently so im going to close for now, happy to revisit if there's momentum.

[2021-03-24 01:35] #585 closed

[2021-03-24 01:37] rajpratyush commented on #726
Indeed i am just busy in exams starting the work from 27th

[2021-03-24 01:44] bdpedigo commented on #508
closed by #600

[2021-03-24 01:44] #508 closed

[2021-03-24 01:46] bdpedigo commented on #489
Closing as I don't think of this as a graspologic issue

[2021-03-24 01:46] #489 closed

[2021-03-24 01:50] bdpedigo commented on #458
@dwaynepryce I'm trying to clean up issues, is this done? I thought we had finished with all "merge topologic into graspologic" things so please correct me if wrong!

[2021-03-24 01:50] #458 closed

[2021-03-24 01:50] bdpedigo commented on #457
merged by #578 (as far as i know)

[2021-03-24 01:50] #457 closed

[2021-03-24 01:51] bdpedigo commented on #423
closing as I think this is all in https://github.com/microsoft/graspologic/blob/dev/setup.cfg

[2021-03-24 01:51] #423 closed

[2021-03-24 01:52] bdpedigo commented on #403
closing as superseeded by #726

[2021-03-24 01:52] #403 closed

[2021-03-24 01:55] bdpedigo commented on #664
i cant tell if this is actually a bug, as the URL is just different now... if you still think there's something wrong please reopen and we can discuss what other URLs should work?

[2021-03-24 02:02] bdpedigo commented on #514
@dwaynepryce i cant remember if this one ever got fixed?

[2021-03-24 02:03] bdpedigo commented on #478
closing in favor of #721

[2021-03-24 02:03] #478 closed

[2021-03-24 02:08] bdpedigo commented on #627
if theres anything here not covered in #720 please reopen, I'm just trying to declutter cause I think we had like 5 open issues along the lines of "fix docs"

[2021-03-24 02:08] #627 closed

[2021-03-24 02:13] bdpedigo commented on #734
https://github.com/microsoft/graspologic/issues/208 is probably a smarter thing to tackle first

[2021-03-24 02:40] bdpedigo opened #740 "Make homepage cool"
## Is your feature request related to a problem? Please describe.
Lots of libraries have "cool looking" homepages with logos or graphics, makes them look legit

## Describe the solution you'd like
At least come up with a logo, ideally some cool visuals also (see #565, related)

## Provide references (if applicable)
Some references of packages with "cool looking" stuff
https://graph-tool.skewed.de/

[2021-03-24 03:08] rajpratyush commented on #732
just we need to add it to our extensions in conf.py and some minor tweaks in JavaScript  and it has been able to get us a copy button in each code snippet a own  copy button. though would have to figure out how to make it work with ipynb files. I have tried that out yet. @dwaynepryce

[2021-03-24 14:58] bdpedigo commented on #368
one option is we have an interface like scipy.stats's https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html#scipy.stats.norm

you can input the parameters of the model and sample from that distribution, or alternatively fit to data using the same object

[2021-03-25 17:19] loftusa commented on #664
I mainly think we should have the two links redirect to the new docs. For instance, [this](https://stackoverflow.com/questions/62013230/model-for-generating-and-detecting-communities-in-dense-network) stackoverflow question includes one of the old links, and who knows how many other places on the internet the old link was put in and we're losing people who would have discovered the package because

[2021-03-25 17:27] bdpedigo commented on #664
fair. do you know how to set that up?

[2021-03-25 17:44] bdpedigo commented on #536
@JonathanLarson do you have an implementation of GraphSage you like/use?

[2021-03-25 18:29] bdpedigo opened #741 "Graspologic in the wild"
## Feature request
I'd like to add a page of examples of how/where graspologic is being used. Ideally examples where the code is open-source, but even just examples of results.

## Provide references (if applicable)
A few things we could link to off the top of my head:
- https://github.com/neurodata/MCC
- https://docs.neurodata.io/notebooks/categories/#graspologic
- https://www.microsoft.com/en-us

[2021-03-25 18:43] sagarhowal commented on #740
I could try and come up with a logo.

Did you have any logos for GraSPy and Topologic? Maybe they can be merged in some way.

![PXL_20210325_133935168~2.jpg](https://user-images.githubusercontent.com/22494944/112526306-b3bdb880-8d99-11eb-91c9-262743fb8ebc.jpg)

This is a doodle something off the top of my head.

Do you already have any ideas/concepts you want the logo to incorporate?

[2021-03-25 23:31] bdpedigo commented on #740
@sagarhowal that's great, we'd appreciate any help/input. And no, we didn't have preexisting ideas. But I like your doodle!

I'm wondering if we deleted the edges that are outside of the G, but still had edges inside in another color (we were thinking maybe a light blue?). We could use just the "G" that looks like a network for the logo in the sidebar and such, and then could also have a version w

[2021-03-25 23:46] bdpedigo commented on #740
i do note that we've thus far mostly been using graspologic (lower case) instead of Graspologic - personally I don't care much, and I think the G above looks cool. if anyone disagrees, i guess we could also try a lower case graph-g

[2021-03-26 01:09] bdpedigo commented on #598
https://scanpy.readthedocs.io/en/stable/api/index.html#module-scanpy.tl curious what people think of this as a way of organizing the reference docs