[2021-03-26 10:04] sagarhowal commented on #740
@bdpedigo Glad you liked it. I can try something with a lowercase g and also the uppercase G without the edges outside the G. Yes, I do have some experience but it is mostly a hobby, i know a few things about vector graphics and typography but i am mainly a developer.

I love the idea of making this in matplotlib. Someone could give it a go 😅. It will eventually need to be converted to a vector gr

[2021-03-26 10:27] sagarhowal commented on #740
I can make this using an open-source vector design tool. And (optional) in a repository like this one https://github.com/hpe-design/logos. I will leave the ways on how to collaborate/vote on the logo to you.

[2021-03-26 10:32] sagarhowal commented on #740
I tried doodling the lowercase g. Since it has more curves, it needs more nodes. It could look confusing if the logo is used in a low resolution.

But it does look better to me. 😅
Thoughts?

![small_g_graspologic_crop_small](https://user-images.githubusercontent.com/22494944/112618813-73544e00-8e1e-11eb-8f2c-388ed1eb38f9.jpeg)

[2021-03-26 13:53] bdpedigo commented on #740
So far I think I like the uppercase better, if we do end up wanting lowercase later we'd probably just have to play with the shape/edges a lot.

That would be awesome!

[2021-03-26 13:54] bdpedigo commented on #740
Maybe we play with this once the design is settled more, I'd be happy to try at some point.

Yes totally agree!

[2021-03-26 16:02] rflperry commented on #740
Or rather than matplotlib, you could draw a pointcloud `G` (with some edges based on the G shape) and graph match an actual graph to it, using the matched pointcloud coordinates to make the layout.

[2021-03-26 16:05] dwaynepryce commented on #740
So, I like these ideas, but I also remember a vertexified Google G in a logo and I don't think Microsoft is going to want to go anywhere near that under any circumstances.

I'll get a conversation started on our end on what we need to be aware of / are allowed to do!

[2021-03-26 22:50] loftusa opened #742 "[BUG] something weird going on with labels in `plotting.heatmap`"
I have code that looks like this:
[code]

Using `sns.heatmap` (along with some additional arguments), this code produces a heatmap that looks like this:
<img width="652" alt="Screen Shot 2021-03-26 at 6 47 47 PM" src="https://user-images.githubusercontent.com/12386450/112700112-cd2b3700-8e63-11eb-8c36-3937159da9d2.png">

However, when I use `graspologic.plot.heatmap` (using effectively the same ar

[2021-03-26 23:45] loftusa commented on #742
update: it actually looks like it's an issue with seaborn, specifically, the `center=0` default in graspologic. If I do `sns.heatmap` with `center=0`, the same issue pops up. Potentially closing in a sec, after I look more deeply and fully solve

[2021-03-26 23:50] #742 closed

[2021-03-27 14:28] sagarhowal commented on #740
After you mentioned I can't unsee the capital G resembling google.

I have a draft for the small g.
I'll just post it here for the time being while you sort out what are allowed to do.

Draft--
![graspologic-logo-v0 0 1](https://user-images.githubusercontent.com/22494944/112723757-0d43f580-8f08-11eb-9f5c-cf89ed76852a.jpeg)

[2021-03-27 22:10] loftusa commented on #740
Something like this is another option - could iterate on this (e.g., change the font for the G, add extra stuff, whatever)
![graspologic_logo](https://user-images.githubusercontent.com/12386450/112736241-9d456780-8f27-11eb-9a2e-cca50ffbbc20.png)

[2021-03-27 22:17] loftusa commented on #740
idk
![graspologic_logo2](https://user-images.githubusercontent.com/12386450/112736394-a420aa00-8f28-11eb-8eee-ded4acd97883.jpg)

[2021-03-29 12:56] loftusa commented on #740
although looking back I kinda like @sagarhowal's design a little more, I think it's a bit more simple and clean

[2021-03-29 16:45] ahoak commented on #740
@dwaynepryce mentioned this ticket to me on Friday. I see you have a couple designs already which are totally awesome, I had started working on a concept Friday and thought I would share (and you totally don't have to go with this, just want to present options). I can supply original illustrator file and SVG, or other image format. Also happy to make any changes. This is currently using: https://d

[2021-03-29 17:03] loftusa commented on #740
Ooh, I love that one @ahoak, network thing in a circle looks really good. I'd probably advocate for changing the G? Either lowercase or a different font

[2021-03-29 17:11] dwaynepryce commented on #740
@ahoak had an example as lower case and it looked a little more jarring (the G in this one kinda brings the circle into the center, since it's reminiscent of a circle itself).  The baby G looked a bit out of place (but she can show you and you can draw your own conclusions ;D)

[2021-03-29 17:20] bdpedigo commented on #740
Do we know how microsoft will feel about big Gs? Or I guess what I am asking is what the criteria are to make a big G okay?

[2021-03-29 18:09] dwaynepryce commented on #514
I can't either - I know I didn't look into it too much at the time - they just didn't work when we first merged?  We should make it a point to re-enable them and fix whatever is broken.

[2021-03-29 18:23] dwaynepryce commented on #740
@natoverse - where do we officially stand on capital Gs?

[2021-03-29 18:40] carolyncb commented on #740
I will run the capital G question by our legal team and see what I find out!

[2021-03-29 18:48] jovo commented on #740
I love the G and g ideas.  That said, it might be worth considering some 'non-g' ideas?

[2021-03-29 18:50] jovo commented on #740
Like a hand grasping made out of logic/network?

[2021-03-29 18:51] dwaynepryce commented on #740
us:

jovo:

us:

[2021-03-30 03:41] ahoak commented on #740
Here is a couple options that dont include "g" .  I was thinking about Jovo's comment , It could be interesting to have an octopus arms  composed of graph nodes grasping the text  as an alternative idea.

![graspologic_v10@300x](https://user-images.githubusercontent.com/21273003/112930186-b0df0280-90ce-11eb-9f6b-7834230e0e3d.png)

[2021-03-30 16:16] dwaynepryce commented on #740
Octopodes are just nodes with degree 8 change my mind

[2021-03-30 16:25] bdpedigo commented on #740
big fan of exploring the abstract octopus with nodes/edges idea

[2021-03-30 16:26] dwaynepryce commented on #740
joking aside, I am also a fan of having the log next to the text of the name too.  that neatly sidesteps the concerns I was raising earlier for sure, and ... I just like it more.

[2021-03-30 16:28] j1c commented on #740
Quite like the logo next to text as well!

[2021-03-30 17:31] bdpedigo commented on #740
![bad-drawing](https://user-images.githubusercontent.com/25714207/113030456-9c951700-915b-11eb-9874-0f79f83c99bc.jpeg)
(don't laugh at my bad drawing) just throwing ideas out - i wonder how abstract/simple the octopus could be such that you could still tell its an octopus? Here i was thinking of Dwayne's 8-degree-node-octopus, I obviously don't think what I have is pretty or octopus-like enough, b

[2021-03-30 17:35] bdpedigo commented on #740
`graspoloctopus` really rolls off the tongue too

[2021-03-30 19:02] sagarhowal commented on #740
I made these quick ones in Gravid Designer. It is a free tool. Not very professional. If you like I can make it in inkscape and share. Thanks @loftusa

I like @ahoak's ideas. they're all great. If the node connections were slightly thinner, it would look good in low resolution.

I think exploring @jovo's idea of not having a g at all sounds good too.

Also, I was also thinking of an octahedron sha

[2021-03-30 19:04] sagarhowal commented on #740
@bdpedigo here's something for you i made quickly. 😅😁
![graspo-bpedigo](https://user-images.githubusercontent.com/22494944/113042434-18f71c80-9193-11eb-8c6b-655adb3b2962.png)

[2021-03-30 20:08] loftusa commented on #740
thirded

[2021-03-30 20:11] loftusa commented on #740
this one's my favorite so far @ahoak. Do you have the illustrator file for that? I have a few ideas I want to play around with

[2021-03-31 00:10] ahoak commented on #740
I have a couple of experiments with the octopus
![octo_arm_gL_v2@300x](https://user-images.githubusercontent.com/21273003/113071926-9d897100-917a-11eb-8f20-de05207c9732.png)
![octo_arm_purplev4@300x](https://user-images.githubusercontent.com/21273003/113071929-9e220780-917a-11eb-8a4f-ec15598d0a37.png)
![octo_arm_gl_v3@300x](https://user-images.githubusercontent.com/21273003/113071927-9e220780-917a

[2021-03-31 00:23] ahoak commented on #740
@loftusa  I attached a zip file with the Illustrator file you requested and an SVG version in case for some reason that doesn't work or you prefer to use another tool.

[logo_graspologic_art.zip](https://github.com/microsoft/graspologic/files/6233033/logo_graspologic_art.zip)

[2021-03-31 13:23] jovo commented on #740
getting very interesting! i think the 4 tentacles reminds me a bit too much of github maybe?

[2021-03-31 17:59] ahoak commented on #740
Yeah for sure! It is too large for a logo as well but I thought I'd throw it out there in case it sparked any ideas.

[2021-03-31 22:47] loftusa commented on #740
my vote is on @ahoak's circle one

[2021-04-01 01:44] zeou1 commented on #536
I tried running the PPI dataset with the GraphSAGE [GitHub code](https://github.com/williamleif/GraphSAGE) by first running the unsupervised model and then the PPI logistic classificer, but it just outputs the F1 scores for each node in the test graph. The GitHub code does not seem immediately ready to be used to run the experiments as detailed in their paper, but I believe I can write a new Jupyt

[2021-04-01 01:52] zeou1 commented on #536
Definition of Done (First Draft):

1. Write a Jupyter Notebook for the experiment to replicate the PPI dataset result in Table 1 of the paper
2. Do the same thing as step 1 but with CASC

I feel like the two steps above should be achievable within the time constraint of the NDD class, but I do welcome any feedback on this part.

[2021-04-01 02:45] zeou1 commented on #536
Are there other ways to compare the results of the experiments other than F1 scores? Or is the F1 score what we are looking for?

[2021-04-01 11:16] jovo commented on #740
i like the ones with a tentacle grabbing the graspologic word: https://github.com/microsoft/graspologic/issues/740#issuecomment-810657865
reminds me of this: https://www.youtube.com/watch?reload=9&v=3s0LTDhqe5A
but not github or google too much.

[2021-04-01 11:48] bdpedigo commented on #740
my vote is also tentacle grabbing word, i really like the 3rd one, but im sure we could play with colors and other details more.

my only concern is whether we could find a way to simplify it for certain settings (e.g. where the logo would need to be small)?

awesome work @ahoak!

[2021-04-01 14:00] loftusa commented on #740
Playing around with @ahoak's circle designs a little bit

![graspologic_logo_art_only_big](https://user-images.githubusercontent.com/12386450/113305511-1bf82700-92d1-11eb-9a56-626e009d148a.png)

![graspologic_logo_art_four_big](https://user-images.githubusercontent.com/12386450/113305522-1e5a8100-92d1-11eb-96ca-5031490baac6.png)

[2021-04-01 14:34] jovo commented on #740
those seem less 'graphy' to me, no?

[2021-04-01 15:31] dwaynepryce commented on #740
My vote is this one

[2021-04-01 15:53] loftusa commented on #740
yeah, but a little more simple

[2021-04-01 15:54] loftusa commented on #740
I do like that one, but

also concerned about this

[2021-04-01 16:02] dwaynepryce commented on #740
@ahoak maybe better in my mind's eye than reality, but what if the octopus arm were mirrored to the other side and mostly behind all the text except the g?  it would make it more compact and also act as a kind of underline.  then it would ALSO potentially be even _more_ graspy.

For the rest of you, this is kinda super sweet for us, because our team's mascot is an octopus (named wiggleton, in case

[2021-04-01 16:08] bdpedigo commented on #740
just a thought but we could also have a complicated/cool version and a simple version, i just dont know what the simple version would be (e.g. imagine what the favicon for this would be? cause i have no idea)

i agree that the octopus symbolism is multiple layers of cool!

[2021-04-01 16:19] alyakin314 commented on #520
Yes, so what I meant is - because of how hyppo paralellizes things via joblib, if it takes X time to run the test once, it will take waaaay less time to run the test 1000 times than 1000X, because the first iteration (maybe the first several? not sure...) is the slowest one due to joblib setting some things up. I would assume @sampan501 would know more.

And what I was saying - it'd be nice to kno

[2021-04-01 16:24] alyakin314 commented on #659
The solution is either:
1. Import the correct thing in hyppo; and then adjust the call when choosing/setting the kernel accordingly.
2. Move the code to do this kernel back to a util function into this file.

Both options shouldn't be quite easy.

[2021-04-01 16:50] sampan501 commented on #659
I think 1 is the best option so that the `graspologic` codebase isn't unnecessarily cluttered. Not sure what everyone else thinks

[2021-04-01 16:54] bdpedigo commented on #659
1 seems good to me

though i dont know what you mean by "adjust the call"

[2021-04-01 17:07] sampan501 commented on #520
I think this tutorial may help: https://joblib.readthedocs.io/en/latest/parallel.html.

Though I'm not really sure of the run time comparisons between running a serial Python and running a single thread through joblib (I would expect negligible), the performance improvements are really noticed when running over multiple threads. You should see real improvement if this line of code is the bottlenec

[2021-04-01 18:34] carolyncb commented on #740
My favorite is also the tentacle grabbing the word. From the minimalist octopus vector graphics that @loftusa suggested, I liked this one:
![image](https://user-images.githubusercontent.com/60894394/113338629-35ec3680-92de-11eb-9479-418b88ce87d3.png)

[2021-04-01 18:46] ahoak commented on #740
I will work today on simplifying a few of these concepts.
@loftusa I like the minimalist idea you have and open to collab.

[2021-04-01 18:59] dwaynepryce commented on #740
To try to make this go a bit more smoothly, I added an extra half hour to our monthly status meeting for **Monday, April 5th, 2021**.

I added @loftusa to it because I had his email, but if anyone else wants to be part of it, please have @bdpedigo or @j1c forward the meeting invite to you (presuming they have your email, at least.  Otherwise, @ me)

[2021-04-01 19:22] bdpedigo commented on #740
good idea, thanks!

[2021-04-01 19:36] #735 closed

[2021-04-01 19:36] #739 closed

[2021-04-01 21:05] gavinmischler commented on #413
Can you update to graspologic within conda-forge? Or maybe just create a new feedstock? Currently causing an [issue](https://github.com/mvlearn/mvlearn/issues/294) with using mvlearn from conda-forge since only an old version of graspy is available.

[2021-04-01 23:04] dwaynepryce opened #747 "[REFACTOR]: Consider cleaning up utils.import_edgelist"
Any time your return type can be:

[code]

you should consider refactoring into more than one method or function. I suggest this one be broken into:

- import_edgelist
- import_edgelist_set

Only in the latter case should you return vertices, and in the latter case you should always return vertices.

This utility should also go into an `io` package.

[2021-04-01 23:14] bdpedigo commented on #413
im for creating a graspologic feedstock but dont have bandwidth to look into right now - I think in an earlier conversation we said we'd only do if we had a way to update feedstock automatically.

I see according to this https://stackoverflow.com/a/66539742/15480487 that it should be super easy.

Only caveat is

which maybe only @dwaynepryce can do? Or maybe has to get permission to even do?

[2021-04-02 01:49] ahoak commented on #740
![graspologic_arm_simplified@300x](https://user-images.githubusercontent.com/21273003/113371302-e37d3b00-931a-11eb-8b0c-f2b61e675726.png)
Here is a less complex version of the octopus arm

[2021-04-02 17:29] loftusa opened #748 "Search Engine Optimization"
When you search `python network analysis library` or `python graph analysis library` on google, `graspologic` isn't in the first page of the results. Is there anything we can do to rectify that? @dwaynepryce maybe microsoft people know some stuff about SEO?

[2021-04-02 17:44] jovo commented on #748
related, somebody could make a PR to this: https://github.com/briatte/awesome-network-analysis#python

[2021-04-02 17:56] loftusa commented on #748
[I made a PR about an hour ago to that ](https://github.com/briatte/awesome-network-analysis/pull/97) 😛

[2021-04-04 13:31] loftusa opened #749 "remove mypi check?"
I vote we take off the mypi check until we implement mypi, so that we can see the little green checkmark again. I miss the little green checkmark. @dwaynepryce thoughts?

[2021-04-04 21:22] ahoak commented on #740
Here is a combined view of the different concepts with associated flavicon for tomorrow's meeting. Let me know if I missed anything!
![graspologic_logo_options@300x](https://user-images.githubusercontent.com/21273003/113521785-908cc900-9550-11eb-83bd-3d4a00610b58.png)

[2021-04-04 21:54] loftusa commented on #740
Awesome! My favorite is #1 and #3. I like #3 for the octopus symbology, and #1 because it's more circular/compact

[2021-04-05 03:44] jovo commented on #740
They are all great, I love 4 the most.  I agree with @dwaynepryce that it might be cool to see the tentacle flipped so that it is fully under the word graspologic, maybe so graspologic looks like it is floating on the arm?

[2021-04-05 16:56] dwaynepryce commented on #749
I strongly disagree - we're going to talk about it today at the meeting if you can make it - but if anything we need to enable all the type checking so you can see how many things are missed.

In the type hint PR I mentioned how much a struggle it is for me to type hint much of the code that came with graspy, because our methods and functions often have a broad range of argument types and no singl

[2021-04-05 18:02] loftusa commented on #740
dark horse hot take: take the [hydra logo](https://www.google.com/search?q=hydra+logo&newwindow=1&sxsrf=ALeKk01F7ALlYgn79txo-Tw9-U23dFqCYQ:1617645683964&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiytfXi1-fvAhUmMlkFHUcFBykQ_AUoAXoECAEQAw&biw=1792&bih=990) from the Marvel universe, make it look not-menacing and not have a skull and change the color scheme, and network-ify it

[2021-04-05 21:41] #741 closed

[2021-04-05 23:45] loftusa commented on #749
On board with this - closing!

[2021-04-05 23:45] #749 closed

[2021-04-05 23:47] loftusa opened #751 "Parallelization on MASE"
in the initial embedding step (ASE on all the graphs separately) prior to concatenation, MASE just does all the embeddings in a for-loop. This can be parallelized pretty easily with `joblib`. I can make a PR, but might also be fun for someone else to play around with (@rajpratyush?). Should be pretty straightforward, you just parallelize the loop right?

[this](https://github.com/microsoft/graspol

[2021-04-06 03:05] rajpratyush commented on #751
Sureee

[2021-04-06 10:55] loftusa commented on #751
@rajpratyush if you're up for it, it'd be great to see some figures comparing runtime in different situations with+without parallelization in the PR as well. Could be fun for you as well :)

[2021-04-06 11:07] rajpratyush commented on #751
Sure let me try it

[2021-04-06 15:25] rajpratyush commented on #751
I was going through the documentation of `Joblib` right now. and I think this should be the proper replacement for the code that you had mentioned.
`from joblib import Parallel, delayed`
`embeddings = [ Parallel(n_jobs=2)(delayed(selectSVD(
                graph,
                n_components=n_components,
                algorithm=self.algorithm,
                n_iter=self.n_iter,
            ) f

[2021-04-06 16:20] loftusa commented on #751
Yeah, that looks right! See [this](https://github.com/loftusa/graspologic/blob/casc-play/graspologic/embed/case.py#L271) older code in the case branch for another example

[2021-04-06 16:23] loftusa commented on #740
@ahoak got illustrator files for the new stuff? 😇

[2021-04-06 16:29] rajpratyush commented on #751
So i will push the PR tommorrow morning

[2021-04-06 17:25] rajpratyush commented on #734
@loftusa does implementing joblib here would help??

[2021-04-06 18:11] dfrancisco1998 commented on #736
@dwaynepryce I am currently trying to make a layouts tutorial (before I start addressing some of the meta-issues just to gain familiarity with the layouts ode base). Do you have a dataset in mind that would be cool for this?

[2021-04-06 18:14] dwaynepryce commented on #736
uhm... maybe in the shortest term, run with https://raw.githubusercontent.com/microsoft/graspologic/dev/tests/test_data/large-graph.csv ?  We took some statistical characteristics of an actual graph based on actual data to use an SBM to fabricate a synthetic graph.  I'm not actually sure how it'll look, but let's start with that and see if it looks reasonable or not?

[2021-04-06 18:33] dfrancisco1998 commented on #736
@dwaynepryce I assume its node_name1, node_name2, weight?

[2021-04-06 18:34] dwaynepryce commented on #736
Yep!

[2021-04-06 22:57] loftusa commented on #734
don't think so

[2021-04-07 19:23] #347 closed

[2021-04-08 14:44] dfrancisco1998 commented on #736
So I am running TSNE on the file you sent to me like this
`` from graspologic.layouts import layout_tsne``

``tupl = layout_tsne(g, perplexity = 3, n_iter = 250, random_seed = 23) ``
But TSNE is taking a long time to complete. Are there any parameters i could change to fix this?

[2021-04-08 18:05] dwaynepryce commented on #736
@bryantower is on spring break and I'm about to check out for the week too, but a quick check of the docs says that you may want a larger perplexity for bigger graphs (though I'm not sure that particular sbm really qualifies)

That said, you should expect this to take a fair amount of time - especially with the no overlap portion on!

[2021-04-08 18:50] bdpedigo commented on #736
reducing `n_iter` may also help, though hard to say if it will look nice.

How big is the graph (number of nodes and number of edges)?

[2021-04-08 21:19] dfrancisco1998 commented on #736
There are 7183 nodes and 151981 edges. I think I need a min of 250 for ``n_iter`` . I will try to increase perplexity and see if that changes runtime. It really only takes about 7 min for either UMAP or TSNE, but it is still a bit.

[2021-04-09 13:21] bdpedigo opened #755 "Add a glossary / naming conventions standard"
## Is your feature request related to a problem? Please describe.
Would be good to standardize conventions for certain parameters/descriptions during our effort to improve the API.

For example, for all the graspy embeddings, we called the dimensionality of the embedding `n_components` to match sklearn
Node2vec calls this `dimensions`

For most of the parallelization that used joblib, we called th

[2021-04-12 00:18] ahoak commented on #740
Sorry I haven't gotten a chance to follow up after our last convo. Do you like this? If so, which color? @loftusa I can provide illustrator files of this if you would like.
![grasp_logo_final_options_1@300x](https://user-images.githubusercontent.com/21273003/114326476-d6fe9c80-9ae9-11eb-96fc-be19215674fc.png)

[2021-04-12 17:13] #524 closed

[2021-04-12 23:02] bdpedigo opened #757 "Add something like `n_init` to Leiden"
## Is your feature request related to a problem? Please describe.
I often re-run Leiden multiple times and take the best modularity partition.
This is distinct from what the `extra_forced_iterations` parameter does, as far as I can tell.

## Describe the solution you'd like
I have code that basically looks like:
[code]

so basically wrapping the current code in a for loop and adding a parameter.

[2021-04-14 04:26] rajpratyush commented on #208
@j1c could you explain me this ? especially the embedding dimension section.

[2021-04-14 04:44] rajpratyush commented on #734
I am going for #208 first

[2021-04-14 15:04] loftusa commented on #757
if this issue isn't resolved by the summer, I'm potentially interested in doing the implementation in Rust, I've been interested in learning some Rust for awhile now

[2021-04-14 15:47] bdpedigo commented on #757
cool, depends on @dwaynepryce 's thoughts I think tho.

Ideally, I'd like to have this sooner, esp. since the code would be so simple in python, and I'm using this for a few things in my work. And I don't mind making a PR that is basically the one above.

@loftusa could still do it in rust later though, as I think this would avoid repeatedly converting the data into whatever format rust is using,

[2021-04-14 16:31] jovo commented on #740
i totally love it! especially the bottom one is my fav so far!

[2021-04-14 17:30] dfrancisco1998 commented on #736
@dwaynepryce I am trying to use git to upload the layouts tutorial and the file is too large. Do you happen to have a smaller graph csv?

[2021-04-14 17:34] bdpedigo commented on #736
@dfrancisco1998 are you mainly just working on https://github.com/microsoft/graspologic/issues/613 ? if so, can we move this conversation there instead (since it's the specific thing you're working on for the time being)?

[2021-04-14 17:36] dfrancisco1998 commented on #613
@dwaynepryce I am trying to use git to upload the layouts tutorial and the file is too large. Do you happen to have a smaller graph csv?

[2021-04-14 17:37] bdpedigo commented on #613
thoughts on just finding something interesting/moderately sized in http://konect.cc/ ?

[2021-04-14 17:38] dfrancisco1998 commented on #613
@bdpedigo I did but i was having a hard time understanding how the data was laid out (despite reading the readme within the .tar) I can bring those questions to office hours tomorrow

[2021-04-14 17:38] bdpedigo opened #760 "Add `verbose` parameter to GraphMatch"
## Is your feature request related to a problem? Please describe.
Would like the option to print progress over:
- initializations
- iterations of Franke-Wolfe

## Describe the solution you'd like
`verbose` parameter to be added to the class (see sklearn for examples)

[2021-04-14 17:39] bdpedigo opened #761 "Parallelize over initializations in `GraphMatch`"
## Is your feature request related to a problem? Please describe.
Graph matching can take a while

## Describe the solution you'd like
Would like parallelization over each initialization in graph matching using joblib. Should be a one-liner, basically

[2021-04-14 17:44] bdpedigo opened #762 "Use sparse matrices or numba in gradient/step size calculation in `GraphMatch`"
## Is your feature request related to a problem? Please describe.
Graph matching can be slow

## Describe the solution you'd like
Would like the option to use sparse matrices or numba to speed up the gradient and step size calculations in Franke-Wolfe algorithm.

## Additional context
Scipy:
- most of our matrices are sparse, even though the gradients are dense, this may still speed up the calcula

[2021-04-14 17:46] bdpedigo commented on #613
it looks like tab separated value edgelist from the one example I looked like, e.g., `source` \tab `target` \tab `weight` \newline

[2021-04-14 17:53] dfrancisco1998 commented on #613
@bdpedigo hm, which one were you looking at?

[2021-04-14 18:01] bdpedigo commented on #613
karate club i think
i could be wrong, that's just what i assumed they meant by tsv

[2021-04-14 18:10] dwaynepryce commented on #757
I'm wondering at the utility of this over the iterations currently in the function?

As it is, it'll go until your q score doesn't get any better, then return.  If you want it to try again, just set iterations==25 (for instance) and it'll use the latest best partitioning and keep trying another 24 times or so.  If the randomization aspect can find a better mapping, it keeps going.

This isn't exac

[2021-04-14 18:31] bdpedigo commented on #757
I believe start from scratch is explicitly what I want - there's some variance in the modularity of the final partition even when using the `extra_forced_iterations` which I believe just comes from the original initialization. I have found in practice that running a bunch of restarts can 1. make the final partition more stable (would take me a bit to explain what I mean by this but I could if ther

[2021-04-14 18:32] bdpedigo commented on #757
But if you think I'm wrong about the above, would be happy to discuss more, I could show you a demo

[2021-04-14 19:00] dwaynepryce commented on #757
Nope!  You're absolutely right.

`extra_forced_iterations` ultimately only has a very minor impact, whereas doing the whole thing from scratch until you get a best score is a more expensive process.  I just wanted to make sure there was _a_ attempt at maximizing your quality score by one mechanism already in it.

This should be in the graspologic-native tracker though.  We absolutely would want to

[2021-04-14 20:46] bdpedigo opened #765 "[BUG] Fix random state behavior with multiple inits in GraphMatch"
## Expected Behavior
Even when passing a `random_state` to `GraphMatch`, each init (child process) should get it's own random state

## Actual Behavior
Each one gets the same

## Additional Details
Joblib has a nice tutorial on "differently random, but deterministic" https://joblib.readthedocs.io/en/latest/auto_examples/parallel_random_state.html#fixing-the-random-state-to-obtain-deterministic-res

[2021-04-14 20:46] #300 closed

[2021-04-16 10:47] rajpratyush commented on #761
@bdpedigo Can I take this up?
along with #765

[2021-04-16 14:05] bdpedigo commented on #761
hi @rajpratyush thanks for the offer but me and @asaadeldin11 are going to fix this today

[2021-04-16 14:07] rajpratyush commented on #761
Ok @bdpedigo

[2021-04-16 14:43] loftusa opened #769 "pairplot_with_gmm shouldn't take `gmm` as a parameter"
I think the GMM should be made internally, and the function should accept `n_components` and `covariance_type` as parameters. This would make it cleaner -- I think pretty much every time you use it in the wild, you're going to instantiate a GMM in the line above it?

Thoughts? @dfrancisco1998 @bdpedigo
if we want the function to work like this, I have code, I can just make a PR

[2021-04-16 14:49] bdpedigo commented on #769
I wanted this to be able to assess how reasonable a GMM looks on data, meaning I have already fit a GMM and have the data. I think it's rare that you just want to look at a clustering and do nothing with it (except for explanation purposes).

[2021-04-16 14:50] bdpedigo commented on #769
If you really want to be able to pass in a dictionary of GMM kwargs, have it fit the model and plot, thats fine with me, but I want this to be able to accept a `GaussianMixture` object for sure

[2021-04-16 15:30] loftusa commented on #769
ok, probably unnecessary then. Closing issue

[2021-04-16 15:30] #769 closed

[2021-04-16 20:21] #761 closed

[2021-04-16 20:21] #765 closed

[2021-04-17 21:32] kareef928 commented on #579
@bdpedigo I'm having trouble with my simulation: particularly in step 5 in the sim setting above. Since the size of the 2D arrays of the true latent positions and the latent positions from ASE/SVD are different, I'm getting an error when I try to do the frobenius norm on them. What should I do about this?

[2021-04-17 22:02] bdpedigo commented on #579
why are they different? should set the mto be the same by making the ASE embed into the true number of components

[2021-04-17 22:26] kareef928 commented on #579
[https://nbviewer.jupyter.org/github/kareef928/graspologic-personal/blob/main/notebooks/norm-test.ipynb](url)

This is a quick notebook of what I'm trying to do; in the last block I'm trying to make ASE embed into the true number of components but I get an error doing so, I'm not sure what I'm doing wrong

[2021-04-18 00:36] loftusa opened #771 "Ensure Python 3.9 and 3.10 compliance"
Similar to #277. Maybe want to split into separate issues.

[2021-04-18 12:16] madlad33 commented on #771
Hello, I would Like to contribute to this project and this particular issue.

[2021-04-18 20:10] bdpedigo commented on #579
@kareef928 thanks for posting the notebook. I think what would help us both the most is if you could write out the math of what model you are trying to sample from, and then we can evaluate if your code is doing that.

(hint: how many nodes are in the graph you are trying to sample, and how many latent dimensions are in the model?)

[2021-04-18 22:23] kareef928 commented on #579
@bdpedigo went through the rdpg tutorial and now I understand that the dimension of each vector (d) has to be lower than the number of vectors (n). For example, if I was sampling from np.random.uniform(low=0.1, high=1, size=(5, 2)), then I would set n_components=2 in ASE when I do ASE on the rdpg. I made a change to step 2 in my plan so now I sample from uniform distributions of size nx4, could yo

[2021-04-18 22:26] bdpedigo commented on #579
Exactly! In theory, the dimension needs to be <= the number of nodes. In practice, depending on the algorithm for doing the SVD that you use, it may need to be <= number of nodes - 1. In general, it will likely be << the number of nodes, otherwise using ASE in general is probably a bad idea.

So, yes, next steps sound good. Though I believe Jovo said set d=1 and just embed into d=1, which also see

[2021-04-18 22:50] loftusa commented on #771
@madlad33

Excellent! See #471 for the PR that added python 3.8 compliance (although that one is likely much, much bigger than what we need) and #277 for more discussion when we added 3.8 compliance.

You'll also need to add 3.9 (and potentially 3.10) to the set of environments we test on.

@bdpedigo @dwaynepryce do you agree with the above? Anything else you want to add?

[2021-04-18 23:03] bdpedigo commented on #771
Yes, I'd just add that the PR/issue you linked were concerned with a lot (I mean A LOT) of other stuff so I don't want @madlad33 to get bogged down by those details.

Seems like the main first step is just installing graspologic locally in a 3.9 and 3.10 environment, and try to 1) run all our tests and 2) build all our tutorials, then we can go from there. If you have questions about how to do eit

[2021-04-18 23:33] loftusa commented on #771
@bdpedigo Sounds good to me!

[2021-04-19 08:01] madlad33 commented on #771
@loftusa

Thank you, I'm really happy to contribute.

@bdpedigo

Sure, I will start by running all the tests in 3.9 and 3.10 and then build all the tutorials.

[2021-04-19 22:01] dwaynepryce commented on #771
This is not a good first issue;

Somewhere in our dependency chain, we use numba, which needs llvmlite... but there are no binary wheels being built for llvmlite on Python3.9 or Python3.10.

Not the end of the world if you can compile from sdist, but it's _not_ a low friction process.  If we get this to work we're going to have to have instructions for all 3 OSes, and they should be fresh installs

[2021-04-19 22:03] dwaynepryce commented on #738
Augh this shouldn't have been closed

[2021-04-19 23:32] loftusa commented on #771
https://www.youtube.com/watch?v=8Xt1kUK71lc

[2021-04-20 05:46] madlad33 commented on #771
@dwaynepryce @loftusa @bdpedigo
Even if it's not a good first issue, can I still try? It might not be a smooth process, but I can try if you guys allow and guide me. But I can't give instructions for all OSes, I don't have a Mac. I can try to give instructions for Linux and Windows.

[2021-04-20 14:38] loftusa commented on #771
Sure!

[2021-04-20 15:13] dwaynepryce commented on #771
What @loftusa said!

I don't want to stop you, I just don't want you to get discouraged OR think it's simple.  One of the problems we run into sometimes is having a fully ready-to-go, all dependencies already installed dev system, and things Just Work for us... and then we find out a fresh OS is dead in the water, because they didn't install some C++ build tool or another.  It's just super frustra

[2021-04-20 18:53] madlad33 commented on #771
@dwaynepryce
Please correct me If I'm wrong, [here](https://github.com/numba/llvmlite/issues/669 ) it has been mentioned that llvmlite wheels for Python 3.9 have become available with the 0.36.0 release.

How do I get started with the verification?

I'm more than happy to contribute :)

[2021-04-20 20:07] dwaynepryce commented on #771
Awesome!  Seems to have become valid 29 days ago.

So yeah, I guess the best way to test is to create a venv for 3.9, install the requirements.txt and then run `make test`.

If you run into any issues with `graspologic-native` just let me know - we have at least been building for 3.9!

I haven't bothered building it for 3.10 so that one may be more involved, but I'm willing to change the build mat

[2021-04-20 21:51] #738 closed

[2021-04-21 04:47] rajpratyush commented on #734
Restarted Lanczos Method: https://link.springer.com/article/10.1007/s11075-006-9057-z

https://onlinelibrary.wiley.com/doi/abs/10.1002/nme.1478

I cannot read these articles. Can you help ?@loftusa

[2021-04-21 14:00] loftusa commented on #734
https://sci-hub.se/

[2021-04-21 19:22] madlad33 commented on #771
- I created a new venv for 3.9. Got few errors while installing the requirements.txt.

Error 1:
Obtaining file:///L:/Django%20projects/graspologic (from -r requirements.txt (line 1))
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting gensim<=3.9.0,>=3.8.0
  Using cached

[2021-04-23 18:09] ahoak commented on #740
@carolyncb submitted the bottom two designs for review through our legal team on April 21st and we are still waiting on their response .

[2021-04-25 20:49] kareef928 opened #775 "Make LDT reproducible"
## Is your feature request related to a problem? Please describe.
Latent distribution test currently does not give reproducible results

## Describe the solution you'd like
Modification of LDT code to ensure that it gives reproducible results

## Provide references (if applicable)
See #744

## Additional context
Add any other context or screenshots about the feature request here.

[2021-04-26 14:45] fidelle opened #776 "[Question]"
Hi, I am having an error while trying to import certain packages. The error is
ModuleNotFoundError: No module named 'hyppo._utils'

This is an example of a package I am importing that gives this error
from graspologic.models import DCSBMEstimator

Please how can I resolve this issue. I just downloaded graspologic so I should have the most up to date version.

[2021-04-26 15:13] j1c commented on #776
Hi @fidelle!

This is a bug thats been fixed in the `main` branch, but not yet incorporated into latest release. In the meantime, you can run `pip install hyppo==0.1.3` to fix the issue.

[2021-04-26 15:13] #776 closed

[2021-04-26 20:08] bdpedigo commented on #775
thanks @kareef928

does this also apply to LPT?

[2021-04-27 14:58] kareef928 commented on #775
I get reproducibility with the second element in the namedtuple return for LPT (sample_T_statistic), but that's it.

[2021-04-27 15:09] bdpedigo commented on #775
Makes sense to me. Do you mind opening another issue for making LPT reproducible? The source of randomness there is distinct from that in LDT, and we have more control over it, so we'd be able to fix it.

[2021-04-27 15:14] kareef928 opened #777 "Make LPT reproducible"
## Is your feature request related to a problem? Please describe.
Only the `sample_T_statistic` return of LPT is reproducible

## Describe the solution you'd like
All of the returns of LPT should be reproducible

[2021-04-28 01:41] bdpedigo commented on #565
# graspologic at a glance [WIP]
A network, or graph, is a convenient mathematical way to represent _relational data_. Networks represent objects (termed nodes or vertices) and the relationships between them (called edges or sometimes links). `graspologic` contains algorithms for understanding and drawing inferences from network data.

## Embed
Given the power of modern machine learning methods for

[2021-04-28 01:44] bdpedigo commented on #565
@dwaynepryce inspired by our conversation today I wrote down a rough draft of a high level overview of the whole package that I've been meaning to do for a while. Thought about adding pretty pictures to it but we'll see if I have time, I think the text is probably most important. I envisioned this either being the landing page in the docs or at least being the "introduction" that comes right after

[2021-04-29 14:04] bdpedigo commented on #755
Some terms to define/standardize [WIP]
- `n_components`/`dimensions`
- what a vertex/node matched set of graph means
- `n_jobs`/`workers`

[2021-04-30 16:13] asaadeldin11 opened #778 "LinearOperators in GraphMatching"
Look into adding[ LinearOperator](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.LinearOperator.html) replacements to matrix multiplication to make code faster.

[2021-04-30 16:19] asaadeldin11 opened #779 "Allow GraphMatching to accept sparse inputs"
Allow `GraphMatch` to work with sparse adjacency matrices `A` and `B`

[2021-04-30 16:26] bdpedigo commented on #779
I think this is the same as #762

[2021-04-30 16:26] #779 closed

[2021-05-01 15:50] loftusa opened #780 "Avoid `for` loops in MASE (and maybe other places)"
This test passes:

[code]

Uhat is a 2D array, A is a 3D array. MASE currently calculates score matrices in a `for` loop, the way that `scores` is calculated -- but numpy lets you do the whole thing in a vectorized way, where `Uhat.T @ A @ Uhat` is equivalent to calling `Uhat.T @ graph @ Uhat` for each graph on the z-axis of `A`, the way that `scores_` is calculated.

Numpy vectorization usually r

[2021-05-01 18:27] loftusa commented on #780
I added the `good first issue` label because it's pretty much just:
1. replace for-loop with numpy matrix multiplication
2. write a test to make sure the output is the same as it was when it was a for-loop

[2021-05-02 16:19] rajpratyush commented on #780
@loftusa Shall i go for it

[2021-05-02 17:42] loftusa commented on #780
Sure, but I'd finish up #753 first

[2021-05-02 17:46] loftusa commented on #771
@dwaynepryce Do you know how he can build the tutorials? I'm still a little unfamiliar with the current build setup under the hood...

[2021-05-03 16:05] dwaynepryce commented on #771
from graspologic repo root:
`make tutorials`

If you're on windows and don't have make, just call the command it uses in there

If you ever want to know how we build our software, you can look at that root level Makefile and/or the github actions file in .github/workflows/build.yml iirc

[2021-05-04 04:15] rajpratyush opened #781 "Speeding up Pandas Workflow with Pypolars library"
## Is your feature request related to a problem? Please describe.

Pandas is one of the most important Python packages among data scientist’s to play around with the data. Pandas library is used mostly for data explorations and visualizations as it comes with tons of inbuilt functions. Pandas fail to handle large size datasets as it does not scale or distributes its process across all the cores of

[2021-05-04 11:45] bdpedigo commented on #781
@rajpratyush there is very little that we actually use pandas for other than plotting, so I don't think that this would speed much up in our library

[2021-05-04 11:50] rajpratyush commented on #781
Okay @bdpedigo

[2021-05-04 12:52] bdpedigo commented on #781
thanks for the head up though! if we end up using it for more we'll keep it in mind

[2021-05-04 12:52] #781 closed

[2021-05-04 20:13] kareef928 commented on #579
https://nbviewer.jupyter.org/github/kareef928/graspologic-personal/blob/main/notebooks/spectral-svd-csr.ipynb

@bdpedigo This is a notebook showing the errors I run into when I try to use csr_matrix in the simulation. Should I make note of these errors in the simulation notebook, or is there a way I can use csr_matrix without running into these errors?

[2021-05-04 20:25] bdpedigo commented on #579
why is the input here (5, 4) instead of (5,5)?

[2021-05-04 20:26] bdpedigo commented on #579
ASE for any type expects an `n x n` matrix

[2021-05-04 20:30] kareef928 commented on #579
I do 5x5 later in the notebook but I still get errors when trying to run ASE

[2021-05-05 12:03] bdpedigo commented on #579
[code]

Notice what the error message for that one is saying - unless you set `algorithm = `full`` then you need to make sure `n_components` is < `n`

[2021-05-05 17:35] bdpedigo opened #782 "Add a parameter to MASE to allow a different embedding dimension in the first stage"
## Is your feature request related to a problem? Please describe.
Would like to be able to control the initial embedding dimension. I have found that in many cases, you want the first stage to be into a higher `n_components` than the final for reasons I could explain if anyone is interested.

## Describe the solution you'd like
A new parameter like `initial_n_components` or something like that.
By

[2021-05-05 17:52] madlad33 commented on #771
@dwaynepryce I have installed make on windows and ran make tutorials, the build succeeded.

(venv_2) L:\Django projects\graspologic>make tutorials
sphinx-build -W -a docs/tutorials/ docs/tutorials/_build/html
Running Sphinx v3.5.4
loading intersphinx inventory from https://anytree.readthedocs.io/en/latest/objects.inv...
loading intersphinx inventory from https://hyppo.neurodata.io/objects.inv...
l

[2021-05-05 21:47] kareef928 commented on #579
https://nbviewer.jupyter.org/github/kareef928/graspologic-personal/blob/main/notebooks/spectral-svd-csr-sim.ipynb

Here is the notebook of applying the embedding methods on a csr_matrix instead of on an RDPG. Should I also PR this notebook into neurodata notebooks, or should I leave a link to the nbviewer version of this notebook in my current PR?

[2021-05-06 00:50] bdpedigo commented on #579
could you add to the same notebook you are already PRing?

[2021-05-06 15:09] #485 closed

[2021-05-06 18:39] bdpedigo commented on #736
just posting a link to some recent layouts I did using UMAP on ASE/LSE on a brain connectome with ~25,000 nodes, I thought the ASE/LSE stuff looked good! Have not yet compared to n2v, but I thought it is worth looking at

https://docs.neurodata.io/notebooks/pedigo/graspologic/connectome/2021/05/06/hemibrain-layout.html

![image](https://user-images.githubusercontent.com/25714207/117348945-d521c200

[2021-05-06 22:25] dwaynepryce commented on #755
my preferences:
- dimensions (components to me is implying connected components which isn't even really related, but within the domain of graspologic, it's a bit of a loaded term)
- what
- threads / workers / n_jobs (in that order)
- embedding, not because latent positions is wrong, but because it's more transferable to engineers than latent positions/space (I legit didn't even know they were the

[2021-05-06 22:26] dwaynepryce commented on #755
@bryantower @nyecarr do you guys have any opinions on some naming conventions?  Don't be shy, we want to have a conversation and get working on standard naming conventions

[2021-05-06 22:53] bdpedigo commented on #755
also soliciting @asaadeldin11 @loftusa @j1c input. Also feel free to add terms/concepts that we should define, I'm sure there are many more.

[2021-05-06 23:23] jovo commented on #755
i vote whatever sklearn uses

[2021-05-07 20:36] j1c commented on #780
@loftusa This only works if the input graphs is already a 3d array, which is what you did in the example. The for loop was used to deal with cases where the input is a list, and we dont have to explicitly create a copy of the input data as a 3d-array if the input is a list. Creating this array can be very costly since numpy arrays require contiguous blocks of memory, and will require double the am

[2021-05-07 21:37] j1c commented on #755
@dwaynepryce When you say something is not a convention everywhere, does that mean there is a convention and sklearn is deviating from it or there is no convention and sklearn made a choice? If it means there is a convention, then we should follow that. If it means there is no convention, then I think we should follow sklearn for arguments that mean and do the **_exactly_** the same thing (e.g. `n

[2021-05-07 22:02] dwaynepryce commented on #755
@j1c I can't do a comprehensive evaluation, but:

https://github.com/networkx/networkx/search?q=n_iters vs. https://github.com/networkx/networkx/search?q=iterations
https://github.com/scipy/scipy/search?q=n_iters vs. https://github.com/scipy/scipy/search?q=iterations
https://github.com/pandas-dev/pandas/search?q=n_iters vs. https://github.com/pandas-dev/pandas/search?q=iterations
https://github.co

[2021-05-10 13:04] bdpedigo opened #786 "Consider converting networkx -> sparse matrix by default, at least for embeddings"
Currently, `import_graph` will allow sparse input, but networkx graphs are converted to dense numpy arrays. Converting to a scipy sparse matrix prior to doing something like an embedding is probably faster.

[2021-05-12 17:50] pbourke opened #787 "ZeroDivisionError in graspologic.layouts.nooverlap"
## Expected Behavior
Graph layout succeeds

## Actual Behavior
ZeroDivisionError during no overlap phase

## Example Code
[code]

## Full Traceback
[code]

## Your Environment
* Python version: 3.7.10
* graspologic version: 0.1.0

## Additional Details
Any other contextual information you might feel is important.

[2021-05-12 17:52] dwaynepryce commented on #787
@bryantower

[2021-05-12 19:40] dwaynepryce commented on #787
@bryantower what have you done

[2021-05-12 20:34] bryantower commented on #787
I believe that is the issue that was fixed in PR 767. It should be fixed in 0.2.0. But I will verify

[2021-05-12 20:35] dwaynepryce commented on #787
now I feel bad for teasing

[2021-05-12 20:43] bryantower commented on #787
@pbourke, can you retry with version 0.2 or 0.3?

[2021-05-13 02:16] pbourke commented on #787
@bryantower - yep, just updated to 0.2, which is the latest in PyPI, and will retry now. This seems to be a transient error because it succeeded on a subsequent run with 0.1.

[2021-05-13 12:40] bdpedigo opened #788 "Align module enhancements"
I have code I need to PR which adds:
- [ ] the right way to do alignments for embeddings of directed networks
- [ ] the ability to use seeds in `SeedlessProcrustes`... meaning we will need a name change I think

PR will also include
- [ ] the name change to `SeedlessProcrustes` and associated changes in docs/tutorials
- [ ] a demonstration of using the alignment stuff on actual embeddings of netwo

[2021-05-18 22:27] bdpedigo opened #791 "Implement scipy's largest connected component finder and use for csr_matrix input"
## Is your feature request related to a problem? Please describe.
Currently we use networkx to find largest connected component

#708 addresses using the scipy function where appropriate for _checking_ if the graph is fully connected, but not finding the largest connected component

This should be much much faster when graph is represented as a sparse matrix already, and may even be faster in othe

[2021-05-19 18:29] #112 closed

[2021-05-19 20:13] #544 closed

[2021-05-20 00:05] bryantower commented on #787
It was definitely transient on 0.1, It should be fixed on 0.2 and greater. Can we close this now?

[2021-05-20 17:02] #520 closed

[2021-05-20 18:13] pbourke commented on #787
yeah this did not happen again - closing

[2021-05-20 18:13] #787 closed

[2021-05-20 20:52] #134 closed

[2021-05-20 20:53] bdpedigo commented on #757
closed by #790

[2021-05-20 20:53] #757 closed

[2021-05-23 17:00] bdpedigo opened #792 "Graph matching code structure discussion"
## Is your feature request related to a problem? Please describe.
- Graph matching code is great as is if just following FAQ/SGM exactly
- I'd like to generalize the code to a few very similar but distinct use cases, for example:
   - Be able to handle multigraphs
   - Bilateral graph matching (use connections between the two subgraphs in addition to the subgraphs themselves)
   - Hard grouped gra

[2021-05-24 16:49] bdpedigo opened #793 "[BUG] mug2vec assumes undirected graphs but doesn't check for this"
## Expected Behavior
Should run on a set of directed graphs

## Actual Behavior
Breaks on this line
https://github.com/microsoft/graspologic/blob/2125f27bc3f2739f4f2c784d5b700417df63c5d7/graspologic/embed/mug2vec.py#L141
since `omni_embedding` is a tuple

[2021-06-02 14:08] dlee0156 commented on #736
interested in this!

[2021-06-02 14:30] bdpedigo commented on #736
Hi @dlee0156 - here's a high level overview of what we are doing for graph layouts conceptually.

Input
- network (could be networkx object, could be a sparse or dense adjacency)
- (optional) metadata. This could be labels for nodes, labels for edges, etc.

High-level algorithm
1. Do some kind of network embedding (typically Adjacency/laplacian spectral embedding or Node2vec)
2. Run UMAP/TSNE on t

[2021-06-02 14:40] bdpedigo commented on #736
@dlee0156 this is my janky code for layouts:
https://github.com/bdpedigo/giskard/blob/e88dbdb67c1c373f946f7295a598abaf375bd579/giskard/plot/graph_layout.py#L25

and this is the code in graspologic currently: https://github.com/microsoft/graspologic/blob/2125f27bc3f2739f4f2c784d5b700417df63c5d7/graspologic/layouts/auto.py#L112

[2021-06-03 17:40] asaadeldin11 commented on #792
Problems that GM is solving:
- Vanilla GM (part of GraphMatch)
- Soft seeds (probably part of GraphMatch)
- Soft group seeds (probably part of GraphMatch)
- divide, merge, and conquer (probably it's own class)
- bilateral GM (probably it's own class)
- multi-layer GM?

[2021-06-07 16:40] bdpedigo commented on #736
@dwaynepryce @bryantower how do we feel about making a graph undirected (by averaging i -> j and j -> i edge weights) JUST for the purposes of running Leiden for coloring nodes in the layout process? We could also throw a warning if we have to do this? Leiden is one of the rare cases where I think it is actually a sensible behavior to symmetrize the network prior to running and this is always what

[2021-06-07 16:42] dwaynepryce commented on #736
Is there any benefit to averaging instead of just aggregating?  I think we do the latter now, so I'm curious what averaging gets us instead

[2021-06-07 16:47] bdpedigo commented on #736
I see we talked about this https://github.com/microsoft/graspologic/issues/655

my aggregate you mean sum?

[2021-06-07 16:49] bdpedigo commented on #736
since sum is literally avg * 2 I don't expect there to be any difference in modularity, leiden, etc. We could do either, I just said average because that's what we do in symmetrize currently but sum could also be an option

[2021-06-07 17:39] dwaynepryce commented on #736
Yep!

I have no problem averaging, summing is simpler when it comes to multigraphs but I don't even think that applies here (off the top of my head, I think we balk at a multigraph in general in what we currently have)

[2021-06-07 17:45] bdpedigo commented on #736
Do you think we need to warn the user that this is happening or just do it automatically and explain in the docs?

[2021-06-07 17:46] bdpedigo commented on #736
@dlee0156 I think this confirms what we were thinking/talking about?

[2021-06-07 17:47] dwaynepryce commented on #736
We _probably_ should warn.  I don't like automatically inferring/doing things without warning someone - just in case our "we think this is probably safe" ends up being _not_ safe, but the user won't ever know we're trying to be too clever for our own good

[2021-06-07 23:47] bdpedigo commented on #602
closed as part of the PR referenced above

[2021-06-07 23:47] #602 closed

[2021-06-09 18:19] bdpedigo opened #797 "[BUG] MultipleASE and OmnibusEmbed mistakenly have a .transform method"
## Expected Behavior
We never tested or intended the out of sample transform to work for those multiple graph embeddings as the inputs wouldn't even make sense

## Additional Details
- Either of these classes _could_ have a transform method if someone wants to implement it and go through the math
- For now, I recommend that we just override this method in the `BaseEmbedMulti` class and have them r

[2021-06-15 17:20] #791 closed

[2021-06-16 00:22] Nyecarr commented on #395
Could you share those examples? I've not compared the two very much in my work but if you have illustrative examples to compare when one is more beneficial than the other I'd be happy to throw it into a tutorial.

[2021-06-17 15:11] dlee0156 opened #800 "[BUG] type error when running node2vec_embed"
## Expected Behavior
Generate a node2vec embedding of the input graph

## Actual Behavior
`TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'` occurs during the _preprocess_transition_probabilities() step in node2vec_embed. I'm not sure why, but unnormalized_probs is currently a list of all 'None's.

## Example Code
[code]
The parameters are from layouts\auto.py

## Full Traceback

[2021-06-17 17:04] bdpedigo commented on #800
@nyecarr any ideas?

[2021-06-21 13:17] victoris93 opened #802 "[BUG] Failed import of pairplot from graspy.plot"
## Expected Behavior
Successful import of graspy.

## Actual Behavior
Error raised: "Could not load shared object file: libllvmlite.dylib"

## Full Traceback
[code]

## Environment
* Python version: 3.8.5
* graspologic version: 0.3.0

[2021-06-21 15:42] bdpedigo commented on #802
hi @victoris93 thanks for the bug report - does this issue come up when importing from other modules?

@daxpryce the other day you said there was some issue with llvmlite you had seen before with people's installs, is this that same issue?

[2021-06-21 15:59] victoris93 commented on #802
@bdpedigo yes, it throws an identical error when I try to import other modules.

[2021-06-21 16:05] bdpedigo commented on #802
Is there a reason you are trying to use graspy 0.3.0 instead of the most recent version of graspologic? I just noticed that.

Though, ultimately I think this has something to do with how numba and/or llvmlite are installed on your machine. Could you provide the output of either `pip list` or `conda list` for the current python environment you are using?

[2021-06-21 16:20] victoris93 commented on #802
I was just following the tutorial which used graspy specifically. Would switching to graspology make a difference?

[code]

[2021-06-21 16:41] bdpedigo commented on #802
We are no longer supporting/maintaining graspy (the name more or less just changed to graspologic), most things should still work if you just change graspy -> graspologic. Which tutorial are you trying to follow?

Again, not sure that this is causing this particular issue though. One thing I could suggest is creating a new conda environment and specifying a few dependencies:

`conda create -n <new

[2021-06-21 17:06] victoris93 commented on #802
@bdpedigo after I've tried to create a new environment:
[code]
Any ideas? 😅  llvmlite seems to be the problem

[2021-06-21 17:21] bdpedigo commented on #802
does
`conda create -n <new env> numba llvmlite`
work (without any scipy/sklearn/etc) ?

Could also try

`conda config --add channels conda-forge`
`conda config --set channel_priority strict`

and retry steps above but this would set your default channels to conda-forge https://conda-forge.org/index.html instead of the anaconda defaults

[2021-06-21 17:34] bdpedigo opened #803 "Clarify expected behavior for Leiden on a disconnected graph"
## Is your feature request related to a problem? Please describe.
Several times I have been confused by output of Leiden only to realize it is because some nodes are disconnected. These nodes then will not show up in the partition dictionary.

## Describe the solution you'd like
Just some clarification and/or a warning for what to expect

## Provide references (if applicable)
in this example node

[2021-06-21 19:32] Nyecarr commented on #800
Yup, this n2v impl stumbled on unweighted graphs and doesn't really give a good error message. I have a PR that will default weights to 1 and raise a warning for unweighted graphs.

[2021-06-21 19:38] Nyecarr commented on #800
In the meantime, if you are still blocked, you can do something like:

[code]

[2021-06-22 12:55] dlee0156 commented on #800
@Nyecarr Thanks so much, that worked!

I think Word2Vec might have changed the names of some of their arguments though, because I got this error as well:
[code]
And so I changed the arguments 'size' to 'vector_size' and 'iter' to 'epochs' (according to their new documentation) when I was running it. Super minor, but still wanted to let you know.

Again, thanks so much!

[2021-06-22 15:51] bdpedigo commented on #800
i believe that was the reason for pinning gensim's version https://github.com/microsoft/graspologic/blob/5ed36484d32a6ed79db1b7ea087d93fc238df613/setup.cfg#L29

what version of gensim are you running @dlee0156?

[2021-06-22 16:36] dlee0156 commented on #800
Ohhh I see, I just downloaded the most recent version which was 4.0.1. Thank you!

[2021-06-22 16:36] #800 closed

[2021-06-22 17:15] bdpedigo commented on #802
@victoris93 just wondering if any of that helped?

[2021-06-22 17:33] victoris93 commented on #802
@bdpedigo actually today I had to reinstall mvlearn since previous manipulations had somehow affected its dependency on graspy. So I decided to stick to the visualization functions provided by mvlearn. Once I removed it and installed it again with pip3, it went back to normal. Thanks for your help though! It's just for now I really need mvlearn to work 😅

[2021-06-22 19:49] daxpryce commented on #803
Would it be short sighted to just make these isolate nodes be in their own, isolate communities?

My big worry is what happens if you pass in this result dictionary referencing nodes that won't exist to the native code (because they aren't in the edge list) if you wanted to use that dictionary as the starting partitioning.  I think right now I throw an exception (https://github.com/microsoft/grasp

[2021-06-22 19:57] daxpryce commented on #802
Thanks for letting us know @victoris93!

In general, trying to troubleshoot a global(ish) environment is super challenging.  For issues like this, we really would like to ask you to:
- create a new virtual environment or conda equivalent
- Install only graspologic
- Replicate that you cannot import graspologic (or, specifically, the import statement that blew up catastrophically in your older envi

[2021-06-22 19:57] #802 closed

[2021-06-22 22:24] bdpedigo commented on #803
Probably. This is perfectly valid but I'm guessing is almost never what the user wants. Thoughts?

Yeah I think this sounds reasonable, personally I think a warning would be nice so when I go to use that dictionary as a map I know what to expect.

In other places in the library if we are feeding nx graph and expecting a dictionary, and we internally remove isolates/non LCC nodes, I think we should

[2021-06-25 20:21] daxpryce commented on #803
I could also change the return type to also return a `set` of unpartitioned nodes.  That might make a lot more sense anyway

[2021-06-25 21:47] bdpedigo commented on #803
im in favor of just a warning/explanation in the docs, just keeps the return type slightly simpler and still tells someone that some nodes are dropped and they cant blindly map using that partition.

is there some reason you prefer specifying which nodes were dropped?

don't feel too strongly though

[2021-07-04 11:12] rajpratyush commented on #797
@bdpedigo can i take up this issue??

[2021-07-11 17:16] loftusa opened #809 "Fix matplotlib version requirement"
currently we have `matplotlib>=3.0.0,<=3.3.0`.
Matplotlib >= 3.4.0 has some nice features, like `supxtitle`.

Is there a reason we still clip the version?
If not, see #810

[2021-07-19 03:33] bdpedigo commented on #809
closing cause duplicate of https://github.com/microsoft/graspologic/issues/726 (but would love to have this fixed, thanks for the PR)

[2021-07-19 03:33] #809 closed

[2021-08-02 21:28] daxpryce opened #815 "Unit tests fail when setting svd_seed"
When adding the ability to set an svd seed to use when picking the randomized svd solver in `select_svd`, I ran across a number of unit tests that failed if we passed `None` into the randomized SVD.

By default, in sklearn, the randomized svd sets random_state=0 (vs. None).  When I passed in `None` as a value, tests broke in the following places (actually, tests broke *everywhere*, and most I was

[2021-08-06 23:24] vmdhhh commented on #793
Hey @bdpedigo , The `omni.fit_transform` returns a tuple of two ndarrays. In that case, what should be taken as self.omnibus_n_components_ ?

I think it would make sense to check if `omnibus_embedding` is an instance of `ndarray` or `tuple` and then assign proper components. What do you think?

[2021-08-06 23:56] bdpedigo commented on #793
hi @vmdhhh - I like your idea but I think it may actually be simpler to pass `concat=True` to `OmnibusEmbed` - this will ensure that the output is always an ndarray. I think it would also make sense to make  `self.omnibus_n_components_ = len(omni.singular_values_)`

I haven't tested this fix but I think it would work. If you are interested in trying it I can assign you this issue and would be happ

[2021-08-07 11:32] vmdhhh commented on #793
Hey @bdpedigo, I will be happy to try it out. But I am not sure how to test it, and I also don't see any tests written for mug2vec.
Please let me know If you know any easy way to test this.

[2021-08-07 18:59] bdpedigo commented on #793
the tests are here https://github.com/microsoft/graspologic/blob/dev/tests/test_mug2vec.py

there's also some info about contributing code and testing here https://github.com/microsoft/graspologic/blob/dev/CONTRIBUTING.md

please let me know if that helps or if you have further questions

[2021-08-10 18:07] daxpryce opened #818 "Check type hinting on layouts is accurate"
The type hints for the automatic layout were created to look only at undirected graphs, but now we're automatically converting directed into undirected.

Since we're supporting a greater range of graphs now, we should review and adjust any type hints that may not be strictly accurate.

[2021-08-10 18:21] bdpedigo commented on #395
have discussed some examples where regularized LSE worked better (at least for me) with @daxpryce and @Nyecarr - I feel like regularized is what I'd recommend anyone using.

Also, `form='I-DAD'` is the Laplacian where you want the _bottom_ d eigenvectors/singular vectors, not the top - therefore I think it's actually fairly useless to have as an option with the current LSE. I am fine leaving it in

[2021-08-11 16:53] bdpedigo commented on #395
`None` (means regularizer is set to the mean degree)

[2021-08-11 16:54] daxpryce commented on #395
so it would be a legit R-DAD by default, and you could fully emulate DAD by setting it to 0.  sounds reasonable here!

[2021-08-11 17:20] bdpedigo opened #820 "Add tutorials for new pipeline functions"
## Is your feature request related to a problem? Please describe.
Just wanted to document that we need tutorials/examples for the new pipeline functionality as we've discussed

## Related PRs
#814 #817

## Additional context
cc @daxpryce

[2021-08-12 06:51] tliu68 commented on #601
We greatly appreciate your interest in our algorithm and your help in improving the code! However, we believe that `scikit-learn` users might benefit more if the code were integrated into the main package instead of `scikit-learn-extra` due to the following reasons:

- our code deals with Gaussian mixture modeling (GMM), a fundamental tool in clustering, and automates the model selection process d

[2021-08-12 12:09] jovo commented on #601
We greatly appreciate your interest in our algorithm and your help in improving the code! We strongly believe that `scikit-learn` is the right place for this PR.

This PR is essentially a python port of R's `mclust`, which is the de facto standard method for model-based clustering from the statistics community.  First developed in 1993 ([Model-based Gaussian and non-Gaussian clustering](https://ww

[2021-08-12 13:51] tliu68 commented on #601
We greatly appreciate your interest in our algorithm and your help in improving the code! We strongly believe that `scikit-learn` is the right place for this PR.

This PR is essentially a python port of R's `mclust`, which is the de facto standard method for model-based clustering from the statistics community. First developed in 1993 ([Model-based Gaussian and non-Gaussian clustering](https://sch

[2021-08-12 17:02] #655 closed

[2021-08-12 17:03] jovo commented on #601
also cite https://www.tandfonline.com/doi/abs/10.1198/016214502760047131 please

[2021-08-13 06:01] tliu68 commented on #601
I think I have. It's the one in 2002. And I have added its citations.

[2021-08-14 06:10] tliu68 commented on #601
posted already!

[2021-08-15 20:06] bdpedigo commented on #740
hey @ahoak and @carolyncb! just wanted to pick this conversation back up and see whether you have heard anything from the legal team?

[2021-08-17 17:16] shruthi223 commented on #780
Hi! I'm new here, could you assign me this?

[2021-08-18 18:59] Dhavin commented on #732
Hello @rajpratyush, I would like to contribute to this project by solving this issue. Can I?

[2021-08-18 19:06] Dhavin commented on #391
Hello @bdpedigo   , I would like to contribute to this project by solving this issue. Can I?

[2021-08-18 20:23] adam2392 opened #822 "Conda build?"
## Is your feature request related to a problem? Please describe.
I'm on a M1 Mac and trying to install graspologic. However, the pip install is pretty buggy for me in general, and so conda usually is the way to go to install things with numba/cython/etc. dependencies. Is there the possibility of having a conda release as well as a pypi release?

However, when installing, I get the following error

[2021-08-18 21:18] daxpryce commented on #822
@adam2392 So I know for sure we aren't publishing graspologic-native for the m1 - at the time I created the build matrix for it, there were no github workers that were for macos on M1.

If that has changed I'm more than happy to configure those builds, otherwise you're going to have to build graspologic native manually until we can get those into a normal CICD flow.

As for the rest of it; I have

[2021-08-18 21:52] daxpryce commented on #822
There's actually a chance I could get a graspologic-native build for m1 on the github runners to publish, but I have no way of testing it.  If I were to do that in a snapshot, could I ask you to try to install it and see if it works?

[2021-08-18 22:37] bdpedigo commented on #822
@adam2392 seems like what @daxpryce suggests is worth figuring out regardless.

As far as your original request goes, I'm open to setting up a conda-forge feedstock once this gets fixed, but first it would require that all of our dependencies are also on conda-forge. This means we'd need graspologic-native as well as hyppo (cc @sampan501) on there. I'm not sure what would be involved for graspolog

[2021-08-18 22:40] bdpedigo commented on #822
Also, as an immediate fix, I'm guessing you could just clone the repo and install locally, ignoring dependencies (i.e. just not installing graspologic-native). As long as you don't actually need `graspologic.partition.leiden` everything else might work fine

[2021-08-19 17:26] daxpryce commented on #822
layouts uses it too, so if you don't touch leiden or layouts you are fine

[2021-08-20 08:32] murari2401 commented on #780
Hi, Can you assign me this, I have just started open source contribution if you can assign me this will be helpful...
Thank you

[2021-08-20 13:18] devil-cyber commented on #793
Is this issue still open? Can I work on this ?

[2021-08-20 15:00] bdpedigo commented on #793
Sure! some info on how to solve it is provided in the comments above

[2021-08-20 15:34] devil-cyber commented on #793
Ok thanks

On Fri, Aug 20, 2021, 8:30 PM Benjamin Pedigo ***@***.***>
wrote:

[2021-08-23 17:25] vishaljha2121 commented on #780
Hello @loftusa , I am starting to work on this issue as anyone has not been assigned to it. Please let me know if someone has already fixed the issue.

[2021-08-24 09:43] ngcd04-fa07 commented on #664
Hey
This would be my first open-source contribution, and I'd love to work on this. Would you please assign this to me and guide me a bit as to what needs to be done?
Thank you

[2021-08-24 09:59] ngcd04-fa07 commented on #760
Hey
This would be my first open-source contribution, and I'd love to work on this. Would you please assign this to me and guide me a bit as to which class the verbose parameter needs to be added to?
Thank you

[2021-08-24 12:52] loftusa commented on #664
Hey, awesome!
@lawreros do you know? You've been working a lot on website stuff recently

[2021-08-24 12:59] loftusa commented on #780
@shruthi223
@murari2401
@vishaljha2121

Hey all. Thanks for your interest! For this specific issue, see what @j1c wrote - we may not want this. I encourage everyone to check out other issues!

[2021-08-24 12:59] #780 closed

[2021-08-24 13:02] loftusa commented on #760
I think [this](https://github.com/microsoft/graspologic/blob/dev/graspologic/match/gmp.py#L12) one, right @bdpedigo?

[2021-08-24 13:06] ngcd04-fa07 commented on #760
Okay cool I'll start working on it!

[2021-08-24 16:04] #306 closed

[2021-08-24 19:07] ebridge2 opened #826 "Fit Models should be able to produce the parameters of the model"
## Is your feature request related to a problem? Please describe.

It seems odd to me that the parameters returned by some of the fit models are not necessarily the parameters that the model would typically be specified with. For instance, consider an SBM:

[code]

The only parameter produced by the model appears to be a `n x n` probability matrix, `model.p_mat_`, and I cannot seem to get back an

[2021-08-24 21:09] ngcd04-fa07 commented on #760
Hi again
I'm not familiar with how this project works, so I'll need some help from you guys. I have added the verbose parameter (default value=0) to the class, and I have added the code [here](https://github.com/microsoft/graspologic/blob/29e18926bb14a0b98befa0557596384c7a149290/graspologic/match/gmp.py#L245) to print if verbose>1. But, what text does it need to display exactly?

[2021-08-24 21:30] ngcd04-fa07 commented on #760
Hey
I've added the verbose parameter to the class and the Franke-Wolfe iterations, but I'm kinda lost as to which initialisations need the verbose parameter. Please help me with the same.
Thank you

[2021-08-25 04:51] rajpratyush commented on #822
I think we had discussion of whether should we have CI/CD pipeline for  graspologic #650

[2021-08-25 05:05] rajpratyush commented on #818
could you provide some more insight on this? @daxpryce

[2021-08-28 15:57] rajpratyush commented on #820
should we create new sphinx based pages with examples ?

[2021-08-30 16:37] bdpedigo commented on #826
https://graspologic.readthedocs.io/en/latest/reference/models.html#graspologic.models.SBMEstimator is `block_p_` what you want?

[2021-08-30 17:58] daxpryce commented on #820
Yep, this is actually in process right now. @Nyecarr is building it out as we speak and I'm helping source and prep the data we're going to use.  We wanted to find one that would work well with both ASE and LSE, as well as be intuitive and human-reason-able so we can actually tell a compelling narrative for graph neophytes.

My current datasource we're expecting to use is Standford's https://snap.

[2021-08-31 05:33] Farhan-jafri commented on #726
Hi, I would like to work on this issue. Please guide me further on what needs to be done. Thanks😄

[2021-08-31 16:04] bdpedigo commented on #726
we just need someone to go through each version of matplotlib since 3.3.0, install that version of the package, run our tests, and document whether or not all tests pass with that version of matplotlib installed

[2021-08-31 16:59] ebridge2 opened #828 "[BUG] Inaccurracy in how to use autokmeans"
## Expected Behavior

https://github.com/microsoft/graspologic/blob/10de2bf17b972decbab318568154af226dcd71fa/graspologic/cluster/kclust.py#L16

This line is false; higher silhouette score is better, to my knowledge? https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html

## Actual Behavior

Documentation correctly reports how to use the package.

[2021-08-31 17:06] j1c commented on #828
Yea highest is best. Code is correct though.

[2021-08-31 17:09] pbourke commented on #828
Also the docstring and default value for `max_clusters` are out of agreement:

https://github.com/microsoft/graspologic/blob/10de2bf17b972decbab318568154af226dcd71fa/graspologic/cluster/kclust.py#L20

https://github.com/microsoft/graspologic/blob/10de2bf17b972decbab318568154af226dcd71fa/graspologic/cluster/kclust.py#L47

[2021-08-31 17:24] pbourke commented on #803
Is there an established pattern for emitting warnings? Or do we just want to add a warning to the doc string?

[2021-08-31 17:36] daxpryce commented on #803
`warnings` module, `warnings.warn(msg)` specifically

[2021-08-31 17:37] daxpryce commented on #803
the `unittest.TestCase.assertWarns()` check is useful in unit tests too

[2021-08-31 19:25] pbourke commented on #803
Is it fair to say that we only care about isolates when the input is an nx Graph? Would not apply to edgelist as input. I guess for the matrix input forms we could detect if any rows are all zeros, but that seems like overkill

[2021-08-31 19:26] daxpryce commented on #803
I think we need to do it for nx and for matrices.  I have no idea how involved that is in the sparse case :(

[2021-08-31 20:14] bdpedigo commented on #803
i'd recommend just using https://github.com/microsoft/graspologic/blob/29e18926bb14a0b98befa0557596384c7a149290/graspologic/utils/utils.py#L425 and throwing a warning if not.

this check can be potentially expensive, but we could provide the option to turn it off a la `check_directed` in Leiden https://github.com/microsoft/graspologic/blob/29e18926bb14a0b98befa0557596384c7a149290/graspologic/parti

[2021-08-31 20:26] daxpryce commented on #803
Might I suggest a different approach?

[code]
 Doing it this way means fewer check flags, which are an evil (though sometimes necessary), and also somewhat keeps the divergent-paths-depending-on-graph-representation-type stuff to a minimum

[2021-08-31 20:48] bdpedigo commented on #803
love it! way simpler

i wonder though, what is happening internally in Leiden, such that the partition is always the same length as the LCC?

[2021-08-31 20:51] pbourke commented on #803
I don't think it's to do with Leiden. When we build the edgelist to pass to Leiden we only iterate edges, which will drop any isolate nodes:

https://github.com/microsoft/graspologic/blob/29e18926bb14a0b98befa0557596384c7a149290/graspologic/partition/leiden.py#L80

If you pass a disconnected graph with components, then you'll get those nodes back in the output

[2021-08-31 20:51] daxpryce commented on #803
well, partitions is the dictionary - we're just checking the size of it, or number of elements.

in other words, you know that leiden thinks there were, say, 15 nodes in the graph, but if your source graph says there are 20 then you know there's a mismatch

[2021-08-31 20:53] bdpedigo commented on #803
oh so this is less to do with connected components, and more just isolated (no edge) nodes that are ignored in the partition output?

[2021-08-31 20:53] pbourke commented on #803
I'm working on a variant of Dax's suggestion, but I'm doing it in the `_validate_and_build_edge_list` function, so that it returns all nodes

[2021-08-31 20:54] bdpedigo commented on #803
if I have a graph with 4 nodes, 2 edges:
A <-> B
C <-> D

Leiden should still work and return a partition of length 4?

[2021-08-31 20:54] pbourke commented on #803
yep, that's what I was seeing in my testing

[2021-08-31 20:56] daxpryce commented on #803
Precisely!

It should even work if you have:

A <-> B
C <-> C

The node list is a superset of all nodes in the edge list, which is not necessarily the nodelist.

I wonder if we can emulate this in the algorithm by giving self loops in all disconnected edges with weight = 0?  Then everything would always get a partition, even if our graph we pass in is always defined by an edge list?

[2021-08-31 20:58] daxpryce commented on #803
If you're super curious, the reason why this is a problem is that the leiden impl we have is **excessively** linked to  the in-memory representation of a graph.  It's ... non trivial to accommodate isolates - or at least, not off the top of my head!

[2021-08-31 21:00] bdpedigo commented on #803
for isolated nodes, if you wanted to include them like that, would you just envision having them each become their own "cluster"?

what about for a graph that is say, 2 connected components, each with 1000 nodes. what does Leiden do on that? is it effectively the same as running leiden twice, once on each component?

[2021-08-31 21:02] daxpryce commented on #803
an isolated node should only ever be in it's own partition - it doesn't really have a community, yanno?

I would say that 2 connected components would probably give you roughly similar results to running leiden on each LCC.  the difference is all going to fall down to PRNG giving you slightly different results.  I bet if you ran some tests where you did a graph of 2 CCs vs. 2 separate CCs and did

[2021-08-31 21:07] daxpryce commented on #803
in fact, this is one of the enhancements leiden offers over louvain, which conceptually could randomly place isolate nodes in any community at all, whereas leiden restricts community membership to nodes that have a path into that community via their neighborhood

[2021-08-31 21:13] bdpedigo commented on #803
makes sense - i was just wondering whether we would be doing the user a favor by actually doing this LCC check for them. but in this case sense I think the notion of community/partition is well defined enough in the example above, seems like we should just let Leiden rip on the disconnected graph?

[2021-08-31 21:17] daxpryce commented on #803
I don't know that the LCC should matter - it makes sense that your embeddings lose coherency/utility, but > 1 CC is perfectly fine in the leiden case.  I don't think we should lcc check, but we *should* make sure we warn if we're returning a partitions dictionary that doesn't contain a partition for every node :)

[2021-08-31 21:19] daxpryce commented on #803
Aside, I wonder if I should be requiring an adjacency/neighbor list instead of edge list in rust, that way if we ever DO get wasm bindings or direct rust crate usage, it would support everyone, not just our own special case in python.  I am just not sure when I can get to it

[2021-09-02 18:04] #803 closed

[2021-09-03 15:31] daxpryce opened #831 "[BUG] Random bug in n2v"
## Expected Behavior
Run n2v, get an embedding and zero exceptions

## Actual Behavior
[code]

This occurred in a build https://github.com/microsoft/graspologic/runs/3507313237?check_suite_focus=true

[2021-09-03 15:32] daxpryce commented on #831
I'm a big fan of not having exceptions.  I would like there to be no exceptions.

Mr. Nick, could you ensure there are no exceptions?  kthx.

[2021-09-08 17:51] bdpedigo commented on #826
any thoughts on the above @ebridge2? If that is not what you want, lmk. If documentation is unclear somehow, would welcome a PR

[2021-09-08 17:52] bdpedigo commented on #797
@rajpratyush sure

[2021-09-09 12:52] dokato commented on #822
I'm trying to install `graspologic` on my Mac M1, pip doesn't work atm, so I tried to install locally as @bdpedigo advised, but it ends with an error:
[code]
even though I did what error message avised, which is I put downloaded `freetype` to the build directory:

[code]

[2021-09-09 13:25] bdpedigo commented on #822
hi @dokato, sorry you are having trouble with this. I can't speak to ARM timeline, @daxpryce?

what happens if you install hyppo (and all other dependencies besides graspologic-native) manually, and then do the --no-deps install? AFAIK graspologic-native was the only issue here.

[2021-09-09 14:28] daxpryce commented on #822
hi @dokato

I'm still looking for candidates to test whether these m1 builds even work.  If you're willing to try out a pre-release of graspologic-native I can try to get a build together, but it won't be until next week some time.  I'm not even sure I **can** do the build yet because Github actions don't have a dedicated m1 based server to build for, but there are some rumors that I can do it on

[2021-09-09 16:05] dokato commented on #822
@daxpryce sure, happy to help and test that!

Meanwhile, I created a local `whl` for python v 3.9 and works like a charm (minus `hyppo`).

[2021-09-09 16:10] daxpryce commented on #822
Fantastic, I'll create another build pipeline specifically for m1 builds and we'll publish them just to github for now (so you'll have to do manual download / install to test vs. using pip or conda-pointing-at-pypi).  Can you send me an email @ `daxpryce@microsoft.com` so we can run through things over email instead of tickets?  I will report back once we have some results and we can let this tick

[2021-09-09 19:05] ebridge2 commented on #826
oh; yeah, it is, good call I'm dumb lol

[2021-09-09 19:05] #826 closed

[2021-09-15 06:29] williamgilpin opened #837 "[BUG] ValueError in partition.leiden"
[code]
Throws the following `ValueError`

[code]

Intriguingly, `graspologic.partition.hierarchical_leiden(g)` works just fine. Thanks very much for this amazing library, and for any advice. And my regrets if it turns out I'm making a simple error somewhere.

### Environment
* Python: `3.8.11`
* graspologic: `0.2.0`
* graspologic-native: `1.0.0`
* numpy: `1.20.3`

[2021-09-15 07:00] williamgilpin commented on #837
It looks like this is fixed if I force an upgrade to the development version `0.3.0` from GitHub:

`pip install git+git://github.com/microsoft/graspologic`

Thanks again for this amazing library! It's been amazing to work with

[2021-09-15 07:00] #837 closed

[2021-09-15 12:55] bdpedigo commented on #837
glad you got this working @williamgilpin

@daxpryce a few questions related to this:
1. are we still doing prereleases on pip?
2. does this look like an issue with graspologic-native somehow?
3. wondering if we are due for a release (last was May 6th, maybe we should have some kind of schedule for this?)

Just want to make sure we understand what happened with this issue in case others are having

[2021-09-15 16:49] daxpryce commented on #837
1: we are
2: it is related, but isn't an issue in native so much as an issue in graspologic itself.  we should have released a minor release of graspologic when we made this fix and we didn't.  that's on me!  basically we're ready for the api change to graspologic native within graspologic, but that doesn't help if we don't *publish the version that works with it*.
3: we are more than due for a re

[2021-09-15 17:45] #550 closed

[2021-09-16 18:50] #831 closed

[2021-09-17 18:46] loftusa opened #839 "[BUG] graspologic-native installation issue"
My old laptop broke temporarily so I'm on a new (windows) machine for the time being.

In trying to reinstall graspologic, I'm encountering a few issues (this is on a fresh windows install, with a fresh python3 install (using `sudo apt-get python3`), on `wsl`).

1. call `git clone <graspologic link>`
2. navigate to folder and `pip install -e .`

I get

[code]

I guess I have to install `graspologi

[2021-09-17 18:52] loftusa commented on #726
bump, would like to prioritize this, we should allow `matplotlib 3.4.3`, there are some good new features and it's making incompatibility bugs pop up

[2021-09-17 19:23] loftusa commented on #839
@daxpryce

[2021-09-19 23:48] loftusa opened #840 "Give screeplot an `ax` argument"
function[ here.](https://github.com/microsoft/graspologic/blob/dev/graspologic/plot/plot.py#L1129)

Currently no way to specify an `ax`, most other plotting functions have that unless there's a good reason not to. I don't see a good reason for this one not to have it. Should be pretty easy to add on.

[2021-09-20 15:53] daxpryce commented on #839
has to be python 3.6 or up - check and see what `python3` is on wsl (it may be 3.5 by default and you may need to explicitly install python 3.6->3.8 and if they don't seem to exist, look into the deadsnakes PPA and get a more modern one)

`python3 --version` should tell you whatup

[2021-09-20 16:05] himanshu007-creator commented on #840
Hi, i would like to work on this issue, shall i take it?!🙂

[2021-09-21 18:50] daxpryce opened #842 "Automate building release notes"
I just wrote them for 0.3.0 by hand, and I feel like with a bit of discipline we can automate the entire thing.  There has to be something out there.

So, for anyone who wants to help out, I'd love to make this task be a not-human-task.

[2021-09-21 19:18] daxpryce opened #843 "Add pbourke as contributor for code"
@all-contributors please add @pbourke for code

[2021-09-21 19:20] #843 closed

[2021-09-21 19:23] daxpryce opened #844 "Add pbourke to contributors list"
@all-contributors please add @pbourke for code

[2021-09-21 19:25] daxpryce commented on #844
why won't you work all contributors bot, we need your powers

[2021-09-21 19:29] daxpryce commented on #844
@allcontributors please add @pbourke for code

[2021-09-21 19:30] #844 closed

[2021-09-21 19:32] daxpryce opened #846 "Add dlee0156 as contributor"
@allcontributors please add @dlee0156 for code!

[2021-09-21 19:33] daxpryce commented on #846
@allcontributors please add @dlee0156 for code

[2021-09-21 19:33] daxpryce commented on #846
I don't know why it's acting up, it doesn't seem like it can be top level?  whatever.

[2021-09-21 19:48] daxpryce commented on #846
@allcontributors please add @dlee0156 for code

[2021-09-21 19:48] #846 closed

[2021-09-21 19:49] daxpryce opened #848 "Add dlee0156 for code"
We need to keep our contributors file up to date.  It does not handle merge conflicts well.

[2021-09-21 19:49] daxpryce commented on #848
@allcontributors please add @dlee0156 for code

[2021-09-24 16:55] #726 closed

[2021-09-24 17:48] bdpedigo opened #855 "Update type hinting to follow PEP 585"
## Is your feature request related to a problem? Please describe.
I am getting the following warning
[code]

## Describe the solution you'd like
Should update anywhere in the code we use `typing.List` to be just `list[]`, I think? That's just what it sounds like from a cursory glance at https://www.python.org/dev/peps/pep-0585/ but I could be wrong.

[2021-09-27 17:38] himanshu007-creator commented on #855
Hi, I would like to work on this issue. Can you guide me further on what needs ti be done ^_^

[2021-09-27 18:05] chiraag-kakar commented on #747
Hey @daxpryce , I would like to work on this issue :)

[2021-09-27 20:55] bdpedigo commented on #855
Hi @himanshu007-creator, sure, but first it would help me if you could clarify in the above what you don't understand

[2021-09-28 04:56] himanshu007-creator commented on #855
I would be sending a PR soo, but please reconfirm, what i have concluded from the issue description is that we have to update all references of <code>typing.List</code> with <code>list[]</code>

[2021-09-28 06:20] pbourke commented on #855
PEP 585 is a Python 3.9 thing, backwards-compatible to 3.7 with a future import. If we are still targeting 3.6 I don't think that we can use it.

Can we disable this warning?

[2021-09-28 14:06] bdpedigo commented on #855
Oh interesting. In that case, @himanshu007-creator why don't you hold off until we can discuss the best way to proceed.

This feels like a silly reason to remove 3.6 support, not sure if there are any other reasons to do so that anyone knows of?

I know in the past @daxpryce has been anti-suppress-warnings-for-the-user (I think?) but here it feels perhaps warranted if this is always going to pop u

[2021-09-29 17:49] bdpedigo opened #856 "Change returns of `inference` functions to better match stats APIs"
## Is your feature request related to a problem? Please describe.
Currently, `inference.latent_distribution_test` and `inference.latent_position_test` return (p_value, sample_T_statistic, dict_of_other_stuff).

In scipy, everything does (stat, pvalue, sometimes a dictionary of other stuff). See https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html#scipy.stats.ttest_1sam

[2021-09-29 17:50] bdpedigo commented on #856
@kareef928 would you be at all interested in this? If not, I'll do it, just lmk

[2021-09-29 17:50] bdpedigo commented on #856
@j1c @asaadeldin11 does anyone protest to this minor change?

[2021-09-29 17:52] asaadeldin11 commented on #856
nope, seems like a good change to me

[2021-09-29 18:03] j1c commented on #856
Looks like a good change. Tho this really means scipy stats since the the other big stats package `statsmodels` does not follow this convention.

[2021-09-29 18:26] bdpedigo commented on #856
thanks, @kareef928!

[2021-09-29 18:27] bdpedigo commented on #856
Fair point - yeah, I guess scipy is mainly the one I think we should care about. Though I'm curious where in statsmodels they don't do this, I clicked on a couple things that looked like tests https://www.statsmodels.org/stable/generated/statsmodels.tsa.stattools.coint.html#statsmodels.tsa.stattools.coint https://www.statsmodels.org/stable/generated/statsmodels.tsa.stattools.adfuller.html#statsmod

[2021-09-29 18:48] j1c commented on #856
Hmm yea I guess I was thinking based on anova (https://www.statsmodels.org/stable/generated/statsmodels.stats.anova.anova_lm.html#statsmodels.stats.anova.anova_lm) and manova (https://www.statsmodels.org/stable/generated/statsmodels.multivariate.manova.MANOVA.mv_test.html#statsmodels.multivariate.manova.MANOVA.mv_test). But it seems like others do follow that (stat, pvalue, ...).

[2021-09-29 19:37] pbourke commented on #856
Is the order of arguments important when the result value is a namedtuple? I think namedtuples are a great way to make order less relevant (in addition to other benefits like built-in documentation and (for `typing.NamedTuple`) type hinting.

[2021-09-30 07:20] leycec commented on #855
While perambulating in an exhausted stupour through this exciting project, I couldn't help but notice this issue. As Mr. Beartype, I am the culprit responsible for everyone's understandable pain here. :disappointed:

The core issue is that PEP 585 deprecates *most* of PEP 484. Specifically, *most* of the `typing` module (including `typing.List`) will be going away by 2024. You have two options her

[2021-10-01 08:01] leycec commented on #855
**[Beartype FAQ entry is now live](https://github.com/beartype/beartype#pep-484-deprecations).** If there's anything else I can do to simplify your QA, ping me and it will be so. Thanks again, all! :bear:

[2021-10-05 21:09] daxpryce commented on #855
@himanshu007-creator so yeah, hold off making any - @pbourke has this covered in his type-hint branch (or will, rather) - and we also want to wait on beartype 0.9 for that too.

So yeah!  This is fun.  I'm having fun.  Are you having fun?  I'm having fun.

wtb compiler pst

[2021-10-08 05:22] bradycargle commented on #558
Looks like this is still open, can I take a stab at it?

Have some experience in Python but am new to open source. To answer your earlier question @bdpedigo, I found this on one of the sites with "good-first-issues"

[2021-10-12 16:20] bdpedigo opened #858 "Implement graph matching via optimal transport (GOAT)"
@asaadeldin11 has been working on a new backend solver for `GraphMatch` which has some nice advantages
(see https://github.com/neurodata/gmot)

We'd like to have this implemented as a `solver="ot"` (or something like that) option for `GraphMatch`, where the current option would be `solver="lap"`.

Related to #425
Related to https://github.com/microsoft/graspologic/issues/792

[2021-10-13 21:31] hhelm10 opened #862 "Out of sample MuG to Vec"
## Is your feature request related to a problem? Please describe.
For classification problems it is important to be able to learn a vector representation of the graphs without necessarily including the test data.

## Describe the solution you'd like
A transform method added to the Mug2Vec class so that previously unseen graphs can be embedded in the previously learned  space.

## Describe alternat

[2021-10-14 18:02] #848 closed

[2021-10-15 16:36] bdpedigo commented on #425
@asaadeldin11 wanted to bring this up again - what do you think of a function API closer to what the scipy implementation is like right now? Is there any advantage to having a class currently?

my thoughts on having classes has evolved to be more about "will this object ever take unseen data and operate on it." In the case of graph matching, I think the answer is almost always no (e.g. apply the p

[2021-10-15 19:27] daxpryce commented on #839
https://pypi.org/project/graspologic-native/#files

Please verify if this fixes it, and if so, close as fixed :)

[2021-10-16 17:06] loftusa opened #863 "Implement canonical vertex nomination / likelihood maximization?"
https://projecteuclid.org/journals/annals-of-applied-statistics/volume-9/issue-3/Vertex-nomination-schemes-for-membership-prediction/10.1214/15-AOAS834.full

Right now we have spectral nomination implemented for single graphs (good at large scales, according to the above paper)

There are two other main schemes the paper discusses, canonical vertex nomination and a likelihood-maximization approach

[2021-10-18 15:17] bdpedigo commented on #558
I believe this is handled for the most part in #504, but @daxpryce will know better

[2021-10-19 13:54] soonho2 opened #864 "[Question] Network analysis of dependence on country to country import of wheat/maize/rice/soybeans"
Hi, my name is Soonho Kim who is working on International Food Policy Research Institute. I would like to apply this network machine learning to the current research to measure the country dependence on import of agricultural commodities (i.e. wheat, rice, maize, and soybean) in the context of food insecurity. I have no background of network machine learning but I have monthly data for country to

[2021-10-19 17:38] daxpryce commented on #855
@leycec - I'm not trying to rush you _at all_, I'm just curious if you have a rough idea of when 0.9 magicks may happen?

Again, not trying to apply any pressure **at all**, just coming up with some rough plans :)

[2021-10-20 17:49] loftusa opened #866 "Number of embedding dimensions for vertex nomination"
Right now, `SpectralVertexNomination` doesn't have a way to set embedding dimension. It currently just uses whatever the default is when `n_components=None`, which I think is just the profile likelihood method.

I didn't see too much in the vertex nomination papers I read about embedding dimension (although I vaguely remember reading somewhere that it matters...) and I definitely didn't read anyth

[2021-10-27 17:06] bdpedigo opened #867 "Add citation.cff file"
https://citation-file-format.github.io/

If we add one of these to our root directory, github will create a little button that makes it easy for people to cite.

Example of this in action: https://github.com/neurodata/hyppo

[2021-10-29 19:48] loftusa commented on #839
@daxpryce maybe? now I'm getting all sorts of other fun issues with `pip install -e .` on `3.10.0`...

I'm gonna do battle with it for a bit and see if I can figure out whether this is a my computer thing or a graspologic thing.
I also had to `pip install cython` and `pip install numpy` manually, I was getting 'version not found' errors for both of them when I tried to install graspologic directly

[2021-10-29 19:49] loftusa commented on #839
picture above comes along with a whole fun mess of error:

<img width="1886" alt="Screen Shot 2021-10-29 at 3 49 21 PM" src="https://user-images.githubusercontent.com/12386450/139493788-08d7bdc5-eea3-4368-93d6-6ab7c3377a2b.png">

[2021-10-29 19:57] daxpryce commented on #839
So yes, this fixes the graspologic-native issues.  We should create another ticket for ensuring we have a clean path for 3.10 for graspologic though.  Can you create that ticket and add your screenshots there?  We can also enable 3.10 in our build matrix on a branch and see what our github runners are saying across all 3 OSes so we can collect all of our problems at once :)

[2021-10-29 19:58] loftusa commented on #839
will do!

[2021-10-29 20:00] loftusa opened #869 "Ensure clean python 3.10.0 build path"
I'm having issues installing graspologic on 3.10.0 right now (see fun screenshot). This may or may not be local to my computer.

In any case, we should ensure we have a viable build path for graspologic on 3.10.0. See @daxpryce's advice here:

<img width="1886" alt="Screen Shot 2021-10-29 at 3 49 21 PM" src="https://user-images.githubusercontent.com/12386450/139494942-fe7b26a5-1515-44ab-8004-414be

[2021-10-29 20:02] #839 closed

[2021-10-29 20:03] daxpryce commented on #869
A superset of issues related to #839

[2021-11-01 14:49] loftusa opened #870 "[BUG] BeartypeDecorHintPepDeprecatedWarning in Python >=3.9.0"
See e.g. the below.
I think this is just because for typing we're using `typing.List` and `typing.Tuple` rather than just `list` and `tuple`. The versions from the `typing` module are soon-to-be deprecated as per [PEP 585](https://www.python.org/dev/peps/pep-0585/).

Should be an easy fix; just replace every instance of `typing.List` and `typing.Tuple` with `list` and `tuple`. Maybe there are some

[2021-11-01 16:31] bdpedigo commented on #870
duplicate of https://github.com/microsoft/graspologic/issues/855

[2021-11-01 16:31] #870 closed

[2021-11-01 17:41] ebridge2 opened #872 "Add Inhomogeneous ER to docs"
## Is your feature request related to a problem? Please describe.
Inability to simulate from IER model.

## Describe the solution you'd like
Ability to simulate from IER model.

## Provide references (if applicable)
Dos and Don'ts paper.

[2021-11-01 17:42] ebridge2 opened #873 "Multiple Network Models"
## Is your feature request related to a problem? Please describe.
Inability to simulate from JRDPG and COSIE.

## Describe the solution you'd like
Ability to simulate from JRDPG and COSIE.

## Provide references (if applicable)
DnD paper.

[2021-11-01 18:24] bdpedigo commented on #872
https://github.com/microsoft/graspologic/blob/005c44d434f7874d9a6e3db35637eba19c72ac7f/graspologic/simulations/simulations.py#L20

I think we just need to add this to docs, currently is semi-private

[2021-11-01 18:24] bdpedigo commented on #872
could also update the name)

[2021-11-05 15:25] bdpedigo opened #878 "Order of arguments in docs sidebar"
I suggest the sidebar docs should go:

- Install
- Tutorials
- Reference docs
- Everything else

discussed this with @daxpryce - the way the docs are setup currently with the split between tutorial/reference, this simple reordering would be difficult to implement. lets look into it at some point in the future

[2021-11-05 16:01] daxpryce opened #880 "[BUG] Node2Vec Tests are not completely deterministic"
## Expected Behavior
Unit tests should work consistently

## Actual Behavior
Unit tests often fail in CI because the tests:
- `test_n2v_returns_same_labels_with_different_nodeid_types`
- `test_n2v_directed_undirected_returns_same_clustering`
Are not deterministic.

These tests are commented out but should be properly fixed to guarantee consistent behavior regardless of when we run.

[2021-11-05 18:06] daxpryce opened #881 "Create Readthedocs Stub Site to Redirect to GH hosted docs"
We were using readthedocs for our documentation hosting, but have since moved to hosting it ourselves on our `gh-pages` branch so we don't run up against the documentation generation timeout limits.

However, we need to have some way of leaving a marker at https://graspologic.readhtedocs.io that tells users our new docs site is at https://microsoft.github.io/graspologic/ instead.

So we should put

[2021-11-05 20:44] jonmclean commented on #881
* Created readTheDocs-redirect-stub branch
* Created /docs/readTheDocs with a basic template with a pointer to the new location.
* Updated "latest" version in ReadTheDocs to point at the readTheDocs-redirect-stub branch.
This **should not** be merged back.

[2021-11-05 20:44] #881 closed

[2021-11-05 20:44] jonmclean commented on #881
Issue completed

[2021-11-05 21:13] #856 closed

[2021-11-08 21:43] loftusa opened #882 "Add separate embeddings for individual networks to MASE and MASE tutorial"
Right now, MASE says that $A^{(i)} = VR^{(i})V^\T$, which means that the estimated latent position for each graph is $X^{(i)} = V S^{(i)}$ with $S^{(i)} = |R^{(i)}|^{1/2} = QD^{1/2}$, with Q and D obtained from the SVD of $R^{(i)}$.

Currently, MASE doesn't return individual latent positions $X^{(i)}$ for each network with the `fit_transform` method, it returns $V$. Since it also has a `scores_` a

[2021-11-08 21:53] bdpedigo commented on #882
im fine with something like this, think it would be useful to have. i have code somewhere. not sure what the API should look like though, are you saying fit_transform should return this instead?

also, there is a nonidentifiability associated with MASE if you are doing per-vertex-per-graph representations which was not brought up in either the COSIE (since they didnt even look at this) or time ser

[2021-11-09 00:24] loftusa commented on #882
No, I think we should just add a lazy attribute to the class instantiation object that appears after you call `fit`

Wait really? That changes things, I thought they'd be in the same space like OMNI. Why would you do it that way instead of just individual ASE?

[2021-11-09 15:57] loftusa commented on #882
Yeah, that'd be great, wanna understand this a bit better.

So I guess, given that, I'd personally be a lot less invested in this functionality being there, since you have it with OMNI by default (and you don't have to do procrustes).

[2021-11-09 16:04] bdpedigo commented on #882
Forwarded you an email chain.

FWIW there still could be a use case if you don't want to introduce the OMNI bias which will push nodes to be closer together. I do still just think we'd have to think harder about robust ways of doing this alignment in the MASE case

[2021-11-09 22:39] loftusa commented on #882
cool, thanks, that's probably true. For me it actually popped up as I was essentially trying to recreate a simpler version of guodong's stuff for the book, so the 'just work with the R matrices' suggestion might be the play. Or just ignore MASE for demonstration purposes and do exclusively OMNI.

Anyway, for the purposes of this issue - we could implement a method in the MASE class where we make t

[2021-11-10 13:20] bdpedigo commented on #882
the nice thing is that you can actually align the decomposed $R$ matrices, which we thought should be easier.

however, for the purposes of this issue, my vote would simply be we close this issue until someone has a compelling case for the right thing to do. currently this feels like something we could reach to implement but it might not be super trustworthy, and given the current code, someone wh

[2021-11-10 17:07] loftusa commented on #882
Sounds good to me

[2021-11-10 17:07] #882 closed

[2021-11-14 23:45] loftusa opened #886 "`networkplot` shouldn't have x and y labels"
in networkplot, the x-axis and y-axis are labeled x and y by default.

I feel like in most situations that shouldn't be there? usually if you're making a networkplot and x and y coordinate axis don't make any sense, since you're in network space, not euclidean space
<img width="678" alt="Screen Shot 2021-11-14 at 6 44 50 PM" src="https://user-images.githubusercontent.com/12386450/141703620-ad4f9f9

[2021-11-15 15:14] bdpedigo opened #887 "Fix Zenodo DOI"
Currently the Zenodo DOI is outdated

needs to be fixed (we think by someone with more admin privileges than myself or @j1c) based on https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content

cc @daxpryce we are unsure if this is something only you can do? can chat about it tomorrow at status meeting if need be

[2021-11-15 17:08] daxpryce opened #888 "3.9 Support"
3.9 has been out for an extended period of time, and we should see where we stand.

Let's add 3.9 to the build matrix and get things working on 3.9.

[2021-11-16 18:35] kareef928 opened #890 "[BUG] Cannot import graspologic (python 3.7.9)"
## Example Code
[code]

## Full Traceback
[code]

## Your Environment
* Python version: 3.7.9
* graspologic version: cannot check

[2021-11-16 18:38] bdpedigo commented on #890
thanks @kareef928

can you provide the output of `pip list`?

[2021-11-16 18:49] TianyiChen97 opened #891 "Can't install graspologic"
My Python is 3.7.3. I used
[code]
and i get:

[code]
So when i try
[code]
[code]
My pip list is:
[code]

[2021-11-16 18:53] loftusa commented on #797
@bdpedigo

Are we sure we want to override `transform`? That prevents us from calling `fit` then `transform` separately on our graphs. Usually you wouldn't want to in practice, but I don't see why we should prevent it (since sklearn API allows for it)?

Might be better to check specifically if the new `transform` inputs are out-of-sample. But that might be a bit trickier to implement.

[2021-11-16 19:56] kareef928 commented on #890
[code]

[2021-11-16 20:50] bdpedigo commented on #891
thanks for the info @TianyiChen97 - if you just do `pip install llvmlite` what happens? It is hard to debug for one of our dependencies not installing but I can try to help track it down. Are you working in a virtual/conda environment, and if so, is it possible to just make a new one and see if the issue persists?

there was some discussion of similar issues here https://stackoverflow.com/question

[2021-11-18 16:48] loftusa commented on #390
@bdpedigo do we still want this?

[2021-11-18 16:59] loftusa commented on #390
[guodong's paper](https://arxiv.org/pdf/2008.10055)
[book section](http://docs.neurodata.io/graph-stats-book/applications/ch10/anomaly-detection.html)

one issue I ran into while implementing this / playing around with it in python is that it's super not robust to embedding dimension. As in, I looked at the distribution of true test statistics under the null and bootstrapped test statistics under

[2021-11-18 17:01] bdpedigo commented on #390
my first question would be "what is someone going to use it for" - generally speaking I only think it is worth maintaining code that is being used by us/MSR/someone else. To me, if it is _just_ for the book, that doesn't feel like a compelling enough case IMO

[2021-11-18 18:52] #888 closed

[2021-11-18 19:06] daxpryce commented on #395
@Nyecarr we should do this sooner rather than later and also make sure it works through Omni so @JonathanLarson can stop monkeypatching it in

[2021-11-18 19:19] daxpryce commented on #869
Now that we have hit 3.9 we should add 3.10 to the build matrix and see what errors we have to deal with

[2021-11-18 19:24] daxpryce commented on #867
My main concern is trying to keep the version updated at the same time we do releases and such.  It seems like a lot of these things expect versions to change very rarely and via a manual process, which is not really what our release process is about (frequent, automated, etc)

I'm not against it, but I'd hate for us to have a new Issue every few months telling us that our version is citation.cff'

[2021-11-18 19:25] daxpryce commented on #855
So I *think* this is sorted out with #889

[2021-11-18 19:25] #855 closed

[2021-11-18 19:26] daxpryce commented on #771
Closing this issue because we're there with 3.9 #889 and looking into it with #869

[2021-11-18 19:26] #771 closed

[2021-11-18 19:27] #621 closed

[2021-11-18 19:30] daxpryce commented on #514
@jonmclean if you could look into this, I would really appreciate it

[2021-11-18 19:31] #511 closed

[2021-11-18 19:31] #504 closed

[2021-11-18 19:32] daxpryce commented on #490
This has been added by requiring isort balking if it doesn't like the order

[2021-11-18 19:32] #490 closed

[2021-11-18 19:34] daxpryce commented on #436
This is kind of dealt with by the fact that it tells you to use `pip install -r requirements.txt`, which in turn uses `-e .[dev]`

[2021-11-18 19:37] daxpryce commented on #890
[code]
are pretty ancient versions.  I assume this is an older venv?

[2021-11-18 20:19] bdpedigo commented on #867
I was going to look into redirecting people to the paper via https://github.com/citation-file-format/citation-file-format/blob/main/schema-guide.md#credit-redirection rather than actually having the citation.cff stay up to date/versioned.

[2021-11-18 20:19] bdpedigo commented on #867
in other words this would just be a fancy (though prominently displayed on the github) way of asking people to cite via the normal paper route

[2021-11-18 20:25] #891 closed

[2021-11-18 20:32] daxpryce commented on #867
sounds totally reasonable then!

[2021-11-18 21:06] loftusa commented on #395
i'm down on this

[2021-11-18 21:49] daxpryce commented on #887
So I went to do this, and I came up against this:
![Screen Shot 2021-11-18 at 1 22 10 PM](https://user-images.githubusercontent.com/899411/142502191-1985e81e-7cf4-433c-94fe-cbb6cb85f537.png)

As you can probably see, someone already asked for it under Microsoft - and nobody seems to have accepted it yet?  I'm not entirely convinced that MSFT is going to go for this in the org (I don't even know wh

[2021-11-18 21:52] daxpryce commented on #887
![Screen Shot 2021-11-18 at 1 47 41 PM](https://user-images.githubusercontent.com/899411/142502420-d7458cad-8b0d-4789-ba39-0f1f8d1a8029.png)

I tried to take a stab at this and ... it looks like someone from Microsoft has to approve the access already. I've done it, but it only gives Zenodo access to my personal stuff - not the organizations.

So I'm not confident this is going to be easily solvab

[2021-11-18 23:03] daxpryce opened #893 "[BUG] Possible bug in _approximate_prune in auto layout"
I've got an email from someone and it seems like `_approximate_prune` is failing.  I don't have a ton of details around this yet but it needs to be investigated!

[2021-11-18 23:16] jeffwilcox commented on #887
@daxpryce can you send me the URL offline that you took this screenshot from?

[2021-11-18 23:27] daxpryce commented on #893
Adding the following to `tests/layouts/test_auto.py`

[code]

Results in the following traceback and error:

[code]

[2021-11-19 00:26] #893 closed

[2021-11-19 20:53] daxpryce commented on #867
Do you want to build this out?  I have no idea what citations even look like.  I probably haven't paid attention to one since university or highschool

[2021-11-21 14:57] bdpedigo commented on #867
yup, this one's definitely on me!

[2021-11-23 14:46] #880 closed

[2021-11-29 18:43] bdpedigo opened #896 "[BUG] `Networkplot` assumes `node_data` is integer 0...n-1 indexed"
## Expected Behavior
`Networkplot` should work with arbitrarily indexed `node_data`

## Actual Behavior
Obscure error with matplotlib caused by incorrect series mapping for colors

## What's going on
If you look at this line
https://github.com/microsoft/graspologic/blob/96d80b2261cff724bf0a082a249e60ee8ec1a878/graspologic/plot/plot.py#L1366

it is doing a map operation using `plot_df[hue_key]` as

[2021-12-07 15:19] bdpedigo opened #898 "Networkplot should be able to handle numeric rather than categorical colormapping"
Currently, the color mapping that happens in networkplot assumes that the variable is categorical, more or less
(see here https://github.com/microsoft/graspologic/blob/690de9b6284441ccaab1d79f08b3718c93d28072/graspologic/plot/plot.py#L1356)

I am used to the seaborn behavior where numeric variables are interpreted as such, and I think we should be able to do the same (i.e. if I want to color nodes

[2021-12-07 15:28] bdpedigo commented on #898
for now, this is kind of a workaround (if `key` is the hue variable):

[code]

[2021-12-07 20:19] #828 closed

[2021-12-08 18:23] #775 closed

[2021-12-13 00:15] loftusa opened #900 "`utils.to_laplacian` should be able to find $D - A$"
Seems weird that it can't at the moment, although I realize we don't use $D - A$ too often in practice

Thoughts?

[2021-12-13 14:40] bdpedigo commented on #900
IMO this function mainly exists to support other things in the library, not to make every laplacian out there in the literature - for example, there's also the commonly used random walk laplacian $D^-1 A$ so we could really go crazy with it and have a bunch of options

my perspective is just that I don't see a reason for having it if we dont use it ourselves for anything - if you feel strongly or

[2021-12-13 19:23] bdpedigo commented on #760
subsuming as part of #792

[2021-12-13 19:23] #760 closed

[2021-12-13 19:23] bdpedigo commented on #762
subsuming as part of #792

[2021-12-13 19:23] #762 closed

[2021-12-13 19:25] #584 closed

[2021-12-16 22:54] daxpryce opened #901 "[BUG] Leiden on integer node ids and starting_communities"
If I have a graph where the node ids are of type `int`, the resulting partition map should also be of type `int->int`. If I use this partition map when I call leiden with `starting_communities`, it fails because the node id in the partition map is not of type `str`.

## Example Code

[code]

## Full Traceback
[code]

## Additional Details
We map the node ids for the graph into string versions prio

[2021-12-21 19:08] #901 closed

[2022-01-26 07:54] ebridge2 opened #905 "[BUG]"
## Expected Behavior

Signal Subgraph should use the fisher's exact test statistic.

## Actual Behavior
Signal subgraph uses the fisher's exact test p-value, as-per https://arxiv.org/pdf/1108.1427.pdf.

Line https://github.com/microsoft/graspologic/blob/a8048f1631f2f0676555cc3f04796bf6053a6496/graspologic/subgraph/sg.py#L118

should read `fisher_exact(...)[0]`, as the first argument is the p-value

[2022-01-26 14:03] bdpedigo commented on #905
in scipy most functions return pvalue as second argument (see https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.fisher_exact.html#scipy.stats.fisher_exact)

is there something that makes you think otherwise here?

[2022-01-28 14:45] bdpedigo commented on #905
@ebridge2 lmk if you think something is still amiss

[2022-01-28 14:45] #905 closed

[2022-01-28 14:45] #900 closed

[2022-01-28 14:46] #890 closed

[2022-01-28 15:14] bdpedigo opened #907 "Fix documentation to include docs for class methods"
Somehow recent changes (maybe https://github.com/microsoft/graspologic/commit/81f848d9e5f3c16ac4c7cbc7ecd2a600c8066b78 ?) removed documentation for class methods, would like to add that back in

@daxpryce we possibly just need to add `:members:` to everything like https://raw.githubusercontent.com/microsoft/graspologic/dev/docs/reference/reference/partition.rst

I also suspect perhaps there is a s

[2022-01-28 15:16] bdpedigo commented on #636
@kareef928 just pinging you here - this would be part of the feedforwardness stuff that we talked about

[2022-01-28 15:19] bdpedigo commented on #395
@daxpryce @Nyecarr just wondering if there is anyone on your side working on this at the moment?

[2022-01-28 19:36] bdpedigo opened #909 "[BUG] MyPy test failures on main"
Looks like mypy is failing on the current main. I am not sure what changed / how this got into main unless it was just caused by a update to mypy itself.

Example: this PR which changed nothing about the code https://github.com/microsoft/graspologic/pull/908
Test output (unit-and-doc-test):
[code]

Side note: when I get the latest version of mypy and run it locally on `main`, I actually get
[code]

[2022-01-28 19:40] bdpedigo commented on #909
tagging @daxpryce because I'm guessing you'll have thoughts

[2022-01-28 19:46] daxpryce commented on #909
mypy tells us at build time that beartype is going to have an angry time at runtime.

You always want the static check to happen, otherwise you just have to hope that your unit test coverage fully encapsulates everything, and I don't know that that ever has happened in the history of ever?

Sounds to me like either a new version of mypy or changes to typeshed have exposed some holes in our type hi

[2022-01-28 19:48] daxpryce commented on #909
Yes, because somewhere in our stack there's a python method that does one thing if it is windows and another if it is a unix variant re: types, and it wasn't found until later.  And it was annoying to uncover.  That's why we're doing it on all OSes (and versions, since apparently that's a common-enough-pattern in Python to return different things depending on the Python version you're on)

[2022-01-28 19:50] daxpryce commented on #909
Make sure the private code is properly typed. At this point we shouldn't have too many untyped anythings, most of what we're uncovering in moments like this is where typeshed has been updated to have a new type hint signature when either a: it didn't before or b: it was different than what we have now.  Or at least, I think so.

[2022-01-28 19:53] bdpedigo commented on #909
so for instance everything in match/qap.py looks untyped (long story short was a port of some scipy code which we also wrote but needed to have in our library for various reasons).

couple reason i remain confused are that
- when i run mypy locally I get **383** errors
- those errors (at least for qap.py) make sense, as they are referring to the line numbers of function definitions, whereas say th

[2022-01-28 19:54] daxpryce commented on #395
we are not!

[2022-01-31 15:51] bdpedigo opened #910 "[BUG] gensim-related test failures on dev"
## Full Traceback
[code]

Getting the above error on `unit-and-doc-test (macos-latest, 3.9)`
https://github.com/microsoft/graspologic/runs/4982698923?check_suite_focus=true
(note that I say "on dev" because this is a PR that only changed docs)

[2022-01-31 15:53] bdpedigo commented on #909
update - this is only happening on 3.7 and 3.8. 3.9 has another issue (see #910)

[2022-01-31 17:26] bdpedigo commented on #910
tagging @Nyecarr since I think you've worked the most on n2v? my guess is this was caused by a dependency updating somewhere or something?

cc @daxpryce - just FYI this looks like a separate issue from #911 which is also preventing anything being merged into dev

[2022-01-31 17:27] bdpedigo commented on #910
p.s. just a thought but i wonder whether could be related to https://github.com/microsoft/graspologic/blob/a8048f1631f2f0676555cc3f04796bf6053a6496/setup.cfg#L32 and so version 3.x.x of gensim probably wouldnt keep up with changes to things like numpy etc.

[2022-01-31 20:46] daxpryce commented on #910
Just noting that it's python 3.9.10 macos

[2022-01-31 21:35] daxpryce commented on #910
1. Installed Python 3.9.10 on MacOS
2. Created and enabled fresh venv
3. pip install -r requirements.txt
4. make fast-test
5. Success
6. wait what

[2022-01-31 21:36] daxpryce commented on #910
Telling CICD to rerun build too wtf

[2022-01-31 21:41] daxpryce commented on #910
![Screen Shot 2022-01-31 at 1 39 27 PM](https://user-images.githubusercontent.com/899411/151877472-772bd198-b1ee-4c13-bd00-fc8cad103a55.png)

![thumbs-thumbs-up-kid](https://user-images.githubusercontent.com/899411/151877693-7fff25ce-1a4d-4ab1-a5ea-af7d6caa2860.gif)

[2022-01-31 21:55] daxpryce opened #912 "Github Actions Updates"
My current problems with CICD:
- I want the pip freeze list for each build agent at all times.  If it's a new agent/venv, we should always, always, always echo the pip freeze list so we have it in the logs
- We should run a build nightly on dev and main to see what new failures we can expect, either due to downstream deps changing or typeshed stubs being updated and our type hinting being out of d

[2022-02-01 21:24] #909 closed

[2022-02-01 21:24] #910 closed

[2022-02-02 15:02] #896 closed

[2022-02-02 19:37] #912 closed

[2022-02-04 19:00] bdpedigo commented on #907
I think this may be the sphinx config to to this by default https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_default_options

[2022-02-04 19:01] bdpedigo commented on #907
@dlee0156 do you think you could work on this? right now many classes dont have documentation showing for their methods which is a big problem for many of them.

[2022-02-08 04:36] alyakin314 opened #918 "[BUG] Graspologic import returns a scipy error."
## Expected Behavior
Graspologic should import after an install in a clean environment.

## Actual Behavior
Exits due to some scipy import. Technically attempted a hyppo import and then broke, but since I installed everything from `pip install grapologic` - thought posting here is more appropriate. Unsure if some dependence mess or it's on my end of installation.

## Example Code
Please see [How t

[2022-02-08 13:59] bdpedigo commented on #918
Here is what happened:
https://github.com/neurodata/hyppo/issues/303
https://github.com/neurodata/hyppo/pull/304

Waiting for a release of hyppo and then we can pin our hyppo dependency to that version.

In the meantime, can either install dev version of hyppo locally, or just manually go back to scipy <=1.7

[2022-02-08 14:04] bdpedigo opened #919 "Add a "known incompatibilities" to docs"
I wonder if it would be worth listing in the documentation every time we find some compatibility issue with another package that pops up, say

#785 #635 #918 #910

I cant say that i have seen this often in other packages, but i think that is a mistake - i often end up just getting the solution in old github issues. Feels like just writing down the ones we know about would be helpful?

[2022-02-08 14:04] bdpedigo commented on #919
thoughts @daxpryce ?

[2022-02-08 16:37] alyakin314 commented on #918
@bdpedigo

Gotcha, appreciate.

Feel free to close.

[2022-02-08 18:15] alyakin314 commented on #918
fyi: also had to downgrade numpy to 1.22.5 due to incompatability with numba

[2022-02-08 18:36] bdpedigo commented on #918
which graspologic version are you using?

i saw this issue last week but thought we fixed it on most recent

[2022-02-08 19:46] alyakin314 commented on #918
dev version of hyppo (installed by cloning, `pip install --editable .`), graspologic 0.3.1 (still from pip)

[2022-02-08 19:47] alyakin314 commented on #918
i.e. it resolved scipy, but still had to downgrade numpy to <1.22

[2022-02-08 19:49] bdpedigo commented on #918
so I *believe* this https://github.com/microsoft/graspologic/pull/913 fixed the numpy/numba/etc issue (it was passing on all platforms). So the dev version of graspologic i would think this would work, but id be curious if we're wrong. should be releasing graspologic 1.0.0 soon thought

[2022-02-08 19:50] bdpedigo commented on #918
can also try this pre-release https://pypi.org/project/graspologic/1.0.0.dev1791934871/

[2022-02-10 20:29] daxpryce opened #922 "[BUG] Graspologic does not work on Python 3.10"
## Expected Behavior
We should be able to run our entire test suite using Python 3.10

## Actual Behavior
[code]
From: https://github.com/microsoft/graspologic/runs/5147180666?check_suite_focus=true#step:5:1

[2022-02-10 20:38] bdpedigo commented on #922
crap, this is only on 3.10? it looks just like the one we had last week which makes me scared

[2022-02-10 20:41] daxpryce commented on #922
Yup, and it concerns (and vexes) me too.  I'm starting to lose faith in gensim being able to provide a word2vec algorithm that we can use over the long term.  I really, really would rather not pull in another giant library like stellargraph though.

[2022-02-10 22:47] daxpryce commented on #907
In theory, this is is now fixed?  Can you verify and close @bdpedigo ?

[2022-02-11 13:48] #919 closed

[2022-02-11 13:48] bdpedigo commented on #918
Closed by #921

@alyakin314 lmk if you still have issues in 1.0.0

[2022-02-11 13:48] #918 closed

[2022-02-11 13:55] bdpedigo opened #924 "[BUG] "Parameters" showing up twice in docs for class methods"
<img width="741" alt="Screen Shot 2022-02-11 at 8 53 40 AM" src="https://user-images.githubusercontent.com/25714207/153603712-47e6073e-6304-41fc-811d-d452a93a8903.png">

Somehow changes in #907 made it so that "parameters" shows up twice, once from the type hints and once from what we wrote in the doc string. Doesn't feel like a huge deal but we should probably not have that

[2022-02-11 13:55] bdpedigo commented on #907
Closed by #921

[2022-02-11 13:55] #907 closed

[2022-03-08 06:13] ebridge2 opened #927 "It feels like the matrix being embedded, or at least its singular values, should be stored by ASE/LSE"
## Is your feature request related to a problem? Please describe.

ZG2 is not perfect, and sometimes goes awry. It feels like it would be reasonable to allow users to at least have exposed to them the singular values, so they can reasonably decide whether the singular value chosen for the cutoff was a reasonable choice by ZG. Alternatively, since the laplacian is an internal calculation, one could

[2022-03-08 06:14] ebridge2 commented on #872
Looks like a perfect solution to me. Sorry for late reply!

[2022-03-08 13:39] bdpedigo commented on #927
@ebridge2 singular values are stored as an attibute https://github.com/microsoft/graspologic/blob/ff34382d1ffa0b7ea5f0e005525b7364f977e86f/graspologic/embed/ase.py#L83

unsure how i feel about storing the matrix - somewhat opposed as it requires that object to carry around a (potentially large) array

[2022-03-10 09:27] ebridge2 opened #928 "[BUG] SBMEstimator is not right; it is systematically underbiased for loopless graphs"
## Expected Behavior

SBMEstimator does not seem to properly account for loops.

## Actual Behavior

I cannot find anywhere in the codebase to support that the loops are properly removed before estimating block probabilities. From what I gather, the SBMEstimator will first obtain block indices for each vertex https://github.com/microsoft/graspologic/blob/ff34382d1ffa0b7ea5f0e005525b7364f977e86f/gr

[2022-03-10 10:09] ebridge2 opened #929 "Ability to simulate and test from SIEM"
## Is your feature request related to a problem? Please describe.

SBM is a special case of another type of network, the SIEM. It would be useful to have the ability to produce SIEMs, so that one can have a more general model for the SBM, and the ability to perform statistical tests for the SBM.

## Describe the solution you'd like

SIEM implemented and working

## Describe alternatives you've con

[2022-03-10 13:20] bdpedigo commented on #928
you're right, i noticed this a few months ago and have yet to push my fix - thanks for the PR

[2022-03-11 01:41] ebridge2 commented on #927
Very good call. However, I think there are a lot of tricks to get "surrogates", at least for what I imagine to be the "most common" case that will arise (e.g., assume weighted, undirected, adjacency matrix). I think you can reasonably still use the fact that a weighted, undirected, adjacency matrix with diagonal aug or a laplacian X are PSD, and therefore you can compute the *proportion* of the si

[2022-03-11 08:07] ebridge2 opened #931 "[BUG] Wonky bug with layouts module"
## Expected Behavior

[code]
works successfully in a jupyter notebook, after setting up from either github or the setup.py file manually (e.g., cloning package).

## Actual Behavior

[code]

produces the following error from a jupyter notebook:

[code]

## Your Environment
* Python version: 3.8.2
* graspologic version: 1.0.1 (`dev` branch)

## Additional Details

The package builds/works successfu

[2022-03-15 13:43] ebridge2 opened #933 "[BUG] When you have inner and outer hierarchical labels, plotting fails if something in the cartesian product is empty"
## Expected Behavior

The empty communities are omitted entirely.

## Actual Behavior

Error.

[code]

## Example Code

[code]

## Full Traceback

[code]

## Your Environment
* Python version: 3.8
* graspologic version: 1.0.1

## Additional Details
Any other contextual information you might feel is important.

[2022-03-15 15:40] ebridge2 opened #934 "Inconsistent IO spec for node2vec"
The entire package accepts adjacency matrices, but node2vec only accepts `nx` Graphs. This seems very undesirable since the package is not cohesive in this sense.

https://microsoft.github.io/graspologic/latest/_modules/graspologic/embed/n2v.html#node2vec_embed

[2022-03-23 02:14] ebridge2 opened #936 "It seems like a bad idea to expect that users know how to pad a graph based on the algorithm they pick"
Padded graph matching is extraordinarily opaque as to how to use. It's really unclear how to work with the permuted seeds in the context of the original input graph given that padding occurs. This should really be extensively clarified and solidified. Suggestions would include returning permuted indices entirely in the space of the original networks, and not in the padded space.

[2022-03-23 04:54] ebridge2 opened #937 "[BUG] VNviaSGM doesn't seem to work with the paper example"
## Expected Behavior

The example in the paper involves finding nominees for a node in G1 amongst nodes in G2, where n1 > n2. When I construct an example that does approximately this:

[code]

I get an error:

[code]

[2022-03-23 12:06] bdpedigo commented on #936
+1

see related https://github.com/microsoft/graspologic/discussions/925

[2022-03-23 21:57] daxpryce commented on #931
Oh this is going to be so much fun to track down.  Basically we try to look inside the module for the json file that contains the thematic color palette and use it.  The current process was *supposed* to work everywhere - relative paths, or while packaged, etc - but it seems like Jupyter is putting you in an odd state that we didn't expect.  What's most vexxing is that this absolutely works for ot

[2022-03-25 10:02] ebridge2 commented on #931
@daxpryce for reference, there was no 😢  react, so let the 👍 stand in its place :(

[2022-03-25 10:03] ebridge2 commented on #931
@daxpryce  https://via.hypothes.is/http://docs.neurodata.io/graph-stats-book/representations/ch4/properties-of-networks.html here it is for you again, this time in our graph stats book...

[2022-03-25 10:05] ebridge2 commented on #931
@daxpryce perhaps a "healthy medium" as a last resort fail-safe would be a try-catch that downloads it if it's not there if the computer is connected to interwebz..?

[2022-03-25 10:42] ebridge2 commented on #931
@daxpryce temporary working solution (for me locally... confirming if it fixes remote issue as we speak) setuptools>=61.0.0 as a requirement... seems old versions of setup tools from >a few months ago was the problem. an upgrade fixed.

[2022-03-25 11:29] ebridge2 commented on #931
Hmm.. no dice on a remote build of book. I've temporarily found a work around which is to compile the binaries and release them instead of building from source in the requirements.txt from the book, which seems to suffice, at least temporarily...

[2022-03-25 11:41] ebridge2 commented on #931
yah; this doesn't work for me locally, nor on a remote jupyter instance for the github workflow we use for the book... so something is amuck. no clue how to rectify.

[2022-03-25 12:16] ebridge2 commented on #931
Ok so I just brute forced it temporarily by literally wgetting and chmodding with problematically bad permissions to fix the issue for the specific deployment workflow I needed to work, so no longer critical to me, but definitely still seems to be a problem. The workflow we were building off was ubuntu-latest, and we were building using `pip install git+<appropriate path to graspologic>@dev` direc

[2022-04-06 14:33] jovo opened #938 "doucumentation of to_laplacians"
https://microsoft.github.io/graspologic/latest/reference/reference/utils.html?highlight=laplacian#graspologic.utils.to_laplacian

Seems wrong.  missing sqrts.  I-DAD vs I-DLD.  Also, why do i/o for some and not others?

@ebridge2

[2022-04-06 16:15] jovo opened #939 "Two population of graph test"
Let's say we have 2 populations of matched graphs, and we want to test whether elements of P or B are different across the two populations (P is the IER probability matrix and B is the SBM matrix).  Assume that communities are given (either estimated or provided).

@ebridge2 @v715

[2022-04-06 16:54] jovo opened #940 "symmetrize binary graph"
same as 'avg', but then round somehow? or make it clear that we report weighted graph?

[2022-04-13 16:37] #928 closed

[2022-04-19 17:23] bdpedigo opened #941 "Add 2-sample tests under ER, SBM, density adjusted SBM models"
I have been developing 2-sample tests under an ER or SBM assumption here: https://github.com/neurodata/bilateral-connectome

Considering adding these as functions to the `inference` submodule.

Would be more inclined to do so if we have other applications where these could be useful - for instance, @ebridge2 I thought I saw you using in the book?

[2022-05-03 18:24] bdpedigo commented on #792
## Tracking progress

### Main code
- [x] new solver class
- [x] bilateral
- [x] multilayer
- [x] seeds
- [ ] similarity
- [ ] padding
- [ ] fix reference frame for output permutations
- [ ] option to turn off numba/use scipy?
- [ ] wrapper function, multiple inits
- [ ] documentation
- [ ] tutorials
- [ ] tests

### Utility
- [ ] compute match ratio when correct is known
- [ ] compute alignment s

[2022-05-05 19:15] ebridge2 opened #944 "[BUG] SSG doesn't look like it properly handles ties?"
## Expected Behavior

if there is a tie in the test statistic, the tie should be randomly broken

## Actual behavior

it does not appear that potential ties are randomly broken

https://github.com/microsoft/graspologic/blob/dev/graspologic/subgraph/sg.py

@jovo

[2022-05-07 13:54] Laozey commented on #886
Hi, I would like to tackle this issue, is it possible?
I have checked the PR from @mtandon18 and it seems kind of straight forward.

Wouldn't it be a good idea to add x/y labels as parameters and put "" as default?
Something like:
`
labels: Tuple[str, str] = ("", "")
`

[2022-05-17 15:14] bdpedigo commented on #792
## Benchmarking
- [ ] Timing
   - [ ] new vs old
   - [ ] sparse vs non-sparse
   - [ ] parallel vs non-parallel
- [ ] Performance
   - [ ] make sure matching on hemisphere data all looks the same accuracy-wise

[2022-05-17 18:21] bdpedigo opened #946 "Numba JITing should happen on import instead of construction"
a consequence of this line https://github.com/microsoft/graspologic/blob/0d404caaa706f7bfbad694879c2e0d14bf3baaef/graspologic/models/edge_swaps.py#L76

is that i think numba tries to compile on each instantiation of the class, as opposed to just once for all instances. can slow things down a lot, i have found.

## description of work
- move the numba JITing to happen not in the constructor for Edg

[2022-05-18 06:20] jcob-sikorski commented on #842
I can work on this! How structure of release notes should look like? And from what source should I aggregate each new feature/significant change?

[2022-05-18 12:28] bdpedigo commented on #886
hi @Laozey

even simpler - i think we can just omit the labels by default, and let the user add them back in matplotlib if they desire. you are welcome to work on this if you'd like

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #948 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-23 22:51] daxpryce commented on #948
For whatever reason, this didn't close despite being merged in.

[2022-05-23 23:08] daxpryce commented on #934
Agreed, we had discussed moving node2vec out and into the pipeline package a while back but didn't get down to it.

[2022-05-23 23:15] daxpryce commented on #842
Hi @jcob-sikorski!

We started requesting a meaningful PR title, such that it could be roped into release notes.  What we'd need (or want?) is a way of rolling all of those up into a list that we could push into the release rst file.

Superficially it sounds easy enough, but I'm not sure how to automate it such that it happens within our CICD workflow.  We don't want it happening with every PR, we

[2022-05-24 22:10] daxpryce commented on #842
Sure, let me explain some background details first:

The way our release process via CICD works is:
- Any PR merged into dev cuts a new pre-release (see: https://pypi.org/project/graspologic/#history )
- When we're happy with things and ready to do a full release, we merge `dev` -> `main`. This signals the CICD pipeline that it shouldn't craft a `1.0.1dev1805910598150981509815098159081509851` styl

[2022-05-25 11:12] jcob-sikorski commented on #842
Ok so simply:
1. when merging ```dev``` -> ```main``` Github action will be invoked.
2. it copies content from previous release.rst
3. aggregates all new PR titles with links to them.

When done there will be one release file with structure somehow similar to [release.rst](https://github.com/microsoft/graspologic/blob/dev/docs/reference/release.rst)

[2022-05-31 11:55] jcob-sikorski commented on #842
Why dates of pre-releases on [graspologic site](https://pypi.org/project/graspologic/#history) are different from [dates of closed and approved PRs](https://github.com/microsoft/graspologic/pulls?q=is%3Apr+is%3Aclosed)?

[2022-05-31 15:58] #601 closed

[2022-05-31 16:01] #538 closed

[2022-05-31 16:02] #360 closed

[2022-05-31 16:09] #114 closed

[2022-05-31 16:09] #115 closed

[2022-05-31 16:10] #148 closed

[2022-05-31 16:10] #154 closed

[2022-05-31 16:10] #155 closed

[2022-05-31 16:10] #190 closed

[2022-06-01 15:23] daxpryce commented on #842
I have no idea and now I'm digging into it.  All I can imagine is something failed in the artifact upload but the actions didn't treat it as a failure, which ... would be bad.  So!  I have to dig into this deep today.  This is really odd though.

[2022-06-01 15:43] daxpryce commented on #842
@jcob-sikorski That list of PRs is a list of all PRs, some of which are to dev and main, some of which aren't.

They actually match up pretty well with https://github.com/microsoft/graspologic/actions/workflows/publish.yml and then also with the releases in PyPI!

I wonder if there's a way in the github rest api to ask for all the PRs that have been closed and merged to `dev` only?  Or maybe that'

[2022-06-02 22:11] jcob-sikorski commented on #842
Script is ready to deploy but I wonder how this action should be triggered. I saw [this post which describes ON MERGE event](https://github.community/t/trigger-workflow-only-on-pull-request-merge/17359/19) but it's not that clear to me.

[2022-06-03 09:23] jcob-sikorski commented on #842
Are there any events specific to merging ```dev``` -> ```main```? I'm looking for the events that could trigger workflow action run.

[2022-06-06 03:41] ebridge2 opened #949 "[BUG] VNviaSGM spuriously errors"
## Expected Behavior

No error should occur.

## Actual Behavior

Errors spuriously occur.

## Example Code

See code example from book https://docs.neurodata.io/graph-stats-book/applications/ch8/multiple-vertex-nomination.html.

[2022-06-06 20:35] jcob-sikorski commented on #842
Tool ready for pull request! It will run only when setup.cfg file changes.

[2022-06-08 02:22] loftusa opened #951 "add hierarchical clustering tutorial"
I don't see one anywhere

e.g., this has autoGMM and k-means: https://microsoft.github.io/graspologic/latest/tutorials/index.html#clustering

but no hierarchical

[2022-06-09 13:33] dokato opened #952 "[BUG] Node2Vec fitting fails on graph with isolated nodes"
## Expected Behavior

It checks that graph has isolated nodes and stops at the beginning before running costly `_learn_embeddings` or filters them out.

## Actual Behavior

It doesn't find a key in  the `remapped_labels`

## Example Code

[code]

## Full Traceback
[code]

## Your Environment
* Python version:  3.9.7
* graspologic version: 1.0.0

[2022-06-12 09:24] burugaria7 commented on #886
Hi, I would like to tackle this issue, is it possible?
Please let me know if you have already solved it.

[2022-06-13 14:52] daxpryce commented on #566
I think you absolutely can take this; there's some work coming down the pipeline that'll be impacted by whatever you do, but I don't know how far along it is or when we might expect it and I don't want to slow you down on this front.  I definitely understand the ergonomics are jarring.

If you could move the current n2v function signature into the `graspologic.pipeline.embed` module and then work

[2022-06-14 18:10] daxpryce commented on #948
SECURITY.md is now in main and dev

[2022-06-24 15:04] bdpedigo opened #959 "[BUG] graph matching performs poorly when seeded and using similarity"
On this line https://github.com/microsoft/graspologic/blob/49d6929f14b57d74ba80f903a7aad19f5e4dafa2/graspologic/match/qap.py#L446

perm_S is referring to the unseeded vertices of `B`, when it should really be the unseeded vertices of `A`:
`S22 = s_value[nonseed_A, n_seeds:]`

[2022-06-24 16:39] bdpedigo opened #961 "Update package to use new scipy sparse *array* standard"
<img width="868" alt="Screen Shot 2022-06-24 at 12 38 20 PM" src="https://user-images.githubusercontent.com/25714207/175596489-cc643831-54c4-400d-a64b-b8a55a65de08.png">

[2022-06-27 15:52] #886 closed

[2022-06-27 15:57] #748 closed

[2022-06-27 16:51] javajersko commented on #946
I'd like to take this issue.

[2022-07-01 12:56] bdpedigo commented on #946
closed by #965

[2022-07-01 12:56] #946 closed

[2022-07-02 15:09] v715 commented on #939
In MCC, we say if the graphs are weighted, run DCorr on the weights for each edge/community and correct with BH.

If the graphs are unweighted, you should just use the likelihood ratio test for \hat\theta_1 = \hat\theta_2, then correct with BH, no? (The \theta s are the the probabilities for an edge/community)

[2022-07-03 19:41] v715 opened #966 "Add sex information to mice dataset"
## Is your feature request related to a problem? Please describe.
Dr. Johnson sent over the sex label for each mouse, going to add that for additional experiments.

## Describe the solution you'd like
Update [`participants.csv`](https://github.com/microsoft/graspologic/blob/dev/graspologic/datasets/mice/participants.csv)

## Describe alternatives you've considered

## Provide references (if applic

[2022-07-06 02:24] aj-hersko commented on #938
I'd like to take this problem.

[2022-07-06 20:56] bdpedigo opened #970 "Propose removing I-DAD as a laplacian"
related to #938

I propose that we don't need the I - DAD as an accepted laplacian, because:

pros:
- our library always does SVD using top singular values, when using I - DAD one should be looking at the smallest in magnitude eigenvalues instead
- we dont know of a paper that has a good definition of laplacian in the directed case for the I - version, though I'm guessing it'd be the same
- reduce

[2022-07-07 15:32] ebridge2 opened #971 "[BUG] Why is `pairplot` different for with labels and without?"
## Expected Behavior

A pairplot should produce a similar output, agnostic of whether or not labels are provided.

## Actual Behavior

If no labels are provided, you get a histogram; if labels are provided, you get a KDE. These seems a bit odd/an unnecessary place to have a difference in behavior.

[2022-07-07 16:42] #938 closed

[2022-07-07 20:06] ebridge2 opened #972 "[BUG] The package is extraordinarily difficult to install"
## Expected Behavior

The package takes less than 10 minutes to install, and requires minimal direct user intervention.

## Actual Behavior

The package took about 3 hours to install to a fresh Mac Big Sur computer, from someone with intimate knowledge of how unix package structuring works, with a barrage of errors basically every step of the way, from system library configuration issues, to packa

[2022-07-07 20:58] bdpedigo commented on #972
i believe the issue has to do with M1 chips, https://github.com/microsoft/graspologic-native, and lack of github compilers for M1?

see https://github.com/microsoft/graspologic/issues/822

[2022-07-07 20:59] bdpedigo commented on #972
though maybe i am wrong about why it's hard? https://github.com/microsoft/graspologic-native/issues/22

[2022-07-08 09:12] #952 closed

[2022-07-08 18:27] ebridge2 commented on #972
unclear, though I eventually got it to install, but it took like straight up 2 hours and an extreme amount of nitty-gritty technical work manually rebuilding a lot of packages straight from source, which seems unfortunate/cumbersome. I agree I hate a docker reliance solution, but it is better than not being able to use the package at all, which based on my experience installing it for Audrey, is p

[2022-07-08 18:52] bdpedigo commented on #972
yeah, i would say the trouble is that i dont know what the actual issues are cause it is super easy on my machine... would like it to be that way for everyone but need to know where the pain points are

[2022-07-11 14:08] bdpedigo commented on #941
@aj-hersko this would take explanation but is a potential project

[2022-07-11 14:09] bdpedigo commented on #898
@aj-hersko potential project

[2022-07-11 19:59] #480 closed

[2022-07-15 06:24] ebridge2 opened #975 "[BUG] AutoGMM does poorly on well-separated clusters"
## Expected Behavior

an example use-case can be come up with that I can demonstrate/justify for the book

## Actual Behavior

The predicted number of clusters/clusterings are not accurate nor close to accurate. Seems to always favor extremely high number of clusters. I have played around with different settings for about 2 hours and cannot find one where GMM does appreciably better than K-means,

[2022-07-20 16:55] #966 closed

[2022-07-20 18:02] ebridge2 opened #976 "Feature request: diagnostic tools for evaluating quality of graph matching"
## Is your feature request related to a problem? Please describe.
For networks with a known correspondance, a match ratio can be constructed; e.g., where P is the correct permutation matrix and Pu is the calculated permutation matrix, just sum the number of times the diagonal of PPu = 1.

[2022-07-20 18:19] bdpedigo commented on #976
I have a bunch of code for this, down to add them after https://github.com/microsoft/graspologic/pull/960 is approved

[2022-07-21 18:40] ebridge2 opened #977 "[BUG] Does SSG handle ties appropriately?"
## Expected Behavior

when computing a subgraph, ties are randomly broken.

## Actual Behavior

The code is fairly opaque to me relative the "traditional" algorithms for solving signal subgraph, I'm sure they are great/way faster than how I would have implemented, but I can't *totally* follow exactly what's going on so I can't pinpoint specific lines. However, when ties are experienced in rankings

[2022-07-22 06:15] rajpratyush commented on #878
shall i work on this issue ?

[2022-07-29 14:54] dokato opened #978 "[BUG] MASE transform and fit separation"
## Expected Behavior
I can call `fit` and then `transform` on MASE object.

## Actual Behavior

MASE works fit when I use the `fit_transform` method. When I try to generate separate embeddings for my individual graphs it fails with a quite not intuitive error.

## Example Code

[code]

## Full Traceback
[code]

At first I thought that `MASE` `fit` method just lacks

[code]
line. But then I noticed

[2022-07-29 19:55] bdpedigo commented on #978
you are correct, because of some changes to the base class a separate fit/transform was added when it should not have been (see https://github.com/microsoft/graspologic/issues/797)

a transform (for new graph(s)) could absolutely be implemented. I can show you how to do it given a network and the V matrices (or it may be mentioned in the original paper) if having a transform is important for your

[2022-07-31 11:54] dokato commented on #978
Thanks Ben, I can help with adding that. What original paper are you referring to? I guess not [this one](https://arxiv.org/pdf/2008.10055.pdf)? The scaffolding of API looks good to me, the only thing to figure out is what to returns in case of single vs multiple graph input to the `transform` method.

[2022-08-11 20:11] #793 closed

[2022-08-14 13:38] bdpedigo commented on #822
saw this, not sure if helpful https://github.blog/changelog/2022-08-09-github-actions-self-hosted-runners-now-support-apple-m1-hardware/

[2022-08-30 17:59] #959 closed

[2022-08-30 17:59] #425 closed

[2022-08-30 17:59] #792 closed

[2022-08-30 17:59] #858 closed

[2022-08-30 17:59] #346 closed

[2022-09-08 21:35] j1c opened #983 "[BUG] typing_extensions not found when trying to install graspologic from dev branch"
## Expected Behavior
Installs all dependency

## Actual Behavior
For some reason, `typing_extensions` isn't being installed as dependency. I will have to check but I believe its a dependency in `beartype`

## Full Traceback
[code]

## Your Environment
* Python version: 3.9
* graspologic version: 2.0

## Additional Details
This happens with pypi release and current `dev` branch

[2022-09-15 15:18] bdpedigo opened #984 "Add graph encoder embedding"
There's a new embedding method https://arxiv.org/abs/2109.13098
According to Carey, very useful
Maybe even some on MSFT side are using?
Requires vertex labels/attributes as additional input
There is also an unsupervised version described in the paper
I have code, at least for the supervised version

[2022-10-06 13:32] #506 closed, assigned to nobody

[2022-10-06 13:33] bdpedigo commented on #503
addressed recently in #973

[2022-10-06 13:33] #503 closed

[2022-10-06 13:38] bdpedigo opened #993 "[BUG] Remove outdated Zenodo DOI from README.md"

[2022-10-06 13:41] bdpedigo commented on #993
The goal is to simply remove this shield from the README

<img width="1146" alt="Screen Shot 2022-10-06 at 9 39 34 AM" src="https://user-images.githubusercontent.com/25714207/194328300-6a220574-172b-4d01-a3ee-9f813af15fb7.png">

[2022-10-09 20:48] ktwillcode commented on #993
i would like to work on it.

[2022-10-10 02:45] ktwillcode commented on #993
Should I remove my pull request?
Then you will assign it?
I am new to this contribution.... that's why I edited and submitted a pull request.
Kindly guide me :)

[2022-10-10 13:04] bdpedigo opened #995 "[BUG] Reporting fails due to upstream issue (matplotlib)"
see https://github.com/mwaskom/seaborn/pull/3060
seaborn and mpl 3.6.1 dont like each other, but seaborn already knows about it. not sure if we shoudl push our own fix as well

[2022-10-10 13:55] bdpedigo commented on #995
potential fix: specify matplotlib != 3.6.1 in setup.cfg https://github.com/microsoft/graspologic/blob/dev/setup.cfg

[2022-10-10 13:56] bdpedigo commented on #993
no need to remove, thanks for the PR @ktwillcode

[2022-10-10 13:58] bdpedigo commented on #995
planning on having Hope (not sure her github ID) work on this issue

[2022-10-11 18:59] hugwuoke commented on #995
Looking at it now

[2022-10-13 16:39] #995 closed

[2022-10-20 15:00] bdpedigo commented on #993
closed by #994

[2022-10-20 15:00] #993 closed

[2022-11-17 01:58] loftusa opened #998 "[BUG] giant gensim error when trying to pip install on 3.10.6"
`pip install graspologic`

Results in a giant error having to do with the `gensim` requirement.
I'm using a fresh-ish ubuntu environment with python 3.10.6

I'd copy the whole error, but it's like 10 years long and all having to do with weird unicode stuff.
Is gensim a real requirement?

![gensim_error](https://user-images.githubusercontent.com/12386450/202335198-601afc6c-c167-40e0-94f9-00bfa9a454

[2022-11-29 20:04] bdpedigo commented on #970
remove all functionality related to I-DAD https://github.com/microsoft/graspologic/blob/dev/graspologic/utils/utils.py#L373

[2022-11-30 21:50] bdpedigo commented on #998
gensim is a real requirement of node2vec

have you tried just installing gensim?

i have no idea how to debug from the above - i wonder whether something is being compiled rather than installed from a whl on your platform?

[2022-11-30 21:54] hhelm10 commented on #998
fyi - before graspologic's pypi version was 2.x.x i could get grapologic to install by first installing gensim==3.8.0.

i can similarly get graspologic 2.0.0 to install by first installing gensim==4.0.0 (not sure if any more recent versions work). the installation throws errors related to building the wheels for umap-learn and pynndescent