[2018-09-07 18:01] ebridge2 opened #1 "Standardize IO"
Shared io functions in utils, so there is less inconsistency and chances for breakage. Ie, this breaks id imagine https://github.com/neurodata/pygraphstats/blob/master/graphstats/ase/ase.py with networkx.

Todo:
+ profie networkx to numpy matrix function (sparse as function of n, dense as function of n from n=10 to 10k on log scale; sparse = O(n) edges, dense = O(n^2) edges)
+ embed base class
+ I

[2018-09-07 18:14] ebridge2 opened #2 "update demo datasets"
add graphs from here https://github.com/neurodata/graphstats/tree/master/data

[2018-09-07 18:15] ebridge2 opened #3 "Add graph simulations"
ER, SBM, zi-poisson ER, zi-poisson SBM, weighted ER, weighted SBM simulations.

DoD:
+ simulations subpackage added
+ tests for simulations subpackage for each simulation type to validate that graphs simulated from the respective simulations satisfy the hyperparameters for the simulation type

[2018-09-07 19:36] bdpedigo opened #4 "learn how to use issues"

[2018-09-07 19:37] #4 closed

[2018-09-07 19:42] v715 opened #5 "Read papers"
1. Statistical inference on random dot product graphs: a survey
2. https://medium.com/basecs/a-gentle-introduction-to-graph-theory-77969829ead8

[2018-09-07 19:43] #5 closed

[2018-09-07 19:48] bdpedigo opened #6 "implement ASE, LSE, PTR, semipar"
based on input data formats we agree on, make sure these functions work properly and no longer call R scripts

DoD:
* tests demonstrating that these functions provide expected output, can take in whatever data format we agree on
* jupyter notebook demonstrating use

[2018-09-07 19:57] v715 opened #7 "learn how to use travis"

[2018-09-07 19:59] v715 opened #8 "read the following"
1. http://www.cis.jhu.edu/~parky/CEP-Publications/STFPjasa.pdf
2. https://www.nature.com/articles/nn.4361

[2018-09-07 20:00] v715 opened #9 "networkx"
1. pip install networkx
2. understand what classes and methods are available in the package

[2018-09-07 20:11] j1c opened #10 "Omnibus Embedding"
Write a function for omnibus embedding with following features:
  * Can take any number of matrices
  * Checks for same matrix dimensions

DoD:
  * Code + tests demonstrating that it works.

[2018-09-07 21:06] bvarjavand opened #11 "dimensionality selection"
* Can take matrices of any size

DoD:
  * Code + tests demonstrating that it works.

[2018-09-07 21:23] j1c opened #12 "CONTRIBUTING Guidelines"
Write a concrete contributing guidelines

DoD
CONTRIBUTING.md that specifies the following:
+ Coding guide following PEP8
+ Docstring guide following that of numpy/scipy NOT Google

[2018-09-08 21:19] ebridge2 commented on #11
@bvarjavand the code currently in hayden's repo requires a vector to be passed of singular values; would be useful if you adjust his method (which was based on our R code that I've since updated) to take the actual matrix itself as well, similar to [graphstats R dimselect](https://github.com/neurodata/graphstats/blob/master/R/dimselect.R), which takes an input array and automatically will use Trun

[2018-09-10 15:31] j1c commented on #12
Completed in https://github.com/neurodata/pygraphstats/commit/3f1cf3a52ca2ececf033d91f2af229db74a6fa1d

[2018-09-10 15:35] #12 closed

[2018-09-10 15:36] #9 closed

[2018-09-10 15:36] #8 closed

[2018-09-10 15:36] #7 closed

[2018-09-12 12:52] bdpedigo opened #14 "Explore spectral and omnibus embedding wrt. phenotype data"
Select some phenotype features of interest and explore how spectral embedded data look with regard to these features. If it seems reasonable based on this output, try clustering/classification
DoD:
* pretty graphs generated from an extensible python/class module
* use jupyter notebook to tell data narrative

[2018-09-12 12:52] ebridge2 opened #15 "Make a class for a latent position model and adjust embeddings to store the latent position model"
Make a basic class contaning a structured representation of a latent position model. This consists of an `X`, a `Y`, and a optional `vtx_names` attribute where `X \in \mathbb{R}^{N \times k}, Y \in NULL U \mathbb{R}^{N \times k}`, and `vtx_names \in \mathcal{S}^{N}`. Correspondingly, make the base embedding class contain an instance of a latent position model to return to users.

DoD:
+ latent pos

[2018-09-12 15:21] j1c opened #17 "Implement standardized IO, simulations, nonpar, semipar"
write code, tests, and documentation for the following:
+ [ ] standardize IO
+ [ ] simulations
+ [ ] nonpar
+ [ ] semipar

DoD:
+ finished code with documentation, tests for each
+ travis integration for each function added

[2018-09-12 15:24] j1c opened #18 "Create many to one vertex matching algoritm"
Many to one algorithm

DoD:
  * [ ] Some whitepaper describing the problem, the algo, any proofs.

[2018-09-12 15:25] j1c opened #19 "Implement dimselect, seeded graph matching"
write code, tests, and documentation for the following:
+ [x] dimensionality selection
+ [ ] joint graph embedding base on shangsi paper

DoD:
+ finished code with documentation, tests for each
+ travis integration for each function added

[2018-09-12 15:25] j1c opened #20 "Implement omni, clustering after embedding, plotting functions"
Write code, tests, and documentation for the following:
- [x] Omni
- [x] Clustering after embedding? GMM/MDS
- [x] Plotting
- [x] README.md
- [x] CONTRIBUTING.md
- [x] Setup sphinx script for generating docs

DoD:
- [x] Finished code with documentation, tests
- [x] Passing Travis
- [x] Nature compliant repo
- [x] Pypi package
- [x] Full documentation hosted by github

[2018-09-12 15:35] bvarjavand commented on #11
Sounds good. We should talk.

[2018-09-12 18:45] bdpedigo opened #21 "Analyze another data set based on tools/discoveries in prior sprint"
Based on what is discovered in sprint 2, see if any significant findings can be repeated in another data set. In particular, if disease/environmental phenotype data can be related to graph statistic properties, try to find another data set for that specific phenotype

DoD:
* Quantification of graph statistical properties with regard to phenotype data as in Sprint 2
* Reproducible figures and stati

[2018-09-12 19:11] bstadt commented on #18
Bless thank you for creating @j1c

[2018-09-12 19:34] #1 closed

[2018-09-13 04:40] jovo commented on #20
"implement" for GMM i assume means leverage sklearn?

consider a coherent plotting strategy for the whole repo, seaborn/plotly/bokeh, choose 1 collectively

[2018-09-13 04:40] jovo commented on #19
SGM is pretty complex, there are many variants of it.
if @bstadt is plannign on doing many-to-one, he should probably also engage in this.

[2018-09-13 04:41] jovo commented on #18
see https://github.com/neurodata/pygraphstats/issues/19

[2018-09-13 04:41] jovo commented on #17
standarize plotting too.

[2018-09-13 04:42] jovo commented on #10
i'd recommend starting with 2 matrices, rather than any number.

@j1c who is assigned this?

[2018-09-13 16:57] j1c commented on #10
This is assigned to me. It is part of the overall sprint 1 sprint now.

[2018-09-13 18:27] jovo commented on #10
Yes. I meant test on 2 to start

On Thu, Sep 13, 2018, 1:25 PM Eric Bridgeford <notifications@github.com>
wrote:

[2018-09-13 19:50] ebridge2 opened #23 "Primitives and Super Primitives to add"
Primitives
dimselect
ASE
LSE
OMNI

Super Primitives
Nonpar
Semipar
GClust
OOCASE

[2018-09-17 19:29] jovo commented on #23
[jhu_primitives_graph_problems (1).pdf](https://github.com/neurodata/pygraphstats/files/2389964/jhu_primitives_graph_problems.1.pdf)

[2018-09-17 19:35] jovo commented on #23
things to get clarification on:
- Gclass: i think this is LDA and QDA
- LSE: which special cases
- Nonpar: https://arxiv.org/abs/1409.2344, kernlab in R implements MMD

## things i don't care about in sprint 1
- OOCASE: too complicated
- VN
- SGM
- SGM
- community detection on large graphs

-

[2018-09-18 21:03] ebridge2 opened #26 "add common models that can be fit to graphs"
add models for SBM, ER, and ZI, inheriting from a base model class.

[2018-09-18 21:07] ebridge2 opened #27 "add edge-case testing to simulations"
as title states

[2018-09-19 07:02] #3 closed

[2018-09-19 07:02] #15 closed

[2018-09-19 20:43] j1c opened #29 "add sphinx doc script and host on github pages"
for friday (9/21)

[2018-09-24 20:06] j1c opened #34 "scipy.sparse.linalg.svds requires non-int array"
must be float or decimal. i will update import_graph function to cast to float if int array.

[2018-09-25 05:38] ebridge2 opened #35 "rerun analysis on CoRR and HBN"
using modified atlases and dMRI pipeline

[2018-09-25 05:38] ebridge2 opened #36 "redo atlases using Jaewon's JSON mappings"

[2018-09-25 21:56] j1c commented on #36
@ebridge2

[Notebook](https://github.com/neurodata/graspy/blob/ndmg/docs/j1c/20180925/remapping.ipynb)
[Zip with jsons + updated niftis](https://github.com/neurodata/graspy/blob/ndmg/docs/j1c/20180925/ndmg_atlases.zip)

The following atlases were updated:
those in `func_atlases/label`:
+ `aal_res-1x1x1`
+ `aal_res-2x2x2`
+ `aal_res-4x4x4`
+ `brodmann_res-1x1x1`
+ `brodmann_res-2x2x2`
+ `brodmann_r

[2018-09-25 22:20] j1c opened #37 "Func for returning the actual latent positions in BaseEmbed or LatentPosition?"
Thoughts on adding a function that returns the actual latent positions? So that I don't have to keep typing `np.dot(lpm.X, np.diag(lpm.d) ** 0.5)`?

I think it makes sense to add to BaseEmbed, but I could see it being added to LatentPosition. @ebridge2 ?

[2018-09-26 10:18] ebridge2 commented on #36
redid atlases with new atlases standardizing the pool for func and dwi, and remapped many of the dwi atlases/labels to standard space. Available here `aws s3 cp --no-sign-request s3://mrneurodata/resources/ndmg_atlases.zip ./'

[2018-09-26 11:01] ebridge2 opened #38 "Take Notes for Discriminability"
[Simulation Notes](https://github.com/neurodata/graspy/files/2419387/Notes_180926_065934_edc.pdf)
[Figure Notes](https://github.com/neurodata/graspy/files/2419388/Notes_180926_070011_11e.pdf)

[2018-09-26 11:35] ebridge2 commented on #38
overall comment: paper content is pretty all over the place and not very cohesive; probably needs a 100% rewrite; the figures need to get in place before we start improving the language in the paper more I think

[2018-09-26 13:42] bdpedigo commented on #37
would this be the equivalent of a .fit_transform() method though? If so I think it makes more sense in BaseEmbed

[2018-09-26 17:03] ebridge2 commented on #37
It's an operation on the latent positions tho, not the embedding. Why do you think it should go in the embedding?

[2018-09-26 17:09] j1c commented on #37
I just want the estimated latent positions, which should be returned by calling fit_transform, similar to sklearn (e.g. with PCA, i can call .fit_transform() to fit it and get the transformed data out with one function call).

We can implement the operation in LPM and have fit_transform call that function, but I just want a shortcut.

[2018-09-27 01:46] ebridge2 commented on #38
F test for ICC/I2C2

[2018-09-27 01:49] ebridge2 commented on #38
2 sample simulation. n subjects; 2 scans per subject. pipeline 1 adds more variance. scaled identity for pipeline 1.

[2018-09-27 02:03] ebridge2 commented on #38
figure 1 is simulation figure, left panel is simulation drawing, middle is distance matrix, right is rdfs for linear simulation. figure 2 is like current but updated simulations, right show distribution figure 3 is power curves as a function of n for 1d and 100d, figure 4 is the current figure 3 redone to be pretty/right.

for 1d case:
generate 6 simulations
generate power curves as a function of

[2018-09-30 01:44] j1c commented on #10
See #39.

[2018-09-30 01:44] #10 closed

[2018-10-01 11:20] jovo commented on #19
what about pass-to-ranks? is that one of the transformatinos?

[2018-10-03 01:45] ebridge2 commented on #38
add line for mean discriminability to histogram

[2018-10-03 01:48] ebridge2 commented on #38
update radial sims to appropriately handle measure for added noise

[2018-10-03 02:28] ebridge2 commented on #38
incorporate ndmg revision comments

[2018-10-03 17:19] bdpedigo commented on #6
@jovo can you define OOSase for me?

[2018-10-03 17:59] jovo commented on #6
https://arxiv.org/abs/1802.06307

On Wed, Oct 3, 2018 at 1:19 PM Benjamin Pedigo <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2018-10-04 15:57] j1c commented on #11
@jovo this is just ZG. what do you mean by a bit more ambitious?

@bvarjavand @ebridge2 is there a point to computing svd twice? if ZG already computes svd, why not just use the singular vectors + values of ZG?

[2018-10-08 22:50] bdpedigo commented on #29
@j1c if you're too busy for this I'd be happy to give it a look or pick up where you left off. I think we're getting to the point where people could be using some of our code so could be useful. Just lmk

[2018-10-08 23:02] bdpedigo opened #44 "randomized SVD for ASE/LSE"

[2018-10-09 15:08] j1c commented on #44
FYI, sklearn already has an implementation https://github.com/scikit-learn/scikit-learn/blob/bac89c2/sklearn/utils/extmath.py#L261

@ebridge2 what issues were you running into when using TruncatedSVD from sklearn? Was it just dealing with the signs and transposes?

[2018-10-09 15:48] ebridge2 commented on #44
Yah; note that we use what truncated svd calls already

[2018-10-09 18:42] #44 closed

[2018-10-10 20:19] j1c opened #45 "What plots would be useful?"
First I think seaborn is a good choice. ggplot for python hasn't been developed in over 2 years so while ggplot is nice, I don't think I'm going to use it. Not the biggest fan of plotly. Thoughts appreciated.

So for actual plots:
1. Function for plotting 1 or more adjacency/similarity/dissimilarity matrices as heatmaps
2. Pairwise scatter plots. So given X \in R^{n x d}, it plots each pairs of di

[2018-10-11 02:43] bdpedigo commented on #45
Agree with seaborn

What about plotting the result of generic clusterings? Could build off of scatter plots mentioned above, but it would be nice to be able to visualize either class labels or errors if the true labels are known

[2018-10-11 05:32] ebridge2 commented on #45
Would recommend plotly + pandas. It's actually super ez w pandas, which i
hadnt used before to do adjacency matrix related plots; Iwould imagine the
scatter plots needed for the proposition below are similarly trivial. Check
one of my weeklies in `docs`; the resulting plots are p nice and are like,
sub 10 lines of code you can steal; also they are interactive. As a
starting pt, I'd revommend the o

[2018-10-11 20:14] j1c commented on #45
@ebridge2 Are they really voronois for second and third figures? I thought voronoi diagrams have straight edges not curves?

[2018-10-15 03:33] j1c commented on #36
@ebridge2 Can you clarify where to find the labels for below? or maybe someone already has it (maybe CEP or YP)?

- tissue
  - there are 3 labels. im guessing one is gray matter and white matter. what is the third?
- pp264
  - where is this from? perhaps we should change to a more useful name
- desikan
  - this is from the 2006 paper. i have 70 labels found on freesurfer, but none of the labels ma

[2018-10-16 15:21] j1c opened #48 "Refactor dissimilarity function from omni to cmds"
title

[2018-10-23 18:41] #48 closed

[2018-10-28 23:51] bdpedigo opened #52 "look into sklearn preprocessing functions"
See if any of these could be useful for graphs

http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.QuantileTransformer.html#sklearn.preprocessing.QuantileTransformer

[2018-10-28 23:55] bdpedigo opened #53 "Run ASE/fast ASE comparison"

[2018-10-28 23:56] bdpedigo commented on #26
@ebridge2 can we close?

[2018-10-29 00:49] ebridge2 commented on #26
this hasn't been completed, so I don't see why it would be closed, unless we no longer want to have model fitting in the package

[2018-10-29 10:31] bdpedigo commented on #26
my b, I misunderstood the title then

[2018-10-29 15:40] j1c commented on #52
As alternative to PTR?

[2018-10-29 16:01] bdpedigo commented on #52
Yes, Jovo mentioned quantile transform linked above but there are many others that use the same interface, could have a generic transformations class if there are enough of these that could be useful. Definitely log transform at least

[2018-11-07 17:19] anibalsolon opened #57 "OmnibusEmbed fit_transform results"
Hi developers (cc @jovo),

I am running the OmnibusEmbed into several correlation matrices derived from functional magnetic resonance imaging data. Currently, I have 133 subjects, each one with 249 brain regions of interest timeseries. For each subject, I compute the pearson correlation matrix, so in the end I have a matrix [133 x 249 x 249] (if you prefer, 133 graphs with 249 vertices).

However,

[2018-11-07 21:04] j1c commented on #57
Hi Anibal,

1. Im not entirely sure why you get a 2-tuple instead of a matrix. Is it possible for you to share the data for me to try to reproduce the issue?
2. Yes, you can safely reshape the matrix into the tensor with your described shape. First [249 x 20] matrix will correspond to the first subject, second [249 x 20] will correspond to the second subject, etc..

[2018-11-08 15:55] anibalsolon commented on #57
Hi @j1c

Thank you for helping me!

Sure, this is the correlation matrices (subject x region x region): http://research.anibalsolon.com/cmi/mgc/corrs.npy

[2018-11-09 04:33] j1c commented on #57
Hi Anibal,

It seems that not all `249 x 249` matrices are symmetric. If the matrices are not symmetric, they are considered directed graphs and will give you the left and right latent positions. This is expected behavior. Looking a little bit further into the matrices, the maximum element-wise difference of any `249 x 249` matrix and its transpose is in the order of 10^-15, suggesting either a da

[2018-11-09 16:39] bdpedigo commented on #57
@j1c  thoughts on adding something like a `is_almost_symmetric` function up to some tolerance, and throwing a warning? I think many graphs generated from functional connectivity could have this issue

[2018-11-09 16:41] bdpedigo commented on #57
Or, we should at least clarify in the docs when one should expect a 2-tuple

[2018-11-10 03:59] ebridge2 commented on #57
@anibalsolon @jovo out of curiousity, how does one generate non-symmetric correlation matrices? I could understand if the metric was not correlation, but your model is not multivariate normal without PSD covariance, and if non-symmetric, you are not PSD...

that said, generation of correlation matrices in python is a 1-liner that's already fairly straightforward with no hyperparameters, so I don't

[2018-11-10 04:07] jovo commented on #57
i would agree with you, except @Anibal Solon <Anibal.Solon@childmind.org> is
good, and he did it in a way that breaks us,
we don't write code based on what we think other people *should* need,
we write our code based on experience of what other people actually *do*
need.
@Anibal Solon <Anibal.Solon@childmind.org> , and i assume others, would
benefit,
so it is a no brainer to include.

that said, i

[2018-11-10 04:35] ebridge2 commented on #57
Yes; I believe @anibalsolon was just a roundoff error; totally agree we should def do an `isclose()` check as @anibalsolon advised above; makes a lot of sense for our use-case (we could support a kwarg `"isclose"` that if `True` (default) will simply forward to the `LP` model that same kwarg, which then just does `isclose()` as anibal recommends)

I meant more in response to @bdpedigo's comment

[2018-11-10 15:55] anibalsolon commented on #57
Yes, it is just a rounding problem from the correlation function, and now I am using the embeddings[0] ! Thank you for the clarification, @j1c . A sentence or two on the documentation/docstring would be appreciated, for sure 😄

[2018-11-10 16:44] anibalsolon commented on #57
Sure! It is the `numpy.corrcoef`

[code]

[2018-11-10 16:51] jovo commented on #57
great, thanks!

@Eric Bridgeford <ebridge2@jhu.edu> ok, so the standard way does not
generate exactly symmetric matrices.  given that, i vote we have our own,
that operates on the average (D+D')/2.  and we also check the input, if
isclose is true, we compute the average and then operate on that.

thoughts?

On Sat, Nov 10, 2018 at 11:45 AM Anibal Sólon <notifications@github.com>
wrote:

--
the gla

[2018-11-10 17:43] bdpedigo commented on #57
@ebridge2 I was mainly referring to rounding errors since even np.corrcoef docs admit that result may not be symmetric as shown above. And, the more general thought that any arbitrary implementation for generating a graph could have the same issue shown above.

In response to @jovo , my vote would be to check is_close(), if true, symmetrize the matrix using the average, and possibly throw a user w

[2018-11-10 18:14] jovo commented on #57
ok, your call.

On Sat, Nov 10, 2018 at 12:43 PM Benjamin Pedigo <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2018-11-10 20:43] anibalsolon commented on #57
@bdpedigo @jovo what if we have a set of directed graphs, and one of them happens to look symmetrical (i.e. not symmetrical, but `True` for `np.isclose`)? Or if all of them seems symmetrical, but the user is expecting two tuples? The function will unnecessarily symmetrize them, output a warning to the user and the user might access embedding[0] expecting for a tuple, but instead, it is accessing t

[2018-11-10 21:54] jovo commented on #57
that's a good idea,
we could try to estimate whether it is directed by default,
but allow users to specify?

On Sat, Nov 10, 2018 at 3:44 PM Anibal Sólon <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2018-11-11 07:50] ebridge2 commented on #57
I honestly had no clue that np.corrcoef didnt produce symmetric results. @anibal awesome to know; thanks for the helpful comments!

[2018-11-14 20:18] bdpedigo opened #58 "Things to do within next week"
# Pedigo
- [x] LCC
- [x] diag aug
- [x] Anibal's error/is_close(), unless someone already fixed/clarified that
- [x] Protect laplacian normalization against undirected graphs
- [x] Change how `form` kwarg gets passed to LSE
- [x] Let PTR take kwargs
- [x] RDPG
  - [x] fix min()
  - [x] actual simulation
  - [x] add tests
- [x] Laplacian fails when node degree 0
- [x] Add alpha param for plotting

[2018-11-14 20:41] j1c commented on #58
Nevermind. Omni works fine with directed graphs. Ill add a test for directed case.

[2018-11-14 22:26] jovo opened #59 "add diag aug to ASE"
ASE(A) operates on

A + diag(degree_vec / n-1)

[2018-11-14 22:35] jovo commented on #59
on c. elegans, try diag augmentaion times some constant.
make pairs plots for each.

[2018-11-14 22:40] jovo opened #60 "do ASE/LSE only on the largest connected component."

[2018-11-14 22:54] ebridge2 commented on #60
with this in mind, it would also be useful to add an internal `graph` model with `vertices` and `adjacency matrix` attributes, so that you can keep track of which vertices are associated with the LCC, and also a utility that accepts in a `n` list of `v x v` adjacency matrices/ `n` list of networkx graphs/3D array `n x v x v` for `n` graphs with `v` vertices, and computes the LCC of the whole colle

[2018-11-15 01:17] #21 closed

[2018-11-15 01:17] #14 closed

[2018-11-15 02:04] jovo commented on #60
ok, make an issue, and you can do that.
in the meantime, i'd like ASE to do the *right* thing, which is operating
on the LCC and using diag-augmentation.

On Wed, Nov 14, 2018 at 5:55 PM Eric Bridgeford <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2018-11-15 04:30] ebridge2 opened #61 "Change plot Heatmaps to 1-tone"
It's slightly more intuitive to have single tone heatmaps (ie, color for large values, white for small values, somewhere in between otherwise). Makes visualizing stuff like the below:

![image](https://user-images.githubusercontent.com/8883547/48530262-ed469680-e864-11e8-9f83-2688a0458f8e.png)

as the absence of color generally indicates the something is small, whereas the presence of color usuall

[2018-11-15 05:44] ebridge2 commented on #61
Sure; that logic makes sense

[2018-11-15 05:44] #61 closed

[2018-11-15 06:39] ebridge2 commented on #61
did't realize it has an option for colormap. that works too!

[2018-11-15 16:57] bdpedigo commented on #60
@ebridge2 @jovo @j1c I am against having graspy keep track of LCC under the hood without telling the user. I am in favor of graspy throwing an error when passed a graph that is not completely connected. I think the user should always be specifying which graph they want to embed, and I don't see the point in having graspy keep track of unconnected components when nothing in graspy will ever really

[2018-11-16 20:13] bdpedigo opened #62 "FIRM compliance"
# Find
 - [x] On github
 - [x] Permanent DOI
 - [x] License
# Install
 - [x] Installation guidelines
 - [x] On PyPi
    - this is done automatically
# Run
 - [ ] Demo, including expected results, data, and runtime
 - [x] Readme with quick start guide
 - [x] Autogen docs
# Modify
 - [x] Contrib guidelines
   - [x] Style guidelines
   - [x] Bug report template
   - [x] Pull request template
   - [x]

[2018-11-21 08:52] #29 closed

[2018-11-21 08:54] #11 closed

[2018-11-23 15:18] jovo opened #66 "sample correlated SBM"
Example:

require(igraph)
gg <- rg.sample.SBM.correlated(n = 100, B = matrix(c(0.5,0.5,0.2,0.5), nrow = 2), rho = c(0.4,0.6), sigma = 0.2)

summary(gg$adjacency$A)
IGRAPH c77bf6c U--- 100 2424 --
summary(gg$adjacency$B)
IGRAPH 3ccfb0c U--- 100 2039 --

cor(as.vector(gg$adjacency$A[]), as.vector(gg$adjacency$B[]))
[1] 0.1494246

## Correlated ER
rg.sample.correlated.gnp <- function(P,sigma){
   req

[2018-11-25 17:16] bdpedigo commented on #60
Implemented in master by throwing an error when passed an unconnected graph, also we now have utils to find LCC

[2018-11-25 17:16] #60 closed

[2018-11-25 17:24] bdpedigo opened #68 "More misc TODO"
# Pedigo
 - [x] merge ptr changes [#67]
 - [x] constant multiplier kwarg for diag aug
 - [x] figure out ASE/eleganz bug/feature
 - [x] fix LSE is_almost_symmetric behavior
 - [ ] write some tutorials and/or show use on real data
 - [ ] transformations
   - [ ] look into sklearn preprocessing [#52]
   - [ ] implement log transform
   - [ ] refactor plotting log transform to use above
   - [ ] refac

[2018-11-25 22:44] bdpedigo opened #69 "Pipeline support"
Roll several preprocessing steps (various types of PTR, other transforms, etc), embeddings, and clustering steps into a sklearn Pipeline that will work with randomized parameter search

https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html#sklearn.

[2018-11-26 23:50] jovo opened #71 "dimselect"
make sure that it checks that the input is a vector, not a matrix.

@bdpedigo @j1c

[2018-11-27 01:54] j1c commented on #71
current implementation allows for both a matrix and a vector input. if matrix, then svd and compute best number of features. Otherwise, just compute the likelihoods

[2018-11-27 01:54] #71 closed

[2018-11-28 22:22] #58 closed

[2018-11-29 19:40] loftusa commented on #36
New labels are here: https://github.com/neurodata/graspy/blob/ndmg/notebooks/j1c/20181012/label_updated.zip

Missing labels: desikan, DK, pp264, tissue

[2018-12-02 21:20] #45 closed

[2018-12-02 21:20] #38 closed

[2018-12-02 21:48] anibalsolon commented on #57
@bdpedigo Thank you so much for the effort! Yes, it is clear now.

[2018-12-03 20:00] j1c opened #74 "Fix notebooks on netlify"
Issues with setting jupyter notebook kernels prevent them from running on netlify

[2018-12-04 19:44] j1c commented on #68
- [ ] Refactor LCC to embedding instead of import_graph
- [ ] Check for label counts in pairplot. If <= 1, throw an error since you cant compute kde with 1 sample

[2018-12-04 23:56] bdpedigo opened #75 "Embedding regularization investigations"
- see how "adding c" affects embeddings
 - see how the embeddings look when we don't even check for LCC
 - see if one or two graphs are messing everything else up because they have many unconnected nodes
 - figure out how to still run sparse code after adding c
 - see if augmenting diagonal changes anything even when there are unconnected nodes (eg can we force connectivity somehow and just fake i

[2018-12-04 23:57] bdpedigo opened #76 "URerf Graph2vec"
"concatenated vectors through unsupervised random forest, the features that were most informative would be the ones that are used. then, rather than MDS, we simply do an eigendecomposition"

[2018-12-04 23:58] bdpedigo opened #77 "Closer look at semipar power/null distribution improvements"

[2018-12-04 23:58] bdpedigo opened #78 "See if semipar needs LCC protection for the simulated RDPGs"

[2018-12-05 00:01] bdpedigo opened #79 "sparse matrix support"
Should be easy, most functions should already work on sparse matrices but we will need to update our typechecking in several places and write tests to make sure.

Also J1c says that one of the SVDs does not work on sparse

Possibly could include support for rank 1 + sparse matrices where rather than many 0s they have many of some constant

[2018-12-05 20:49] bdpedigo opened #80 "Compare semipar for scaling vs clipping P matrix"

[2018-12-06 20:11] j1c opened #82 "Write a function for finding connected components using numpy arrays"
Using networkx function is too slow b/c conversion from np.array -> nx.Graph() is too slow. Scalability of this conversion depends on number of vertices and the density of graph.

[2018-12-07 18:56] #77 closed

[2018-12-07 18:59] #80 closed

[2018-12-07 18:59] #78 closed

[2018-12-07 19:00] bdpedigo opened #84 "Semipar investigations"
- [ ] Why are the simulations using all cores, slower than expected?
 - [ ] How inefficient is checking the LCC every time?
 - [ ] Effect of clipping or rescaling latent position estimates
 - [ ] Effect of throwing out unconnected sampled graphs during bootstrapping
 - [ ] Directed version?
 - [ ] How many bootstraps are necessary

[2018-12-10 21:15] #82 closed

[2018-12-11 16:10] bvarjavand opened #86 "Nonpar Investigations"
## Expected Behavior
Mimic nonpar power on SBM case in paper

## Actual Behavior
We will see

[2018-12-14 05:07] #74 closed

[2018-12-14 22:30] dmannan opened #90 "Drishti: Continued Graph Classification"
- Switch to classifying graphs from ndmg

- Classify (sex and then hopefully ADHD or some other neurological disorder of interest) the ndmg graphs using:
1. Jaewon's graph to vector algorithm to extract features from the graphs. Run the output vector through Rerf for classification.
2. Maybe try the technique suggested in this paper: https://arxiv.org/abs/1801.07683

DoD: Jupyter notebooks that ta

[2018-12-16 02:53] jovo commented on #90
seems very promising.  seems like something you can do over break?
would require porting the code for signal subgraph to python,
should be easy, given the existence of mgcpy...

[2018-12-17 21:07] bvarjavand opened #91 "Joint Embedding of Graphs"
- [ ] read paper and publish notes
- [ ] implement JEG in python with following features:
    - [ ] take m unweighted, undirected graphs with matched vertex set V and return estimates for $\hat{\Lambda}, \hat{H}$ for some $d \leq |V|$.
    - [ ] same, but for weighted graphs
    - [ ] same, but for directed graphs
    - [ ] same, but for weighted and directed graphs
- [ ] validate by comparing sol

[2018-12-20 16:51] jovo opened #92 "people want node2vec"
code is here:
https://github.com/aditya-grover/node2vec/blob/master/src/node2vec.py

perhaps, we can simply call it? or grab the code?

[2018-12-31 17:40] jovo opened #93 "improve nonpar by calling mgcpy's two-sample test"
the current nonpar implementation seems "correct",
meaning it seems to do what they did in the nonpar paper.
however, there is a much better way to implement it,
and we'd like to write a short paper about that.
specifically, in the current implementation, it uses the biased MMD,
which is equivalent to the biased Dcorr.
better would be to use the unbiased MMD/Dcorr,
and even better would be to use

[2019-01-07 21:51] #20 closed

[2019-01-13 05:37] jovo opened #95 "laplacian"
our code: https://graspy.neurodata.io/_modules/graspy/utils/utils.html#to_laplace
is pretty different from networkx code: https://networkx.github.io/documentation/networkx-1.10/_modules/networkx/linalg/laplacianmatrix.html#normalized_laplacian_matrix

can you explain the differences?

also, their implementation of "normalized laplacian" seems to not be one, but rather, an implementation of the lap

[2019-01-13 11:37] ebridge2 commented on #95
Their implementation is our I-DAD implementation. Note they do DH*(D-A)*DH which is just DH*D*DH-DH*A*DH, where Dh=D^(-1/2). Then it is clear the implementations are the same as their DH should be equivalent to our D_root. The main difference i see is that they store things internally as adjacency lists; we are typically using adjacency matrices, so they use a sparse matrix instead of a dense like

[2019-01-13 19:13] bdpedigo commented on #95
Because everything else in the package operates on dense matrices at the
moment. Like Eric said the fact that they are using sparse seems to be the
main difference, other than that I think they are similar...

On Sun, Jan 13, 2019 at 11:27 AM joshua vogelstein <notifications@github.com>
wrote:

[2019-01-13 19:34] jovo commented on #95
I'd think we want to support sparse and dense.
But either way the code is quite different,
Is that really just because of the differences between sparse and dense?
Like, is the difference requires given that they are sparse vs dense?

On Sun, Jan 13, 2019, 2:13 PM Benjamin Pedigo <notifications@github.com
wrote:

[2019-01-13 19:44] bdpedigo commented on #95
Their code:
sum Adjacency to get degree vector D
L = D - A
D_sqrt = 1 / sqrt(D)
DH = diagonal_matrix(D_sqrt)
return DH * L * DH

Our code:
sum adjacency to get degree vector D
D_root = diagonal_matrix(1 / sqrt (D))
L = D - A
return D_root * L * D_root (and make sure it's symmetric to machine
precision)

I really don't see how they're fundamentally doing different things, what
part is making you sa

[2019-01-13 22:31] jovo commented on #95
nx:

n,m = A.shape diags = A.sum(axis=1).flatten() D = scipy.sparse.spdiags(diags
, [0], m, n, format='csr') L = D - A with scipy.errstate(divide='ignore'):
diags_sqrt = 1.0/scipy.sqrt(diags) diags_sqrt[scipy.isinf(diags_sqrt)] = 0
DH = scipy.sparse.spdiags(diags_sqrt, [0], m, n, format='csr') return DH.dot
(L.dot(DH))

graspy:

    if form not in valid_inputs:
        raise TypeError('Unsuported

[2019-01-14 20:56] #6 closed

[2019-01-14 20:57] #18 closed

[2019-01-14 20:57] #17 closed

[2019-01-14 20:57] #68 closed

[2019-01-14 20:58] #62 closed

[2019-01-14 20:58] #36 closed

[2019-01-15 17:34] #27 closed

[2019-01-17 23:54] jovo opened #96 "generalized RDPG sampler and estimator"
A statistical interpretation of spectral embedding: the generalised random dot product graph. arxiv preprint arxiv:1709.05506.

[2019-01-22 13:34] bdpedigo opened #97 "known bugs/fixes to make"
- [ ] pairplot fails (singular matrix error in kde estimation) when a label group has all identical(?) values
 - [x] lcc indexing bug for case where recursion is needed on matrix data
 - [ ] change citation for LSE
 - [ ] add citation for omni
 - [x] add pairplot marker specification
 - [ ] add deterministic vector sign flip

[2019-01-22 15:52] j1c commented on #35
Closing cause this belongs to ndmg

[2019-01-22 15:52] #35 closed

[2019-01-22 21:08] j1c opened #99 "Add all Utils functions into documentation website"
Add all functions in Utils into `rst` for Sphinx.

[2019-01-24 18:37] j1c opened #100 "import edgelists"
Make a function to import edgelists
Make a function to import multiple edge lists

- Edgelists are sparse so need to find a union of all vertices when there are multiple edgelists

[2019-01-26 16:46] bdpedigo opened #102 "color blending"
Mostly just posting links here to check up on

https://github.com/matplotlib/matplotlib/issues/6210

https://github.com/anntzer/mplcairo/blob/master/examples/operators.py

Another option is the janky version where multiple copies of the figure are created and then blended post hoc

https://stackoverflow.com/questions/26702176/is-it-possible-to-do-additive-blending-with-matplotlib

[2019-01-27 01:54] bdpedigo opened #103 "Analysis pipelines"
If graspy had a simple interface for graph(s) -> simple plots, what would we want?

**Single graph**
1. Connected component analysis
   - check for it, report result
   - if unconnected, report nodes not in LCC
   - could show adjacency matrix, where nodes grouped by CC, but not sure if this is worth it
2. Adjacency matrix
   - normal
   - log transformed
   - PTRed
   - (if node categories) plot

[2019-01-27 02:02] jovo commented on #103
this list looks great!
in general i'd say, rather than trying to predict which plotting functions
we want,
anytime we decide we want a new chart, let's add it to our list of
functions.
that way, we'll never over engineer, and also never not have the functions
we want.
that said, most of the above (maybe all), at some point, i've asked
somebody for...

of note, i think of ASE, LSE, and node2vec as

[2019-01-27 17:14] bdpedigo commented on #103
So, having plotting funcs for node degree and edge weight seems worth it to me, though they would be super simple functions I think they can be used often enough that it would be worth it...

What about having funcs for plotting heatmap/gridplot when grouped by something? Or by a 2 level hierarchy like for elegans? That part is less trivial, tho we mostly have the code for it. But if I make it int

[2019-01-28 21:04] j1c opened #104 "Jaewon Sprint 2"
Write paper on heritability.

I should have a draft completed by the end of the week (2/1/19).

DoD: Reviewed and uploaded to bioarxiv.

[2019-01-29 18:59] jovo opened #105 "make graspy sklearn compliant/compatible"

[2019-01-31 02:45] bdpedigo opened #106 "write function for hierarchy-grouped plot using code from elegans fig"
would be nice if it could be applied to both a heatmap and a gridplot

should it take in a df or array of data?

[2019-01-31 17:47] j1c opened #107 "Pass to ranks - simple-all and simple-zero returns matrices with values > 1"
## Expected Behavior
PTR should always return values between 0 and 1, inclusive.

## Template Code
[code]

## Your Environment
* Python version: 3.7.1
* GraSPy version: 0.0.1
* SciPy version: 1.2.0

[2019-01-31 17:57] bdpedigo commented on #107
Was implemented the same as R code when it was written because we talked about doing some comparisons. That's why there is the factor of 2 in the code. I'm happy with removing it now

[2019-01-31 18:02] j1c commented on #107
I actually dont think this is an issue with what was written. I believe the problem is within the ranking function. Let me investigate, but I do remember when I was playing with iris dataset where the "same" values weren't considered the same due to floating point issues (e.g. 1.5 != 1.5 cause the first one might be 1.500000000001 and the other might be 1.499999999).

[2019-02-01 21:54] rflperry opened #108 "Ronan: Extract recurrent/feed-forward hermaphrodite reproductive sub-networks"
Identify the recurrent and feed-forward networks in the reproductive sub-network of the hermaphrodite chemical connectome. Follow the techniques and work in this [paper](http://science.sciencemag.org/content/337/6093/437) which did so in the male connectome.

DoD: A jupyter notebook that has extracted the sub-network of sensors/interneurons in the reproductive pathway and has separated the feed-fo

[2019-02-02 00:42] junhaobearxiong commented on #66
@bvarjavand couple things we need to figure out

- [ ] how to verify that the rho-sbm implementation is correct

- [ ] how to generate rho-sbm with different marginal probabilities

[2019-02-02 00:45] jovo commented on #66
correct

On Fri, Feb 1, 2019 at 7:42 PM Junhao Xiong <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2019-02-04 04:37] rflperry commented on #108
Pipeline:
-Create a function returning the connectome subgraph of connections from a sensory subset to an endorgan subset. -Use this to extract the hermaphrodite reproductive subgraph.
-Identify the recurrent edges.
-Identify the N=3 feed-forward components (a motif presented in [this paper](https://bmcbiol.biomedcentral.com/articles/10.1186/1741-7007-2-25))

[2019-02-05 17:48] j1c commented on #105
Current implementations of embedding methods require some internal changes for it to pass the `check_estimator` function. The following have been modified to be sklearn compatible:
- [x] ASE
- [ ] LSE
- [ ] Omni
- [x] cMDS

[2019-02-05 19:41] bdpedigo commented on #79
https://scikit-learn.org/stable/modules/generated/sklearn.utils.extmath.safe_sparse_dot.html#sklearn.utils.extmath.safe_sparse_dot

[2019-02-05 21:33] j1c commented on #79
Never really understood the point of that function.

[code]

Just does `*` instead of `@`, which I think is equivalent in later versions of python.

[code]

[2019-02-05 23:47] j1c commented on #105
As per Andreas, we cant test for complex inputs like lists or tensors for Omni so graspy will be **partially** sklearn compliant.

[2019-02-06 04:40] bvarjavand commented on #93
That all sounds good.
Which options are most desirable to have implemented?
I'm guessing talking to the MGCPY team and getting unbiased MGC running is a good start.
Post RF hackathon hopefully we will be able to implement that as well.

[2019-02-06 04:59] j1c commented on #107
Nevermind... Theres two different implementations of ptr in R-graphstats. One returns values in [0, 2] and the other returns values in [0, 1]..

[2019-02-06 04:59] #107 closed

[2019-02-06 18:23] j1c commented on #79
TODO:
- [ ] ASE should require no changes
- [ ] LSE might require changes to `to_laplace`
- [ ] Omni requires change in omnibus matrix creation
- [ ] cmds requires change for matrix pairwise distance computation, but no change for vector pairwise distance computation

[2019-02-11 04:33] bdpedigo opened #112 "see if other graph searches are faster than conversion to networkx for LCC check"
https://scikit-learn.org/stable/modules/generated/sklearn.utils.graph_shortest_path.graph_shortest_path.html#sklearn.utils.graph_shortest_path.graph_shortest_path

I am guessing the speedup from not switching datatypes completely pays off

[2019-02-12 16:02] bdpedigo commented on #112
https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csgraph.connected_components.html

[2019-02-12 20:52] j1c opened #114 "Look at differences in U and V when matrix is almost symmetric"
## Expected Behavior
Graspy should be robust to almost symmetric matrices. That is when given an input `X` and  elements in `X-X.T` is within some tolerance, treat it as a symmetric matrix.

Still should investigate the differences in `U @ np.diag(D**0.5)` and `V @ np.diag(D**0.5)` when input is almost symmetric.

Almost symmetric is defined as `max(X-X.T) < 1e-15`.

[2019-02-12 21:00] #105 closed

[2019-02-12 21:20] bdpedigo commented on #114
also this
https://github.com/scikit-learn/scikit-learn/blob/7389dba/sklearn/utils/validation.py#L848

[2019-02-12 21:26] bdpedigo opened #115 "Sparse eigen stuff investigations"
Why you should add c (see 2.3.2)
https://projecteuclid.org/download/pdfview_1/euclid.aos/1382547514

Hashimoto/nonbacktracking matrix for sparse community detection
https://www.pnas.org/content/pnas/110/52/20935.full.pdf

Hashimoto/nonbacktracking matrix for centrality
https://arxiv.org/pdf/1401.5093.pdf

Degree corrected SBM clustering
https://arxiv.org/pdf/1309.4111.pdf

[2019-02-14 21:55] rflperry commented on #108
No longer relevant. Focus has shifted.

[2019-02-14 21:55] #108 closed

[2019-02-14 22:11] rflperry opened #116 "Function to create degree-corrected SBM"
[Theory](https://arxiv.org/pdf/1309.4111.pdf ) as to why DC-SBM's better mimic real-world networks. Heuristic algorithm for community detection for such networks and more theory explored [here](https://arxiv.org/pdf/1008.3926.pdf).

In the first paper, they use a regularized graph laplacian for inference due to degree inhomogeneity.

[2019-02-17 03:52] jovo commented on #26
@ebridge2 what is required for this to be completed?
please be detailed, as @dmannan will complete it :)

[2019-02-19 03:03] jovo opened #118 "other graph two-sample testing approaches worth considering"
1. Practical Methods for Graph Two-Sample Testing
2. HYPOTHESIS TESTING FOR NETWORK DATA IN FUNCTIONAL NEUROIMAGING

[2019-02-19 05:10] j1c commented on #118
1. https://arxiv.org/abs/1811.12752 - interesting and simple for tests for two populations. Tho not sure how they claim their method for the case `m=1` is better given this plot... Seems like Minh wins in almost all cases. `Boot-ASE` is Minh. Not sure what the two columns mean too...

![screen shot 2019-02-19 at 12 06 43 am](https://user-images.githubusercontent.com/5142539/52991394-8b08af00-33da-

[2019-02-19 05:26] j1c commented on #106
Done with #113

[2019-02-19 05:26] #106 closed

[2019-02-19 05:35] jovo opened #119 "in docs, why is there no "modules" page?"
https://graspy.neurodata.io/py-modindex.html
goes nowhere.

compare to, for example,
https://mgcpy.readthedocs.io/en/latest/py-modindex.html

[2019-02-19 16:45] j1c commented on #119
Its due to the way we wrote the docs. I opted not to use the function `automodule` that would otherwise generate that page because then we forgo some customizations (e.g. ordering of functions/classes, no sections between functions/classes).

I dont care about this page, so I can remove the link that would point to it. Thoughts @bdpedigo

[2019-02-19 18:13] jovo commented on #119
i like the module pages, it is what i go to when i look for documentation.

[2019-02-19 18:16] jovo opened #120 "signal subgraph"
there are now 3 papers that due "signal subgraph"

- https://arxiv.org/abs/1804.09567
- https://arxiv.org/abs/1108.1427
- https://arxiv.org/abs/1801.07683v1

let's have at least some way of doing it here.

[2019-02-24 04:43] j1c opened #121 "Change output of omni to be a tensor"
The issue tracker is a tool to address bugs in GraSPy itself. If you'd like to report a bug in GraSPy, fill out the template below and provide any extra information that may be useful / related to your problem.

## Expected Behavior
When computing `fit`,  we save `latent_left_` to be shape `(n_graphs * n_vertices, n_embedded_dim)`. I think it makes more sense to store them as `n_graphs, n_vertices

[2019-02-25 16:46] #100 closed

[2019-03-01 05:20] jovo opened #126 "organize notebooks for public viewing"
right now, the top-level directory for notebooks is your names,
which is great, but not very informative/useful for most people.
perhaps just a bunch of .ipynb files without a folder structure would be ok,
as long as those file names were informative?

[2019-03-01 05:28] j1c commented on #126
I dont think they are meant to be informative for anyone but us in a sense that those notebooks are kind of like workspaces for people (I wanted to remove it but semester started and people were already working on graspy for NDD). I am already planning on moving them else where after semester ends.

What I would want is to turn some of more useful notebooks (if any) into tutorials, which is more i

[2019-03-01 05:33] jovo commented on #126
oh, i see, ok.

On Fri, Mar 1, 2019 at 12:29 AM Jaewon Chung <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2019-03-01 05:36] #126 closed

[2019-03-04 16:44] j1c commented on #120
who is working on this?

[2019-03-04 17:33] jovo commented on #120
@Vikram Chandrashekhar <vikramc@jhmi.edu>

see
https://github.com/neurodata/subgraphing

On Mon, Mar 4, 2019 at 11:44 AM Jaewon Chung <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2019-03-04 18:14] j1c commented on #79
More TODO:
- [ ] Change PTR to output sparse matrix if input is sparse
- [ ] Changes to simulations to output sparse matrix similar to [link](https://pygsp.readthedocs.io/en/stable/_modules/pygsp/graphs/stochasticblockmodel.html#StochasticBlockModel)
  - This is lots of work
- Need to check the following if output is sparse if input is sparse
  - [ ] LCC functions
  - [ ] `symmetrize`
  - [ ] `aug

[2019-03-04 22:02] j1c commented on #95
Closing because our implementations are now very similar.

[2019-03-04 22:02] #95 closed

[2019-03-04 22:04] j1c commented on #19
Closing. At this point, @bvarjavand isn't working on SGM and probably won't anytime soon.

[2019-03-04 22:04] #19 closed

[2019-03-04 22:35] j1c commented on #90
Can I close given @vikramc1 is working on this now? @dmannan

[2019-03-04 22:36] #90 closed

[2019-03-05 22:39] j1c commented on #66
@junhaobearxiong Will there be a PR for rhoER and rhoSBM sampling methods?

[2019-03-05 23:03] bdpedigo opened #129 "JMLR paper"
- [x] tweak the model fit figure (font/lettering, block order, change from "truth")...
 - [x] edit text
 - [x] submit to arxiv
 - [x] add classes for fitting random graph models and sampling
 - [x] clean up the code to generate fig using those classes, make a jupyter notebook for docs, link in paper later

[2019-03-06 04:12] junhaobearxiong commented on #66
sure! I can do that once I finish the current set of experiments I'm running.

[2019-03-07 18:44] j1c opened #131 "Release 0.0.2"
Release 0.0.2 once current PRs are merged.

[2019-03-07 18:46] bdpedigo commented on #131
Change ptr default this release to simple-nonzero?

[2019-03-07 18:54] j1c commented on #131
Yea that sounds fine.

[2019-03-07 20:29] #121 closed

[2019-03-08 19:13] #86 closed

[2019-03-08 19:50] jovo opened #134 "implement CASC"
https://academic.oup.com/biomet/article/104/2/361/3074977

here is the R package:
https://github.com/norbertbin/SpecClustPack

@rflperry

[2019-03-13 04:14] v715 opened #135 "ptr ranks need to be multiplied by 2"
documentation for "simple-all" and "simple-nonzero" says that the transformed ranks should be multiplied by 2 but this is not done in the current code (see below)

[code]

the line `rank = rank / (normalizer + 1)` should be replaced with `rank = 2 *  rank / (normalizer + 1)`

[2019-03-13 04:34] v715 commented on #135
looking through some earlier versions of the pass_to_ranks function, I see that the  * 2 was previously implemented. why was this removed?

[2019-03-13 12:44] bdpedigo commented on #135
I think it made more sense for everything to be scaled from 0 to 1.

We will change the docs accordingly unless you have a reason to prefer the
old implementation.

On Wed, Mar 13, 2019, 12:34 AM Vivek Gopalakrishnan <
notifications@github.com> wrote:

[2019-03-13 14:03] v715 commented on #135
I don't have a preference! my only issue was that the documentation made me believe that I was getting the wrong value

[2019-03-13 16:04] j1c commented on #135
I dont think the answers to subsequent tasks should change given that the values are just scaled by sqrt(2) if you multiply by 2 in PTR. So your results should still be the same, if not, very similar.

On March 13, 2019 at 10:07:21 AM, Vivek Gopalakrishnan (notifications@github.com) wrote:

I don't have a preference! my only issue was that the documentation made me believe that I was getting the w

[2019-03-13 18:07] hhelm10 commented on #135
NB: The reason that PTR typically scales things by two is so that if A is unweighted then PTR(A) = A. In terms of inference on the graph the scale shouldn't matter.

[2019-03-16 16:02] bdpedigo opened #137 "nonpar tutorial unclear"
https://graspy.neurodata.io/tutorials/inference/nonpar.html

text under "plot of null distribution" is unclear, the null hypothesis _is_ that the two graphs came from the same generative distribution

In the second "plot of null distribution" section, the last sentence should be that we do reject the null

[2019-03-19 18:41] j1c commented on #131
Last ones to merge: #123 and #130 for this version.

[2019-03-25 15:28] #135 closed

[2019-03-25 15:28] #137 closed

[2019-03-27 20:28] #131 closed

[2019-03-27 20:28] #116 closed

[2019-03-28 17:28] bdpedigo opened #140 "change semipar and nonpar names?"
What do people think? @jovo brought up that the current names are uninformative. I agree, but don't really have a strong opinion on it

[2019-03-28 17:42] jovo commented on #140
matched and unmatched

On Thu, Mar 28, 2019 at 1:29 PM Benjamin Pedigo <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2019-03-29 15:56] bdpedigo opened #142 "graph model fitting classes"
I'm writing classes to fit ER, SBM, DCSBM, RDPG to a particular graph, and then let you sample from it. Eventually, should support a priori and a posteriori cases, where applicable.

What to do about weights, when applicable... @hhelm10 I know you have been dealing with empirical cdfs and sampling from them for SBM, correct? Do you calculate p for each block, sample edges, and then for the weights

[2019-03-29 16:39] ebridge2 commented on #142
I would non-parametric bootstrap as you describe. Fit a p for each block on the binarized graph, then sample the weights of nonzero edges as described. This would be semi parametric zero-inflated model.

That said, for sampling, i think it would be relatively easy to allow people to specify (a) a model for the structural properties of the graph (ie, ER, SBM, etc) with (b) parameters accordingly (i

[2019-04-02 15:49] bdpedigo opened #143 "dcsbm fails on integer data"
line 423
`dcProbs[cmties[i]] /= sum(dcProbs[cmties[i]])`
division assignment error fails because of casting issues
https://github.com/numpy/numpy/issues/10565

[2019-04-02 16:09] bdpedigo opened #144 "er simulations should be a special case of sbm"
No reason to have that redundant code
Also would enable DC-ER cause why not

[2019-04-03 15:25] jovo opened #145 "reference arxiv article in readme"

[2019-04-08 03:33] bdpedigo opened #147 "add github link more clearly on graspy.neurodata.io"
I think it should be one of the main things in the sidebar

Also, looks like the version number doesn't update on sphinx currently

[2019-04-08 18:38] hhelm10 opened #148 "implement simultaneous selection of dhat and Khat"
method can be found here: https://arxiv.org/pdf/1904.02926.pdf

[2019-04-08 18:41] hhelm10 opened #149 "two truths experiments"
recreate two truths results (found here: https://arxiv.org/pdf/1808.07801.pdf) using graspy

[2019-04-08 19:07] bdpedigo commented on #149
I dare you

On Mon, Apr 8, 2019, 2:41 PM hhelm10 <notifications@github.com> wrote:

[2019-04-09 18:15] jovo opened #150 "[1701.08140] Network classification with applications to brain connectomics"
is another signal subgraph detection method:
https://arxiv.org/abs/1701.08140
let's add this too.

[2019-04-11 20:50] #145 closed

[2019-04-16 10:17] vikramc1 opened #151 "Incorrect indices returned for 1D array using graspy.embed.select_dimension"
## Expected Behavior
Returned elbow indices should correspond to elbows in the original array.

## Actual Behavior
Returned elbow indices correspond to elbows in reverse ordered array

## Template Code
[code]

## Your Environment
* Python version: 3.7
* GraSPy version:  0.0.2

[2019-04-16 11:56] vikramc1 commented on #151
ok i see now that i need to sort the data in decreasing order before passing in

[2019-04-16 11:56] #151 closed

[2019-04-16 12:13] bdpedigo opened #152 "svg savefig looks crappy with heatmap"
## Expected Behavior
Tell us what should happen

## Actual Behavior
Tell us what happens instead

## Template Code
[code]

## Full Traceback

<img width="1079" alt="Screen Shot 2019-04-16 at 2 07 49 PM" src="https://user-images.githubusercontent.com/25714207/56208559-b82bb380-6051-11e9-9209-4d840cd08bed.png">

## Your Environment
* Python version:
* GraSPy version:

[2019-04-16 12:14] bdpedigo commented on #152
<img width="257" alt="Screen Shot 2019-04-16 at 2 14 12 PM" src="https://user-images.githubusercontent.com/25714207/56208663-f1642380-6051-11e9-8bd0-54af1f381ab8.png">

[2019-04-17 09:41] bdpedigo opened #153 "Implement generalized RDPG"

[2019-04-17 09:41] #153 closed

[2019-04-17 09:55] bdpedigo opened #154 "add option to align latent positions to positive orthant"
have an option to rotate embedding s.t. the entries are in the positive orthant, truncate ones that aren't, and then plot everything on a log-log scale

[2019-04-17 09:56] bdpedigo opened #155 "implement concentration/regularization of graphs"
https://onlinelibrary.wiley.com/doi/pdf/10.1002/rsa.20713

[2019-04-17 10:25] bdpedigo opened #156 "Implement hierarchical SBM"
you are working on this right @vikramc1 ?

[2019-04-17 11:52] bdpedigo opened #157 "indicate directed graph plotting convention"
i.e. show what row/column is pre- and post-

[2019-04-19 14:51] jovo opened #159 "bring seeded graph matching here"
see: https://github.com/neurodata/primitives-interfaces/tree/master/jhu_primitives/sgm

[2019-04-19 14:51] jovo opened #160 "implement spectral vertex nomination"
https://github.com/neurodata/primitives-interfaces/tree/master/jhu_primitives/sgvn

[2019-04-19 14:53] jovo opened #161 "bring oos stuff"
- https://github.com/neurodata/primitives-interfaces/tree/master/jhu_primitives/oosase
- https://github.com/neurodata/primitives-interfaces/tree/master/jhu_primitives/ooslse
- https://github.com/neurodata/primitives-interfaces/tree/master/jhu_primitives/oosgmm

oosgmm could just be an option in gclust

the other two, it would be desirable to run some experiments evaluating the pro's/con's of spars

[2019-04-19 19:10] jovo commented on #150
R code here: https://github.com/jesusdaniel/graphclass

[2019-04-22 17:14] hhelm10 commented on #161
@j1c and i talked about oosase and decided to add predict method to ase.

given adjacency matrix, A in (n, n)
and
m out of sample adjacency vectors, X in (m, n):

ASE = AdjacenecySpectralEmbed()
in_sample_embedding = ASE.fit_transform(A)
X = (m, n) array
oos_embedding = ASE.predict(X)

[2019-04-23 16:48] #147 closed

[2019-04-23 16:48] #99 closed

[2019-04-24 01:10] bdpedigo opened #163 "specify open source license in all files"
for mloss
http://www.jmlr.org/mloss/mloss-info.html

while at it, might delete the current headers in all files to make them consistent? I don't think they are informative currently

[2019-04-25 21:06] j1c opened #165 "Doc bug"
https://github.com/neurodata/graspy/blob/master/graspy/plot/plot.py#L422

Change `Y` to `labels`

[2019-04-29 15:21] #163 closed

[2019-04-30 18:44] bdpedigo commented on #112
https://github.com/scikit-learn/scikit-learn/blob/7b136e9/sklearn/manifold/spectral_embedding_.py#L340

looks like sklearn version calls the scipy one if sparse and has a custom thingy for dense. Could be useful for us

[2019-05-01 12:15] jovo commented on #103
@bdpedigo i'm for making a function called 'geda' that does the 5 things you listed for a single graph.  i think it'd be very helpful, in general.

[2019-05-01 13:50] bdpedigo commented on #103
I'm down!

On Wed, May 1, 2019, 8:15 AM joshua vogelstein <notifications@github.com>
wrote:

[2019-05-01 14:57] bdpedigo commented on #103
graph2paper?

[2019-05-13 20:24] jovo opened #169 "let's be able to run gcca"

[2019-05-13 20:25] jovo opened #170 "let's be able to run multiway mds"

[2019-05-14 18:30] jovo commented on #120
https://arxiv.org/abs/1701.08140

[2019-05-16 03:46] jovo opened #172 "add direction to heatmap plots on directed graphs"
when graphs are directed, whether the row or the column is the source or target should, by default, be displayed in the figure.

[2019-05-19 22:43] jovo opened #174 "API for generating data"
consider using the same API as sklearn does:
https://scikit-learn.org/stable/modules/classes.html#module-sklearn.datasets

[2019-05-21 00:42] bdpedigo commented on #140
@j1c you down?

[2019-05-21 01:56] j1c commented on #140
@bdpedigo yup.

[2019-05-21 09:13] mitar opened #175 "Do not install "tests" directory with this package"
## Expected Behavior

`pip3 install graspy` should create `/usr/local/lib/python3.6/dist-packages/graspy` directory.

## Actual Behavior

Also `/usr/local/lib/python3.6/dist-packages/tests` gets created. This is problematic, because `tests` is a very general name and could lead to conflicts. Also, there is no need to be installing tests on end-user machines.

## Your Environment
* Python version:

[2019-05-21 16:06] bdpedigo opened #177 "UnmatchedTest tutorial should be on an unmatched example"
I don't like how the exact same example I used for the MatchedTest tutorial was used for Unmatched also. We should:
- [ ] explain when one would use unmatched
- [ ] generate an example where the two graphs are not matched and use that for the tutorial
- [ ] make sure all plots have axes labels

[2019-05-21 16:11] bdpedigo opened #178 "Integrate Tommy's clustering code"
I have the code, but me/Tommy should GraSPyify it and integrate it into the current clustering algorithms

[2019-05-22 18:18] v715 opened #179 "custom cmaps in heatmap plotting function"
matplotlib lets you define custom colormaps ([this](https://matplotlib.org/api/_as_gen/matplotlib.colors.LinearSegmentedColormap.html) is one way)

I would like to pass these colormap objects to the graspy heatmap function, but I can't because they are required to be strings

https://github.com/neurodata/graspy/blob/92eaded5ac33f3880323cc39f4c99d9786fde0a0/graspy/plot/plot.py#L188-L191

can this b

[2019-05-22 19:44] bdpedigo commented on #179
I agree with you. I also think we should have the `vmin` and `vmax` arguments in the matplotlib heatmap.

Would you want to make a PR for this? If not just let us know.

[2019-05-22 20:41] v715 commented on #179
yeah i'll start working on a PR this weekend!

are considering allowing the user to specify `vmin` and `vmax`?

[2019-05-24 12:37] bdpedigo opened #180 "graspy 0.0.3 (for JMLR)"
- [x] merge name changes
 - [ ] merge graph models
 anything else?

[2019-05-24 12:38] bdpedigo commented on #175
Thanks for the heads up, we will look into this

[2019-05-24 12:48] bdpedigo commented on #179
Yeah that is what I mean, should be trivial to implement I think you just need to expose those kwargs (they are already apart of sns.heatmap I believe)

[2019-05-24 12:51] bdpedigo opened #181 "fix references formatting in docs"
References look different now for some reason, I don't think we want this?

<img width="741" alt="Screen Shot 2019-05-24 at 8 50 37 AM" src="https://user-images.githubusercontent.com/25714207/58328823-13935300-7e01-11e9-905d-da7bb48f64ef.png">

[2019-05-24 17:04] bdpedigo opened #182 "fix formatting on pypi"
https://pypi.org/project/graspy/

[2019-05-24 18:02] j1c commented on #182
Will be automatically fixed when 0.0.3 is released.

https://github.com/neurodata/graspy/blob/master/setup.py#L42

[2019-05-24 18:02] #182 closed

[2019-05-24 18:42] bdpedigo commented on #182
thx

[2019-05-27 21:05] bdpedigo opened #183 "make heatmap ()`title` work with `inner_hier_labels`"
`X = np.random.uniform(low=0, high=1, size=(100,100))`
`labels = np.array(['L']*50 + ['R']*50)`
`heatmap(X, title='test', inner_hier_labels=labels)`

should display title as well, not be hidden by the label brackets

[2019-05-28 13:06] #140 closed

[2019-05-28 13:52] junhaobearxiong opened #184 "make heatmap compatible with `plt.subplots`"
Currently, there is no way to use `graspy.plot.heatmap` within `plt.subplots`

[2019-05-28 19:59] bdpedigo commented on #172
duplicate of #157

[2019-05-28 19:59] #172 closed

[2019-05-28 20:03] bdpedigo commented on #179
@v715 I'm just checking whether you've worked on this or #183? Just curious because I may want these for a notebook I'm making soon, if not that's cool just let me know what you plan on doing

[2019-05-29 13:02] #180 closed

[2019-05-29 13:16] bdpedigo opened #185 "Remove unnecessary imports and other flake8 errors"

[2019-05-29 13:47] bdpedigo opened #186 "remove notebooks from mainline GraSPy"

[2019-05-29 14:56] v715 commented on #179
haven't had a the chance yet, but im aiming to do it this Sunday

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Benjamin Pedigo <notifications@github.com>
Sent: Tuesday, May 28, 2019 4:03:14 PM
To: neurodata/graspy
Cc: Vivek Gopalakrishnan; Mention
Subject: Re: [neurodata/graspy] custom cmaps in heatmap plotting function (#179)

@v715<https://github.com/v71

[2019-06-05 20:46] #185 closed

[2019-06-05 20:46] #186 closed

[2019-06-05 20:55] bdpedigo commented on #165
Closed via #188

[2019-06-05 20:55] #165 closed

[2019-06-10 14:44] hhelm10 opened #190 "add vertex classification"
add support for vertex classification for both unweighted ({QDA, RF, KNN} o {A,L}SE}) and weighted (see https://arxiv.org/abs/1906.02881) networks

[2019-06-10 20:53] #142 closed

[2019-06-10 20:53] #143 closed

[2019-06-10 20:53] #174 closed

[2019-06-10 20:54] #179 closed

[2019-06-10 20:54] #183 closed

[2019-06-10 21:04] bdpedigo commented on #184
closed via #189

[2019-06-10 21:04] #184 closed

[2019-06-10 21:05] #129 closed

[2019-06-14 15:22] bdpedigo opened #195 "fix score function to accept clip kwarg"

[2019-06-14 19:46] bdpedigo opened #196 "rename Kmeans and GMM to AutoKMeans and AutoGMM"
makes it more clear that we're basically just sweeping params

[2019-06-16 17:50] bdpedigo opened #197 "should preprocessing (PTR, DiagAug, etc) be able to operate on multiple graphs"
Might help speed up workflow when working with a population of graphs.

Could have options to rank each graph individually or compute ranks over all graphs

[2019-06-19 14:40] bdpedigo opened #198 "fix test_omni_matrix_random()"
[code]

Though the random seed is set this test is dependent on the implementation of ```er_np``` function, changing that implementation breaks this test. Should be rewritten to not use ```er_np``` unless I am missing something @j1c ?

[2019-06-19 14:41] bdpedigo opened #199 "Add Bear's independence test"

[2019-06-21 19:36] j1c opened #201 "Issues with GClust"
## Actual Behavior
1. `n_components_` is always wrong.
2. Doc issues.

## Template Code
Snippet from gclust test.
[code]
Above should be 2. The model selection code based on bic is incorrect and **needs** to be simplified. Above test should be changed to check `n_compnents_ == 2`.

Doc issues (defaults are wrong):
1. https://github.com/neurodata/graspy/blob/master/graspy/cluster/gclust.py#L35
2. h

[2019-06-21 21:33] bdpedigo opened #203 "Consider using n_init option for GClust"
There is a lot of variability in model fit just based on the random initialization of k-means to GMM, I think we should consider allowing the user to do some number of inits for each set of clustering parameters

[2019-06-21 22:40] #201 closed

[2019-06-22 19:45] bdpedigo opened #204 "Use GridSearch for GClust/KClust internals rather than having our own stuff"
Right now, we use the param grid, but rather than passing to grid search we have all of that extra code just to select the best on some metric. I propose we just use `GridSearchCV`, I know how to hack it to ignore cross-validation and I have to do that anyway for some of my model selection code.

@j1c ?

[2019-06-22 19:47] bdpedigo opened #205 "GClust bug"
<img width="558" alt="Screen Shot 2019-06-22 at 3 46 06 PM" src="https://user-images.githubusercontent.com/25714207/59968259-eb346c80-9504-11e9-984c-8c13dff93a37.png">

should be `- self.min_components` rather than `- 1`

This causes an indexing error when `min_components` does not equal 1

[2019-06-24 18:29] j1c commented on #205
Good catch. Will make a test for it as well.

Also just link the line directly in github rather than taking a screenshot

[2019-06-24 21:22] #205 closed

[2019-06-24 21:35] j1c opened #208 "Prevent double SVD computation for selectSVD"
## Expected Behavior
SVD should be only computed once. When `select_dimension` is called, we already do an SVD, so no need to do it the second time once the embedding dimension is called.

## Actual Behavior
SVD is done twice when using `select_dimension`

[2019-06-24 21:36] #23 closed

[2019-06-24 21:37] j1c commented on #26
Done by #173

[2019-06-24 21:37] #26 closed

[2019-06-25 16:24] bdpedigo commented on #177
@bvarjavand

[2019-06-25 17:39] bdpedigo opened #210 "change default symmetrize"
Symmetrize should use `"avg"` by default

[2019-06-25 20:26] #144 closed

[2019-06-25 20:26] #198 closed

[2019-06-26 13:11] bdpedigo opened #212 "fix load_datasets when installed from PyPI"
## Expected Behavior
`graspy.datasets.load_drosophila_left` (or right) should work

## Actual Behavior
throws error that the file cannot be found

## Your Environment
* GraSPy version: 0.0.3
Anyone who installed with `pip` has this issue, otherwise they don't

[2019-06-26 13:15] bdpedigo opened #213 "consider having an option for SBM to return a label vector denoting the blocks"
Since we changed the sorting to be by degree for heatmap/gridplot, everyone will have to make their own label vector to plot the blocks. Should have an option that just returns the labels for you

[2019-06-26 14:46] bdpedigo opened #214 "clarify that heatmap sorts by degree and make it an option"
Several people have been confused that the heatmap sorting is not that of the adjacency matrix they input

[2019-06-26 14:47] j1c commented on #214
perhaps make this an option

[2019-06-26 18:46] j1c opened #215 "Clear outputs from tutorial notebooks"
Not sure which PRs have changed this, but all notebooks in tutorials should have no outputs. The point of these is to have netlify run them and build the outputs.

[2019-06-26 18:56] bdpedigo commented on #215
Just had Kareef try this and it looked like they had not built on the
netify output when he pushed an empty notebook. Maybe there was something
like a `%matplotlib inline` missing in that notebook though? Has this
worked for you in the past?

On Wed, Jun 26, 2019 at 2:46 PM Jaewon Chung <notifications@github.com>
wrote:

[2019-06-26 18:58] j1c commented on #215
Most likely? If netlify didn't error and there was no outputs, then I would guess `%matplotlib inline` is missing

[2019-06-26 22:32] bdpedigo opened #216 "check that input graph is same size as P matrix when using score in the model selection code"

[2019-06-28 17:39] kareef928 opened #218 "Latent distribution test doesn't work with differently sized graphs"
## Expected Behavior
LDT should work on graphs with different number of vertices.

## Actual Behavior
Causes a ValueError

## Template Code
[code]

## Full Traceback
[code]

## Your Environment
* Python version: 3.7.3
* GraSPy version: 0.0.3

[2019-06-28 17:40] bdpedigo commented on #218
@bvarjavand  can you explain?

[2019-07-11 13:22] bdpedigo opened #222 "Investigate when it is safe to use `LatentDistributionTest` on differently sized graphs"
Variance of latent position estimates scales with size of graph, this may cause graphs of different sizes to appear different to LDT just due to this difference in variance

[2019-07-11 13:24] bdpedigo commented on #169
@vikramc1  are you doing this?

[2019-07-11 13:29] bdpedigo commented on #199
https://arxiv.org/abs/1906.03661

[2019-07-11 13:29] bdpedigo commented on #160
@hhelm10 can you add a link to the associated paper for this?

[2019-07-11 13:30] bdpedigo commented on #159
@hhelm10 can you add a link to the paper for this too?

[2019-07-11 13:31] bdpedigo commented on #134
also this maybe https://link.springer.com/article/10.1007%2Fs00180-019-00909-8

[2019-07-11 13:32] hhelm10 commented on #159
https://arxiv.org/pdf/1209.0367.pdf

[2019-07-11 13:33] hhelm10 commented on #160
https://arxiv.org/pdf/1905.01776.pdf

[2019-07-11 15:21] vikramc1 commented on #169
Yes

[2019-07-11 15:41] shiyussy commented on #212
I installed it from github, but still have this issue. The search path doesn't match the datasets location.

[2019-07-11 16:53] bdpedigo commented on #212
Can you post what you ran and what the error was?

[2019-07-11 16:53] bdpedigo commented on #212
And can you explain how you installed from github?

[2019-07-11 18:15] shiyussy commented on #212
I installed it based on the instructions on https://github.com/neurodata/graspy/.
When I run `graspy.datasets.load_drosophila_right`, the error is
No such file or directory: '...lib\\site-packages\\graspy-0.0.3-py3.7.egg\\graspy\\datasets\\drosophila\\right_adjacency.csv'
But I can find the corresponding file in '...lib\\site-packages\\graspy\\graspy\\datasets\\drosophila\\right_adjacency.csv'
If

[2019-07-12 15:48] tathey1 opened #223 "Dotted line separating labels in small matrix"
When plotting small matrix, the dotted lines separating groups are offset.

I suggest that it is an option to either turn these dotted lines off, or turn the offset off

[2019-07-12 19:07] Kikiwink commented on #212
No folder named drosophila in the datasets folder when installing GraSPy from PyPl.

[2019-07-12 19:30] bdpedigo opened #224 "Add log10 option to weight transforms in plotting"

[2019-07-12 21:23] #212 closed

[2019-07-12 21:41] bdpedigo commented on #175
Closed by #225

[2019-07-12 21:41] #175 closed

[2019-07-17 15:02] bdpedigo commented on #159
@hhelm10 you haven't done any work on this yet have you? Considering for a project for summer students

[2019-07-17 15:06] hhelm10 commented on #159
Negative.

Would be happy for someone else to do it :-)

Hayden

On Wed, Jul 17, 2019 at 8:02 AM Benjamin Pedigo <notifications@github.com>
wrote:

[2019-07-17 15:13] bdpedigo commented on #159
Ok, no promises though

[2019-07-17 15:20] bdpedigo commented on #216
https://github.com/neurodata/graspy/blob/065eccfbe585304275f72ae3e6f65f929cb26095/graspy/models/base.py#L83

in the function `score_sample`, the user inputs a graph to check whether the likelihood of the input graph given the fit model. As currently implemented, this only works when the input graph is the same size as `p_mat_`. There should be an input check that throws an error if input graph and

[2019-07-17 15:55] bdpedigo opened #227 "Refactor embed method for LDT and LPT into base class"
There is nothing that different about them, they can be the same thing (#221 closes)

[2019-07-17 16:56] rflperry opened #228 "Create a dataloader for MASE"
The MASE fit function currently requires a list of arrays or graphs to be passed in. This requires all such graphs or arrays to be loaded into RAM which is problematic for large datasets. But MASE computes ASE on each input separately and would be able to run on less RAM by loading inputs one at a time.

[2019-07-18 15:01] #214 closed

[2019-07-18 15:01] #223 closed

[2019-07-18 15:01] #224 closed

[2019-07-18 15:01] #210 closed

[2019-07-18 16:47] j1c commented on #170
@jovo is there literature on multiway mds? I cannot find any specifically except

https://arxiv.org/abs/1605.00286

[2019-07-18 18:04] bdpedigo opened #230 "Add binarize as a plotting transform"
Make this one of the options for plotting with heatmap or gridplot

[2019-07-18 21:40] rflperry commented on #169
I ported over the Matlab code to python and have it working on one of my repos
[here](https://github.com/rflperry/meditation/blob/master/src/features/gcca.py). I compared it to the matlab results and it seemed to line up.

[2019-07-19 17:40] bdpedigo commented on #149
@jovo for this is there a particular figure or result that is most important? You also mention this for dos and dont's so I think a summer student may run this

My understanding is:
- graphs sampled from 4 block SBM presented in the paper
- GMM o LSE on graphs
- GMM o ASE on graphs
- ARI for how well ASE/LSE picks up left/right, grey/white splits

[2019-07-19 17:44] bdpedigo commented on #149
https://www.pnas.org/content/116/13/5995.short

[2019-07-19 18:20] bdpedigo opened #232 "Implement directed normalized laplacian and add for DCSBM estimation"
https://www.pnas.org/content/113/45/12679.short

this paper has the following directed, regularized laplacian:
<img width="655" alt="Screen Shot 2019-07-19 at 2 18 16 PM" src="https://user-images.githubusercontent.com/25714207/61556618-40926980-aa30-11e9-8bb1-890279efbf32.png">

I have code for it already, just need to test/PR if we want it

[2019-07-22 18:55] QuasiLegendre opened #234 "MultipleASE not working in Pipeline"
## Expected Behavior
All intermediate steps of the graspy.embed.mase.MultipleASE class should be transformers and implement fit and transform or be the string 'passthrough'.

## Actual Behavior
All intermediate steps should be transformers and implement fit and transform or be the string 'passthrough' '<class 'graspy.embed.mase.MultipleASE'>' (type <class 'type'>) doesn't.

## Template Code
[code]

[2019-07-22 19:33] jovo commented on #149
correct

[2019-07-22 22:14] bdpedigo commented on #69
@j1c Since we are going to support `mug2vec`, and @QuasiLegendre @tathey1 and others are interested in chaining graspy functions, I think we should decide how to support pipeline-type things. According to sklearn glossary, [transformers](https://scikit-learn.org/stable/glossary.html#term-transformers) must be [transductive](https://scikit-learn.org/stable/glossary.html#term-transductive). Since we

[2019-07-22 22:16] bdpedigo commented on #69
#237 #236

[2019-07-22 22:26] j1c commented on #69
So yea I've looked at the issue, and it actually does make sense to implement a true `transform` function for `MASE`. That is, once it learned the common latent position matrix, it can be used to `transform` any other graph(s) with matched vertices. Similar to, say, PCA where you can learn the components from one dataset, and apply the components to different data assuming the features are the sam

[2019-07-22 22:27] bdpedigo opened #238 "undo accidental push"
directed laplacian shouldn't be in master

[2019-07-22 22:29] j1c commented on #238
:open_mouth:

[2019-07-22 23:06] j1c commented on #238
Bruh i meant actually erase the two commits from history all together rather than make a new commit that undoes the previous two

[2019-07-22 23:58] bdpedigo commented on #238
This was output of `git revert`, `git reset --hard {correct_commit}` and then `git push` is still giving me
[code]

I assume because of merge conflicts. Know of a way to do this without changing the branch permissions?

[2019-07-22 23:58] bdpedigo commented on #238
also this https://github.com/isaacs/github/issues/1390

[2019-07-23 13:35] QuasiLegendre commented on #234
Solved by myself.

[2019-07-23 13:35] #234 closed

[2019-07-23 14:34] bdpedigo commented on #238
@j1c i could disable branch checks, force push, then re-enable?

[2019-07-23 15:08] rmehta004 opened #239 "Pass arbitrary plotting arguments to heatmap."
For example, be able to pass `annot = True` to `heatmap` function. Should be a quick fix.

[2019-07-23 15:31] j1c commented on #238
sure

[2019-07-23 21:38] #238 closed

[2019-07-24 12:53] bdpedigo opened #240 "Documentation improvements"
- [ ] Use more code examples in the docstrings
- [x] Add "extra hyperlinks to the documentation", I think from the tutorials to corresponding reference and from reference to tutorials
- [x] Make sure all attributes are documented
   - [x] Document attributes in Models
   - [x] Check for others?
- [x] Explain what pairplot is doing better
- [ ] Consider adding the code used to generate figure 2 int

[2019-07-24 12:59] bdpedigo commented on #240
- [ ] Use more code examples in the docstrings
- [ ] Add "extra hyperlinks to the documentation", I think from the tutorials to corresponding reference and from reference to tutorials
- [ ] Make sure all attributes are documented. I think this is mostly an issue in `models`
- [ ] Explain what pairplot is doing better
- [ ] Consider adding the code used to generate figure 2 into the docs. Though, t

[2019-07-24 21:02] j1c commented on #240
- [ ] Turn `CONTRIBUTING.md` to `rst` and put it in the documentation website as a tab

[2019-07-25 14:18] bdpedigo commented on #240
- [ ] fix `MASE.fit_transform()` docs, says the output is (n_graphs, n_verts, n_components) but it should be (n_verts, n_components), as written. Unless we want `fit_transform` to output something else?

[2019-07-25 19:23] bdpedigo opened #244 "Add tutorial for MASE"

[2019-07-25 20:45] QuasiLegendre opened #245 "Make the return value of MultipleASE.fit_transform to be MultipleASE.score_"
## Expected Behavior
MultipleASE.fit_transform returns MultipleASE.score_ that can be processed in the Pipeline for classification.

## Actual Behavior
MultipleASE.fit_transform returns MultipleASE.latent_left_(or maybe (MultipleASE.latent_left_, MultipleASE.latent_right_)) that cannot be processed in the Pipeline for classification.

## Your Environment
* Python version:3.7.1
* GraSPy version:0.0

[2019-07-26 19:39] j1c commented on #69
From: https://scikit-learn.org/stable/developers/contributing.html#pipeline-compatibility

I propose that we do not have a `transform` function for `ASE`, `LSE` and `Omni`. I don't really know what is happening in #237.

[2019-07-26 19:45] bdpedigo commented on #69
Agreed. I think with `MASE` there could be an argument for the transform function projecting (potentially new) graphs into the space that was `fit`. I talked with @tathey1 and @QuasiLegendre  about this a bit today, and I said they could essentially wrap the `MASE` class or just make changes to the class on a branch if they want to move forward with pipelineing, and possibly create something like

[2019-07-26 21:23] QuasiLegendre commented on #69
I have changed my code and begin to use different classes to propose these
features, and I need to change the name of those new-made function. For the
mug2vec, I need to read it first. Thanks for your help.

Benjamin Pedigo <notifications@github.com> 于2019年7月26日周五 下午3:45写道：

[2019-07-30 13:08] #240 closed

[2019-07-30 13:09] bdpedigo opened #248 "Add more docstrings (short code examples and output) to our documentation"

[2019-08-01 20:55] bdpedigo commented on #156
@vikramc1 did you ever start any code for this? I am considering implementing it if you haven't already

[2019-08-02 18:10] vikramc1 commented on #156
nope, you can go for it

[2019-08-04 02:55] jovo commented on #103
Priebe's Tukey-for-Graphs:

(for simple graph, no attributes)

0. plot the graph -- default igraph layout?
    NB: this might should be skipped for large graph.

1. spy adjacency matrix --
    let hclust order vertices, where we hclust using hamming distance.
    for big graph, you may hafta be computationally clever?

2. plot ASE & nL scree plots (with ZG 1,2,3 annotated).

3. image Phat, where P

[2019-08-05 19:17] #218 closed

[2019-08-09 15:25] j1c commented on #215
Closed by #253

[2019-08-09 15:25] #215 closed

[2019-08-21 20:43] NJB44 opened #257 "Error with loading edgelists"
File "/Users/nicholasbuser/anaconda3/lib/python3.6/site-packages/graspy/utils/utils.py", line 141, in import_edgelist
    for f in files

  File "/Users/nicholasbuser/anaconda3/lib/python3.6/site-packages/graspy/utils/utils.py", line 141, in <listcomp>
    for f in files

  File "/Users/nicholasbuser/anaconda3/lib/python3.6/site-packages/networkx/readwrite/edgelist.py", line 466, in read_weighted_

[2019-08-21 21:16] heiidii opened #258 "x11 display does not work with heatmap"
## Expected Behavior
Tell us what should happen
When using graspy heatmap, a display window with the heatmap should appear
## Actual Behavior
Tell us what happens instead
No display appears with X11 forwarding (sshing into a remote server with x11 running for display)
## Template Code
[code]

## Full Traceback
[code]

## Your Environment
* Python version:
* GraSPy version:

[2019-08-21 21:20] bdpedigo commented on #257
Hi @NJB44, we need a bit more information to help diagnose this error (for example, I don't know what the code you're trying to run is). Could you provide the information requested [here](https://graspy.neurodata.io/contributing.html#filing-bugs) so we can help?

[2019-08-21 21:21] j1c commented on #257
I actually made this. I know think I know the prolem

[2019-08-21 21:21] bdpedigo commented on #258
@j1c seems this is because we override matplotlib backend

[2019-08-23 15:17] #216 closed

[2019-09-01 17:50] idc9 commented on #203
I'm having this same issue on my data set e.g. the number selected by BIC is variable (5-15) across multiple runs. Unfortunately it's a private dataset so I can't put up an easy example of this.

I modified GaussianCluster to allow for n_init and this fixed the variability problem. I'm going to submit a PR with this enhancement.

[2019-09-05 15:50] QuasiLegendre opened #260 "MutipleASE-like function that returns R matrices rather than latent positions"
## Expected Behavior
The MutipleASE function returns latent positions rather than R matrices when participated in the Pipeline. I have a function that returns R matrices. In order to use MASEPipeline, I need to put that function in embed directory.
## Actual Behavior
The MutipleASE function returns latent positions rather than R matrices when participated in the Pipeline.

## Your Environment
* Py

[2019-09-05 20:35] #203 closed

[2019-09-06 18:10] bdpedigo opened #261 "make diagonal augmentation work for weighted graphs"

[2019-09-09 20:53] bdpedigo commented on #261
https://graspy.neurodata.io/reference/utils.html#graspy.utils.augment_diagonal

[2019-09-09 20:54] bdpedigo commented on #195
https://pythontips.com/2013/08/04/args-and-kwargs-in-python-explained/

[2019-09-12 13:51] bdpedigo opened #263 "write test for directed normalized laplacian"
#232 wants directed normalized laplacian

my code for the alg is here, in the `directed_laplacian` branch: https://github.com/neurodata/graspy/blob/b0acdffb440966e0721873ca902ac489d936cefe/graspy/utils/utils.py#L245

paper is here but the relevant equation is in #232
https://www.pnas.org/content/113/45/12679

just write a test to confirm that this works

[2019-09-18 00:57] bdpedigo opened #264 "fix `augment_diagonal` function to make more sense for weighted networks."
Carey has an idea for what this should be

[2019-09-30 03:43] gkang7 commented on #261
When you say "work", would you like a particular operation done for each diagonal entries? Currently, it's just counting the nonzero entries and dividing them by (nverts-1), so would it suffice to change it by adding up the entries for weighted matrices and dividing them b y (nverts-1). Or for the purposes that this will used for, does taking a norm over the row make more sense?

[2019-10-12 13:41] bdpedigo opened #275 "missing some util functions in docs"

[2019-10-14 15:01] #230 closed

[2019-10-14 15:03] bdpedigo commented on #157
this would be come up with some kind of little icon on the heatmap/gridplot which could show that the rows are "from" and the columns are "to"

[2019-10-15 00:14] bdpedigo opened #276 "Add checklist to PR template"
Example PR: https://github.com/scikit-image/scikit-image/pull/3983

[2019-10-15 14:05] bdpedigo opened #277 "Ensure Python 3.8 compliance, update docs and tests to reflect that"

[2019-10-15 14:16] bdpedigo opened #278 "Write plotting function to generate likelihood surface over partition space"
Some of the figures in this paper I find very helpful: https://advances.sciencemag.org/content/3/5/e1602548/tab-figures-data

Example:
<img width="681" alt="Screen Shot 2019-10-15 at 10 14 21 AM" src="https://user-images.githubusercontent.com/25714207/66839628-b6757680-ef34-11e9-8179-1a03a0b4da14.png">

I think there is some code here, possibly in `partitions`
https://github.com/piratepeel/neoSBM

[2019-10-28 21:02] bdpedigo commented on #264
<img width="390" alt="Screen Shot 2019-10-28 at 5 01 38 PM" src="https://user-images.githubusercontent.com/25714207/67717733-aa61ce00-f9a4-11e9-88ab-f378577adede.png">

[2019-10-28 21:02] bdpedigo commented on #264
I think this is what Carey wants

[2019-11-11 08:04] jerryyao120-ndd opened #286 "Implementation for Covariates Assisted Spectual Clustering"
https://academic.oup.com/biomet/article/104/2/361/3074977
This paper introduced the CASC method.
R implementation already available, I'm trying to implement it into python.
![image](https://user-images.githubusercontent.com/55103784/68570971-dca50e00-042f-11ea-9c3d-c8768096c790.png)
![image](https://user-images.githubusercontent.com/55103784/68570983-e3cc1c00-042f-11ea-9478-cc89fb4ea935.png)

## E

[2019-11-11 13:54] bdpedigo opened #287 "Modify diag-aug and ASE default"
Diagonal augmentation leads to better estimation of latent positions, at least in unweighted case.
 - make the behavior for directed graphs be to average in and out degree
 - make ASE use diag-aug before running as a default kwarg

[2019-11-14 13:46] #261 closed

[2019-11-14 14:05] bdpedigo commented on #287
@j1c i forget do we want this for Omni too? Seems reasonable. Working on this now

[2019-11-14 19:57] jovo commented on #287
for weighted graphs, i believe our default is 'cep-ptr' o 'diag-aug'.
so, even if weights are negative, assuming we ptr them, i think we still have the same procedure?

[2019-11-14 21:08] #213 closed

[2019-11-18 12:38] gkang7 commented on #120
I've started working on the second paper linked above.

[2019-11-18 16:07] caseypw commented on #120
I am implementing the two algorithms from this paper:
[https://arxiv.org/abs/1108.1427](url)

[2019-11-18 16:21] #59 closed

[2019-11-18 16:21] #287 closed

[2019-11-21 15:23] bdpedigo commented on #120
@caseypw @gkang7 I know this issue is already open, but you should do more than just link the paper. Please describe what the algorithms are doing at a high level and what you will actually PR

[2019-11-21 18:13] gkang7 commented on #120
I will be working on the coherent and incoherent subgraphing algorithms from this paper: https://arxiv.org/abs/1108.1427

The subgraphing algorithms seek to find a subset of edges such that the conditional probabilities of these edges existing are distinctly different for different classes, as quantified by Fisher's exact test. Once the subgraph has been found for a training set of graphs with cla

[2019-11-22 20:07] caseypw commented on #120
I will be merging the iterative and non-iterative signal sub-graph screening algorithms from this paper: https://arxiv.org/abs/1108.1427

These algorithms are two screening methods for estimating the signal sub-graph for a collection of distinguishable graphs, classified according to a covariate of interest.

The non-iterative algorithm sets a threshold for the correlation between a graph type and

[2019-11-25 18:22] j1c opened #290 "Compare ZG vs Minka"
Paper for minka: https://dl.acm.org/citation.cfm?id=3008751.3008835

Currently, `select_dimension` implements Zhu and Godsie (http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.90.3768&rep=rep1&type=pdf). Compare and contrast the performance of Minka and ZG.

[2019-11-26 16:06] bdpedigo opened #291 "Documentation fixes"
- Update Sklearn intersphinx, and make it the stable version instead of dev
- Fix the build warnings:
[code]

[2019-11-26 16:07] bdpedigo commented on #291
[code]

[2019-11-26 18:45] jovo commented on #159
here is pytorch code for sgm: https://github.com/bkj/sgm
let's compare and improve ours?

@alyakin314 @bdpedigo

[2019-11-26 18:46] hhelm10 commented on #159
nb: bkj's implementation does not allow for multiple / random initializations

[2019-12-09 11:29] bdpedigo commented on #291
Also, add individual classes to TOC

[2019-12-09 11:30] bdpedigo opened #294 "Better AIC example for AutoGMM"
The current test for AIC for AutoGMM is too lenient.

Should come up with a setting where AIC will really get the right answer.

[2019-12-16 18:53] tathey1 opened #299 "Recursive clustering/hierarchical SBM"
Would like code to do the following:
- class that supports recursively splitting the data with some clustering function and some criteria for when to split/not split. Can start with just GMM, but may want to write the code in such a way that it could generalize to other methods (there is nothing magic about GMM here).
- class that supports fitting a hierarchical stochastic block model (HSBM). This

[2019-12-17 16:22] tathey1 commented on #299
changes being addressed in https://github.com/neurodata/graspy/tree/pgmm

[2019-12-17 16:49] bdpedigo opened #300 "Parallelize FAQ random initializations"

[2019-12-18 16:33] bdpedigo opened #301 "Update arxiv buttion -> JMLR paper"

[2019-12-19 13:32] bdpedigo opened #302 "update requirements to scipy>=1.4"
Scipy 1.4
- has much faster linear assignment problem, making FAQ way faster
- has MGC, which we eventually want for new nonpar, signal subgraph

[2019-12-19 17:45] #178 closed

[2019-12-19 17:46] #258 closed

[2019-12-20 21:34] jovo opened #303 "initialize faq with sol'n to convex approx as per https://ieeexplore.ieee.org/document/7091002"

[2019-12-21 19:18] bdpedigo opened #305 "add signal subgraph to docs, fix line lengths, add demo"

[2019-12-30 20:28] bdpedigo opened #306 "merge Autogmm and GaussianCluster"
Seems like there is enough redundant code, they are both doing something similar, and we can still get both behaviors with different options

[2020-01-30 20:37] #264 closed

[2020-01-30 20:39] #263 closed

[2020-01-30 20:44] bdpedigo commented on #170
closing since in mvlearn https://mvlearn.netlify.com/index.html

[2020-01-30 20:44] #170 closed

[2020-01-30 20:45] bdpedigo commented on #169
Closing since in mvlearn https://mvlearn.netlify.com/index.html

[2020-01-30 20:45] #169 closed

[2020-01-30 20:45] #152 closed

[2020-01-30 20:52] bdpedigo commented on #149
https://github.com/neurodata/dos_and_donts/blob/exp9/experiments/experiment_9/Two_truths_simulation_1.ipynb

https://github.com/neurodata/dos_and_donts/blob/exp9/experiments/experiment_9/Two_truths_simulation_2.ipynb

[2020-01-30 20:52] #149 closed

[2020-02-06 16:06] bdpedigo opened #309 "implement vertex nomination via SGM"

[2020-02-06 16:07] #301 closed

[2020-02-06 16:07] bdpedigo commented on #159
@asaadeldin11 is doing this

[2020-02-06 17:00] asaadeldin11 commented on #159
I can confirm that I am working on this

[2020-02-07 19:51] SHAAAAN opened #310 "Generate correlated RDPG graph pairs"
## Generate correlated graph pairs based on RDPG.

Given a matrix X, the probability matrix will be calculated as P = XX^T, then generate the correlated graph pairs based on P.

[2020-02-08 17:44] caseypw commented on #150
@jovo @j1c @bdpedigo
#### I will address this for Sprint 1 this semester.
-------------------------------------------------------
I will
- Convert these four files, located [here](https://github.com/jesusdaniel/graphclass), from R to a Python file with sklearn api:
  - graphclass.R
  - Logistic_group_lasso_ridge.R
  - FISTA_line_search_ridge.R
  - ADMM_group_lasso.R
- I will then make a PR to merg

[2020-02-09 22:48] bdpedigo commented on #159
@asaadeldin11 could you just list what we will be evaluating you on, e.g. which of the SGM functionalities you will for sure have implemented by sprint 1, and how you will show it is correct

[2020-02-09 22:49] bdpedigo commented on #150
@caseypw can you list any figures or experiments or comparisons to existing code you will run in order to show it is correct?

[2020-02-10 09:04] gkang7 commented on #305
- Add tutorial notebook with basic demos for the coherent and incoherent subgraph algorithms.
- Check for inappropriate line lengths for readability.
- Update the docs folder to include subgraph documentation
- Update references under the SignalSubgraph class

[2020-02-13 00:46] #66 closed

[2020-02-13 00:47] bdpedigo opened #313 "release next GraSPy version"
anything we want to wait for? Been a while since updating PyPI

[2020-02-13 00:48] #181 closed

[2020-02-13 21:29] bdpedigo opened #315 "Parallelize AutoGMM and GaussianCluster"

[2020-02-14 20:14] asaadeldin11 commented on #159
For sure I will be implementing hard seeding (algorithm 1). Based on jovos feedback on wednesday, he'd like me to focus on scipy with faq and what we have for sgm so far, and then work on padding and soft seeding. To prove in works, I will be replicating figure 2 and table 1 from Fishkind's sgm paper.

[2020-02-14 20:15] caseypw commented on #150
After porting all of the code, I will recreate figure 5 on page 20 to show the code works

[2020-02-14 21:11] SHAAAAN opened #316 "Implement Padded SGM algorithm"
## functionality
Input Graphs G1 and G2 with respective vertex sets {1,...,n_1} and {1,...,n_2} and with respective adjacency matrices A and B, and suppose n_1<n_2, use the SGM function to the padded A and B, then return the restriction of permutation matrix to the vertices of G1.

The output can be compared with Figure 3 in paper seeded graph matching: https://arxiv.org/pdf/1209.0367.pdf.

[2020-02-18 19:06] MrAE opened #317 "Include all options for `palette` in docs."
## Expected Behavior
A complete list of options for the palette argument should appear in the docs, i.e. `Set1`, ..., `muted`, ...?

## Actual Behavior

[2020-02-18 19:08] j1c commented on #317
Perhaps a link to matplotlib's list of qualitative cmaps? e.g. https://matplotlib.org/3.1.3/tutorials/colors/colormaps.html#qualitative

[2020-02-18 19:09] bdpedigo commented on #317
second what @j1c says

[2020-02-18 19:14] bdpedigo opened #318 "MDS improvements"
- Use sklearn `pairwise_distances` instead of custom function [here](https://github.com/neurodata/graspy/blob/cb0997a42a035f5321ba378f291a2c97766c7d68/graspy/embed/mds.py#L114)
- Allow sparse [here](https://github.com/neurodata/graspy/blob/cb0997a42a035f5321ba378f291a2c97766c7d68/graspy/embed/mds.py#L165)
- Allow `almost_symmetric` [here](https://github.com/neurodata/graspy/blob/cb0997a42a035f5321

[2020-02-18 19:15] MrAE commented on #317
That'd suffice.

[2020-02-18 21:31] bdpedigo commented on #299
Also have a rough implementation [here](https://github.com/neurodata/maggot_models/blob/master/src/cluster/divisive.py) using [anytree](https://anytree.readthedocs.io/en/latest/) to keep track of the splits, which I found I needed for my implementation. Work in progress for sure though.

[2020-02-18 21:32] bdpedigo commented on #309
https://arxiv.org/pdf/1705.00674.pdf

[2020-02-19 00:36] bdpedigo opened #321 "Mask convergence warnings in AutoGMM"
Currently, if individual runs of GMM in sklearn did not converge, a warning is thrown. This can happen many times over multiple inits. I think we should suppress this specific warning, since if it is thrown we already increase the regularization anyway. Could have an option to throw a warning that says "increasing regularization" if necessary.

[2020-02-27 13:51] bdpedigo opened #324 "Depreciation warning in AutoGMM"
## Actual Behavior
Importing AutoGMM throws the following warning

## Full Traceback
[code]

## Your Environment
* Sklearn version 0.22

[2020-03-02 17:17] #239 closed

[2020-03-02 17:21] j1c opened #325 "Reduce time for AutoGMM tests"
AutoGMM alone takes about 15 minutes on travis to run. Seems unnecessarily long given all other tests run within 5 minutes.

[2020-03-03 18:05] j1c commented on #313
closed by #327

[2020-03-03 18:05] #313 closed

[2020-03-05 05:30] SHAAAAN commented on #300
Hi Pedigo, I have implemented the parallelized FAQ function. But the run time is not shorten so far. Here is a simple comparison between Ali's code and my code (with parallel function).
https://nbviewer.jupyter.org/github/SHAAAAN/MyGraspy/blob/master/withPar.ipynb

From the results, I'm not sure whether my understanding of this issue is correct. My code is here: https://github.com/SHAAAAN/MyGraspy

[2020-03-05 08:01] bdpedigo commented on #300
Hi Shan, without looking at the code more closely, first thing you should
definitely try is making the problem bigger. That is, run it on larger
graphs or with more inits. This may help see more of a difference. Also
don't need to compare to barycenter

On Thu, Mar 5, 2020, 5:31 AM ShanQiu <notifications@github.com> wrote:

[2020-03-05 08:03] bdpedigo commented on #300
Also while the above could still be a good idea. Each run of "forloop"
should only compute one run of FAQ. There should not be a for loop inside
of it. You should call "forloop" n_init times. Make sense?

On Thu, Mar 5, 2020, 8:01 AM Benjamin Pedigo <benjamindpedigo@gmail.com>
wrote:

[2020-03-06 04:57] SHAAAAN commented on #300
Hi Pedigo, I'm not clear about this comment. So far, the process is that the forloop function returns a score_new and a perm_inds_new(the permutation order) for each run and I save them in result matrix. After running self.n_init times, the result matrix will have self.n_init rows. Then select the smallest score from the result matrix and its corresponding perm_inds_new and replace the previous on

[2020-03-06 08:15] bdpedigo commented on #300
NVM you are right, the name init_num made me think n_init

What about the other thing I suggested?

On Fri, Mar 6, 2020, 4:57 AM ShanQiu <notifications@github.com> wrote:

[2020-03-06 20:21] SHAAAAN commented on #300
I've tried 500*500 graphs and the results are as above. Not sure what else I haven't implemented yet?

[2020-03-06 20:24] bdpedigo commented on #300
Can you show me? How about run 200 inits?

On Fri, Mar 6, 2020, 8:21 PM ShanQiu <notifications@github.com> wrote:

[2020-03-15 16:34] asaadeldin11 opened #329 "Improving Linear Assignment step in FAQ (GMP)"
Make improvements to FAQ through changes in how the search direction is found. The current implementation uses linear assignment for this step, but improvements can be made by using an approximate LAP [(aLAP)](https://link.springer.com/chapter/10.1007/3-540-49116-3_24), which would decrease runtime, or a "greedy" approach (FAQ-G) as specified in [Wright, 2016](http://proceedings.mlr.press/v48/lim1

[2020-03-17 00:23] v715 opened #330 "Add multi-scale significance tests for populations of graphs"
it might be nice to have statistical methods for analyzing populations connectomes implemented in graspy.

multi-scale algorithms could be used to find significantly different edges, vertices, and communities in populations of connectomes from different phenotypes.

is this something you guys would be interested in?

[2020-03-17 13:46] #325 closed

[2020-03-17 20:15] bdpedigo commented on #330
Sure! Seems like it would be worth having, and having an open-source implementation prior to publication could be cool for you/others.

If you'd like to proceed, I would just recommend mapping out the API and structure of the code and discussing with us prior to spending a ton of time on the implementation, just so you don't waste any effort. Let me know if you have plans you want to chat about.

[2020-03-20 19:24] bdpedigo opened #331 "Make cosine similarity handling in AutoGMM less fragile"
Currently, errors are thrown when trying to use cosine similarity on a dataset that contains at least one 0-vector.

I think we should have AGMM skip cosine similarity in this case, potentially throwing a warning.

[2020-03-24 21:59] bdpedigo commented on #315
AutoGMM was parallelized in #320, would like to not go through the extra effort and just make GaussianCluster a subset of AutoGMM

[2020-03-24 21:59] #315 closed

[2020-03-24 22:01] bdpedigo commented on #306
to clarify, AutoGMM does everything that GaussianCluster does and more. The difference is, GaussianCluster has an option to run kmeans initialization multiple times, which I have found empirically can lead to better results than any of the AutoGMM initializations. If AutoGMM had a way of running multiple kmeans inits and taking the best, we could deprecate GaussianCluster

[2020-03-25 18:06] SHAAAAN commented on #300
Hi Pedigo, this time I used google Colab with GPU accelerator. Running 200 inits took too much time that the Colab website would break while running. So I still ran 80 inits with 500 vertices for both functions. It seemed like slower with parallel function unfortunately. Jovo asked me to write it in Scipy style, but I am not sure we need parallelize FAQ or SGM now.

Here is the output of the exper

[2020-03-30 17:13] bdpedigo opened #332 "Look into whether AutoGMM regularization increases too quickly"
Anecdotally, have seen cases where bic jumps up a lot as soon as the model has to add regularization. Perhaps some regularization would help, but the steps in regularization used are too heavy.

[2020-04-01 18:25] bdpedigo opened #333 "Write tutorials for clustering functions"
We currently don't have tutorial notebooks for these, would be nice to have a brief notebook or two explaining their usage. Could talk to @tathey1 for examples from his paper, potentially.

[2020-04-01 21:30] #310 closed

[2020-04-08 15:34] v715 commented on #330
sounds good! what do you think of this:

# Main contribution
- add three files to the `inference` submodule: `edge_test.py`, `vertex_test.py`, and `block_test.py`

## Test structure
- for each scale, make a class (i.e. `BlockTest`) that handles all testing
- endow each class with a function `self.test()` that returns a p-value for every edge, vertex, or block

specifics for each test are below:

#

[2020-04-08 20:17] j1c commented on #330
Looks fine. One major thing is that classes are never initialized with data, but just parameters. the `.test()` function should take the data as inputs (should this be called `.fit()`?). Regarding `3d`, I would say chi-squared test, but currently, the paper specifically deals with 2 sample case. Although I should think about adding the >2 sample cases for the paper.

Couple of things Im not sure a

[2020-04-08 20:18] bdpedigo opened #334 "remove * import in simulations"
https://github.com/neurodata/graspy/blob/master/graspy/simulations/__init__.py

should not be using * import here

[2020-04-08 20:53] v715 commented on #330
word, will pass data to a `fit()` function instead!

also I have no problem using MGC for everything, it's just not the way I did things in my manuscript. but for a first pass, it's fine by me!

shall i make 3 seperate PRs (one for each significance test) or would you prefer a single PR?

[2020-04-13 19:45] gdevenyi opened #335 "Please develop a conda-forge feedstock"
Thanks!

https://conda-forge.org/#add_recipe

[2020-04-17 21:33] bdpedigo commented on #303
@asaadeldin11 can you comment here so I can assign you

[2020-04-17 21:34] asaadeldin11 commented on #303
hello

[2020-04-17 21:36] bdpedigo commented on #260
Closing as we are sticking with current API for now

[2020-04-17 21:36] #260 closed

[2020-04-17 21:37] bdpedigo commented on #257
@j1c can we close?

[2020-04-17 21:37] #248 closed

[2020-04-17 21:37] #245 closed

[2020-04-17 21:38] #232 closed

[2020-04-17 21:40] bdpedigo commented on #222
@alyakin314 assigning this to you just so this issue is claimed for now

[2020-04-17 21:43] bdpedigo commented on #204
@caseypw

[2020-04-17 21:44] #195 closed

[2020-04-17 21:48] bdpedigo commented on #177
once #222  is done we can do this

[2020-04-17 21:50] bdpedigo commented on #159
closed by #323

[2020-04-17 21:50] #159 closed

[2020-04-17 21:52] bdpedigo commented on #156
Note: if anyone needs this, I have code and simulations for this but not tested

[2020-04-17 21:54] bdpedigo commented on #134
In #289

[2020-04-17 21:56] #97 closed

[2020-04-17 21:57] caseypw commented on #306
I'll get this done this semester

[2020-04-17 21:57] caseypw commented on #321
I'll get this done this semester

[2020-04-17 21:57] caseypw commented on #324
I'll get this done this semester

[2020-04-17 21:57] caseypw commented on #331
I'll get this done this semester

[2020-04-17 21:58] caseypw commented on #332
I'll get this done this semester

[2020-04-17 21:58] caseypw commented on #333
I'll get this done this semester

[2020-04-17 21:59] caseypw commented on #204
I'll get this done this semester

[2020-04-17 22:06] bdpedigo commented on #204
note: this one is contingent on however sklearn would want this setup in their package

[2020-04-18 21:17] v715 commented on #330
Since there's already a base class in the `inference` submodule, im planning to make a new submodule called `connectomics`. lmk if you'd rather i do something different

[2020-04-18 21:48] bdpedigo commented on #330
Is anything about the method specific to connectomes? seems it would work for general graph data.

[2020-04-18 22:39] v715 commented on #330
no you're right, this will work for any population of vertex-matched graphs!

what if I create two submodules within `inference`, one for independence testing and one for graph comparisons?

[2020-04-19 00:07] bdpedigo commented on #330
What do you mean for the independence testing stuff?

I think just another file or set of files in the current module is fine. I
don't know what you want to call it. Maybe just something related to
k-sample?

On Sat, Apr 18, 2020 at 6:39 PM Vivek Gopalakrishnan <
notifications@github.com> wrote:

[2020-04-19 00:36] v715 commented on #330
sorry by independence stuff, i meant the latent distribution and position tests

sure, i’ll put all the files in the inference module and call the base class base_ksample. thanks for all the input!
On Apr 18, 2020, 8:08 PM -0400, Benjamin Pedigo <notifications@github.com>, wrote:

What do you mean for the independence testing stuff?

I think just another file or set of files in the current module

[2020-04-19 01:00] bdpedigo commented on #330
Sure, if you think of a better name I'm happy to hear it too!

On Sat, Apr 18, 2020 at 8:36 PM Vivek Gopalakrishnan <
notifications@github.com> wrote:

[2020-04-20 16:08] alyakin314 commented on #177
i can do this also when pr'ing size fix, if you want
@bdpedigo @bvarjavand

[2020-04-20 16:41] bdpedigo commented on #177
That would be great!

On Mon, Apr 20, 2020 at 12:09 PM alyakin314 <notifications@github.com>
wrote:

[2020-04-21 14:03] bdpedigo opened #337 "cMDS should accept "metric" kwarg instead of "dissimilarity""
https://scikit-learn.org/stable/modules/generated/sklearn.manifold.MDS.html
https://scikit-learn.org/stable/modules/generated/sklearn.manifold.Isomap.html
https://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html

IMO for consistency, we should be compliant with the manifold learning stuff above, which all uses the term "metric" instead of "dissimilarity". Could accept both inte

[2020-04-21 14:03] bdpedigo commented on #337
@j1c thoughts on this?

[2020-04-21 14:09] bdpedigo commented on #337
whoops their MDS does accept dissimilarity. Do you know if this has real semantic meaning for them?

[2020-04-27 16:03] #337 closed

[2020-04-27 16:04] bdpedigo commented on #335
https://github.com/conda-forge/staged-recipes/pull/11388

[2020-04-28 16:45] gmischl1 commented on #335
Merged into conda-forge https://github.com/conda-forge/staged-recipes/pull/11388

[2020-04-28 16:50] gdevenyi commented on #335
Fixed!

[2020-04-28 16:50] #335 closed

[2020-05-01 20:22] j1c opened #340 "Change default for MASE"
Make `scaled = True` as default for MASE

[2020-05-02 21:48] bdpedigo opened #342 "Add `n_iter_` attribute after fit to GraphMatch"
https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html

Sklearn estimators often have `n_iter_` to indicate how many iterations were needed to converge or stop, would be helpful to know whether graph matching is converging because of epsilon or max_iter

[2020-05-05 19:49] bdpedigo opened #343 "allow GraphMatch to accept specific doubly stochastic matrices as initializations"
GraphMatch should be able to accept guesses at the permutation
Probably makes sense to allow this via a specific permutation/doubly stochastic matrix
Should also be able to set the degree of deviation for the random doubly stochastic initializations -
i.e. if my guess matrix is C, and D is a random doubly stochastic matrix, can start initializations around C via

D* = a * C + (1 - a) D

or somethi

[2020-05-06 16:59] bdpedigo opened #344 "deprecate python 3.5"
sklearn 0.23 and above don't support 3.5

[2020-05-12 20:21] bdpedigo opened #346 "Multigraph GraphMatching"

[2020-05-12 20:24] bdpedigo opened #347 "similarity augmented graph matching"

[2020-05-12 20:30] jovo opened #348 "merge GraphMatch into scipy and refactor GraphMatch to use it"

[2020-05-12 23:26] bdpedigo commented on #347
IGraphMatch can accept an n x n similarity matrix on the nodes
https://github.com/dpmcsuss/iGraphMatch/blob/52870fc16e03291776c644cc3c4ad461183805ab/R/graph_match_methods.R#L61

[2020-05-12 23:26] bdpedigo commented on #346
IGraphMatch can accept a multilayer network https://github.com/dpmcsuss/iGraphMatch/blob/52870fc16e03291776c644cc3c4ad461183805ab/R/graph_match_multi.R#L34

[2020-05-18 13:20] #340 closed

[2020-05-18 13:44] bdpedigo opened #352 "Add `n_features_in_` for scikit-learn compliance"
`FutureWarning: As of scikit-learn 0.23, estimators should expose a n_features_in_ attribute, unless the 'no_validation' tag is True. This attribute should be equal to the number of features passed to the fit method. An error will be raised from version 0.25 when calling check_estimator().`

[2020-05-18 15:47] #344 closed

[2020-05-18 19:52] bdpedigo opened #354 "`.fit()` for inference classes should return `self`"
May want to consider `fit_predict()` or `fit_test()` or something like that to make it return a p value. but i think a `.fit()` should strictly return an instance of self

[2020-05-19 17:10] alyakin314 opened #356 "p_value_ inconsistency between latent distribution and latent position tests"
[after the #336,] latent distribution test has attribute self.p_value_, whereas latent position test has self.p_ . they should be made consistent. specifically, change latent position test to p_value_.

[2020-05-19 17:12] alyakin314 opened #357 "fit inconsistency of inference module"
in order to be consistent with sklearn, as well as just general within graspy consistency, it would make more sense if fit methods of the tests were returning self instead of p value. it might also make sense to have fit_predict methods.

[2020-05-19 17:22] bdpedigo commented on #357
duplicate of #354

[2020-05-19 17:22] #357 closed

[2020-05-19 17:57] alyakin314 opened #358 "latent distribution test on directed inputs"
currently, latent distribution test does not support directed inputs. although there are lines that collapse together two embeddings
https://github.com/neurodata/graspy/blob/429728e454c3e1656cf213000e975b5c42d1d8ba/graspy/inference/latent_distribution_test.py#L104-L106
we do not know whether the behavior will be as expected. we need to

- [ ] run simulations that verify that the behavior of the te

[2020-05-19 18:28] #93 closed

[2020-05-21 10:42] alyakin314 opened #359 "Clipping the P matrix when generating an RDPG should throw a warning"
## Expected Behavior
when generating an rdpg, if the matrix P ends up having to be clipped, there should be an exception thrown, because, similarly to ASE on an unconnected graph, it almost certainly means one of the two things:
1. there is a bug elsewhere (and it's sometimes tricky to catch)
2. a user does not exactly understand the rdpg and inner product space

this should at least be the case w

[2020-05-21 11:23] bdpedigo commented on #359
I seem to recall that when playing around with semipar, if I did ASE -> Phat -> sample RDPG, the Phats that you get (as opposed to P, where you are probably right that people should be generating them to be not outside of [0, 1]) almost always needed this clipping. Or at least frequently enough that when we had this discussion, it seemed like we might be annoyed by a ton of warnings if we did this

[2020-05-21 20:25] #321 closed

[2020-05-21 20:25] #324 closed

[2020-05-21 20:25] #331 closed

[2020-05-31 20:24] jovo opened #360 "compare ZG(2) to minka"
to select the number of components in PCA, sklearn uses this:
https://papers.nips.cc/paper/1853-automatic-choice-of-dimensionality-for-pca.pdf

but graspy uses this: https://www.sciencedirect.com/science/article/abs/pii/S0167947305002343

compare the two via simulations and see which is better, and if either of us should switch

[2020-06-01 02:19] jovo commented on #360
this says ZG(1) is sucky: https://hal.archives-ouvertes.fr/hal-01484099/document

this has a bunch of simulated settings possibly worth considering: https://reader.elsevier.com/reader/sd/pii/S0167947311004099?token=22CA3714EEC6A4B5FCC3DFD1759E133AACFB4CDC5F2CD66BC6CADE67B8DAB5B263ED7EEB6639E7C2C68B69DCEEB820A1

[2020-06-05 03:50] alyakin314 opened #361 ".fit() should return self always"
while working on #354, realized that inference is not the only place where fit does not return self.
e.g.:
https://github.com/neurodata/graspy/blob/a3f281c47e717d55a51a6954a88d1fa43ce54def/graspy/match/skp.py#L111
this should probably be standardized throughout graspy.

[2020-06-05 03:53] bdpedigo commented on #361
You are not wrong, but that particular class is probably going to be trashed pretty soon. If you see it anywhere else should definitely fix it tho

[2020-06-05 19:58] alyakin314 commented on #361
okay. I think I looked through everything, and found no such examples, so feel free to close the issue.

do want to note that i have found one code inconsistency. in particular, base class of embed has an implemented (not abstract) fit_transform method, which calls self._fit_transform:
https://github.com/neurodata/graspy/blob/a3f281c47e717d55a51a6954a88d1fa43ce54def/graspy/embed/base.py#L148-L167

[2020-06-05 20:20] j1c commented on #361
Yea interesting points. When I wrote MDS, I wanted the attributes to look like those of [sklearn PCA](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html?highlight=pca#sklearn.decomposition.PCA), which is why the attributes are named as they are and why the `fit_transform` is overloaded to accommodate different names. Thats why there's a private and public `fit_transfo

[2020-06-05 20:32] alyakin314 commented on #361
agreed.

[2020-06-06 06:04] alyakin314 opened #363 "hsic works with kernels, not distances"
unlike all other tests used as backends of the latent distribution test (via hyppo), HSic works on kernels, not distances (it is actually almost identical to DCorr, except that it expects a kernel function, not a distance, and hence flips the sign on the test statistic). we currently do nothing about that. some options to consider are:

- removing it completely (not a big loss, since, once again,

[2020-06-06 06:08] alyakin314 commented on #363
i might be missing something obvious, but I legitimately have no idea why was it valid and consistent when we ran those simulations, if it expects a kernel, not a distance, and we were providing it with the latter.

@sampan501 maybe you know?

[2020-06-06 18:24] sampan501 commented on #363
If I'm not wrong, I think @bvarjavand did the transformation for kernel to distance as specified in the exact equivalence paper. In that case, the test should be valid

[2020-06-06 20:51] alyakin314 commented on #363
@sampan501 i do not exactly understand what that means. the way you implement hsic is by using the transformation of kernel to distance, computing the distance (i.e. dissimilarity) matrix, and then using dcorr, since EE says that this is identical to just using hsic:
https://github.com/neurodata/hyppo/blob/da63f814023f956defd0f773b5eb7a59b4f540fa/hyppo/independence/hsic.py#L128-L136
this makes tot

[2020-06-06 21:16] alyakin314 commented on #363
"The population HSIC is zero at independence, so the sample is unlikely to be independent when the empirical HSIC is large." ( http://www.gatsby.ucl.ac.uk/~gretton/indepTestFiles/indep.htm ).

that is, both dcorr and hsic reject for the large positive values of the statistic, so it makes sense that it was valid, but we were still using it wrong and should be providing it with kernels.

[2020-06-06 21:42] sampan501 commented on #363
Yes I meant I think @bvarjavand implemented it this way since he had asked me similar, but he probably knows better. But I agree with your assessment that you should provide kernels

[2020-06-07 20:22] bdpedigo opened #364 "Singular value scaling in CMDS?"
https://github.com/neurodata/graspy/blob/a3f281c47e717d55a51a6954a88d1fa43ce54def/graspy/embed/mds.py#L204

In CMDS, stored singular values are sqrt(singular values of B) where B is the centered distance matrix that is decomposed for CMDS.

Is there any reason for this that I'm missing? I get that we want to take sqrt when we scale the embedding itself but for reporting singular values (e.g. for m

[2020-06-08 15:47] bdpedigo opened #365 "check whether `tol` for GMM too big"
https://github.com/scikit-learn/scikit-learn/issues/10122

wondering if this matters for applications that we care about.

@tathey1 did you ever modify or experiment with the tolerance parameter when you were comparing to R or anything like that?

[2020-06-14 18:41] bdpedigo commented on #290
https://github.com/arvkevi/kneed

[2020-06-22 21:05] #354 closed

[2020-06-22 21:05] #356 closed

[2020-06-24 07:24] alyakin314 opened #367 "create an align module"
create an align module, which should include at least the following:

- [x] sign flips (currently used in the latent distribution test)
- [x] regular procrustes
- [ ] modified matched procrustes (currently used in the latent position test)
- [x] unmatched ('seedless') procrustes (currently in R code in Agterberg's github and in python on my old brunch)-

[2020-06-24 07:25] alyakin314 commented on #361
@j1c should i close this, now that you are aware of this? or you want it open until standarized?

[2020-06-25 20:40] bdpedigo commented on #367
thanks @alyakin314  this sounds great. let me know if you want to talk about how to structure all of this, I haven't thought about it too much.

[2020-06-25 20:41] bdpedigo commented on #360
@asaadeldin11  some context if you end up looking at this

[2020-06-25 20:42] bdpedigo commented on #360
anotha one https://github.com/arvkevi/kneed

[2020-06-26 18:43] jovo opened #368 "fix mismatch between 'simulation' and 'model'"
seems like model means 'estimation'?

also, documentation is somewhat incomplete.
for example, i would think the simulation documentation would have sub-sections for each model, just like the models documentation?

[2020-06-29 18:56] bdpedigo commented on #299
very related to #156, merging that issue into this one

[2020-06-29 18:56] bdpedigo commented on #156
closing, will add into #299

[2020-06-29 18:56] #156 closed

[2020-06-29 19:02] bdpedigo commented on #299
long script that essentially fits an HSBM and does this recursive clustering (in addition to other stuff)
https://github.com/neurodata/maggot_models/blob/dev/notebooks/137.7-BDP-omni-clust.py

some bad code that does the backend of the recursive clustering and keeps track of metadata
https://github.com/neurodata/maggot_models/blob/9f24b3239bb0cc426c8556b124c75a612b9af34f/src/cluster/spectral.py#L3

[2020-06-29 19:08] bdpedigo commented on #368
should reorganize so that simulation and model are part of the same module and work together better
may also want to rip out some unnecessary proprietary code (SBM for instance is in networkx)

[2020-06-29 23:37] bdpedigo commented on #299
@tathey1 are you okay if I clear you as assignee? Otherwise, lmk if you still wanna do this?

[2020-07-14 17:35] asaadeldin11 commented on #329
[code](https://github.com/neurodata/graspy/blob/ase-alap/graspy/match/alap.py) and [proof of effectiveness](https://nbviewer.jupyter.org/github/asaadeldin11/nbview/blob/master/aLAP_code.ipynb)

[2020-07-15 23:53] bdpedigo opened #369 "remove ari return value from AutoGMM.fit_predict"
Doesn't match with API well, should just get rid of this

[2020-07-17 18:00] alyakin314 opened #370 "returning test statistic in LDT"
some practitioners (read: Vince, cep) only care about the test statistic and not the p-value. obviously one can still extract it if they perform the full test. however, that wastes time and resources. one can set the number of iterations to 1 to minimize that, but we can still do less. i propose to allow the number of permutations to be set to 0 (hyppo allows that, so really it is just a change in

[2020-07-17 18:05] alyakin314 commented on #358
note: cep said that in the directed case the alignment (sign flips, or seedless procrustes, if that ever works) should be happening before concatenation.

[2020-07-20 15:44] bdpedigo opened #371 "fix AutoGMM to only run agglomerative clustering once"
agglomerative part is deterministic, doesn't need to run every value of k

[2020-07-20 15:51] jovo opened #372 "use X-means to increase K when sweeping over K"
http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.19.3377

or something like it.

[2020-07-20 15:53] jovo opened #373 "allow HGMM to initialize GMM"

[2020-07-20 15:54] jovo opened #374 "allow outputting the hclust initialization for any GMM that results"

[2020-07-20 19:53] bdpedigo commented on #370
agree that wanting test statistic and not the null is a totally valid use case, I also want that.

number of permutations = 0 is not that intuitive to me (i did not even realize this was the case and always end up calling some _statistic( ) private method which is also not ideal). some users may not know that much about what is happening behind the scenes (e.g. permutation test) to make this intui

[2020-07-22 07:22] alyakin314 commented on #370
i offer to allow using number of permutations = 0, followed by ._statistic for now. and subsequently we can change the api.

i certainly do not mind .test() and .statistic(). this feels like something that would be more intuitive to an average user than fit() and fit_predict(). that said, i am not yet convinced that it is strictly better than having a function.

i can change the tests from fit to

[2020-07-22 09:55] alyakin314 commented on #358
@bdpedigo i will remove the the exception raised by directed inputs, if you don't mind. we still should test it's usage.

[2020-07-22 15:59] bdpedigo commented on #358
do you mean test its usage then remove? yeah I'd be very happy to have that. probably wouldn't want to merge w/o a simple test on directed graphs tho.

[2020-07-22 16:03] bdpedigo commented on #370
i'll take whatever you can offer!

I don't feel strongly about what you do for now, but ultimately .test() and .statistic() or just having a func will make more sense. happy to have those change later tho if you don't want to do it now.

I'm curious, what all would the function return? just test statistic and p-value? what if the user wants to see test statistic for all permutations or something l

[2020-07-24 10:42] alyakin314 commented on #358
by test do you mean a function in the test file (which there is, both with valid and with invalid inputs), or you mean a simulation?

[2020-07-24 10:44] alyakin314 commented on #370
the consensus for now is to change it to a function. either one that returns test_statistic+p_value+null_distribution. or the one that returns test_statistic+p_value+(null_distribution, optional). i'll research python conventions on permutation test implementations more.

[2020-07-27 08:14] alyakin314 commented on #358
also see #251

[2020-07-27 08:26] alyakin314 opened #375 "Latent{Distribution, Position}Test should be a function"
splitting out from #370, since making the tests into functions is a separate issue from allowing 0 as number of permutations.

[2020-07-27 08:30] alyakin314 commented on #370
will be closed by #366, as that allows 0 permutations. for api change see #375 .

[2020-07-27 08:31] alyakin314 commented on #177
i feel like it makes most sense to only do this after #375 ?

cc: @bdpedigo

[2020-07-27 08:38] alyakin314 commented on #375
one thing to consider is whether the nonpar should eat graphs or embeddings (or either?). i occasionally find myself in the need of having to use it on the latter, and my workaround has been to go into source code and comment out the embedding, which is suboptiomal at best.

[2020-07-31 03:19] jovo opened #376 "add documentation for signal subgraph"
https://github.com/neurodata/graspy/blob/master/graspy/subgraph/sg.py

[2020-08-03 03:19] jovo opened #377 "try this version of fast graph matching"
https://arxiv.org/pdf/1911.11120.pdf

@asaadeldin11 might be interesting

[2020-08-03 16:37] bdpedigo commented on #376
maybe addressed in PR #322 and as issue in #305
@j1c did you review that PR?

[2020-08-03 16:37] #376 closed

[2020-08-03 19:45] bdpedigo opened #378 "Refactor embedding CLT estimation into user-facing code"
@alyakin314 is adding estimation of covariance for ASE central limit theorem as part of #366.

It would be nice to have this code as a function in GraSPy for plotting and doing theoretical investigations/simulations. And even as just something to use in the tutorials for explanation.

[2020-08-03 20:23] alyakin314 commented on #378
i completely agree, and this was one of the reasons why i made this into a standalone function rather than a method already. not a proper user-facing interface, but should be easier to use than if it belonged to an object. we can discuss into where that should go at some point.

[2020-08-04 00:07] #222 closed

[2020-08-04 00:07] #358 closed

[2020-08-04 00:07] #363 closed

[2020-08-04 00:07] #370 closed

[2020-08-04 23:37] bdpedigo commented on #371
@asaadeldin11 we should talk about this, I think it's probably necessary for #306

[2020-08-04 23:39] bdpedigo commented on #369
@asaadeldin11 necessary for #306

[2020-08-04 23:41] bdpedigo commented on #343
@asaadeldin11 can you remind me, is this part of the scipy PR?

[2020-08-04 23:47] bdpedigo commented on #316
@SHAAAAN if you still have code/experiments for this in any form, would you mind just linking them here?

[2020-08-04 23:48] bdpedigo commented on #303
@asaadeldin11 @jovo did we sufficiently squash this?

[2020-08-04 23:51] bdpedigo commented on #177
@alyakin314 either order makes sense to me, up to you if you wanna do it

[2020-08-04 23:55] bdpedigo opened #382 "Merge pair/scatterplot with GMM ellipse plotting code"
I have code to plot the ellipses from GMM on top of the data here
https://github.com/neurodata/maggot_models/blob/dev/notebooks/179.1-BDP-mb-clustering.py
for a 2-d scatterplot
Somewhere I also have it for pairplots. Would like this feature in graspy for viz purposes.

[2020-08-05 00:10] jovo commented on #303
yah. though there is that other paper from stephen wright's group i think

On Tue, Aug 4, 2020 at 7:48 PM Benjamin Pedigo <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time

[2020-08-05 00:11] bdpedigo opened #383 "Merge hierarchical clustering plotting code"
I have janky code to make figures like the one below showing a recursive clustering, with the option to color by some metadata or feature
https://github.com/neurodata/maggot_models/blob/dev/src/visualization/dendrogram.py

@tliu68 may also have updated/modified versions of the above.

Would like to have this as a function in Graspy, may be able to eat some specific form of hierarchical labeling, o

[2020-08-05 03:30] eigenvivek opened #384 "Implement classifier for signal subgraph"
The current implementation of signal subgraph estimates coherent and incoherent subgraphs, but doesn't implement the classifier (eq 7 of https://arxiv.org/pdf/1108.1427.pdf)

[2020-08-05 15:19] bdpedigo opened #386 "GraphMatch should inherit from BaseEstimator"

[2020-08-05 15:27] SHAAAAN commented on #316
Sure. Here is what I have done so far.
https://github.com/SHAAAAN/MyGraspy/blob/master/codes/padding.ipynb
I met some problems when I tried to merge it with the original SGM algo. Hope this is useful for other talented people~

[2020-08-05 15:51] bdpedigo commented on #316
Thanks so much Shan! Hope all is well for you

[2020-08-05 19:04] bdpedigo commented on #371
going to assign you for now @asaadeldin11 just because i think this is necessary for #306 so I don't want anyone else to take it. but let's talk at some point

[2020-08-05 19:07] bdpedigo commented on #347
not sure if this is the same as #346

[2020-08-05 19:23] bdpedigo opened #387 "Merge new matrix plotting code"
I have been using code here
https://github.com/neurodata/maggot_models/blob/master/src/visualization/matrix.py
for plotting matrices and sorting by various metadata in various ways.

May also want to merge this with seaborn clustermap functionality - a lot of what I have was pulled from there, in fact, but I'm unsure what makes the most sense in terms of implementation.

Regardless, would like the

[2020-08-06 01:11] bdpedigo opened #388 "Investigate/implement edge-exchangeable models"
Should look into methods in [Crane & Dempsey 2018](https://t.co/wpSABdKfmh?amp=1)

[2020-08-06 14:48] jovo opened #389 "merge or reject all open PRs"

[2020-08-06 15:42] bdpedigo commented on #309
@asaadeldin11 maybe will do this for NDD

[2020-08-06 16:12] bdpedigo commented on #196
closing because we want to get into sklearn anyway

[2020-08-06 16:12] #196 closed

[2020-08-06 21:03] bdpedigo opened #390 "implement anomaly detection in time series of graphs"
paper forthcoming

[2020-08-06 21:04] bdpedigo opened #391 "implement divide and conquer graph matching"
[Paper](https://www.sciencedirect.com/science/article/pii/S0167819115000484?casa_token=X3tMYbPTEJAAAAAA:Z5_jOg5IQMWS8DrK17lo6RXc9lEuWIPKfibhLYSA8qA9hwKAQvHq47YHZ6m66wKlskZ-ydYN)

[2020-08-06 21:24] bdpedigo commented on #375
@alyakin314 a few comments:
- talked to MSR engineers today, don't think we should wait for progress with merging to do this. We can set whatever API makes the most sense on our own, and then pass it off to whatever repo (possibly with a few cosmetic changes, but likely not much)
- I agree that these algos should be able to eat embeddings. Another option would be to allow a user to pass in an `emb

[2020-08-06 21:24] bdpedigo commented on #375
w.r.t. bullet point 2, I don't want that to hold anything up as far as the API goes. Can always add that in later no matter what we choose

[2020-08-09 03:05] jovo opened #392 "change name to graspologic and update readme/code/etc."
right? then we transfer to MSR?

[2020-08-10 15:48] jovo opened #393 "use sklearn way to include data (or not) as appropriate, with fetching as necessary"
using the same format/spec for storing data internally, probably csv for array, and json for metadata.
csv of array would be edgelists.

[2020-08-10 15:51] jovo opened #394 "put https://neurodata.io/project/connectomes/ datasets in graspy format"

[2020-08-11 10:00] alyakin314 commented on #375
- the nonpar test paper has << 100 citations, so it would be uneasy to pass it off to another repo any time soon. furthremore, we import hyppo, which imports joblib and other things, so we are significantly higher level than that allowed of scipy, and maybe even sklearn. this is just something to keep in mind.
- Youngser said that he'd also prefer using embeddings to be an option, by the way. i ag

[2020-08-11 13:39] alyakin314 commented on #367
@bdpedigo do you have any opinion on the api? should these be functions or classes? i feel that for all of these the reusability potential is similar to the inference - the only reason to fit the object again is to avoid re-instantiating parameters.

i see a couple ways we can pursue this:
1. classes that have a fit_transform(X, Y) which return X', Y' (in all of our applications so far, one of the

[2020-08-11 13:47] alyakin314 commented on #367
also, we don't really transform the graphs with modified matched procrustes in the latent position test. we compute the statistic as if they were transformed such. i certainly can implement these, but how necessary are they?

[2020-08-11 14:08] bdpedigo commented on #367
Not sure what you mean, are you talking about here https://github.com/neurodata/graspy/blob/0f4441ddc8dc09840147fed0f33f7c6be2dedb30/graspy/inference/latent_position_test.py#L143

[2020-08-11 14:11] bdpedigo commented on #367
Here I am torn. I think 3. would be a common use case, but I definitely want to be able to get out Q. This is probably what makes sense 90% of the time for most uses revolving around graspy.

On the other hand, the reason I thought it would make sense to have this align module in the first place is sorta because I kept wanting to use these tools like an object - for instance, I was learning a tran

[2020-08-11 14:19] bdpedigo commented on #375
I don't think we plan on exporting the inference stuff, this is the most graspy specific thing about the whole package IMO

Agree and agree. kwargs maybe someday, it is more complicated for sure. the one caveat is it probably makes more sense to go that route for the LPT because that test is doing repeated embedding calls, probably makes sense for all of them to use the same parameters. For LDT i

[2020-08-13 17:31] bdpedigo opened #395 "consider making regularized LSE the default"
seen many examples where it works way better

[2020-08-13 17:32] bdpedigo opened #396 "investigate varimax/other rotation techniques for statistical inference"
https://arxiv.org/pdf/2004.05387.pdf

[2020-08-13 19:07] jovo commented on #390
@bdpedigo this became important, as per cep's request, because JL@MSR wants it in graspy now.
Guodong has an R package, so it should be a simple matter of porting to `python`, unclear who is the right person for this?
Maybe @j1c ?

[2020-08-13 21:50] bdpedigo opened #397 "add option to concatenate directed embeddings before outputting"

[2020-08-14 14:18] alyakin314 commented on #367
i'm kind of curious to know more about a specific case you're talking about. so, if i understand correctly: you have embeddings $X$, $Y_1$, $Y_2$, ... and you have a priori knowledge that all $Y_i$ have the same orientation (how? omni?). then you first align $X$ and $Y_1$ to learn a transformation $Q$ (say it's linear), and obtain $Y_1' = Y_1 Q$. but then reuse it as $Y_i' = Y_i' Q$? how often do

[2020-08-14 14:19] alyakin314 commented on #367
yes, i mean this. we compute norms, as if there was such transformation, but we don't actually ever compute X_prime / Y_prime.

[2020-08-14 14:28] alyakin314 commented on #375
agreed.

could you elaborate on repeated embedding calls? i found a total of 1:
https://github.com/neurodata/graspy/blob/0f4441ddc8dc09840147fed0f33f7c6be2dedb30/graspy/inference/latent_position_test.py#L206

yeah, not a fan of this either. feels like a clunky intermediate between a dict and an sklearn object.

will address this in a little bit.

sure.

yeah, this one. thanks a lot; should be easi

[2020-08-14 14:53] alyakin314 commented on #375
**scipy:**
statistic + p_value
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html#scipy.stats.ttest_1samp
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html#scipy.stats.ttest_ind
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind_from_stats.html#scipy.stats.ttest_ind_from_stats
https://docs.scipy.org/doc/scipy/refe

[2020-08-14 14:59] alyakin314 commented on #375
i've looked through scipy and statsmodels, as you see above. most tests only return statistic+p_value, but they don't really have much else to return , to be fair. maybe degrees of freedom, but not returning that is a small loss compared to having interchangeable syntax. unlike us, where having an access to the null distribution seems important.

a couple of statsmodel things have variable output,

[2020-08-14 15:15] bdpedigo commented on #367
If by compute you mean compute for the user to see i agree. They are computed, we just throw them away after

[2020-08-14 15:23] bdpedigo commented on #367
The use case is I have X and Y, and say for the first k rows X and Y are matched (known pairs) but for the rest they are not. So call the k x d matched portions of those matrices X' and Y'. I want to be able to learn an orthogonal matrix Q from X' and Y', say (with abuse of notation)

``procrustes.fit(X', Y')``

and then I want to get out my aligned, full version of Y by doing

``Y_transformed = p

[2020-08-14 15:24] bdpedigo commented on #367
perhaps my example there is not the most common use case, but same deal for PCA, the most common use case is one data matrix and you fit and apply the same transformation. I don't think that's an undue burden on the user.

[2020-08-14 15:26] bdpedigo commented on #375
this one is in a for loop
https://github.com/neurodata/graspy/blob/0f4441ddc8dc09840147fed0f33f7c6be2dedb30/graspy/inference/latent_position_test.py#L137

[2020-08-14 15:32] bdpedigo commented on #375
number of fitted components, since that could have been `None` from the user?

Can't think of anything else off of the top of my head.

[2020-08-14 15:32] bdpedigo commented on #375
i have no objection to
`stat, p_value, dict_of_things = latent_distribution_test(X, Y, **kwargs)`

[2020-08-14 15:41] bdpedigo commented on #390
@jovo could we get more context? you have the R code/paper (I think I saw a pdf a long time ago but haven't seen anything recently)?

[2020-08-14 16:24] jovo commented on #390
Ask Guodong

On Fri, Aug 14, 2020 at 11:41 AM Benjamin Pedigo <notifications@github.com>
wrote:

Typed with thumbs

[2020-08-14 16:54] bdpedigo commented on #343
happening as part of #348

[2020-08-16 20:28] bdpedigo commented on #309
@bdpedigo  reminder to ask carey if anyone uses this

[2020-08-17 07:49] alyakin314 commented on #375
this is what i mean by d_hat

[2020-08-17 07:50] alyakin314 commented on #375
possibly embeddings themselves? why not?

[2020-08-17 07:53] alyakin314 commented on #375
u're very much right. don't know how i missed that boi. i'll think about it.

[2020-08-17 07:53] alyakin314 commented on #375
neither do i, so let's settle on this.

[2020-08-17 08:12] alyakin314 commented on #367
okay, so I agree in general agree with this approach. let's settle on this.

here is one question: currently all of our existig transformers are fit to two sets of data, but only actually transform one of them (in your example Y). it is possible to imagine some that would transform both. a simple example would be a sign flip, if it is done in carey's form, where everything is brought to first orth

[2020-08-20 21:00] bdpedigo opened #401 "write some "extended" or "advanced topics" tutorials"
- [ ] regularization, ptr
- [ ] alignment of embeddings (when we have the align module)
- [ ] embedding CLT
- [ ] ase vs lse vs n2v
- [ ] omni vs mase

[2020-08-24 01:10] bdpedigo opened #403 "remove MPL version upper bound when bug gets fixed"
#402 is a hack, whenever that issue between seaborn/matplotlib gets fixed let's figure out which versions of both to allow

[2020-08-27 02:19] j1c opened #405 "Run black again on graspy"
New version of black released today. Most useful change is it automatically removes trailing spaces in multiline strings automatically, and theres a bunch of files with trailing spaces.

[2020-08-27 14:20] hhelm10 opened #407 "install issue with numba"
## Expected Behavior
install graspy

## Actual Behavior
process exited
(from what I can tell it's an issue related to `hyppo`s numba dependency)

## Template Code
[code]

## Full Traceback
[code]

* Python version: 3.6.9
* GraSPy version: 0.3.0

[2020-08-27 15:33] bdpedigo commented on #407
@sampan501 before we look into this, are you aware of this issue already? looks like it is upstream of you maybe but probably worth knowing about

@hhelm10 one thing you can try is installing a version of numba that is 1 or 2 versions old (they just released a new one) but I don't know if that is related. maybe it's worth starting a clean environment, and literally just try to install numba, and s

[2020-08-27 15:37] sampan501 commented on #407
It looks like an issue upstream of me. I can testing which ones work properly and just limit installation to that version

[2020-08-27 15:46] bdpedigo commented on #407
@hhelm10 are you running on a Raspberry PI https://github.com/numba/llvmlite/issues/604 🤣

But srsly, I bet that issue can help you out. My guess is that this issue is specific to whatever platform/environment you have going, so may be hard for us to help debug. lmk if the comments on that issue help, or how the clean environment numba install goes?

[2020-08-27 15:48] hhelm10 commented on #407
I'll take a look and will let you know how I end up fixing it!

Thanks guys @bdpedigo @sampan501

[2020-08-27 15:56] j1c commented on #407
https://github.com/numba/numba/issues/6174

@hhelm10 what your pip version?

[2020-08-27 18:25] #405 closed

[2020-08-27 20:39] hhelm10 commented on #407
9.0.1!

[2020-08-27 21:00] bdpedigo commented on #407
did u just say `9`

[2020-08-27 21:04] j1c commented on #407
:frowning:

[2020-08-27 21:05] sampan501 commented on #407
You know the latest one's like 20 right?

[2020-08-27 21:25] hhelm10 commented on #407
Interesting; working from a new Azure VM. Upgraded to 20.2.2 and install worked with no problems.

[2020-08-27 21:25] #407 closed

[2020-09-01 16:28] dfrancisco1998 opened #412 "No module named 'sklearn.mixture._gaussian_mixture"
I am trying to make a conda environment to start playing around with the graspy tutorials and it keeps giving me "No module named 'sklearn.mixture._gaussian_mixture". In an effort to remedy this I uninstalled scikit-learn and reinstalled it with version 0.19.2. But I get a new error in the install saying my python version is too high to be compatible.

I set up the conda environment using "conda c

[2020-09-01 16:32] bdpedigo commented on #412
Hi @dfrancisco1998 - currently we aren't officially supporting python 3.8 ([see here](https://github.com/neurodata/graspy#python-requirements)), though that is one of the issues I want someone to tackle for sprint 0.

Can you try specifying `python=3.7` when making your environment, and see if that works?

[2020-09-01 16:36] bdpedigo commented on #401
@alyakin314 i think having a place to explain embedding alignment w.r.t. nonpar is important, esp. given #411. Just leaving a note as a reminder for us or NDD. will be easier to explain once we have `graspy.align`

[2020-09-01 16:37] dfrancisco1998 commented on #412
Yep will do! I did see that in sprint 0 right after I had sent my initial
zoom request, which is a little funny. Would I be able to tackle that
issue(although if I may be frank I am unsure what it entails but happy to
learn!).

Sincerely,
David

On Tue, Sep 1, 2020 at 12:32 PM Benjamin Pedigo <notifications@github.com>
wrote:

[2020-09-01 16:38] bdpedigo opened #413 "Configure CI to push to conda-forge automatically"
https://anaconda.org/conda-forge/graspy/files looks outdated, did not update when PyPI did.

[2020-09-01 16:47] j1c commented on #390
@bdpedigo Thoughts on api? There are few wrinkles in this.

1. There is no out of sample prediction. You train and predict on the input dataset, so standard `fit` and `fit_predict` doesn't make sense. It could be a class with just `fit_predict`, but then it could just be a function.
2. There is graph-wise and vertex-wise anomaly detection. But the embedding process is the same for both, so you can

[2020-09-01 17:34] bdpedigo opened #414 "Write tutorials for `align` module"
`graspy.align` is being added by #410.

That PR will not have a tutorial.

Need to add a notebook (or multiple notebooks) with simple and clear demonstration of functionality in that module.

[2020-09-01 17:35] bdpedigo commented on #291
some of this may have been fixed by #408

[2020-09-01 17:37] bdpedigo commented on #412
sure, @dfrancisco1998, if you comment on #277 then I will be able to assign you that issue.

[2020-09-01 17:37] bdpedigo commented on #412
closing this issue, is a problem with #277.

[2020-09-01 17:37] #412 closed

[2020-09-01 17:43] dfrancisco1998 commented on #277
Id like to be on this subproject!

[2020-09-02 14:15] alyakin314 commented on #414
this all true.

(related / cross-listed with #401 .)

[2020-09-02 15:15] j1c opened #415 "Update graph independence paper"
Current paper is insufficient. Requires changing the test statistic and the generative model (https://arxiv.org/abs/1808.08502).

Paper: https://arxiv.org/abs/1906.03661

[2020-09-02 15:20] #199 closed

[2020-09-02 15:46] bdpedigo commented on #347
@asaadeldin11 i have you down for this cause you have code for it, but I also have you assigned a bunch of other issues. if you want someone else to take your code and make it an actual PR w/ tests and docs and such for NDD, just lmk

[2020-09-02 16:00] bdpedigo commented on #352
need to look at everything we claim passes `check_estimator()`

[2020-09-02 16:46] loftusa commented on #386
I'll grab this one

[2020-09-02 16:49] pauladkisson commented on #291
I can take this one!

[2020-09-02 16:49] spencer-loggia commented on #397
I can take this one!

[2020-09-02 16:50] caseypw commented on #369
I'll knock this out

[2020-09-02 16:57] dtborders commented on #342
Ill take this one!

[2020-09-02 17:24] kareef928 commented on #334
I can do this one

[2020-09-03 00:26] PerifanosPrometheus commented on #302
I could take this one!

[2020-09-03 00:30] PerifanosPrometheus commented on #302
Btw, my real name is (Giovanni) Giorgio but everybody calls me Giorgio.(I am sure you will get the reference : )

[2020-09-03 00:56] alyakin314 commented on #302
@PerifanosPrometheus
fyi, no need to bother with mgc for nonpar, cuz we now have a hyppo background ( #336 ). idk the status of subgraphs.

i did not ...

[2020-09-03 07:10] jovo opened #417 "documentation for MASE?"
https://graspy.neurodata.io/tutorials/embedding/omnibus

where is mase tutorial? it does not seem to be in \embedding\multi-graph?
@j1c @bdpedigo

[2020-09-03 14:28] bdpedigo commented on #417
Duplicate of #244

[2020-09-03 14:28] #417 closed

[2020-09-03 15:37] bdpedigo commented on #390
- From your description, I agree that graph-wise and vertex-wise make sense in the same class/function
- class/function is a bit harder. ya, it sounds like neither are super convenient. I guess this is why scipy has stuff like [OptimizeResult](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.OptimizeResult.html) which is basically just a dict. Though I actually don't know if the

[2020-09-03 15:40] PerifanosPrometheus commented on #302
Thank you very much!

[2020-09-03 21:32] loftusa commented on #386
see #420
if someone else wants to do this I can just cancel that PR and let them make their own

[2020-09-03 23:26] j1c opened #422 "Update travis file to install package rather than requirements.text"
Change https://github.com/neurodata/graspy/blob/master/.travis.yml#L12 to `pip install -e .`

[2020-09-04 00:34] bdpedigo commented on #413
@loftusa i wonder if this is up your alley 😄 no worries if not

[2020-09-04 00:36] loftusa commented on #413
@bdpedigo Possibly, but I'd prefer to work within the codebase itself as much as possible at the moment I think

[2020-09-04 00:56] j1c opened #423 "Update setup.py to place upper bound on matplotlib"
Add the same upper bound in `setup.py` (https://github.com/neurodata/graspy/blob/master/setup.py#L20) as in `requirements.txt` (https://github.com/neurodata/graspy/blob/master/requirements.txt#L6).

[2020-09-04 01:10] loftusa commented on #423
I wonder whether it would be better to just write some code to directly send the lines in `requirements.txt` to `install_requires`. I think I came across some reason not to do that at some point, but I remember it seemed like a dumb reason to me at the time.

[2020-09-04 01:30] loftusa opened #424 "limit max python version to 3.7"
from this discussion: https://github.com/neurodata/graspy/pull/421#issuecomment-686798821_

[2020-09-04 03:04] pauladkisson commented on #291
Hey Pedigo, I'm a little confused with this issue.  Where are the 'build warnings' supposed to show up?  I didn't encounter them when I installed graspy from github.

[2020-09-04 12:39] zeou1 commented on #352
I can do this one then.

[2020-09-04 13:31] Jingyan230 commented on #317
Does this issue still need help? Maybe I can try to deal with it. But I'm not sure I understand the mission...

[2020-09-04 17:08] asaadeldin11 commented on #316
I have some code for this so I can take this. Would be a relatively quick fix once QAP is in scipy.

[2020-09-04 17:47] bdpedigo commented on #291
@pauladkisson
- Look at a [recent PR](https://github.com/neurodata/graspy/pull/421)
- Scroll down to bottom where it says "All checks have passed" and there are a bunch of lines that say "details" at the end. These are automated checks that run every time someone makes a PR.
- Click on "details" next to where it says "mixed content - graspy"
- Should bring you to something like [this](https://app.

[2020-09-04 17:51] bdpedigo commented on #317
@Jingyan230 there are some places in the documentation for our plotting functions (like [here](https://github.com/neurodata/graspy/blob/ca4001315b2d00d19437609afa6bdf96577fd7ce/graspy/plot/plot.py#L417)) where we tell the user there is an argument called `palette`. The suggestion here is to add [this link](https://matplotlib.org/3.1.3/tutorials/colors/colormaps.html#choosing-colormaps-in-matplotli

[2020-09-04 17:52] bdpedigo commented on #302
@PerifanosPrometheus no need to worry about changing any code other than the requirements part

[2020-09-04 18:02] pauladkisson commented on #291
Ok, this is definitely helpful.  I can see the warnings in the deploy details that you mentioned, and it should be easy enough to fix a few docstrings, but I've never worked on a project to this scale before.  How can I check my work to make sure that the issues are resolved?

[2020-09-04 18:13] #386 closed

[2020-09-04 18:17] bdpedigo commented on #291
@pauladkisson I think the easiest thing for you in this case will be to make a draft PR sooner rather than later. This will cause netlify (the thing that builds our docs) to trigger a build online, which will generate all of those logs, and will let you check your work to see if the errors stop.

Other option is to build the documentation locally on your machine. Instructions for that are [here](h

[2020-09-04 18:27] PerifanosPrometheus commented on #302
@bdpedigo I am going to update the requirement in the [setup.py](https://github.com/neurodata/graspy/blob/master/setup.py#L13-22) and in the [requirement.txt](https://github.com/neurodata/graspy/blob/master/requirements.txt). I believe that should be enough, thank you for your advise!

[2020-09-04 18:36] Jingyan230 commented on #317
Thanks. I'll have a try.

[2020-09-04 18:43] pauladkisson commented on #291
Thanks, yeah, I just found the instructions for installing sphinx and building the docs.  I was able to get it to run and display the appropriate warnings, but I also got a weird error that didn't show up in the netlify version:

`Notebook error:
CellExecutionError in tutorials/inference/latent_distribution_test.ipynb:
------------------
ldt_dcorr = LatentDistributionTest("dcorr", metric="euclidea

[2020-09-04 19:23] pauladkisson commented on #291
So using the ignore error setting listed above, I am able to work on the documentation fixes.  When I get through them, I will remove the ignore error setting, submit a PR, and see if the error persists.

[2020-09-04 21:31] alyakin314 commented on #291
actually, i have a conjecture: i think i changed an argument that used to be called distance to "metric" in #366 . so maybe it uses an outdated version of graspy. why / how to check? me not knows. Ben?

[2020-09-04 21:36] pauladkisson commented on #291
Hey @alyakin314! Yeah, I'm not sure what's going on with that since I just cloned the repo yesterday...

For the other warnings, most of it is fairly simple to fix (funky indents, skipped lines, etc.) but I did some digging on the internet, and it looks like sphinx itself has a bug where it doesn't recognize variables with a trailing underscore (p_value_1_, p_value_2_, etc.).  So, I could change t

[2020-09-04 21:41] alyakin314 commented on #291
@pauladkisson you should be careful with changing those. some of them are used in tutorial notebooks, so they may break if u change the names. furthremore, i think some of those variables, such as p_value and null_distribution follow the same convention between ldt and lpt, and are even mentioned in BaseInference's docs. so you should search through repo and change the names everywhere where aprop

[2020-09-04 22:18] alyakin314 commented on #291
@pauladkisson actually, if you're using a local version to do this - can you verify that you indeed are using 0.3.0 graspy? just cuz you have a cloned repo doesn't mean you are using the updated version.

[2020-09-05 15:07] bdpedigo commented on #291
@pauladkisson have you tried running that notebook locally (not just building the docs)

[2020-09-05 15:29] pauladkisson commented on #291
I'm pretty sure that I'm using the current version.  Under the release folder in docs it says release_0.3.rst.  I'm not sure how else I would check.

I did try running the problematic notebook locally, and I got the same error: in the fourth code block.   I also checked it against the tutorial live on the site, and they are the same as far as I can tell.

[2020-09-05 15:35] bdpedigo commented on #291
can you post the full traceback from running the notebook locally?

[2020-09-05 15:36] bdpedigo commented on #291
other things:
- can you lmk how you installed graspy locally?
- if you installed locally from a cloned github repo, can you go into the repo and do git pull, and make sure you are also on master branch?

[2020-09-05 15:46] bdpedigo commented on #414
just a note - i agree is related to #401. But I imagine having one set of basic tutorials for align module, which operate on simulated data (simulated in R^d).

then i imagine having a more extensive tutorial which describes the alignment in the context of the latent distribution test and why it matters for that (which would be part of what is listed here)

@alyakin314 agree/disagree?

[2020-09-05 15:47] pauladkisson commented on #291
Sure, I installed it by following the Installation Guide listed on https://github.com/neurodata/graspy, using these three lines of code:

`git clone https://github.com/neurodata/graspy
cd graspy
python3 setup.py install`

I did a git pull ., and got the message: "Already up to date."
I did a git show-branch and got the message: "[master] Tutorial fixes (#416)"

[2020-09-05 15:47] bdpedigo opened #425 "Graph match API decisions"
should graph matching functionality remain a class or become a function like in scipy?

we are reassessing api of much of the package because of graspologic merge. not sure if we have talked about this one.

@asaadeldin11 thoughts? any reason to have it be a class/function?

[2020-09-05 15:50] pauladkisson commented on #291
This is the exact error that I'm getting:
<img width="1110" alt="Screen Shot 2020-09-05 at 11 49 43 AM" src="https://user-images.githubusercontent.com/34703136/92308745-06569500-ef6e-11ea-80e0-9b60c32a061e.png">

[2020-09-05 15:54] bdpedigo commented on #291
thanks. can you show me output of
`help(LatentDistributionTest)`
and
`print(LatentDistributionTest())`

[2020-09-05 15:56] bdpedigo commented on #291
can also try installing graspy by navigating to the directory where it was cloned and doing
`pip install -e .`
but I don't think that's the issue

[2020-09-05 16:00] pauladkisson commented on #291
Output of help(LatentDistributionTest)

Help on class LatentDistributionTest in module graspy.inference.latent_distribution_test:

class LatentDistributionTest(graspy.inference.base.BaseInference)
 |  LatentDistributionTest(n_components=None, n_bootstraps=200, bandwidth=None)
 |
 |  Two-sample hypothesis test for the problem of determining whether two random
 |  dot product graphs have the same di

[2020-09-05 16:01] pauladkisson commented on #291
Output of print(LatentDistributionTest()):

LatentDistributionTest(bandwidth=None, n_bootstraps=200, n_components=None)

[2020-09-05 16:24] bdpedigo commented on #291
yeah somehow the version of graspy you have installed is old. i'd try the `pip install -e .` thing I mentioned

[2020-09-05 16:25] alyakin314 commented on #291
and do makes sure you're on the master and pull before ^

[2020-09-05 16:27] alyakin314 commented on #291
@pauladkisson
fyi, the version of the package u're using can be checked like this:

[2020-09-05 16:37] pauladkisson commented on #291
Ok, I tried the pip install and it fixed the error.  Why would installing from github generate an old version tho?

[2020-09-05 16:46] bdpedigo commented on #291
Did you use pip to install the local version you have cloned? That's what I
was suggesting (look up what -e and . mean to pip install)

On Sat, Sep 5, 2020, 9:37 AM Paul Adkisson <notifications@github.com> wrote:

[2020-09-05 16:54] pauladkisson commented on #291
Yes, I used pip install -e graspy

[2020-09-05 16:58] alyakin314 commented on #291
that’s not the same thing. you installed from pypi, as editable, which I’m not even sure what that means.

[2020-09-05 17:01] alyakin314 commented on #291
and this isn’t exactly what you want, for multiple reasons
1) it’s behind
2) edits to the repo won’t be reflected in the code used by python
can I ask you to uninstall graspy, and if u can - make a scratch environment, then do everything from the beginning and send us the log if it breaks.

[2020-09-06 21:41] pauladkisson commented on #291
Hey guys, I uninstalled and reinstalled several times in different ways, but I couldn't recreate the error...At this point I'm willing to just chalk it up to some mistake on my end (due to unfamiliarity with git, etc.).  Although, I didn't remove the repo and reclone because I didn't want to have to redo fixing all the other warnings.

Sorry about the code, I was just using the <insert code> butto

[2020-09-06 22:07] alyakin314 commented on #291
you know how git works, don’t you?

it assumes you’re going to enter just `an in-line piece`. if you paste and then highlight and click that it works.

how did you end up installing? what was the exact command and where were you located?

[2020-09-06 22:43] bdpedigo commented on #291
Hard to say but glad it seems to work now @pauladkisson, I wouldn't worry about it too much. And no worries about learning got/GitHub that is part of the process. Lmk if you have other issues.

[2020-09-06 22:48] pauladkisson commented on #291
I used git in a couple small 3-5 person projects just last semester, and I did the tutorial before starting class.  But I am still getting used to the ins and outs.  For example, on my projects before we used branches but not forks, so that part was a little confusing, but reading the contribution guidelines helped clear things up.

For my install, I used `pip install graspy` from within the grasp

[2020-09-06 23:26] alyakin314 commented on #291
the reason why i've asked is bcuz you could've just commited your changes and pushed before removing the folder. the whole point of git is to track changes; so i wasn't sure why were you hesitant to remove the local folder.

that installed from pypi. whenever you use `pip install graspy` it installs from there, no matter where you are (me thinks at least). you have to use `pip install .` from insi

[2020-09-07 14:34] pauladkisson commented on #291
Ok, I will use that install method in the future. 👍

[2020-09-07 15:33] pauladkisson commented on #291
Hey @bdpedigo, one of the checks in the PR failed (Travis CI).  I'm pretty sure it's because I didn't black everything (I naively thought my changes were small enough that it wouldn't make a difference).  Should I close the PR, fix it, and submit a new one?

[2020-09-07 15:50] dfrancisco1998 commented on #277
How would you want me to demonstrate DoD? As of right now I have jupyter notebooks with the tutorials runnins on python 3.8.5. For the other folders (without tutorials already made) would you recommend I just make some examples which would utilize each part?

[2020-09-07 16:00] dfrancisco1998 commented on #277
Or should I run all the tests(in the repo) in a python 3.8 environment? Hoe would I provide evidence?

[2020-09-07 16:20] bdpedigo commented on #291
No need to make a new PR. If you update your branch and push, the PR will update as well

[2020-09-07 16:24] bdpedigo commented on #277
All tests need to pass and tutorials need to build in a python 3.8 environment. DoD is that when you add 3.8 as an environment for our automated build process, all checks pass.

[2020-09-07 19:35] spencer-loggia commented on #397
This can be handled in a variety of ways, so I'm hoping for some clarification on what's best.
For now, I am adding an optional `concat` parameter to `BaseEmbed.reduce_dim_`, which if true causes `latent_left` to be concatenated to `latent_right` along axis 0 for asymmetric adjacency matrices. The issue with this is that then the label of `latent_left` doesn't really reflect what's in that variabl

[2020-09-07 19:44] zeou1 commented on #352
Hi I am wondering how do I locate places where I need to add the 'n_features_in_'

[2020-09-07 20:53] bdpedigo commented on #397
- you are correct that this probably makes the most sense in `BaseEmbed`
- we want to concatenate along axis 1, actually, to get a `(n, 2 * n_components)`shaped array out
- i hadn't thought much about the `latent_left` `latent_right` variables. I'd say for now, don't actually change any of the class attributes. just change what would be returned by `fit_transform`. @j1c let me know if you disagree

[2020-09-07 20:55] bdpedigo commented on #352
for now, just the stuff [here](https://github.com/neurodata/graspy/blob/master/tests/test_sklearn.py)

[2020-09-07 21:28] bdpedigo opened #429 "fix doc rendering in inference module reference"
A few render failures/issues:
- [x] "parameters" under `fit_predict` for LPT renders weird
- [x] `input_graph` under `n_components` in LDT should be in ticks
- [x] `size_correction` under `pooled` in LDT should be in ticks
- [x] "returns" under `fit_predict` for LDT renders weird

[2020-09-07 21:29] bdpedigo commented on #424
may not end up being 3.7 specifically (see #277) but is probably a good idea generally

[2020-09-07 21:34] loftusa commented on #424
Ok cool, see the fix in #421. We have to keep updating micro version numbers to change the upper bound with that way of implementing though

[2020-09-07 22:03] j1c commented on #277
Part of doing this is to fix an issue with `rdpg` in `graspy.simulations` not working properly when changed to 3.8. Tests passing means to figure out why the `rdpg` doesn't return expected array.

[2020-09-07 22:06] j1c commented on #423
Keep them separate, and dont map them. `requirements.txt` can have comments.

[2020-09-07 23:23] bdpedigo commented on #378
some of this may be addressed in #419. I doubt tutorial notebook will be, though, so I'm guessing there will be at least some work left to do.

[2020-09-08 01:08] bdpedigo commented on #348
@asaadeldin11 want to rip out the guts from `GraphMatch` when your scipy PR is merged/released? or wanna have someone in NDD work on this?

[2020-09-08 01:38] asaadeldin11 commented on #425
I think it can work as either; the scipy version has a bunch of optional parameters, and returns an `OptimizeResult` object, so even with wrapping the new scipy function it can still be a class.

[2020-09-08 01:39] asaadeldin11 commented on #348
Yeah I can take care of this once it's merged. It'll probably also be a good idea to update the version of scipy required for graspy once we do this.

[2020-09-08 12:40] dfrancisco1998 commented on #160
Id like to work on this!

[2020-09-08 13:49] alyakin314 commented on #429
- [x] size_correction should have a space before :

[2020-09-08 18:41] dfrancisco1998 commented on #277
So should I only be working with trying to get this work with python 3.7? I am a little confused about this workflow atm. Also @j1c I have been able to run all the tests with python 3.8.5 on my machine for the graspy simulations tests (as seen in my prelim PR docs in dfrancisco1998-tests directory). So I think that part is good. I have been getting two errors though, which seem to indicate an issu

[2020-09-08 18:46] j1c commented on #397
Makes sense. Maybe set to True by default?

[2020-09-08 19:11] spencer-loggia commented on #397
If set to true by default it will break a few lines of code in the current Embedding tutorials (and perhaps other code I don't know about yet). I can try to do it and resolve any issues if you want though.

[2020-09-09 03:31] pauladkisson commented on #244
I am interested in this one!

[2020-09-09 15:20] bdpedigo commented on #397
- im leaning towards `False` by default so we don't mess with any current behavior/tutorials for now, can always change later if we want
- @j1c thoughts on this being an argument to `fit_transform` vs `__init__`? (see #433). i guess my default was `__init__` just for sklearn consistency.

[2020-09-09 15:37] caseypw commented on #333
I can finish this as my sprint 1 for this semester, unless it would be more prudent to work on something else @bdpedigo

[2020-09-09 15:44] bdpedigo commented on #277
no, I don't follow.

in general, best way to get help is to post on this issue with exactly what errors you are getting (and when, e.g. the details of your environment), exactly what you have tried to get unstuck, and then send that out to the team asking for help.

[2020-09-09 16:10] j1c commented on #397
* Makes sense. We can do False by default
* Yea I was thinking part of `__init__`

[2020-09-09 16:26] spencer-loggia commented on #397
Ok - I'll move the `concat` arg to init, the reason I had it in `fit_transform` was so that the behavior would be immediately clear in any code.

[2020-09-09 16:48] bdpedigo opened #436 "add `pip install -e .` as a recommended thingy on contributing guidelines"

[2020-09-09 17:01] pauladkisson commented on #436
Maybe add sphinx as recommended as well?

[2020-09-09 18:25] jovo opened #437 "a better rule for not using bag of features"
this is in 2 parts

1. take figure 2 of this: https://econpapers.repec.org/scripts/redir.pf?u=https%3A%2F%2Fosf.io%2Fdownload%2F5f344aad8e0d46001abe7014%2F;h=repec:osf:osfxxx:ek4n3

now, add another row, which includes 4 more graphs, each of which has 1-2 edges different from the above, but *totally* different #triangles and GCC.

The points are:
1. knowing the set of features doesn't characterize

[2020-09-09 23:39] dfrancisco1998 commented on #277
These are the versions of the tools I  am using:
python                    3.8.5
scikit-learn              0.23.2
scipy                     1.5.0
seaborn                   0.10.1
pandas                    1.1.1
numpy                     1.19.1
pytest                    6.0.1
pytest-cov                2.10.1

All these errors were run with the pytest version above as well but typing py.test tests

[2020-09-09 23:51] bdpedigo commented on #277
@dfrancisco1998
- whats ur matplotlib version? see #402, may be the same issue for the gridplot thing.
- for the second one, traceback would me more helpful than a description. maybe @asaadeldin11 can help since it is GM related?

[2020-09-09 23:55] dfrancisco1998 commented on #277
@bdpedigo  and @asaadeldin11 here is the tracebook from the py.test run for second problem :
dfran@DESKTOP-3FUUKF1 MINGW64 ~/OneDrive/Documents/Hopkins/Hopkins_senior/Neurodata/branch_graspy/graspy/tests (dfrancisco1998)
$ py.test match/
============================= test session starts =============================
platform win32 -- Python 3.8.5, pytest-6.0.1, py-1.9.0, pluggy-0.13.1
rootdir: C:\

[2020-09-09 23:57] dfrancisco1998 commented on #277
@bdpedigo my matplotlib version is 3.3.1 . So maybe I should downgrade to 3.1.1 since due to #402 has that version working now?

[2020-09-10 01:48] loftusa commented on #161
is there a paper or some more info associated with this?

[2020-09-10 02:13] bdpedigo commented on #161
i think this https://arxiv.org/pdf/1802.06307.pdf and I think we want the LLS version. some code linked above

[2020-09-10 02:14] bdpedigo commented on #161
really amounts to [this line](https://github.com/neurodata/primitives-interfaces/blob/d2773136a7dc30777c9b90c0dd8bcd0be12b167e/jhu_primitives/oosase/oosase.py#L248) which uses the pseudoinverse but I think is faster then `pinv` in numpy

[2020-09-10 03:11] caseypw commented on #414
@bdpedigo I'd be up for writing tutorials for this for Sprint 1 as well. I'm interested in writing these tutorials or tutorials for the clustering algorithms.

[2020-09-10 12:25] alyakin314 commented on #397
just fyi, it's used in Latent Distribution Test, and when the input is directed it catches it by identifying a tuple and concatenating "manually", so that's another place you'd have to change that.

[2020-09-11 01:26] spencer-loggia commented on #160
Also interested!

[2020-09-11 01:28] dfrancisco1998 commented on #368
I am interested!

[2020-09-11 01:28] dfrancisco1998 commented on #382
I am interested!

[2020-09-11 01:48] spencer-loggia commented on #309
Interested in this as well!

[2020-09-11 02:48] loftusa commented on #161
dope, I'm tentatively thinking I want to work on this

[2020-09-11 03:54] #302 closed

[2020-09-11 04:36] bdpedigo commented on #161
cool. IMO there's a lot of thinking to do w.r.t what interface makes the most sense here

[2020-09-11 14:07] zeou1 commented on #387
I'm interested in working on this

[2020-09-11 15:26] Jingyan230 commented on #414
I'm interested in this issue too. I think maybe writing the tutorials will be a more applicable task for me, since I'm just starting to learn the graph theory. Not sure, need more advice.

[2020-09-11 16:02] kareef928 commented on #333
I am also interested in this issue

[2020-09-11 16:10] dtborders commented on #160
Also interested!

[2020-09-11 16:11] dtborders commented on #309
Also interested!

[2020-09-11 16:39] loftusa commented on #161
#162

[2020-09-11 23:01] bdpedigo commented on #333
assigning this one to @caseypw cause he actually already did some work on this last semester

[2020-09-11 23:07] bdpedigo opened #440 "implement mixed membership SBM"

[2020-09-11 23:08] bdpedigo commented on #440
@jovo do we want this? I notice it's in [COSIE paper](https://arxiv.org/pdf/1906.10026.pdf) and I've seen it in the literature enough to think maybe we do (not just as a special case of RDPG)

[2020-09-11 23:36] pauladkisson opened #441 "Standardize Documentation Variable/Function Reference Formatting"
## Expected Behavior
The variables and functions referenced in the documentation should be enclosed in \` \` in order to distinguish them from normal text. For example, ``variable_1``

## Actual Behavior
Sometimes variables are referenced correctly.  Other times they are displayed with math type.  Other times still they are simply written in plain text.

## Template Code: Erdos-Renyi Model Tutoria

[2020-09-11 23:40] bdpedigo commented on #441
@pauladkisson it gets tricky, the sometimes we really do want to write out the math, and sometimes we want to write the variable... may be hard to tell the distinction at times, for instance, the example above. see what I mean?

[2020-09-11 23:44] bdpedigo opened #442 "Advanced tutorial: Embedding central limit theorem (CLT)"
Waiting for #419 to expose the estimation of the spectral embedding central limit theorem as a function.

paper: https://link.springer.com/content/pdf/10.1007/s13171-015-0071-x.pdf

will want to explain some of the math/theory and demonstrate with a synthetic data example

[2020-09-11 23:47] bdpedigo opened #443 "Advanced tutorial: embedding, alignment, and latent distribution test"
Tutorial should describe:
- spectral embeddings have a non-identifiability (orthogonal transformations in the embedded space)
- we can use the tools in the align module to circumvent this (both normal procrustes if a vertex alignment is known, or a seedless procrustes if not)
- with these tools, latent distribution test for finite samples becomes tractable

[2020-09-11 23:48] bdpedigo commented on #401
breaking out into separate issues, see #442 #443

[2020-09-11 23:49] pauladkisson commented on #441
Ahhhh, I see what you mean.  ER(n, p) here is referring to the random graph model itself rather than the function in our code...
That definitely could get tricky.  I could just leave it be.

[2020-09-11 23:54] bdpedigo opened #444 "Advanced tutorial: OMNI vs MASE"
need to talk to @jesusdaniel and others about what simulation settings will best explain the differences/tradeoffs

[2020-09-11 23:56] bdpedigo commented on #441
I am sure in many places we are still not consistent, though, so don't want to discourage you from taking this on. But just warning that if we do, might need to discuss where the difference is intentional or not

[2020-09-11 23:59] pauladkisson commented on #441
Yeah, like later in the same tutorial it says:

Both er_np and er_nm functions provide ways to sample weights for all edges that were sampled via a probability distribution function. In order to sample with weights, we provide a probability distribution function with corresponding keyword arguments for the distribution function.

And those function names should be in \`\` right?

eg.
Both ``er_np`

[2020-09-12 00:01] bdpedigo commented on #441
correct

[2020-09-12 13:15] alyakin314 commented on #375
@bdpedigo i actually don't mind delegating this to ndd.

[2020-09-12 13:17] alyakin314 commented on #378
@bdpedigo do you have any thoughts on what it should be? i actually kind of like .fit .predict here, where .fit does what's in the current outside function and .predict does the inside one?

[2020-09-12 13:20] alyakin314 commented on #443
related to #177.

[2020-09-12 13:27] alyakin314 commented on #177
@bdpedigo don't really mind delegating this to ndd as well (and would be happy to consult whoever will take this).

[2020-09-12 15:02] bdpedigo commented on #375
@kareef928 wanna do this?

[2020-09-12 15:04] bdpedigo commented on #177
@kareef928 wanna do this one too? We finally have the tools to do so... I think you'd be able to do this issue and the other I tagged you in this semester

[2020-09-12 15:05] bdpedigo commented on #378
I kinda agree w fit predict here but we could talk more.

Are you doing this one or want me to find someone that could be interested?

[2020-09-12 15:29] alyakin314 commented on #378
i'll claim this one for now (and that's my only task left other than what's in #419 i believe?).

where do we want this to be? utils, but separate file?

[2020-09-12 18:00] kareef928 commented on #375
Sure, might need some guidance to figure out what exactly I'm doing.

[2020-09-12 18:01] kareef928 commented on #177
I'd be down to do this too

[2020-09-12 18:09] alyakin314 commented on #375
Allow me to try to summarize concisely, and if that doesn’t make sense - we can talk more (or you can discuss with Ben).

Currently, both LDT and LPT are classes, like in sklearn. They use fit and predict. But in practice, they are most commonly just used once (in fact, in some cases they might break if reused). And none of their internal attributes are really accessed either. So we want to change

[2020-09-12 18:47] kareef928 commented on #375
That makes sense, I think it'll be feasible.

[2020-09-13 13:59] caseypw commented on #333
**DoD:** PR with new tutorial notebook for clustering functions as well as other file changes necessary for the documentation

[2020-09-14 04:07] PerifanosPrometheus commented on #444
I could take this one!

[2020-09-14 04:32] jovo commented on #440
i only care if we are going to use it to answer a question

On Fri, Sep 11, 2020 at 7:08 PM Benjamin Pedigo <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me

[2020-09-14 08:15] Jingyan230 commented on #442
Is this issue a part of issue #414 ?

[2020-09-14 08:37] alyakin314 commented on #442
hey @Jingyan230 , it is not (and they aren't directly related).

[2020-09-14 09:03] alyakin314 opened #447 "Tutorials: Meta-Issue"
If nobody minds, I decided to make a list of all tutorial that exist and don't yet, and mark which need to be updated/created. I was a little confused by the multitude of issues, and I have a feeling that I am not the only one. @bdpedigo , please feel free to edit this post as you like.

- Models
  - Random Graph Models
  - (Eventually merge with simulations.)
    - [ ] Needs to be modified; see #

[2020-09-14 09:06] alyakin314 commented on #447
Questions:
1. Is Models really that different from Simulations?
2. Do we want LSE & OMNI tutorials separate from the Advanced ones?

[2020-09-14 09:35] alyakin314 commented on #414
of some relevance:
https://nbviewer.jupyter.org/url/alyakin314.github.io/assets/seedless_1.ipynb
of less relevance:
https://nbviewer.jupyter.org/url/alyakin314.github.io/assets/seedless_2.ipynb

[2020-09-14 09:36] alyakin314 commented on #401
of some relevance:
https://nbviewer.jupyter.org/url/alyakin314.github.io/assets/seedless_2.ipynb
Ali, Carey and Youngser also have another simulated example in which one has to use seedless to do sound inference.

[2020-09-14 09:37] alyakin314 commented on #443
of some relevance:
https://nbviewer.jupyter.org/url/alyakin314.github.io/assets/seedless_2.ipynb
also, Ali, cep and YP have another simulated example in which it is required to use seedless to do sound inference.

[2020-09-14 09:42] caseypw commented on #447
The signal-subgraph estimators currently have a tutorial notebook, however I'm editing it at the moment and am also going to PR 3 more signal-subgraph algorithms with their associated tutorial notebooks.

Thank you for this helpful list @alyakin314 !

[2020-09-14 09:54] alyakin314 commented on #447
oh, cool. i wasn't aware and didn't see an accompanying issue. is that #150 / #305 or something else?

[2020-09-14 09:58] caseypw commented on #447
I will PR'ing for #150 as well as #120 , commit for #305 is located [here](https://github.com/neurodata/graspy/commit/85e523cf887af47a963e750b8e264749824923ca). I won't include #305 in the PR but it will still address it basically.

[2020-09-14 10:08] alyakin314 commented on #227
@bdpedigo this is obsolete, I believe?

[2020-09-14 12:47] #401 closed

[2020-09-14 13:17] PerifanosPrometheus commented on #447
Thank you @alyakin314 for the exhaustive list! Currently I would like to work on #444, I am waiting to see if other people are also interested and if not I will start working on it right away!

[2020-09-14 13:30] Jingyan230 commented on #442
@alyakin314 Thanks.

[2020-09-14 13:50] bdpedigo commented on #378
@alyakin314 utils but file is fine. do you have tests in mind for this function/class?

[2020-09-14 13:54] bdpedigo commented on #333
@caseypw thanks for commenting with some DoD info. I'm going to ask everyone to do this in a week or two.

For your DoD, I'd like more info. For example, can you sketch out what kind of simulations/results/metrics you'd like to have at a high level?

[2020-09-14 13:57] bdpedigo commented on #444
@PerifanosPrometheus ok, i suggest you discuss with everyone else still interested in tutorial issues and come up with a plan. fair warning that for this one, I am not totally sure what simulation settings will help show the difference between the two algos. So there will be a fair bit of digging involved to figure out what to show. but i do think this is a feasible task for a semester

[2020-09-14 14:32] alyakin314 commented on #378
okay. i won't be doing that as a part of #419 though, if you don't mind. that also was just a suggestion. depending on what the philosophy behind new models+simulations combined module, i can see that being a better place for it, or not.

nope. but of the top of my head: we know simple closed forms for er and 1-d sbm, so presumably those estimated using the rdpg formula should be within some toler

[2020-09-14 14:38] bdpedigo commented on #378
that's fine, can you just let me know when you plan on doing it, since #442 depends on it and i just wanna know for NDD purposes

I don't see a better place for it for now. maybe `models` someday but I dont think it belongs there ATM.

[2020-09-14 14:40] #369 closed

[2020-09-14 14:41] alyakin314 commented on #378
happy to do right after align saga is over, so i guess this week? doesn't seem like something that should take that much time.

cool.

[2020-09-14 14:42] j1c opened #449 "Change license to MIT"

[2020-09-14 16:25] Jingyan230 commented on #414
@bdpedigo  I would like to take this one.

[2020-09-14 19:57] bdpedigo opened #452 "add graspy/graspologic to open neuroscience list"
https://open-neuroscience.com/en/

[2020-09-14 19:58] bdpedigo commented on #452
probably wait till we're graspologic?

[2020-09-15 16:42] alyakin314 commented on #452
can also consider : https://github.com/josephmisiti/awesome-machine-learning

[2020-09-15 18:48] PerifanosPrometheus commented on #444
@bdpedigo Thank you for your suggestion!

@jesusdaniel Would you be willing to discuss via e-mail or via zoom call possible simulations settings that could best explain these differences

[2020-09-15 19:09] dwaynepryce opened #453 "Graspologic versioning"
Graspy and topologic have divergent systems regarding materialization of the version number prior to publication.

Topologic publishes dev versions (e.g. 0.1.0dev123456789) to [PyPI](https://pypi.org/) on each merge to a dev branch so that they can be tested (and documentation verified) prior to a full release.  This is done automatically based on the [semver](https://semver.org/) provided in a fi

[2020-09-15 19:11] dwaynepryce opened #454 "Rename graspy to graspologic"
Part of the merge process is going to be to rename graspy to graspologic.

We're going to need to update the setup.py, the package structure, and all the documentation references.  We should also make sure we're very up front about the change in our README.md as well.

[2020-09-15 19:12] bdpedigo commented on #392
subsumed by #454

[2020-09-15 19:12] #392 closed

[2020-09-15 19:15] bdpedigo commented on #453
i am happy to have the topologic way, that seems really nice

For graspy we were setting versions manually, tagging a release, and that would get pushed to PyPI by travis I believe - right @j1c ?

[2020-09-15 19:25] dwaynepryce opened #455 "Build pipeline for graspologic"
We need to build a new build pipeline for graspologic.

In general I prefer github actions, but Microsoft has some internal tools around dependency management/vetting/etc that are really useful, so it makes sense to build it for an Azure DevOps Pipeline.  This pipeline will have a yaml file checked into Github but the actual build for it will take place in a private Devops instance without public

[2020-09-15 19:34] dwaynepryce opened #456 "Graph utility: "At Most N Edges""
Post graspy + topologic merger, we have a request to make it easy to turn a large graph into a smaller graph based on edge cuts.  The idea is that a user may have a graph with 10 million edges and want to work with at most 1m edges, so we should be able to do that automatically on their behalf

[2020-09-15 19:38] dwaynepryce opened #457 "Merge topologic partitioning"
Topologic has a non-embedding based network partitioning API footprint we will want to port into graspologic.

The current API makes extensive use of the `python-louvain` library for community detection (which itself is an implementation of the Louvain community global partitioning algorithm).  It also contains a `component modularity`function that returns a map of each community's "portion" of th

[2020-09-15 19:57] dwaynepryce opened #458 "Merge topologic `io` package"
The topologic `io` package is an overengineered mess (submitter's note: I wrote it, I can describe it thus without hurting any feelings).

We need an io package (or some equivalent) to cover a number of cases:
- Load an edge list, either as directed or undirected
  - In the trivial case, there is precisely one entry in the file denoting the relationship between node `a` and node `b` with a single

[2020-09-15 20:01] jesusdaniel commented on #444
@PerifanosPrometheus sure. There are some ideas to start in this paper: https://arxiv.org/pdf/2008.10055.pdf . The main inference task there is on hypothesis testing, but I believe that some of these results also hold in other tasks (classification, clustering, etc.)

[2020-09-15 20:06] bdpedigo commented on #455
sphinx/netlify currently does this for us (as long as the notebooks don't have run cells in them prior to committing)

i don't know if the above puts the static markdown/html anywhere. I do know how to do that from command line, locally, im sure that process could be automated. also unsure if this is necessary given the above?

[2020-09-15 20:07] bdpedigo commented on #455
i find the github viewer is hit or miss (at times it looks great and is convenient, for larger notebooks it can puke)

[2020-09-15 20:09] bdpedigo commented on #456
like just by weight, or by any other properties of the network? reason I ask is I saw some math voodoo paper about "sparsifying" networks (adjacency matrices) and keeping the spectral structure as similar as possible

[2020-09-15 20:14] bdpedigo commented on #440
used in anomaly detection and COSIE papers. so i feel like it'd be nice to have, at a bare minimum to be able to replicate/build off of those results

@j1c did you have to implement any MMSBM stuff for those?

[2020-09-15 20:15] dwaynepryce opened #459 "Update license and other compliance information"
Microsoft Legal has given us a number of changes we need to make to the repository, like the MIT license in the project root and adding `Copyright (c) Microsoft Corporation and contributors` as a header comment in each file.

[code]

So we need to make sure we're doing all of that.  We also may have a contributors.md file at some point including all of the contributors, though I'm going to try to

[2020-09-15 20:17] bdpedigo commented on #449
subsumed by #459

[2020-09-15 20:17] #449 closed

[2020-09-15 20:35] dwaynepryce commented on #456
I know for sure we want to do weight, but I guarantee that @bryantower is going to be interested in hearing more about the other options

[2020-09-15 20:48] bryantower commented on #456
The specific feature that I would like to see is the one that Dwayne mentioned. I want at most X total edges, please cut the minimum number of edges to make that happen, by removing the lowest weight edges first.

[2020-09-15 21:18] PerifanosPrometheus commented on #444
@jesusdaniel Thank you very much for the resource provided

[2020-09-16 12:42] bdpedigo commented on #299
@tliu68 this should be you?

[2020-09-16 15:53] dwaynepryce opened #460 "Merge node2vec in"
topologic contains node2vec embedding code we want to merge in.  In addition our default parameters are a bit wonky; we've had a request from Jonathan Larson to change the default settings to:

- window_size should be 2 instead of 10
- iterations should be 3 by default
- walk_length is usually set to 30

[2020-09-16 17:10] asaadeldin11 opened #461 "Remove * imports in subgraph, utils"
the` __init__.py` files in `graspy.subgraph` and `graspy.utils` shouldn't have import *.

[2020-09-16 18:26] alyakin314 commented on #456
well, an obvious way is : turn_to_edgelist -> sort -> head(X), which is `O(V^2 + E log(E))` i think (V^2 comes from converting to edgelist if you are given adjacency matrix, so it's there, but it is fast), but we might be able to do better than that..

[2020-09-16 18:38] j1c commented on #455
flake8 is a linter and just shows you where there are style issues. I dont think it autoformats anything. Black, on the other hand, is an autoformatter and automatically format files to conform to PEP8. See [here](https://black.readthedocs.io/en/stable/the_black_code_style.html). These two things can co-exist, but flake8 is _almost_ redundant if we use black.

Yes. The nbsphinx extension for sphin

[2020-09-16 18:39] j1c commented on #453
Yup this is all correct. I am also happy to do it the topologic way.

[2020-09-16 18:44] dwaynepryce commented on #453
I know there was an Azure Devops action to help with version numbers but I still don't know it's going to give us the flexibility we want.  I'll look into it again to see if it gives us enough, maybe we can simplify the topologic stuff.

The main thing I want to achieve is:
- you should have a reasonable version if you're using a python interpreter in the project root directory (i.e. you just clon

[2020-09-16 18:47] bdpedigo commented on #160
@hhelm10 think you could give us a quick rundown of spectral (single graph) VN? My original thought was a simple interface that eats a graph or embedding and does nearest neighbor queries... but I see now that there are more complicated schemes even before the ILP stuff.

[2020-09-16 18:59] hhelm10 commented on #160
sure --

will give a short and sweet description of a set of methods..

i) start with an n by n graph G and a vertex of interest v*;.
ii) pick your favorite embedding method to get n points in R^{d} (each d-dimensional vector is to be interpreted as a representation of a vertex in G);
iii) then, depending on the embedding method you use, pick a distance / dissimilarity on R^{d} (for instance, if i

[2020-09-16 19:05] loftusa commented on #161
DoD:
- recreate figure 1 from oos paper to demonstrate successful implementation
- plan for API, discussed with @bdpedigo before implementation
- implementation of API PR'd
- tests (open to suggestions/changes)
    - is oos embedding almost always within an acceptable range of ground-truth embedding? (define "acceptable")
    - do independent OOS embeddings cluster harder around ground truth embed

[2020-09-16 19:38] bdpedigo opened #464 "Remove global warning suppression"
https://github.com/microsoft/graspologic/blob/7f4666152e3611ddb349da472758ef380962bde3/graspy/__init__.py#L17

[2020-09-16 20:19] spencer-loggia commented on #160
Thanks @hhelm10 , that's very helpful. I've been reading some papers on this, and have been a bit confused by the wide variety of similar, but not identical, methodologies.

[2020-09-16 20:23] bdpedigo opened #465 "remove SinkhornKnopp code"
can remove everything in https://github.com/microsoft/graspologic/blob/master/graspy/match/skp.py
with the better scipy version

related to #348 but not necessarily the same, since we may keep some Franke-Wolfe code in graspologic

[2020-09-16 21:42] hhelm10 commented on #160
yea -- a lot of the methodologies that people come up w are pretty application / domain specific and so there are small tweaks here and there that try to optimize performance for the particular class of graph that they have access to (i.e. use LSE if graph is particularly sparse, somehow incorporate node / edge attributes, etc.). but for graphs larger than 50 nodes the typical procedure is to embe

[2020-09-16 21:42] #459 closed

[2020-09-16 21:59] hhelm10 commented on #160
Here would be my first draft of a VertexRanker class. Note that embedding_method is an instantiated embedding method and that pairwise_distance is not defined:

class VertexRanker:
    def __init__(embedding_method=ASE,
                      distance='Euclidean',
                      distance_kwargs = None):
        self.embedding_method = embedding_method
        self.distance = distance

[2020-09-16 22:16] hhelm10 commented on #160
@bdpedigo then to include something like the ILP you could let `embedding_method, distance, distance_kwargs` be a dictionaries and just make the fit function a little more complicated

[2020-09-16 22:37] dwaynepryce opened #466 "Only set required dependencies in setup.py"
Keeping track of your dependencies in both setup.py and requirements.txt is error prone.  Luckily we have control over that by being able to specify our dependencies for graspologic in setup.py, as well as an extras we may need for development/documentation/whatever purposes in a separate extended section.

requirements.txt can then directly reference this by using the `-e .[devtools]` directive (

[2020-09-17 00:36] loftusa commented on #466
discussion in #423 and #421 maybe relevant here

[2020-09-17 05:55] tliu68 commented on #299
I'd like to take this one.

[2020-09-17 05:55] tliu68 commented on #383
I'm interested in taking this one.

[2020-09-17 05:56] tliu68 commented on #371
I'm interested in taking this one.

[2020-09-17 16:00] bdpedigo opened #468 "Proposal: have black run prior to pytest in CI"
- People often forget to run black
- tests can take 15-20 mins sometimes
- only after this wait, black will run and fail
- then people realize, then they push blacked files
- then they have to wait another 15-20 for the tests again
- could have black run and then if it fails, stop pytest run on Travis or whatever CI we end up using

[2020-09-17 16:01] bdpedigo commented on #468
@j1c @dwaynepryce any thoughts?

[2020-09-17 16:05] dwaynepryce commented on #468
Ugh.  Meant to explicitly close in favor of #455 - we'll make sure black, sphinx, (eventually) mypy, and pytest all run in CI prior to PR being mergeable.  This gives the contributor quick feedback over what they need to do prior to a PR being in an acceptable state.

[2020-09-17 16:05] #468 closed

[2020-09-17 16:09] dwaynepryce commented on #455
That's fair, but in some ways it's nice to just use flake8 to bomb if there is a style issue and then the user can use black or whatever they want to do the formatting.

I'm only "pro" flake8 because I already know there are no downstream dependencies of it that are GPLv3, and I haven't done that diligence toward black yet.  I'll do that soon though - I'm totally open to it, just want to make sure

[2020-09-17 16:13] dwaynepryce commented on #424
I'm not convinced we want this - sure, it's good to know that we only test up to a certain point, but it may very well work fine.

Maybe better is to warn the user on install that we've only tested 3.6 and 3.7 and anything past that is buyer beware

[2020-09-17 16:15] dwaynepryce commented on #455
I also want to make sure we run our tests on all of the OSes and versions of Python we support.  Getting #277 and #430 in is a super high priority for us because we use basically 3.8 only.  A few of us have even started using 3.9b so... yeah.  I'm going to push to be aggressive on supporting the latest pythons from 3.6 up!

[2020-09-17 16:21] bdpedigo commented on #468
regardless my question was 1.  just about the order in which checks get run and 2. (less importantly) whether to continue building if some of the check fail (my guess is we do want them to continue but just asking)

[2020-09-17 16:24] bdpedigo commented on #424
@dwaynepryce we know of some weird behavior in 3.8 and are trying to fix it (see #446) so hopefully this'll be a moot point.

But, made me nervous having people run stuff willy-nilly if we haven't tested it, personally.

[2020-09-17 16:29] bdpedigo commented on #468
actually a better solution altogether would be to have style/flake8/black be a separate check? since then right on the PR you could see if style=bad code=good?

[2020-09-17 16:30] dwaynepryce commented on #424
Agreed, but it's not our job to prohibit people, it's to enable them.  Our only responsibility are to the combinations of target environments we say we support - so eventually, Linux, MacOS, and Windows with python versions 3.6-3.8 on all of them.

Then those of us willing to fly by the seat of our pants with 3.9 onward can get an early look at how things behave without having to explicitly go int